.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  outline: none;
  background-color: transparent;
}


.button--main {
  background-color: $color-accent;
  color: $color-white;
  box-shadow: 0 4px 0 $color-accent-dark;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  padding: 17px 37px 11px;
  letter-spacing: 0;
  font-weight: 600;
  transition: background-color $transition-duration $transition-timing;
  margin-bottom: 4px;
  &:hover, &:active, &:focus {
    background-color: $color-accent-dark;
    color: $color-white;
  }
}


.button--small {
  font-size: 20px;
  line-height: 24px;
  padding: 9px 37px 3px;
}

.button--action {
  position: relative;
  text-align: center;
  border: 1px solid #D1D8DB;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 20px 2px 20px;
  border-radius: 3px;
  color: $color-primary;
  min-width: 168px;
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}