@media screen and (max-width: $screen-sm - 1px) {
  .collection__filter {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 16;
    visibility: hidden;
    opacity: 0;
    transition: opacity $transition-duration $transition-timing, visibility $transition-duration $transition-timing;
    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .26);

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .collection__filter-close {
      position: absolute;
      left: 25px;
      top: 25px;

      svg {
        width: 27px;
        height: 27px;
        filL: $color-white;
      }
    }

    .collection__filter-inner {
      max-width: 284px;
      width: 100%;
      height: 100%;
      background-color: $color-white;
      max-width: 268px;
      padding: 24px 18px;
      overflow-y: auto;
    }
  }
}

.collection__filter {
  .collection__filter-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
    font-weight: 600;
    margin-bottom: 52px;
  }

  .collection__filter-item.collection__filter-item--pet {
    margin-bottom: 60px;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      li {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        a {
          display: block;
          padding-bottom: 100%;
          &.active, &:hover {
            img {
              transform: translateY(5%) translateX(-50%);
             }
          }
        }
        img {
          position: absolute;
          left: 50%;
          transform: tr;
          transform: translateY(40%) translateX(-50%);
          transition: transform $transition-duration $transition-timing;
        }
      }
      .collection__filter-dog {
          background-color: #213F4E;
      }
      .collection__filter-cat {
        background-color: #5C4E6B;
      }
    }
  }

  .collection__filter-item:not(.collection__filter-item--pet) {
    margin-bottom: 60px;

    h3 {
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 8px;
      letter-spacing: 0;
      border-bottom: 1px solid $color-primary;
      margin-bottom: 15px;
    }

    ul {
      li {
        margin-bottom: 5px;
        &:last-of-type {
          margin-bottom: 0;
        }
        a {
          display: block;
          position: relative;
          color: $color-primary;
          font-size: 16px;
          line-height: 22px;
          padding: 5px 10px 4px 34px;
          border-radius: 5px;
          transition: background-color $transition-duration $transition-timing;
          &:hover:not(.active) {
            color: $color-accent;
          }
          &.active {
            background-color: #DFE4E6;
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 10px;
              left: 12px;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background-color: $color-primary;
            }
          }
          &::before {
            display: block;
            position: absolute;
            content: '';
            width: 15px;
            height: 15px;
            top: 7px;
            left: 9px;
            border-radius: 50%;
            border: 1px solid $color-primary;
            background-color: $color-white;
            
          }

        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .collection__filter {
    .collection__filter-inner {
      padding-top: 55px;
      padding-right: 30px;
    }
    .collection__filter-item:not(.collection__filter-item--pet) {
      h3 {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}