.product-item {
  .product-item__image {
    display: block;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 8px;
  }

  .product-item__capture {
    .product-item__title {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 3px;
      letter-spacing: 0;

      a {
        color: inherit;
      }
    }

    .product-item__description {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0;
      margin-top: 0;
    }

    .product-item__price {
      margin-top: 20px;
      color: $color-accent;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .product-item {
    .product-item__image {
      margin-bottom: 13px;
    }

    .product-item__capture {
      .product-item__title {
        font-size: 20px;
        line-height: 23px;
      }

      .product-item__description {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

@media screen and (min-width: $screen-sm) { 
  .product-item { 
    .product-item__capture { 
      text-align: center;
    }
  }
}