@media screen and (min-width: $screen-md) {
  body {
    display: flex;
    flex-direction: column;
  }
  #MainContent {
    flex-grow: 1;
  }
  #shopify-section-footer {
    margin-top: auto;
  }
}
