.clearfix {
  @include clearfix;
}

.visually-hidden {
  @include visually-hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden;

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown;
  }
}

.visually-shown {
  @include visually-shown;
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Only show when browser cookies are not supported
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

// Skip to content button
// Overrides .visually-hidden when focused
.skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  padding: $grid-gutter / 2;
  background-color: $color-white;
  color: $color-body-text;
  transition: none;
}

.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

@media screen and (max-width: $screen-sm - 1px) {
  .hide-xs {
    display: none !important;
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md - 1px) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (min-width: $screen-lg) {
  .hide-lg {
    display: none !important;
  }
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: $screen-lg - 1px) {
  .ov-hidden {
    overflow-y: hidden;
  }
}

hr {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  border: 0;
  border-color: #e6dfdf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0 0 15px;
}