html {
  background-color: $color-white;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: $color-link;
}

svg {
  display: block;
} 

[tabindex] {
  outline: none;
}