html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 18px;
  line-height: 1.6em;
  color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin-top: 0;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 24px;
  @media screen and (min-width: $screen-sm) {
    font-size: 30px;
  }
}

h2, .h2 {  
font-size: 21px;
@media screen and (min-width: $screen-sm) {
  font-size: 27px;
}
}
h3, .h3 {
  font-size: 19px;
  @media screen and (min-width: $screen-sm) {
    font-size: 24px;
  }
}
h4, .h4 {
  font-size: 16px;
  @media screen and (min-width: $screen-sm) {
    font-size: 21px;
  }
}

h5, .h5 {
  font-size: 15px;
  @media screen and (min-width: $screen-sm) {
    font-size: 19px;
  }
}
h5, .h5 {
  font-size: 14px;
  @media screen and (min-width: $screen-sm) {
    font-size: 18px;
  }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

.text-center {
  text-align: center;
}
.text-upper {
  text-transform: uppercase;
}
