{% capture captured_page %}
{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}

{% section 'template-article' %}
{% endcapture %}
{% include 'password-protect' %}
