{% capture captured_page %}
<div class="subscription-benefits">
  <div class="banner-top">
    <div class="inner">
        <div class="content">
            <div class="banner-top-content">
              <h1 class="banner-top_title">SUBSCRIBE & SAVE</h1>
              <div class="banner-top_subtitle">Join The Pack!</div>
               <a href="#perks_of_the_pack" data-href="perks_of_the_pack" class="cta">Benefits</a>
               <div class="line">
                  <svg width="17" height="17" viewBox="0 0 17 17"><g><g><path fill="#c95f3d" d="M11.254 5.385l5.94.868-4.302 4.187 1.01 5.917-5.31-2.798-5.316 2.79 1.02-5.916L0 6.239l5.941-.858L8.602 0z"/></g></g></svg>
                  <svg width="17" height="17" viewBox="0 0 17 17"><g><g><path fill="#c95f3d" d="M11.254 5.385l5.94.868-4.302 4.187 1.01 5.917-5.31-2.798-5.316 2.79 1.02-5.916L0 6.239l5.941-.858L8.602 0z"/></g></g></svg>
                  <svg width="17" height="17" viewBox="0 0 17 17"><g><g><path fill="#c95f3d" d="M11.254 5.385l5.94.868-4.302 4.187 1.01 5.917-5.31-2.798-5.316 2.79 1.02-5.916L0 6.239l5.941-.858L8.602 0z"/></g></g></svg>
                  <svg width="17" height="17" viewBox="0 0 17 17"><g><g><path fill="#c95f3d" d="M11.254 5.385l5.94.868-4.302 4.187 1.01 5.917-5.31-2.798-5.316 2.79 1.02-5.916L0 6.239l5.941-.858L8.602 0z"/></g></g></svg>
                  <svg width="17" height="17" viewBox="0 0 17 17"><g><g><path fill="#c95f3d" d="M11.254 5.385l5.94.868-4.302 4.187 1.01 5.917-5.31-2.798-5.316 2.79 1.02-5.916L0 6.239l5.941-.858L8.602 0z"/></g></g></svg>
               </div>
               <div class="banner-top-slider">
                <div class="banner-top-slider-item">
                  <p class="text">“Our lives are so much better because of Petlab products.”</p>
                  <p class="name">Alice A.</p>
                </div>
                <div class="banner-top-slider-item">
                  <p class="text">“My dog and I are in love with this product. I highly recommend it to all dog owners”</p>
                  <p class="name">Anne B.</p>
                </div>
                <div class="banner-top-slider-item">
                  <p class="text">“The products have made my senior dog act like a pup again.”</p>
                  <p class="name">Rachel M.</p>
                </div>
               </div>
            </div>
        </div>
    </div>
  </div>

  <div class="subscription-benefits-list">
    <div class="content">
      <ul class="list">
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><g transform="translate(0 0)"><circle cx="20" cy="20" r="20" transform="translate(0 0)" fill="#fffcf0"/></g><g transform="translate(4.92 6.695)"><path d="M10.039,0h0A10.039,10.039,0,0,1,20.077,10.039V20.717a0,0,0,0,1,0,0H8.585A8.585,8.585,0,0,1,0,12.133V10.039A10.039,10.039,0,0,1,10.039,0Z" transform="translate(0 0)" fill="#d26545"/><path d="M0,0H0A11.058,11.058,0,0,1,11.058,11.058v3.051a2.107,2.107,0,0,1-2.107,2.107H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z" transform="translate(21.254 4.502)" fill="#d26545"/><path d="M-737.052,518.734v-6.074h0a6.074,6.074,0,0,1,6.073,6.074Z" transform="translate(760.425 -505.589)" fill="#f2ead5"/><g transform="translate(4.527 16.932)" fill="#f2ead5" stroke="#d26545" stroke-miterlimit="10" stroke-width="5.102"><ellipse cx="3.785" cy="3.785" rx="3.785" ry="3.785" stroke="none"/><ellipse cx="3.785" cy="3.785" rx="1.234" ry="1.234" fill="none"/></g><g transform="translate(22.786 16.932)" fill="#f2ead5" stroke="#d26545" stroke-miterlimit="10" stroke-width="5.102"><ellipse cx="3.785" cy="3.785" rx="3.785" ry="3.785" stroke="none"/><ellipse cx="3.785" cy="3.785" rx="1.234" ry="1.234" fill="none"/></g></g></svg>
            Delivered directly to your doorstep every month
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="39.054" height="39.928" viewBox="0 0 39.054 39.928"><defs><clipPath id="a"><path d="M0-96.072H39.054V-136H0Z" transform="translate(0 136)" fill="none"/></clipPath></defs><g transform="translate(0 0)" clip-path="url(#a)"><g transform="translate(0)"><path d="M-93.972-48.036A19.749,19.749,0,0,1-113.5-28.072a19.749,19.749,0,0,1-19.527-19.964A19.749,19.749,0,0,1-113.5-68,19.749,19.749,0,0,1-93.972-48.036" transform="translate(133.026 68)" fill="#fffcf0"/></g><g transform="translate(7.176 14.985)"><path d="M-40.86-42.186H-56.772a1.082,1.082,0,0,1-1.07-1.094V-58.625a1.083,1.083,0,0,1,1.07-1.094H-40.86a1.083,1.083,0,0,1,1.07,1.094v15.344a1.083,1.083,0,0,1-1.07,1.094" transform="translate(57.842 59.719)" fill="#d16446"/></g></g><path d="M44.856-91.438H30.163v-2.383H44.856Z" transform="translate(-21.308 106.204)" fill="#d16446"/><path d="M44.531-91.745H29.376v-2.82H44.531Zm-14.693-.437H44.069v-1.945H29.838Z" transform="translate(-20.752 106.73)" fill="#fffcf0"/><g transform="translate(24.547 13.849)"><path d="M-14.745-44.919l-6.128-17.36,3.547-1.309,6.128,17.36Z" transform="translate(20.873 63.587)" fill="#d16446"/></g><g transform="translate(23.005 6.007)"><path d="M0-2.889l1.683-1.2L3.584-1.3,1.9-.1Z" transform="translate(0 4.089)" fill="#d16446"/></g><g transform="translate(0 0)" clip-path="url(#a)"><g transform="translate(25.428 8.058)"><path d="M-.39-3.48A.933.933,0,0,1-.167-4.761a.888.888,0,0,1,1.253.228A.933.933,0,0,1,.863-3.252.887.887,0,0,1-.39-3.48" transform="translate(0.552 4.927)" fill="#d16446"/></g><g transform="translate(24.266 8.886)"><path d="M-.39-3.481A.933.933,0,0,1-.167-4.762a.887.887,0,0,1,1.253.228A.933.933,0,0,1,.863-3.253.888.888,0,0,1-.39-3.481" transform="translate(0.552 4.927)" fill="#d16446"/></g><g transform="translate(23.779 5.641)"><path d="M-.39-3.481A.933.933,0,0,1-.167-4.762a.887.887,0,0,1,1.253.228A.933.933,0,0,1,.863-3.253.888.888,0,0,1-.39-3.481" transform="translate(0.552 4.927)" fill="#d16446"/></g><g transform="translate(22.617 6.47)"><path d="M-.39-3.48A.933.933,0,0,1-.167-4.761a.888.888,0,0,1,1.253.228A.933.933,0,0,1,.863-3.252.888.888,0,0,1-.39-3.48" transform="translate(0.552 4.927)" fill="#d16446"/></g></g><g transform="translate(15.872 4.624)"><path d="M-7.748-10.053l-2.525.439-.695-4.178,2.525-.439Z" transform="translate(10.968 14.231)" fill="#d16446"/></g><g transform="translate(0 0)" clip-path="url(#a)"><g transform="translate(15.139 3.846)"><path d="M-5.367-2.3A1.146,1.146,0,0,1-6.286-.976a1.126,1.126,0,0,1-1.3-.939A1.146,1.146,0,0,1-6.662-3.24a1.126,1.126,0,0,1,1.3.939" transform="translate(7.597 3.256)" fill="#d16446"/></g><g transform="translate(16.883 3.543)"><path d="M-5.367-2.3A1.146,1.146,0,0,1-6.286-.976a1.126,1.126,0,0,1-1.3-.939A1.146,1.146,0,0,1-6.662-3.24a1.126,1.126,0,0,1,1.3.939" transform="translate(7.597 3.256)" fill="#d16446"/></g><g transform="translate(15.742 7.471)"><path d="M-5.367-2.3A1.146,1.146,0,0,1-6.286-.976a1.126,1.126,0,0,1-1.3-.939A1.146,1.146,0,0,1-6.663-3.24a1.126,1.126,0,0,1,1.3.939" transform="translate(7.598 3.256)" fill="#d16446"/></g><g transform="translate(17.485 7.168)"><path d="M-5.367-2.3A1.146,1.146,0,0,1-6.286-.976a1.126,1.126,0,0,1-1.3-.939A1.146,1.146,0,0,1-6.662-3.24a1.126,1.126,0,0,1,1.3.939" transform="translate(7.597 3.256)" fill="#d16446"/></g></g><g transform="translate(8.675 6.912)"><path d="M-8.636,0l.617,2.267-3.589,1.021-.617-2.267Z" transform="translate(12.225)" fill="#d16446"/></g><g transform="translate(0 0)" clip-path="url(#a)"><g transform="translate(8.187 8.817)"><path d="M-1.778-.091A1.007,1.007,0,0,1-.535.626a1.035,1.035,0,0,1-.7,1.271A1.007,1.007,0,0,1-2.48,1.179a1.035,1.035,0,0,1,.7-1.271" transform="translate(2.517 0.129)" fill="#d16446"/></g><g transform="translate(7.761 7.251)"><path d="M-1.778-.091A1.007,1.007,0,0,1-.535.626a1.035,1.035,0,0,1-.7,1.271A1.007,1.007,0,0,1-2.48,1.179a1.035,1.035,0,0,1,.7-1.271" transform="translate(2.517 0.129)" fill="#d16446"/></g><g transform="translate(11.301 7.931)"><path d="M-1.778-.091A1.007,1.007,0,0,1-.536.626a1.035,1.035,0,0,1-.7,1.271A1.007,1.007,0,0,1-2.48,1.179a1.035,1.035,0,0,1,.7-1.271" transform="translate(2.517 0.129)" fill="#d16446"/></g><g transform="translate(10.875 6.366)"><path d="M-1.778-.091A1.007,1.007,0,0,1-.535.626a1.035,1.035,0,0,1-.7,1.271A1.007,1.007,0,0,1-2.48,1.179a1.035,1.035,0,0,1,.7-1.271" transform="translate(2.517 0.129)" fill="#d16446"/></g><g transform="translate(12.398 20.212)"><path d="M-3.677-9.829c1.073.445,2.014.114,2.014-1.759,0-1.893-1.194-2.4-2.52-1.987a70.227,70.227,0,0,0-.01,7.15H-5.2c.081-1.635.081-5.629,0-7.326,2.115-.372,4.483-.29,4.483,2.214,0,1.594-1.578,2.328-3.006,2.049Z" transform="translate(5.205 13.913)" fill="#fffcf0"/></g><g transform="translate(17.264 20.257)"><path d="M-2.557,0c-.081,1.78-.091,5.4-.011,7.181A9.617,9.617,0,0,0,.448,6.9l-.121.5c-1.1-.031-2.116-.021-3.947-.021C-3.5,5.856-3.5,1.646-3.62,0Z" transform="translate(3.62)" fill="#fffcf0"/></g></g></svg>
            Never run out of your dog’s favourite chews
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><g transform="translate(0 -0.208)"><circle cx="20" cy="20" r="20" transform="translate(0 0.208)" fill="#fffcf0"/><g transform="translate(9.221 9.282)"><ellipse cx="10.675" cy="10.675" rx="10.675" ry="10.675" transform="translate(0 0)" fill="#d25f40"/><path d="M166.976-141.308v7.355l-4.915,2.962" transform="translate(-156.302 144.628)" fill="none" stroke="#f2ead5" stroke-miterlimit="10" stroke-width="3"/></g></g></svg>
            Experience our products over time; at their best
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><g transform="translate(0 0.128)"><circle cx="20" cy="20" r="20" transform="translate(0 -0.129)" fill="#fffcf0"/><g transform="translate(12.781 7.59)"><path d="M41.175,19.4l.18.181v2.343A8.008,8.008,0,0,1,46,25.313l-2.991,2.379h-.36a3.844,3.844,0,0,0-3.244-1.55c-1.153,0-1.838.505-1.838,1.406,0,2.271,8.831,1.478,8.831,7.894a6.194,6.194,0,0,1-5.046,5.984v2.307l-.18.18H37.642l-.18-.18V41.461a7.833,7.833,0,0,1-5.551-4.037l3.28-2.451h.36a4.327,4.327,0,0,0,4,2.2A1.9,1.9,0,0,0,41.643,35.3c0-2.271-8.831-1.838-8.831-7.822a5.809,5.809,0,0,1,4.65-5.587V19.582l.18-.181Z" transform="translate(-31.911 -19.401)" fill="#d25f40"/></g></g></svg>
            Store wide discounts on one time purchases
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40"><defs><clipPath id="a"><path d="M0-21.185H22.4v-30.7H0Z" transform="translate(0 51.882)" fill="none"/></clipPath></defs><g transform="translate(0 -0.416)"><g transform="translate(0 0)"><circle cx="20" cy="20" r="20" transform="translate(0 0.415)" fill="#fffcf0"/></g><g transform="translate(8.562 5.179)"><g transform="translate(0 0)" clip-path="url(#a)"><g transform="translate(3.472 0.651)"><path d="M-8.191-7.4v-2.836a3.986,3.986,0,0,0-3.981-3.982,3.986,3.986,0,0,0-3.981,3.982V-7.48l-3.906,1.3v-4.059a7.9,7.9,0,0,1,7.888-7.888,7.9,7.9,0,0,1,7.887,7.888V-6.1Z" transform="translate(20.06 18.126)" fill="#d25f40"/></g><g transform="translate(3.472 0.651)"><path d="M-8.191-7.4v-2.836a3.986,3.986,0,0,0-3.981-3.982,3.986,3.986,0,0,0-3.981,3.982V-7.48l-3.906,1.3v-4.059a7.9,7.9,0,0,1,7.888-7.888,7.9,7.9,0,0,1,7.887,7.888V-6.1Z" transform="translate(20.06 18.126)" fill="none"/></g><g transform="translate(2.821 0.001)"><path d="M-5.893-.9A7.245,7.245,0,0,1,1.344,6.339V9.574l-2.6-.868V6.339A4.638,4.638,0,0,0-5.893,1.706a4.639,4.639,0,0,0-4.633,4.633V8.628l-2.6.867V6.339A7.245,7.245,0,0,1-5.893-.9m0-1.3a8.548,8.548,0,0,0-8.538,8.539V11.3l1.713-.571,2.6-.868.89-.3V6.339A3.335,3.335,0,0,1-5.893,3.007,3.335,3.335,0,0,1-2.562,6.339V9.645l.89.3,2.6.868,1.714.572V6.339A8.548,8.548,0,0,0-5.893-2.2" transform="translate(14.431 2.2)" fill="#fffcf0"/></g><g transform="translate(0.472 10.631)"><path d="M-7.4-13.523c-5.317,0-8.751-1.36-10.077-2.525a1.906,1.906,0,0,1-.649-1.432V-28.872a2.509,2.509,0,0,1,.922-1.953c1.76-1.436,5.425-2.293,9.8-2.293s8.043.857,9.8,2.293a2.511,2.511,0,0,1,.922,1.953V-17.48a1.91,1.91,0,0,1-.648,1.432C1.349-14.882-2.087-13.523-7.4-13.523" transform="translate(18.128 33.117)" fill="#d25f40"/></g><g transform="translate(0.472 10.631)"><path d="M-7.4-13.523c-5.317,0-8.751-1.36-10.077-2.525a1.906,1.906,0,0,1-.649-1.432V-28.872a2.509,2.509,0,0,1,.922-1.953c1.76-1.436,5.425-2.293,9.8-2.293s8.043.857,9.8,2.293a2.511,2.511,0,0,1,.922,1.953V-17.48a1.91,1.91,0,0,1-.648,1.432C1.349-14.882-2.087-13.523-7.4-13.523Z" transform="translate(18.128 33.117)" fill="none"/></g><g transform="translate(0 10.159)"><path d="M-7.728-.651c5.066,0,8.177,1.1,9.505,2.187a2.041,2.041,0,0,1,.749,1.587V14.514a1.43,1.43,0,0,1-.489,1.078C.891,16.6-2.3,18-7.728,18s-8.619-1.4-9.766-2.408a1.43,1.43,0,0,1-.489-1.078V3.122a2.041,2.041,0,0,1,.749-1.587C-15.906.453-12.794-.651-7.728-.651m0-.944c-6.463,0-9.218,1.678-10.1,2.4a2.979,2.979,0,0,0-1.1,2.318V14.514a2.378,2.378,0,0,0,.81,1.787c1.454,1.277,4.947,2.642,10.388,2.642S1.206,17.579,2.66,16.3a2.378,2.378,0,0,0,.809-1.787V3.122A2.978,2.978,0,0,0,2.374.8c-.885-.722-3.638-2.4-10.1-2.4" transform="translate(18.926 1.595)" fill="#fffcf0"/></g><g transform="translate(9.368 16.068)"><path d="M-2.525-1.262A1.8,1.8,0,0,1-3.408.293V5.038H-5.3V.293a1.8,1.8,0,0,1-.883-1.556A1.832,1.832,0,0,1-4.354-3.091,1.831,1.831,0,0,1-2.525-1.262" transform="translate(6.183 3.091)" fill="#f1ead4"/></g></g></g></g></svg>
            Early access to brand new products
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38.154" height="43.8" viewBox="0 0 38.154 43.8"><defs><clipPath id="a"><path d="M0-113.3H38.154v-43.8H0Z" transform="translate(0 157.104)" fill="none"/></clipPath></defs><g transform="translate(0 0)" clip-path="url(#a)"><g transform="translate(0 0)"><path d="M-47.342-94.685a18.3,18.3,0,0,0,18.3-18.3,18.3,18.3,0,0,0-18.3-18.3,18.3,18.3,0,0,0-18.3,18.3,18.3,18.3,0,0,0,18.3,18.3" transform="translate(65.644 131.288)" fill="#fffcf0"/></g><g transform="translate(24.188 10.077)"><path d="M-23.974-13.653a5.276,5.276,0,0,1-5.278,5.274,5.25,5.25,0,0,1-3.99-1.831,7.372,7.372,0,0,0,1.556-4.539,7.329,7.329,0,0,0-.7-3.147,5.224,5.224,0,0,1,3.137-1.035,5.277,5.277,0,0,1,5.278,5.278" transform="translate(33.242 18.931)" fill="#d25f40"/></g><g transform="translate(24.188 10.077)"><path d="M-23.974-13.653a5.276,5.276,0,0,1-5.278,5.274,5.25,5.25,0,0,1-3.99-1.831,7.372,7.372,0,0,0,1.556-4.539,7.329,7.329,0,0,0-.7-3.147,5.224,5.224,0,0,1,3.137-1.035A5.277,5.277,0,0,1-23.974-13.653Z" transform="translate(33.242 18.931)" fill="none" stroke="#d25f40" stroke-width="1"/></g><g transform="translate(24.409 22.236)"><path d="M-24.094-8.447A16.834,16.834,0,0,1-30.785-.771V-4.25a8.682,8.682,0,0,0-2.623-6.22,6.307,6.307,0,0,1,3.772-1.242,6.331,6.331,0,0,1,5.542,3.265" transform="translate(33.408 11.712)" fill="#d25f40"/></g><g transform="translate(24.409 22.236)"><path d="M-24.094-8.447A16.834,16.834,0,0,1-30.785-.771V-4.25a8.682,8.682,0,0,0-2.623-6.22,6.307,6.307,0,0,1,3.772-1.242A6.331,6.331,0,0,1-24.094-8.447Z" transform="translate(33.408 11.712)" fill="none" stroke="#d25f40" stroke-width="1"/></g><g transform="translate(3.201 10.077)"><path d="M-23.974-22.561a5.252,5.252,0,0,1-3.993,1.831,5.276,5.276,0,0,1-5.275-5.274,5.276,5.276,0,0,1,5.275-5.278,5.224,5.224,0,0,1,3.137,1.035,7.326,7.326,0,0,0-.7,3.147,7.355,7.355,0,0,0,1.56,4.539" transform="translate(33.242 31.283)" fill="#d25f40"/></g><g transform="translate(3.201 10.077)"><path d="M-23.974-22.561a5.252,5.252,0,0,1-3.993,1.831,5.276,5.276,0,0,1-5.275-5.274,5.276,5.276,0,0,1,5.275-5.278,5.224,5.224,0,0,1,3.137,1.035,7.326,7.326,0,0,0-.7,3.147A7.355,7.355,0,0,0-23.974-22.561Z" transform="translate(33.242 31.283)" fill="none" stroke="#d25f40" stroke-width="1"/></g><g transform="translate(2.933 22.236)"><path d="M-24.094-3.212a8.67,8.67,0,0,0-2.627,6.22V6.487a16.854,16.854,0,0,1-6.688-7.68,6.337,6.337,0,0,1,5.546-3.262,6.3,6.3,0,0,1,3.769,1.242" transform="translate(33.408 4.454)" fill="#d25f40"/></g><g transform="translate(2.933 22.236)"><path d="M-24.094-3.212a8.67,8.67,0,0,0-2.627,6.22V6.487a16.854,16.854,0,0,1-6.688-7.68,6.337,6.337,0,0,1,5.546-3.262A6.3,6.3,0,0,1-24.094-3.212Z" transform="translate(33.408 4.454)" fill="none" stroke="#d25f40" stroke-width="1"/></g><g transform="translate(11.979 7.915)"><path d="M-32.836-16.413A6.315,6.315,0,0,1-33.968-12.8a4.889,4.889,0,0,1-.35.461c-.118.139-.243.278-.371.407a6.324,6.324,0,0,1-4.493,1.866,6.328,6.328,0,0,1-4.493-1.863c-.128-.129-.253-.268-.371-.407a5.584,5.584,0,0,1-.353-.46,6.318,6.318,0,0,1-1.131-3.619,6.3,6.3,0,0,1,.464-2.384,5.308,5.308,0,0,1,.243-.521,4.967,4.967,0,0,1,.275-.485,6.345,6.345,0,0,1,5.367-2.955A6.332,6.332,0,0,1-33.818-19.8a5.444,5.444,0,0,1,.275.482,5,5,0,0,1,.243.524,6.288,6.288,0,0,1,.464,2.38" transform="translate(45.53 22.758)" fill="#d25f40"/></g><g transform="translate(11.979 7.915)"><path d="M-32.836-16.413A6.315,6.315,0,0,1-33.968-12.8a4.889,4.889,0,0,1-.35.461c-.118.139-.243.278-.371.407a6.324,6.324,0,0,1-4.493,1.866,6.328,6.328,0,0,1-4.493-1.863c-.128-.129-.253-.268-.371-.407a5.584,5.584,0,0,1-.353-.46,6.318,6.318,0,0,1-1.131-3.619,6.3,6.3,0,0,1,.464-2.384,5.308,5.308,0,0,1,.243-.521,4.967,4.967,0,0,1,.275-.485,6.345,6.345,0,0,1,5.367-2.955A6.332,6.332,0,0,1-33.818-19.8a5.444,5.444,0,0,1,.275.482,5,5,0,0,1,.243.524A6.288,6.288,0,0,1-32.836-16.413Z" transform="translate(45.53 22.758)" fill="none" stroke="#d25f40" stroke-width="1"/></g><g transform="translate(10.691 22.061)"><path d="M-39.5-19.755v4.082c-.071.039-.143.075-.218.111-.175.089-.357.175-.535.253s-.357.157-.535.232a16.689,16.689,0,0,1-6.345,1.245,16.64,16.64,0,0,1-6.349-1.249c-.182-.071-.36-.15-.535-.232s-.36-.164-.535-.25c-.075-.036-.146-.071-.218-.111v-4.082a7.583,7.583,0,0,1,2.359-5.514c.128-.125.26-.246.4-.357s.282-.228.428-.332a7.564,7.564,0,0,1,4.454-1.435,7.576,7.576,0,0,1,4.454,1.438q.22.156.428.332t.4.353A7.605,7.605,0,0,1-39.5-19.755" transform="translate(54.771 27.392)" fill="#d25f40"/></g><g transform="translate(10.691 22.061)"><path d="M-39.5-19.755v4.082c-.071.039-.143.075-.218.111-.175.089-.357.175-.535.253s-.357.157-.535.232a16.689,16.689,0,0,1-6.345,1.245,16.64,16.64,0,0,1-6.349-1.249c-.182-.071-.36-.15-.535-.232s-.36-.164-.535-.25c-.075-.036-.146-.071-.218-.111v-4.082a7.583,7.583,0,0,1,2.359-5.514c.128-.125.26-.246.4-.357s.282-.228.428-.332a7.564,7.564,0,0,1,4.454-1.435,7.576,7.576,0,0,1,4.454,1.438q.22.156.428.332t.4.353A7.605,7.605,0,0,1-39.5-19.755Z" transform="translate(54.771 27.392)" fill="none" stroke="#d25f40" stroke-width="1"/></g><g transform="translate(20.074 25.72)"><path d="M-23.386-46.772a9.04,9.04,0,0,0,9.04-9.04,9.041,9.041,0,0,0-9.04-9.041,9.041,9.041,0,0,0-9.04,9.041,9.04,9.04,0,0,0,9.04,9.04" transform="translate(32.426 64.853)" fill="#fffcf0"/></g><g transform="translate(26.226 29.504)"><path d="M-3.1-9.337A1.374,1.374,0,0,0-1.72-10.814c0-.755-.147-2.133-.807-2.133A2.04,2.04,0,0,0-4.3-11.027c0,.853.416,1.69,1.2,1.69" transform="translate(4.296 12.947)" fill="#d25f40"/></g><g transform="translate(23.476 30.903)"><path d="M-5.666-4.2c0-.853-.517-1.624-.968-1.624A1.705,1.705,0,0,0-7.856-4.152a1.49,1.49,0,0,0,1.37,1.493c.558,0,.821-.689.821-1.542" transform="translate(7.856 5.826)" fill="#d25f40"/></g><g transform="translate(29.561 29.504)"><path d="M-3.565-9.337c.782,0,1.2-.837,1.2-1.69a2.04,2.04,0,0,0-1.769-1.92c-.659,0-.807,1.378-.807,2.133A1.374,1.374,0,0,0-3.565-9.337" transform="translate(4.943 12.947)" fill="#d25f40"/></g><g transform="translate(32.562 30.903)"><path d="M-2.5,0c-.451,0-.968.771-.968,1.624s.262,1.542.82,1.542a1.49,1.49,0,0,0,1.37-1.493A1.706,1.706,0,0,0-2.5,0" transform="translate(3.472)" fill="#d25f40"/></g><g transform="translate(24.764 33.575)"><path d="M-15.825,0a2.47,2.47,0,0,0-1.819.8A2.47,2.47,0,0,0-19.463,0a2.479,2.479,0,0,0-2.479,2.479,2.469,2.469,0,0,0,.07.576h0c.008.032.018.064.027.1s.015.057.024.086c.788,2.644,4.179,4.174,4.179,4.174s3.391-1.53,4.179-4.174c.009-.028.016-.057.024-.086s.019-.063.027-.1h0a2.484,2.484,0,0,0,.07-.576A2.479,2.479,0,0,0-15.825,0" transform="translate(21.942)" fill="#d25f40"/></g></g></svg>
            Join a thriving Facebook community of 50k+ members
        </li>
      </ul>
    </div>
  </div>

  <div class="subscription-double">
      <div class="left">

        <div class="mission-slider">
          <div class="mission-slider-item">
              <div class="img">
                  <img src="{{ 'sub-img1.png' | asset_url }}" alt="img">
              </div>
              <div class="text">
                  <p>"I've been trialling bambi on the tch relief chews, and the results genuinely speak for themselves. she hasn't been noticeably itchy since starting them, she's no longer slow or sluggish, it's amazing"</p>

              </div>
             </div>
          <div class="mission-slider-item">
              <div class="img">
                  <img src="{{ 'sub-img-A.JPG' | asset_url }}" alt="img">
              </div>
              <div class="text">
                  <p>"He really likes the taste of the Multivitamin Chews and never rejects them! The benefits of this product is what I really like about it - it does a lot with a little!"</p>

              </div>
          </div>
          <div class="mission-slider-item">
              <div class="img">
                  <img src="{{ 'sub-img-C.jpg' | asset_url }}" alt="img">
              </div>
              <div class="text">
                  <p>"Regarding the cat dental formula, whiskey’s breath has less of an odour and he has no problem drinking it. As for the fur ball remedy, Whiskey continues to enjoy it and hasn’t had any fur balls since"</p>

              </div>
          </div>
        </div>
      </div>
      <div class="right">
        <h2 class="subscription-double_title">OUR MISSION</h2>
          <p>Our mission is simple. We want your dog to live a longer, happier life. Our products work best over time and with continued use, which is why we offer {{ settings.custom_discount_percentage }} off for EVERY subscription order. <span class="mobile-hidden">To resolve joint issues, improve dental hygiene, and to provide fast and effective itch relief, choose a Petlab subscription, save money, and rest assured that you are treating your dog to the best.</span></p>
      </div>
  </div>

  <div class="subscription-pack" id="perks_of_the_pack">
    <div class="content">
      <h2 class="pack_title">PERKS OF THE PACK</h2>

      <div class="pack-list">

          <div class="pack-list-item">
            <img width="120" src="{{ 'expert-advisor-group.svg' | asset_url }}" alt="img">
              <p class="mobile-hidden"><strong>Free Access to Expert Advisor Group</strong> Valued at $14.99</p>
              <p class="desktop-hidden"><strong>Expert Advisor Group</strong> $14.99</p>
          </div>

          <div class="pack-list-item">
            <img width="120" src="{{ 'store-wide-discounts.svg' | asset_url }}" alt="img">
            <p><strong>Store-wide Discounts</strong></p>
          </div>

          <div class="pack-list-item">
            <img width="121" src="{{ 'monthly-gifts.svg' | asset_url }}" alt="img">
            <p><strong>Free Monthly Gifts</strong></p>
          </div>

          <div class="pack-list-item">
            <img width="117" src="{{ 'expedited-delivery.svg' | asset_url }}" alt="img">
            <p class="mobile-hidden"><strong>Free Expedited Delivery</strong> Valued at $4.99</p>
            <p class="desktop-hidden"><strong>Expedited Delivery</strong> $4.99 per order</p>
          </div>

          <div class="pack-list-item">
            <img width="120" src="{{ 'NO_ADDITIVES_WHITE.svg' | asset_url }}" alt="img">
            <p><strong>No Additives</strong></p>
          </div>

          <div class="pack-list-item">
            <img width="120" src="{{ 'run-out.svg' | asset_url }}" alt="img">
            <p><strong>Never Run Out Again</strong></p>
          </div>
          
      </div>

    </div>
  </div>

  <div class="subscription-review">
      <!-- TrustBox script --> <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script> <!-- End TrustBox script -->
    <div class="content" id="trustpilotContent"></div>
      <!-- TrustBox widget - Mini Carousel -->
      <script>
          var tp_box = document.getElementById('trustpilotContent');
          if (window.innerWidth > 991){
              tp_box.innerHTML = '<div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="130px" data-style-width="100%" data-theme="light" data-tags="sub-benefits-ecom" data-stars="4,5" data-review-languages="en"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div>'
          } else {
              tp_box.innerHTML = '<div class="trustpilot-widget" data-locale="en-US" data-template-id="539ad0ffdec7e10e686debd7" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="310px" data-style-width="100%" data-theme="light" data-stars="4,5" data-review-languages="en"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div>'
          }
      </script>
      <!-- End TrustBox widget -->
 </div>

  <div class="subscription-gallery">
    <div class="content">
      <h2 class="gallery_title">JOIN THOUSANDS OF HAPPY PUPS!</h2>

      <div class="slider-gallery">
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial1.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial2.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial3.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial4.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial5.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial6.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial7.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial8.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial9.svg' | asset_url }}" alt="img">
          </div>
        </div>
        <div class="slider-gallery-item">
          <div class="img">
            <img src="{{ 'Testimonial10.svg' | asset_url }}" alt="img">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subscription-product">
    <div class="content">
      <h2 class="gallery_title">LONG TERM PROBLEMS DESERVE LONG TERM SOLUTIONS</h2>

      <div class="list-product">
        <div class="list-product-item">

          <h4 class="product_title">JOINT CARE<br>& MOBILITY</h4>

          <div class="img">
            <img src="{{ 'joint_care_500x.jpg' | asset_url }}" alt="img">
          </div>

          <a href="/products/joint-chews-for-dogs" class="cta-btn">Shop Joint Care</a>
        </div>
        <div class="list-product-item">

          <h4 class="product_title">ITCH RELIEF<br>& ALLERGIES</h4>

          <div class="img">
            <img src="{{ 'itch_relif_500x.jpg' | asset_url }}" alt="img">
          </div>

          <a href="/products/dog-itching-treatment" class="cta-btn">Shop Itch Relief</a>
        </div>
        <div class="list-product-item">

          <h4 class="product_title">DENTAL CARE<br>& HYGIENE</h4>

          <div class="img">
            <img src="{{ '1x_96e871ac-02c9-48a4-a1e0-791e2c50536e.jpg' | asset_url }}" alt="img">
          </div>

          <a href="/products/dog-dental-formula" class="cta-btn">Shop Dental Care</a>
        </div>
        <div class="list-product-item">

          <h4 class="product_title">OVERALL HEALTH<br>& LONGEVITY</h4>

          <div class="img">
            <img src="{{ '1x_a22aaccd-2f4e-4bf2-bdeb-7e8e697ed05e.jpg' | asset_url }}" alt="img">
          </div>
          
          
          <a href="/products/dog-multivitamin" class="cta-btn">Shop Vitamins</a>
        </div>

      </div>

    </div>
  </div>

  <div class="subscription-faqs">
    <div class="content">
      <h2 class="gallery_title">I still have a few questions…</h2>
      <!-- <div class="sub_title">Ask away! We have a 24/7 365 customer service team who can help! But <br /> here’s a few of our FAQs</div> -->

      <div class="faqs-list">
        <div class="faqs-list-item">
          <div class="faqs-list-header">How does your subscription service work?</div>
          <p class="faqs-list-text">A subscription is the best way to experience Petlab and all of our great products! As a subscription customer, all products are available at a discounted price, you will receive regular free gifts, and much more! </p>
        </div>

        <div class="faqs-list-item">
          <div class="faqs-list-header">Am I able to manage, alter, or amend my subscription online?</div>
          <p class="faqs-list-text">If you would like to amend your subscription all you need to do is submit your request via this link <a href="https://promo.thepetlabco.com/order/index.php">here</a>, and a customer service agent will be in touch to confirm the update in 24-48 hours.</p>
        </div>

        <div class="faqs-list-item">
          <div class="faqs-list-header">I want to change the items in my subscription, and also the delivery frequency, how can I do this?</div>
          <p class="faqs-list-text">If you would like to change the items in your subscription, then all you need to do is fill out our customer service contact form. Delivery frequency updates can be requested via the order management link, which you can find <a href="/pages/support-service" title="Support service">here</a>.</p>
        </div>

        <div class="faqs-list-item">
          <div class="faqs-list-header">On what date will I be charged for my subscription?</div>
          <p class="faqs-list-text">Your subscription charge date will depend upon the date on which your subscription purchase was made. We will always endeavor to take payment on the same day each month.</p>
        </div>

        <div class="faqs-list-item">
          <div class="faqs-list-header">How can I change my subscription payment method?</div>
          <p class="faqs-list-text">If you would like to change your subscription payment method then you can do so by contacting customer support via the contact form <a href="https://www.thepetlabco.com/pages/support-service">here</a>, providing details of your request to change your subscription payment method.</p>
        </div>
      <div class="faqs-list-item">
          <div class="faqs-list-header">How can I cancel my subscription?</div>
          <p class="faqs-list-text">We will be sorry to see you go! Once you cancel your subscription you will lose access to discounted products, free gifts, early access to new products, and more! We do however understand that it is important to be able to cancel or amend your subscription at any time. We have made it simple and very easy to do so, all you need to do is submit your request to cancel your subscription via this link <a href="https://promo.thepetlabco.com/order/index.php">here</a>.</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endcapture %}
{% include 'password-protect' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<style>
  .subscription-faqs {
    padding: 80px 0 60px;
    background-color: #f1ead4;
    position: relative;
    margin-top: 200px;
  }
  .subscription-faqs:before{
    content: '';
    position: absolute;
    z-index: 0;
    top: -120px;
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    background: url('{{ 'faqs-bg.png' | asset_url }}') 0px 0px no-repeat;
    background-size: cover;
  }

  .subscription-faqs .gallery_title{
    margin-bottom: 30px;
  }
  .subscription-faqs .sub_title{
    color: #213f4e;
    font-size: 22px;
  
    line-height: 28px;
    margin-bottom: 40px;
    text-align: center;
  }

  .subscription-faqs .faqs-list{
    max-width: 1000px;
    margin: 0 auto;
  }
  .subscription-faqs .faqs-list-item{
    padding: 25px 10px;
    border-bottom: 1px solid #213f4e;
  }
  .subscription-faqs .faqs-list-item.show .faqs-list-header:after{
    transform: rotate(130deg);
  }
  .subscription-faqs .faqs-list-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #213f4e;
      font-size: 18px;
      cursor: pointer;
  }
  .subscription-faqs .faqs-list-header:after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #213f4e;
    border-left: 2px solid #213f4e;
    transform: rotate(-45deg);
    transition: all linear .2s;
  }
  .subscription-faqs .faqs-list-text{
      display: none;
      color: #213f4e;
      font-size: 18px;
      padding: 0 30px 0 0;
      margin-top: 15px;
  }

  .page-subscription-benefits main .container{
    max-width: 100%;
    padding: 0;
  }
  .subscription-benefits .content{
   max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
 }
 .subscription-benefits{

  }
  .subscription-benefits .banner-top{
    background: #fffdf1;
    min-height: 670px;
    display: flex;
  }
  .subscription-benefits .banner-top .inner{
    width: 100%;
    background: url('{{ 'Dog_and_box.png' | asset_url }}') no-repeat;
    background-position: 100% 0;
  }
  .subscription-benefits .banner-top-content{
    max-width: 520px;
    padding: 75px 0 60px;
text-align: center;
  }
  .subscription-benefits .banner-top_title{
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #213f4e;
    
    font-weight: 600;
    /*letter-spacing: -1px;*/
  }
  .subscription-benefits .banner-top_subtitle{
    font-size: 40px;
    color: #213f4e;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
  }
  .subscription-benefits .banner-top .cta,
  .sub_button_cta {
    display: inline-block;
    background-color: #c95f3d;
    /*width: 100%;*/
    /*max-width: 480px;*/
    text-align: center;
    color: #fffdf1;
    font-size: 20px;
    padding: 10px 60px;
      border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
    font-weight: 600;
      cursor: pointer;
  }
  .subscription-benefits .banner-top .cta:visited,
  .sub_button_cta:visited{
    color: #fff;
  }
  .subscription-benefits .banner-top .cta:hover,
  .sub_button_cta:hover{
    transition: all linear .2s;
    background: #9e4e37;
  }

  .sub_button_cta{
    max-width: 360px;
    padding: 19px 14px 18px 14px;
    margin-bottom: 0;
    margin-top: 60px;
    font-size: 24px;
    }
.subscription-benefits .banner-top .cta svg,
  .sub_button_cta svg {
    position: absolute;
    top: 12px;
    right: 12px;
    fill: #fff;
    width: 24px;
    height: 24px;
  }
  .sub_button_cta svg{
    width: 29px;
    height: 29px;
  }
  .subscription-benefits .banner-top .line{
    display: flex;
    align-items: center;
    justify-content: center;
      margin-bottom: 25px;
      
  }
  .subscription-benefits .banner-top .line svg { 
    margin: 0 3px;
  } 
.banner-top-slider{
  text-align: center;
}
  .banner-top-slider .slick-dots{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-top-slider .slick-dots li{
    margin: 0;
    height: 18px;
    display: flex;
    margin: 0 4px;
  }
  .banner-top-slider .slick-dots button{
      background: #f2ead5;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      min-height: auto;
      min-width: auto;
      font-size: 0;
      padding: 0;
      margin: auto;
  }
  .banner-top-slider .slick-dots .slick-active button{
    width: 12px;
    height: 12px;
    background-color: #c95f3d;
  }
  .banner-top-slider .slick-active{
    outline: none;  
  }
  .banner-top-slider .banner-top-slider-item{
    font-size: 26px;
    color: #213f4e;
  }


  .subscription-benefits-list{
    background: #f2ead5;
    position: relative;
    padding: 60px 0 120px;
  }
  .subscription-benefits-list:before{
    content: '';
    position: absolute;
    z-index: 0;
    top: -45px;
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    background: url('{{ 'bg-list.png' | asset_url }}') 0px 0px no-repeat;
  }
  .subscription-benefits-list .list{
    position: relative;
    z-index: 1;
    max-width: 840px;
    margin: 0 auto;
    list-style: none;

  }
  .subscription-benefits-list .list svg{
    display: inline-block;
    vertical-align: middle;
      margin-right: 10px;
  }
  .subscription-benefits-list .list li{
    font-size: 22px;
    /*padding: 0 0 0 34px;*/
    /*  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20110.66%20104.07%22%20fill%3D%22%23C95F3D%22%3E%3Cpath%20d%3D%22M30.37%2C104.07a37%2C37%2C0%2C0%2C0%2C2.09-3.62c.71-1.2%2C1.41-2.48%2C2.09-3.68C40.22%2C86.63%2C49.89%2C71%2C56.41%2C61.83c5.67-8%2C13.07-18.53%2C19.49-26l3.93-4.71c.46-.54.85-1%2C1.24-1.42l5.35-5.95c.5-.57%2C1-.89%2C1.45-1.42%2C2.2-2.34%2C6.2-6.52%2C8.58-8.51.53-.46.85-.85%2C1.38-1.31%2C2.55-2.16%2C10.59-9%2C12.83-9.81l-.82-.46a6.84%2C6.84%2C0%2C0%2C0-.74-.21A42%2C42%2C0%2C0%2C0%2C94.68%2C0C81.25%2C0%2C74.8%2C6.38%2C67.25%2C15.34c-.6.71-1.06%2C1.31-1.7%2C2.13C58.78%2C26.08%2C53%2C35.82%2C47.44%2C45.6L36.53%2C65.48c-.42-.57-2-8.79-4.46-13.46-7.13-13.19-21.44-5.57-30.19%2C1.13L0%2C54.74C1.63%2C56%2C4.22%2C57.47%2C5.7%2C59c1%2C1%2C1.56%2C1.52%2C2.48%2C2.48%2C6.45%2C6.8%2C12.3%2C19.95%2C16.09%2C28.77.85%2C2%2C5.39%2C12.79%2C6.06%2C13.75Z%22/%3E%3C/svg%3E');*/
    /*  background-repeat: no-repeat;*/
    /*background-size: 25px 25px;*/
    /*  background-position: 0 5px;*/
  }
  .subscription-double{
    display: flex;
  }
  .subscription-double .left{
      width: 50%;
      background-color: #f2ead5;
      display: flex;
    flex-direction: column;
  }
  .subscription-double .left .img img{
      width: 100%;
      display: block;
  }
  .mission-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

  }
  .mission-slider .slick-list{
      width: 100%;
      height: 100%;
      display: flex;
  }
  .mission-slider .slick-track{
      display: flex;
      align-items: stretch;
  }
  .mission-slider .img {
      height: 27vw;
  }
  .mission-slider .img img {
      height: 100%;
      object-fit: cover;
  }
  .mission-slider .text{
      margin: 0 auto;
      flex-grow: 1;
      align-items: center;
      display: flex;
      text-align: center;
  }
  .mission-slider .mission-slider-item{
      outline: none;
      display: flex;
      flex-direction: column;
  }
  .mission-slider .mission-slider-item .name{
      text-align: center;
  }
  .mission-slider .slick-arrow{
      background-color: #213f4e;
        position: absolute;
      top: calc(50% + 13.5vw - 30px);
      width: 61px;
      height: 61px;
      flex: 0 0 61px;
      border-radius: 100%;
      min-height: auto;
      min-width: auto;
      font-size: 0;
      padding: 0;
      margin: auto;
      z-index: 1;

  }
  .mission-slider .slick-arrow:before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 4px solid #fff;
    border-top: none;
    border-right: none;
    
  }
  .mission-slider .slick-arrow.slick-prev{
      margin: 0 40px 0 10px;
      outline: none;
  }
  .mission-slider .slick-arrow.slick-next{
    margin: 0 10px 0 40px;
    outline: none;
  }
  @media screen and (min-width: 1461px){
      .mission-slider .slick-arrow.slick-prev{
          right: calc(50% + 250px);
      }
      .mission-slider .slick-arrow.slick-next{
          left: calc(50% + 250px);
      }
      .mission-slider .text {
          max-width: 500px;
          padding: 40px 0;
      }
  }
  @media screen and (max-width: 1460px){
      .mission-slider .slick-arrow.slick-prev{
          left: 10px;
      }
      .mission-slider .slick-arrow.slick-next{
          right: 10px;
      }
      .mission-slider .text {
          width: 100%;
          padding: 40px 100px;
      }
  }
  .mission-slider .slick-arrow.slick-prev:before{
    transform: rotate(45deg);
    margin: 0 0 0 12px
  }
  .mission-slider .slick-arrow.slick-next:before{
    transform: rotate(225deg);
    margin: 0 5px 0 0;
  }
  .subscription-double .right{
    width: 50%;
    padding: 8%;
    text-align: center;
    background-color: #fffdf1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

  }
  .subscription-double_title{
    color: #213f4e;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 600;
  }
  .subscription-double .right p{
    color: #213f4e;
    font-size: 20px;
  }

  .subscription-pack{
    background-color: #213f4e;
    position: relative;
    padding: 100px 0 0;
  }
  .subscription-pack:before{
    content: '';
    position: absolute;
    z-index: 0;
    bottom: -120px;
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    background: url('{{ 'pack.png' | asset_url }}') 0px 100% no-repeat;
    background-size: cover;
  }

  .pack_title{
    color: #fffdf1;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
  }

  .pack-list{
    max-width: 890px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

  }
  .pack-list-item{
    width: calc(100% / 3 - 46px);
    margin: 0 23px 25px;

    color: #faf4e5;
    font-size: 20px;
    text-align: center;
  }
  .pack-list-item img{
    margin-bottom: 25px;
  }
  .pack-list-item p{
    line-height: 1.1;
    font-weight: 600;
  }
.pack-list-item span{
  /*line-height: 1.1;*/
  /*font-weight: 400;*/
}
  .subscription-review{
    padding: 135px 0 80px 0;
  }

  .subscription-gallery{
    padding: 85px 0 100px;
    background-color: #fffdf1;
  }

  .gallery_title{
    color: #213f4e;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;

  }

  .slider-gallery{
    position: relative;

  }
  

  
  .slider-gallery-item img{
    display: block;
    width: 100%;
  }

  .slider-gallery-item.slick-current{
    outline: none;
  }

  .subscription-product .slick-arrow,
  .slider-gallery .slick-arrow{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.29);
    background-color: #ffffff;
      width: 61px;
      height: 61px;
      flex: 0 0 61px;
      border-radius: 100%;
      min-height: auto;
      min-width: auto;
      font-size: 0;
      padding: 0;
      margin: auto;
      position: absolute;
      top: calc(50% - 30px);
      z-index: 3;
      
  }
  .subscription-product .slick-arrow:before,
  .slider-gallery .slick-arrow:before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 4px solid #213f4e;
    border-top: none;
    border-right: none;
  }
  .subscription-product .slick-arrow.slick-prev {
      right: 100%;
  }
  .slider-gallery .slick-arrow.slick-prev{
      left: 100px;
  }
  .subscription-product .slick-arrow.slick-next {
      left: 100%;
  }
  .slider-gallery .slick-arrow.slick-next{
      right: 100px;
  }
  .subscription-product .slick-arrow.slick-prev:before,
  .slider-gallery .slick-arrow.slick-prev:before{
    transform: rotate(45deg);
    margin: 0 0 0 12px
  }
  .subscription-product .slick-arrow.slick-next:before,
  .slider-gallery .slick-arrow.slick-next:before{
    transform: rotate(225deg);
    margin: 0 5px 0 0;
  }
  .subscription-product{
    padding: 80px 0;
  }
  .list-product{
    margin-top: 80px;
    display: flex;
  }
  .list-product.slick-slider{
    margin-top: 50px;
    display: flex;
      height: 100%;
      margin-bottom: 50px;
  }
  .list-product.slick-slider .slick-track{
      display: flex;
      height: 100%;
  }
  .list-product.slick-slider .slick-track{
      display: flex;
      align-items: stretch;
  }
  .list-product.slick-slider .slick-slide{
      display: flex;
  }
  .list-product.slick-slider .product_title{
      height: auto;
      margin-bottom: 20px;
  }
  .list-product-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    outline: none;
  }
  .product_title{
    color: #213f4e;
    font-size: 24px;
      line-height: 1.35;
    text-align: center;
    margin-bottom: 40px;
    text-transform: none;
    height: 100%;
      padding: 7px 4px;
      letter-spacing: 0;
  }
  .list-product-item .img{
      text-align: center;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
  }

  .cta-btn{
    display: block;
    background-color: #c95f3d;
    text-align: center;
    color: #fffdf1;
    font-size: 22px;
    padding: 14px 14px 10px 14px;
    border-radius: 10px;
    margin-bottom: 60px;
    margin: 30px 15px 0;
  }
  .cta-btn:visited{
    color: #fffdf1; 
  }
  .cta-btn:hover{
    color: #fffdf1;
  }

  .banner-top-slider .banner-top-slider-item {
      outline: none;
  }
  .banner-top-slider-item .text {
      margin-bottom: 0;
  }
  .subscription-benefits-list {
      color: #2e5060;
  }
  .mission-slider .slick-list {
      color: #2e5060;
  }
  .mission-slider .mission-slider-item .name {
      font-weight: 600;
  }
  @media screen and (min-width: 1601px){

      .subscription-benefits .banner-top-content{
          transform: translateX(-2.5vw);
          max-width: 620px;

      }
      /*.subscription-benefits .banner-top_title {*/
      /*    font-size: 68px;*/
      /*}*/
      .subscription-benefits .banner-top .cta {
          max-width: 620px;

          margin-bottom: 60px;
      }

      .subscription-benefits .banner-top .line {
          max-width: 620px;
          margin-bottom: 10px;
      }
      .subscription-benefits .banner-top .line svg {
          margin: 0 2px;
      }
      .banner-top-slider {
          max-width: 620px;
      }
      .subscription-benefits-list {
          padding: 78px 0 75px;
      }
      .subscription-double .right {
          padding: 7% 8%;
      }
      .subscription-gallery .gallery_title {
          font-size: 50px;
      }
      .subscription-product .content {
          max-width: 1540px;
      }
      .subscription-product .gallery_title {
          font-size: 50px;
      }
      .subscription-product .list-product {
          padding: 0 40px;
      }

      .subscription-faqs {
          margin-top: 160px;
          padding-top: 12px;
          padding-bottom: 80px;
      }
      .subscription-faqs .gallery_title {
          font-size: 46px;
      }
      .subscription-faqs .faqs-list {
          max-width: 1156px;
          padding-top: 14px;
      }

      .subscription-faqs .sub_button_cta {
          margin-top: 70px;
      }


  }

  @media only screen and (min-width: 992px) and (max-width: 1600px){
      .subscription-benefits .banner-top .line {
          max-width: 520px;
          margin-bottom: 10px;
      }
      /*.subscription-benefits .banner-top_title{*/
      /*    font-size: 52px;*/
      /*}*/
      .banner-top-slider {
          max-width: 520px;
      }
      .subscription-benefits-list {
          padding: 75px 0;
      }
      .subscription-double .right {
          padding: 7% 5%;
      }

      .subscription-faqs {
          margin-top: 80px;
          padding-top: 30px;
      }
  }
  @media only screen and (min-width: 992px){
      .subscription-benefits .banner-top .inner {
          /*background-position: calc(50vw - 180px) 0;*/
          background-position: calc(50vw - 150px) 0;
          background-size: 1110px auto;
      }
      .banner-top-slider-item .text,
      .banner-top-slider-item .name {
          font-weight: 600;
      }
      .subscription-benefits-list {
          font-weight: 600;
          text-align: center;
      }
      .subscription-benefits-list .list {
          display: inline-block;
          text-align: left;
      }
      .subscription-benefits-list .list li {
          margin-bottom: 14px;
      }

      .subscription-double .right p {
          line-height: 1.35;
      }
      .subscription-double_title {
          font-size: 48px;
          margin-bottom: 16px;
          font-weight: 500;
      }
      .mission-slider .slick-list {
          text-align: center;
      }
      .subscription-pack {
          padding-top: 75px;
      }
      .pack_title {
          margin-bottom: 40px;
      }
      .pack-list {
          max-width: 960px;
      }
      .pack-list-item strong {
          display: block; 
      }
      .pack-list-item p {
          line-height: 1.2;
          font-weight: 400;
      }
      .subscription-pack:before {
          bottom: -60px;
      }
      .subscription-gallery {
          padding: 70px 0 60px;
      }
      .subscription-product .list-product {
          margin-top: 50px;
      }
      .subscription-product .product_title {
        font-weight: 500;
          margin-bottom: 20px;
      }
      .subscription-faqs .gallery_title {
          font-weight: 900;
          letter-spacing: 0;
          margin-bottom: 20px;
      }
      .subscription-faqs .faqs-list-item {
          padding: 24px 14px;
      }
      
      .subscription-faqs .faqs-list-header:after {
          width: 10px;
          height: 10px;
          margin-right: 7px;
      }
      .subscription-faqs .sub_button_cta:hover {
          color: #fff;
      }
  }
  .subscription-faqs .faqs-list-header {
          font-weight: 600;
      }
  @media only screen and (min-width: 767px){
    .slider-gallery-item img{
      display: block;
      width: 100%;
      transform: scale(0.8);
      transition: all linear .3s;
    }
    
    .slider-gallery-item.slick-current + .slick-active img{
      transform: scale(1);
    }
  }
  @media screen and (max-width: 1200px){
    .subscription-double .right p{
      font-size: 22px;
    }
    .subscription-double_title{
      font-size: 32px;
    }
    .subscription-benefits .banner-top .inner{
      background-position: calc(83vw - 470px) 0;
    }

  }
  @media only screen and (max-width: 1024px){
    .page-subscription-benefits main .container {
      width: 100%;
    }
  }
  @media only screen and (max-width: 991px){
    .subscription-double{
      flex-direction: column;
    }
    .subscription-double .left{
      width: 100%;
    }
    .subscription-double .right{
      width: 100%;
    }
      .mission-slider .img {
          height: 54vw;
      }
    .mission-slider .slick-arrow{
      width: 45px;
      height: 45px;
      flex: 0 0 45px;
        top: calc(50% + 27vw - 23px);
    }
    .mission-slider .slick-arrow:before{
      width: 14px;
      height: 14px;
    }
    .mission-slider .mission-slider-item{
      font-size: 16px;
    }
    .mission-slider .mission-slider-item .name{
      text-align: left;
    }
    .mission-slider .slick-arrow.slick-prev{
      margin: 0 10px;
        /*display: none !important;*/
    }
    .mission-slider .slick-arrow.slick-next{
      margin: 0 10px;
    }
      .mission-slider .text {
          width: 100%;
          padding: 40px 85px;
      }
      .subscription-benefits-list .list {
          padding: 0 4px;
      }
    .subscription-benefits-list .list li{
      font-size: 20px;
      /*padding: 0 0 0 30px;*/
      /*background-size: 16px;*/
        display: flex;
        align-items: flex-start;
        padding-left: 4px;
    }
    .subscription-benefits-list .list svg{
      /*display: none;*/
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }
    .subscription-benefits-list{
      padding: 20px 0 5px;
    }
    .subscription-benefits-list:before{
      display: none;
    }

    .pack-list-item{
      width: calc(100% / 2 - 46px);
      font-size: 16px;
    }
    .pack_title{
      font-size: 36px;
    }
    .subscription-gallery {
        padding: 60px 0;
    }
    .subscription-review {
        padding: 5px 0;
    }
    .subscription-pack {
        padding-top: 45px;
    }
    .subscription-pack:before{
      display: none;
    }
    .gallery_title{
      font-size: 32px;
    }
    .list-product{
      flex-wrap: wrap;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
    }
    .list-product-item{
      flex: auto;
      width: 50%;
      margin-bottom: 50px;
    }
    .subscription-benefits .banner-top-content{
      max-width: 100%;
        text-align: center;
    }
    .subscription-benefits .banner-top-content{
      padding-bottom: 0;
        padding-top: 40px;
    }
    .subscription-benefits .banner-top .inner{
      overflow: hidden;
        width: 100%;
        padding-bottom: 75vw;
        /*background-size: 160% auto;*/
        background-size: calc(100% + 220px) auto;
        /*background-position: 47% 132%;*/
        background-position: 47% calc(100% + 7vw + 50px);
    }
    .subscription-benefits .banner-top-content:after{
      content: '';
      display: block;
        display: none;
      background: url('{{ 'Dog_and_box.png' | asset_url }}') no-repeat;
      background-position: center 0;
      width: calc(100% + 40px);
      background-size: cover;
      height: 408px;
      margin-left: -20px;
    }
    .subscription-benefits .banner-top_title{
      font-size: 32px;
      margin: 0;
        text-align: center;
    }
    .subscription-benefits .banner-top_subtitle{
      font-size: 26px;
      margin-bottom: 15px;
        text-align: center;
    }
    .subscription-benefits .banner-top .cta{
      font-size: 20px;
      margin-bottom: 15px;
        max-width: 300px;
        border-radius: 12px;
    }
    .subscription-benefits .banner-top .cta svg{
      display: none;
    }
    .banner-top-slider .banner-top-slider-item{
      font-size: 17px;
    }
    .subscription-benefits .banner-top .line{
      margin-bottom: 10px;
    }
    .subscription-benefits .banner-top{
      /*background: #fff;*/
        min-height: 0;

    }
    .subscription-faqs .faqs-list-header:after {
        flex-shrink: 0;
        margin-left: 10px;
    }
      .subscription-product {
          padding: 45px 0 20px;
      }

  }
  @media only screen and (max-width: 798px){
      .subscription-benefits {
          padding-top: 70px;
      }
      .trustpilot-widget iframe {
          min-height: 310px;
      }
  }
  @media only screen and (min-width: 768px){
      .desktop-hidden {
          display: none !important;
      }
  }
  .list-product-item .img img{
    max-height: 285px;
  }
  @media only screen and (max-width: 767px){
    .slider-gallery{
      padding: 0 30px;
    }
    .slider-gallery .slick-arrow.slick-prev{
      left: 0px;
    }
    .slider-gallery .slick-arrow.slick-next{
        right: 0px;
    }
    .list-product-item{
      width: 100%;
    }

    .subscription-faqs {
      padding: 80px 0 120px;;
      margin-top: 0px;
    }
    .subscription-faqs:before{
      display: none;
    }
    .banner-top-slider .slick-dots {
        padding: 0;
    }
    .mobile-hidden {
        display: none !important;
    }
  }
  
  @media only screen and (max-width: 600px){
      .subscription-product .slick-arrow.slick-prev {
          right: auto;
          left: -8px;
      }
      .subscription-product .slick-arrow.slick-next {
          left: auto;
          right: -8px;
      }
  }

  @media only screen and (max-width: 540px){
    .pack-list-item img{
      width: 100%;
    }
  }
</style>

<script>
  $(document).ready(function () {

    $(document).on('click', '.faqs-list-header', function(e){
      e.preventDefault();
      $(this).parent('.faqs-list-item').toggleClass('show');
      $(this).next('.faqs-list-text').slideToggle();
    })
    $(document).on('click', '[data-href]', function(e){
      e.preventDefault();
      var id = $(this).attr('data-href'),
          offset = $(`#${id}`).offset().top;

      offset -= $(window).width() < 1200 ? 70 : 0;

      $('html,body').animate({scrollTop: offset}, '300');
    });
    
  
    $.getScript('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js', function () {

      $('.banner-top-slider').slick({
        dots: true,
        infinite: true,
        arrows: false,
      });

      $('.mission-slider').slick({
        dots: false,
        infinite: true,
        arrows: true,
      });
      $('.slider-gallery').slick({
        dots: false,
        infinite: true,
        arrows: true,
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              centerMode: false,
              slidesToShow: 1
            }
          },
        ]
      });

      var products = $('.subscription-product .list-product');

        function subscriptionCarousel() {
            products.slick({
                dots: false,
                infinite: true,
                arrows: true,
                centerMode: false,
                slidesToShow: 1
            });
        };

        if($(window).width() <= 991){
            subscriptionCarousel();
        }

       $(window).resize(function () {
           if($(window).width() > 991 && products.hasClass('slick-initialized')){
               products.slick('unslick')
           }
           if($(window).width() < 992 && !products.hasClass('slick-initialized')){
               subscriptionCarousel();
           }
       })
      
     

    });
  });



</script>