{% capture captured_page %}

<a name="pagecontent" id="pagecontent"></a> 
<div class="container">
<div class="our-story-sections">
<div class="our-story-rich-text ">
        <div class="container">
            <div class="sixteen columns">
                <div class="homepage_content section clearfix">
                    <h1 class="text-center text-upper title">Petlab Communities</h1>
                    <div class="text-center featured_text">
                        <p>Here at Petlab Co, our communities are incredibly special. We believe truly that our communities and the members that make them are unlike any other online or in society. It consists of tens of thousands of people from across the United States and all over the world, united by one thing: a deep and unconditional love for their dog.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="community-blc">
        <div class="container">
            <div class="sixteen columns">
                <div class="community-item reddit">
                    <div class="community-header">
                        <div class="img">
                            <a href="https://www.reddit.com/r/HappyDogHappyLife/" target="_blank" ><img src="{{ 'reddit-img.png' | asset_url }}" alt="reddit"></a>
                        </div>
                        <div class="content">
                            <h3 class="content_title">REDDIT COMMUNITY <i></i></h3>
                            <p>Our Reddit community, r/HappyDogHappyLife, is a completely free to use platform open to everyone. Joining this community gives you free access to our team of experts and community members should you need to ask a question regarding medical, nutritional or behavioural issues. You can also share cute pictures of your fur baby! Everything and everyone is welcome.</p>

                            <div class="cta-blc">
                                <a href="#" class="see-link">
                                    <span class="more">SEE MORE</span>
                                    <span class="less">SEE LESS</span>
                                </a>
                                <a href="https://www.reddit.com/r/HappyDogHappyLife/" target="_blank" class="visit-link">VISIT COMMUNITY</a>
                            </div>
                        </div>
                    </div>
                    <div class="community-body">
                        <ul class="community-body-list">
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-1.png' | asset_url }}" alt="A completely free to use platform connecting dog lovers around the world">
                                </div>
                                <p>A completely free to use platform connecting dog lovers around the world</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-2.png' | asset_url }}" alt="Access in-house experts and save on potentially costly and unnecessary vet visits">
                                </div>
                                <p>Access in-house experts and save on potentially costly and unnecessary vet visits</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-3.png' | asset_url }}" alt="Explore the page and learn something new about your dog or its breed!">
                                </div>
                                <p>Explore the page and learn something new about your dog or its breed!</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-4.png' | asset_url }}" alt="Join a thriving community of dog lovers and dog owners on the world’s largest forum site">
                                </div>
                                <p>Join a thriving community of dog lovers and dog owners on the world’s largest forum site</p>
                            </li>
                        </ul>
                        <a href="#" class="community-body__mobile-arrow"></a>
                    </div>
                </div>

                <div class="community-item facebook">
                    <div class="community-header">
                        <div class="img">
                            <img src="{{ 'facebook-img.png' | asset_url }}" alt="FACEBOOK COMMUNITY">
                        </div>
                        <div class="content">
                            <h3 class="content_title">FACEBOOK COMMUNITY <i></i></h3>
                            <p>Our Facebook community is a tight knit group of 50,000+ members with around 150 user posts per day. Dog owners actively discuss issues and treatments, whilst also asking us and the community directly questions that pertain to everything dog related. We also run lots of unique competitions with Petlab prizes and special gifts up for grabs! </p>
 
                            <div class="cta-blc">
                                <a href="#" class="see-link">
                                    <span class="more">SEE MORE</span>
                                    <span class="less">SEE LESS</span>
                                </a>
                                <a href="" class="visit-link" style="    pointer-events: none;
    cursor: default;">CUSTOMERS ONLY</a>
                            </div>
                        </div>
                    </div>
                    <div class="community-body">
                        <ul class="community-body-list">
                            <li>
                                <div class="img">
                                    <img src="{{ 'facebook-list-1.png' | asset_url }}" alt="Join an incredibly active and supportive community all dedicated to their pets">
                                </div>
                                <p>Join an incredibly active and supportive community all dedicated to their pets</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'facebook-list-2.png' | asset_url }}" alt="Access our expert team and their extraordinary breadth of knowledge">
                                </div>
                                <p>Access our expert team and their extraordinary breadth of knowledge</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'facebook-list-3.png' | asset_url }}" alt="Join in on competitions and quizzes for the chance to win exclusive free gifts!">
                                </div>
                                <p>Join in on competitions and quizzes for the chance to win exclusive free gifts!</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-4.png' | asset_url }}" alt="Be the first to hear about new product releases and company updates">
                                </div>
                                <p>Be the first to hear about new product releases and company updates</p>
                            </li>
                        </ul>
                        <a href="#" class="community-body__mobile-arrow"></a>
                    </div>
                </div>

                <div class="community-item forum">
                    <div class="community-header">
                        <div class="img">
                            <img src="{{ 'Comingsoon.png' | asset_url }}" alt="FORUM">
                        </div>
                        <div class="content">
                            <h3 class="content_title">FORUM - COMING SOON <i></i></h3>
                            <p>Our forum community is currently a work in progress. When completed, you can expect to see a huge forum that is completely free to use for both non-customers and customers alike! It will be dedicated to users and their questions, no matter the subject matter. Our forum will also support broad and open discussions and questions around cats, dogs, and all things animal related.</p>

                            <div class="cta-blc">
                                <a href="#" class="see-link">
                                    <span class="more">SEE MORE</span>
                                    <span class="less">SEE LESS</span>
                                </a>
                                {% comment %} <a href="#" class="visit-link">COMING SOON</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="community-body">
                        <ul class="community-body-list">
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-1.png' | asset_url }}" alt="Connect with people from across the globe with a wealth of experience and knowledge">
                                </div>
                                <p>Connect with people from across the globe with a wealth of experience and knowledge</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-2.png' | asset_url }}" alt="Enjoy a massive platform designed and built by the Petlab Co team from the ground up">
                                </div>
                                <p>Enjoy a massive platform designed and built by the Petlab Co team from the ground up</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-3.png' | asset_url }}" alt="Explore categories and forum pages full of specialised knowledge and cute dog photos">
                                </div>
                                <p>Explore categories and forum pages full of specialised knowledge and cute dog photos!</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="{{ 'reddit-list-4.png' | asset_url }}" alt="Join a new community in its infancy and help to shape its future and evolution">
                                </div>
                                <p>Join a new community in its infancy and help to shape its future and evolution</p>
                            </li>
                        </ul>
                        <a href="#" class="community-body__mobile-arrow"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function (e) {
            $(document).on('click', '.see-link, .community-body__mobile-arrow', function (e) {
                e.preventDefault();
                $(this).parents('.community-item').toggleClass('show');
            });
        });
    </script>
</div>
</div>
<style>
.community-blc{

}
.our-story-sections {
    padding-top: 20px;
}
.our-story-sections .our-story-rich-text h1.title{
    margin-bottom: 20px;
    font-size: 60px;
}


.community-item{
    background: #273E4C;
    border-radius: 53px;
    margin: 0 0 50px 0;
}
.community-header{
    background: #F1EAD8;
    display: flex;
    border-radius: 49px;
}
.community-header .img{
    width: 100%;
    flex: 0 0 360px;
    border-radius: 53px;
    overflow: hidden;
}
.community-header .img img{
    width: 100%;
    height: 100%;
    display: block;
}
.community-header .content{
    margin: 20px 50px;
}
.community-header .content .content_title{
    display: flex;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
}
.community-header .content .content_title i{
    flex: 0 0 48px;
    height: 48px;
    margin: 0 0 0 35px;
}
.reddit .community-header .content .content_title i{
    background: url('imgs/reddit-icon-title.png') 0px 0px no-repeat;
}
.facebook .community-header .content .content_title i{
    background: url('imgs/facebook-icon-title.png') 0px 0px no-repeat;
}
/*.forum .community-header .content .content_title i{
    background: url('imgs/forum-icon-title.png') 0px 0px no-repeat;
}*/
.community-header .content p{
    font-size: 18px;
    margin: 35px 0;
}

.cta-blc{
    display: flex;
    align-items: center;
}
.cta-blc a {
    width: 40%;
}
.cta-blc a.see-link{
    padding: 5px 15px;
    border: 2px solid #84a872;
    border-radius: 13px;
    font-size: 16px;
    color: #213F4F;
    position: relative;
    transition: all linear .2s;
}
.cta-blc a.see-link:hover {
    background: #84a872;
    color: #fff;
    transition: all linear .2s;
}
.cta-blc a.see-link:hover span{
    color: #fff;
}
.cta-blc a.see-link:hover:after{
    border-color: #fff;
}
.cta-blc a.see-link span{
    color: #213F4F;
}
.cta-blc .see-link:after{
    content: '';
    position: absolute;
    top: calc(50% - 7px);
    right: 18px;
    width: 8px;
    height: 8px;
    border-left: 2px solid #213F4F;
    border-bottom: 2px solid #213F4F;
    transition: all linear .2s;
    transform: rotate(-45deg);
}
.cta-blc .see-link .less{
    display: none;
}

.cta-blc .visit-link{
    padding: 5px 15px;
    border: 2px solid #C56B4E;
    border-radius: 13px;
    font-size: 16px;
    color: #213F4F;
    position: relative;
    margin: 0 0 0 15px;
    text-align: center;
    transition: all linear .2s;
}
.cta-blc .visit-link:hover{
    background: #C56B4E;
    color: #fff;
}

.community-body{
    display: none;
    padding: 5% 0;
}
.community-body-list{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    color: #fff;
    margin: 0 5%;
}
.community-body-list li{
    margin: 0 25px;
    text-align: center;
}
.community-body-list li .img{
    height: 130px;
}
.community-body-list li p{
    margin-top: 35px;
}
.community-item.show .see-link .less{
    display: block;
}
.community-item.show .see-link .more{
    display: none;
}
.community-item.show .see-link:after{
    transform: rotate(-225deg);
    top: calc(50% - 4px);
    transition: all linear .2s;
}
.community-item.show .community-body{
    display: block;
}
.community-body__mobile-arrow{
    display: none;
    text-align: center;
}
.community-body__mobile-arrow:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(-225deg);
}

@media screen and (max-width: 1024px){
    .cta-blc a{
        width: 50%;
    }

}
@media screen and (max-width: 1023px){
    .community-header{
        flex-direction: column;
    }
    .community-header .img{
        flex: 1!important;
    }
}
@media screen and (max-width: 940px){
    .cta-blc {
        flex-direction: column-reverse;
    }
    .cta-blc a{
        width: 100%;
    }
    .cta-blc .visit-link{
        background: #C56B4E;
        color: #fff;
        margin:  0 0 15px 0;
    }
    .community-body-list{
        margin: 0 20px;
    }
    .community-body-list li{
        margin: 0 10px;
    }
}
@media screen and (max-width: 890px){
    .community-header .img{
        flex: 0 0 260px;
    }

}
@media screen and (max-width: 769px){

    //.community-header .img{
    //    flex: 0 0 360px;
    //}
    .community-body-list{
        flex-direction: column;
        min-width: 270px;
        max-width: 50%;
        margin: 0 auto;
    }
    .community-body-list li{
        margin: 15px 0;
    }
    .community-header .content{
        margin: 30px;
    }
    .community-body__mobile-arrow{
        display: block;
    }
    .community-header .content .content_title i{
        margin: 0;
    }
    .community-header .content .content_title{
        justify-content: space-between;
    }
}
@media screen and (max-width: 769px) {
    .our-story-sections .our-story-rich-text h2.title {
        font-size: 40px;
    }
}

@media screen and (max-width: 991px) {
    .our-story-sections .our-story-rich-text .container {
        padding: 0;
        width: 100%;
    }
    .our-story-sections .community-blc .container {
        padding: 0;
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .our-story-sections .our-story-rich-text h1.title{
        font-size: 26px;
    }
    .community-header .content{
        margin: 30px 20px;
    }
    .community-header .content p{
        margin: 10px 0 35px;
        font-size: 16px;
    }
    .community-body-list li p{
        margin-top: 0;
    }
}
</style>
{% endcapture %}
{% include 'password-protect' %}
