{% capture captured_page %}
<style>
    .testimonials-container{
        max-width: 1256px;
        margin: 0 auto;
    }
    .testimonials-container h1,
    .testimonials-container h2,
    .testimonials-container h3{
        text-align: center;
        text-transform: none;
    }
    .testimonials-container h1{
        color: #213f4e;
        font-size: 70px;
        font-weight: 600;
    }
    .testimonials-container h2{
        color: #2e5060;
        font-size: 50px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 2.5px;
        text-transform: none;
    }
    .testimonials-container h3{
       
        color: #213f4e;
        font-size: 25px;
        font-weight: 600;
    }
    .testimonials-shop-link{
        background-color: #c95f3d;
        color: #fffdf1 !important;
        font-size: 26px;
        font-weight: 600;
        line-height: 56px;
        text-transform: uppercase;
        /* Text style for "SHOP BEST" */
        text-transform: uppercase;
        text-align: center;
        padding: 20px 60px;
        max-width: 500px;
        max-height: 68px;
        border-radius: 40px;
        position: relative;
        padding: 4px 0;
    max-width: 500px;
    max-height: 60px;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 50px;
    }
    .testimonials-shop-link::after{
        position: absolute;
        content: '';
        background-image: url({{ 'link-arrow.png' | asset_url }});
        width:30px;
        height: 30px;
        right: 0;
        top:50%;
        height: 24px;
    left: 90%;
    top: 50%;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    }
    #testimonials-reviews{
        padding-top: 105px;
        background-image: url({{ 'testimonials-reviews.png' | asset_url }});
        /* background-color: #fffdf1; */
    }
    #top-banner-title{
        background: url({{ 'top-banner-title.png' | asset_url }}) 0 100% no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-top: 50px;
    background-position: 0px -40px;
    position: relative;
    }
    .top-testimonials{
        display: flex;
        margin-top: 25px;
    margin: 0 auto;
    margin-top: 50px;
    }
    .top-tesimonials-item{
        max-width: 392px;
    }
    .top-tesimonials-item img,
    .top-tesimonials-item video{
        margin-bottom: 30px;
        padding: 0;
    }
    .top-tesimonials-item p{
        margin: 0;
        padding: 8px 35px;
        color: #213f4e;
        font-size: 18px;
        
        line-height: 24px;
    }
    .top-tesimonials-item-wrap-video-content{
        position: relative;
    }
    .top-tesimonials-item-wrap-video-content svg{
        position: absolute;
        width: 34px;
        height: 25px;
        fill: #d26546;
        left: 0;
        top: 0;
    }
    .top-tesimonials-item:nth-child(2){
        margin: 0 auto;
    }
    .arrow-bottom{
        position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    }
    #second-testimonials-slider{
        margin-bottom: 100px;
        background: url({{ 'second-testimonials.png' | asset_url }}) 0 100% no-repeat;
        background-position: -5% 10%;
    }
    #third-testimonials-slider{
        background: url({{ 'third-testimonials.png' | asset_url }}) 0 100% no-repeat;
        background-position: 100% 90%;
    padding-bottom: 45px;
    }
    .testimonials-container .testimonials-part-bg{
        background-color: #f2ead5;
        width: 100%;
        max-width: 960px;
        padding: 45px 0 40px;
        position: relative;
        margin: 0 auto;
    }
    .testimonials-container .testimonials-part-bg::after{
        content: '';
        position: absolute;
        bottom:-45px;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #f2ead5;
    }
    .testimonials-container .testimonials-part-bg h2{
        margin-bottom: 20px;
    }
    .testimonials-container .testimonials-part-bg p{
        text-align: center;
        padding: 0 10px;
        margin-bottom: 0;
        color: #2e5060;
    }
    .testimonials-slider{
        max-width: 1242px;
        margin: 0 auto;
    }
    .testimonials-slider-item{
        max-width: 374px;
        width: 30%;
        margin: 0;
        border: 1px solid #213f4e;
        background-color: #ffffff;
    }
    .testimonial-content-slide p::before,
    .testimonial-content-slide p::after{
        content: '"';
    }
    .testimonials-slider-item .testimonial-content-slide{
        padding: 25px 30px;
        color: #213f4e;
        font-size: 18px;
        
        line-height: 24px;
        background-color: #ffffff;
        max-height: 235px;
        min-height: 235px;
    }
    .testimonials-slider-item .testimonial-content-slide span{
        font-weight: 600;
    }
    .testimonials-slider-item .testimonial-content-slide p{
    
        max-height: 180px;
    overflow-y: scroll;
    }
    .testimonials-slider-item.slick-slide{
        margin-right: 60px;
    }
   
    .testimonials-slider-item.slick-slide.slick-current + .testimonials-slider-item.slick-slide{
        background-color: #213f4e;
        /* margin: 0 60px; */
        
    }
    .testimonials-slider-item.slick-slide.slick-current + .testimonials-slider-item.slick-slide .testimonial-content-slide{
        color: #f2ead5 ;
        background-color: #213f4e;
    }
    .testimonials-slider-item.slick-slide.slick-current + .testimonials-slider-item.slick-slide .author-name{
        color: #f2ead5 ;
    }
    .testimonials-wrapper-slider{
        position: relative;
        width: 100%;
    }
    #video-slider-testi{
        max-width: 800px;
    }
    .testi-arrow-left{
        position: absolute;
    left: 0;
    top: 30%;
    width: 61px;
    height: 61px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.29);
    background-color: #213f4e;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    padding-right: 5px;
    }
    .testi-arrow-right{
        position: absolute;
    right: 0;
    top: 30%;
    width: 61px;
    height: 61px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.29);
    background-color: #213f4e;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    padding-right: 0;
    }
    .testimonials-video-slider-item-wrapper{
        display: flex;
        justify-content: center;
        vertical-align: middle;
        flex-direction: column;
        height: 100%;
    }
    .testi-video-item-wrap{
        display: flex;
        justify-content: center;
    }
    .testi-video-item-wrap video{
        height: auto;
        width: 350px;
    }
    /* .testi-video-item-wrap{
        width: 794px;
        max-width: 794px;
        max-height: 596px;
        height: 596px;
    } */
    .testimonials-video-wrapper-slider{
        max-width: 960px;
        margin: 0 auto;
    }
    .testimonials-video-slider-item{
        max-width: 796px;
        margin: 0 15px;
        /* border: 1px solid #707070; */
        /* background-color: #ffffff; */
    }
    .testimonials-video-slider-item .testimonial-content-slide{
        padding: 30px 0;
        text-align: center;
        max-width: 80%;
        color: #213f4e;
        font-size: 18px;
        
        line-height: 24px;
        margin: 0 auto;
        /* background-color: #ffffff; */
    }
    .testimonials-video-slider-item img,
    .testimonials-slider-item img{
        max-width: 100%;
    }
    #testimonials-video-slider{
        margin-top: 50px;
        margin-bottom: 100px;
        
        
    }
    .slide {
  height: 100%;
}
    #video-first-slider-wrap{
        background: url({{ 'video-slider-bg-testi.png' | asset_url }}) 0 100% no-repeat;
        background-position: 95% 60%;
        margin-top:25px;
    }
    #top-banner-title .testi-arrow-left,
    #testimonials-video-slider .testi-arrow-left{
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.29);
background-color: #ffffff;
transform: translateY(20%);
    top: 55%;
    }
    #top-banner-title .testi-arrow-right,
    #testimonials-video-slider .testi-arrow-right{
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.29);
background-color: #ffffff;
/* right: -90px; */
transform: translateY(20%);
    top: 55%;
    }
    #top-banner-title .testi-arrow-left,
    #top-banner-title .testi-arrow-right{
        display: none;
    }
    .slick-slide {
    outline: none
}
.author-name{
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    color: #213f4e;
}
    @media screen and (max-width: 1440px){
        .testimonials-container{
            max-width: 90%;
        }
        .top-testimonials{
            max-width: 100%;
        }
    }
    @media screen and (max-width: 1100px){
        #top-banner-title{
        position: relative;
    }
        #top-banner-title .testi-arrow-left,
        #top-banner-title .testi-arrow-right{
            display: block;
        }
        .top-testimonials{
            flex-direction: column;
        }
        .top-tesimonials-item{
            max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
        }
        #top-banner-title{
            background-color: #f2ead5;
    background-image: none;
    padding-bottom: 100px;
        }
        .testimonials-slider{
            max-width: 700px;
            margin: 0 auto;
        }
        .testimonials-slider-item{
            width: 85%;
            max-width: 700px;
        }
        .top-tesimonials-item{
            width: 85%;
            max-width: 90%;
        }
        .testimonials-wrapper-slider{
            width: 95%;
    margin: 0 auto;
        }
        .testimonials-slider-item.slick-slide.slick-current + .testimonials-slider-item.slick-slide{
            margin: 0;
        }
        .testimonials-slider-item.slick-slide.slick-current{
            background-color: #213f4e;
            
        }
        .testimonials-slider-item.slick-slide.slick-current .testimonial-content-slide{
            color: #f2ead5 ;
            background-color: #213f4e;
        }
        .testimonials-slider-item.slick-slide.slick-current + .testimonials-slider-item.slick-slide{
            background-color: #ffffff;
            /* margin: 0 60px; */
            
        }
        .testimonials-slider-item.slick-slide.slick-current + .testimonials-slider-item.slick-slide .testimonial-content-slide{
            color: #213f4e ;
            background-color: #ffffff;
        }
        .testimonials-slider-item img{
            width: 100%;
            height: auto;
        }
        #testimonials-reviews .testimonials-container{
            max-width: 90%;
        }
        .top-tesimonials-item{
            max-width: 800px;
        }
        .top-tesimonials-item video{
            max-width: 700px;
        }
    }
    .mobile-btn-arrow{
        display: none;
    }
    #go-to-top-main {
            display: none;
            position: fixed;
            bottom: 55px;
            right: 55px;
            z-index: 99;
            cursor: pointer;
            width: 61px;
            height: 61px;
        }
    @media screen and (max-width: 700px){
        #go-to-top-main {
            display: none;
            position: fixed;
            bottom: 55px;
            right: 5px;
            z-index: 99;
            cursor: pointer;
            width: 61px;
            height: 61px;
        }
        .testimonials-slider-item.slick-slide{
            margin: 0;
        }
        .mobile-btn-arrow{
            display: block;
            width: 30px;
    height: 24px;
    margin-left: 15px;
    margin-top: 14px;
        }
        .top-testimonials{
            margin-top: 20px;
        }
        .testimonials-container h3{
            line-height: 26px;
            font-size: 18px;
            letter-spacing: 0px;
        }
        #top-banner-title .testi-arrow-right, #testimonials-video-slider .testi-arrow-right,
        #top-banner-title .testi-arrow-left, #top-banner-title .testi-arrow-right {
            transform: translateY(0);
            top: 55%;
        }
        .testimonials-slider{
            max-width: 400px;
            margin: 0 auto;
        }
        .testimonials-container{
            max-width: 300px;
        }
        #top-banner-title a.main-testi-link-to{
            margin: 22px 0 7px;
        }
        .testimonials-slider-item{
            width: 85%;
            max-width: 400px;
        }

        .testimonials-video-slider-item{
            max-width: 400px;
        }
        #video-slider-testi{
            max-width: 400px;
        }
        .testimonials-shop-link{
            max-width: 90%;
            font-size: 20px;
        }
        .testimonials-container h1{
            font-size: 32px;
            margin-top: 20px;
            line-height: 44px;
            letter-spacing: 0px;
        }
        .testimonials-shop-link::after{
            display: none;
        }
        #top-banner-title .testimonials-shop-link{
            margin-top: 0;
        }
        #top-banner-title{
            padding-bottom: 40px;
        }
        .testimonials-container .testimonials-part-bg{
            background-color: transparent;
            padding-bottom: 25px;
    padding-top: 5px;
        }
        .testi-video-item-wrap video{
            width: 90%!important;
        }
        .testimonials-video-slider-item{
            border: none;
        }
        .testimonials-video-slider-item-wrapper{
            height: auto;
    padding-top: 8px;
        }
        .testimonials-video-slider-item-wrapper .testimonial-content-slide p{
            max-height: 210px;
    overflow-y: scroll;
        }
        .testimonials-container .testimonials-part-bg::after{
            display: none;
        }
        .testimonials-shop-link::after{
            left: 85%;
            
        }
        .testimonials-container h2{
            font-size: 36px;
            line-height: 40px;
        }
        .top-tesimonials-item{
            max-width: 450px;
        }
        .top-tesimonials-item video{
            max-width: 440px;
            margin: 0 auto;
        }
        #top-banner-title .testimonials-container{
            padding-top: 20px;
        }
        .top-tesimonials-item p{
            text-align: center;
        }
        #video-first-slider-wrap{
            margin-bottom: 0;
        }
        #testimonials-video-slider{
            margin-bottom: 30px;
        }
        #second-testimonials-slider{
            margin-top: 0px;
            margin-bottom: 30px;
        }
        #testimonials-video-slider .testimonials-shop-link{
            margin-top: 0;
        }
        #third-testimonials-slider{
            padding-bottom: 35px;
        }
        #testimonials-reviews{
            padding-top: 25px;
        }
        #second-testimonials-slider .testimonials-shop-link{
            margin-top: 30px;
        }
        #third-testimonials-slider .testimonials-shop-link{
            margin-top: 35px;
        }
        #testimonials-reviews{
            background-color: #fffdf1;
        }
        .trustpilot-widget{
            margin-top: 25px;
        }
        .author-name{
            color: #f2ead5;
        }
    }
    @media screen and (max-width: 440px){
        .testimonials-slider{
            max-width: 340px;
            margin: 0 auto;
        }
        .testimonials-slider-item{
            width: 85%;
            max-width: 340px;
        }
        .testimonials-video-slider-item{
            max-width: 340px;
        }
        #video-slider-testi{
            max-width: 340px;
        }
        .top-tesimonials-item{
            max-width: 340px;
        }
        .top-tesimonials-item video{
            max-width: 300px;
            margin: 0 auto;
        }
    }
    .top-tesimonials-item-video-wrap{
        position: relative;
        cursor: pointer;
    }
    .top-tesimonials-item-video-wrap::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:140px;
        height:89px;
        background-image: url('{{ 'video-play-btn.png' | asset_url }}');
    }
    .hide-top-tesimonials-item-video-wrap.top-tesimonials-item-video-wrap::after{
        visibility: hidden;
    }
    .top-tesimonials-item-video-wrap > div{
        position: absolute;
        left: 50%;
        top: 15px;
        color: #ffffff;
        transform: translateX(-50%);
        font-size: 36px;
        line-height: 42px;
        text-align:center;
    }
    .top-tesimonials-item-video-wrap > div > strong{
        text-transform: uppercase;
    }
</style>
<div id="top-banner-title">
    <div class="testimonials-container">
        <h1>Petlab Customer Testimonials</h1>
        <h3>Hear first hand from some of our beloved customers!</h3>
        <div class="top-testimonials">
            <div class="top-tesimonials-item">
                <!-- <img src="{{ 'CEL_MD_Collab_Photo_9.png' | asset_url }}" alt="" class=""> -->
                <div class="top-tesimonials-item-video-wrap">
                    <div>
                        Kenny’s<br>
                        <strong>Itch<br>Relief</strong>
                    </div>
                    <video width="370" height="370"  controls="controls" poster="{{ 'video1_Moment.jpg' | asset_img_url: '370x370' }}">
                        <source src="{{ 'video1.mp4' | asset_url }}">
                    </video>
                </div>
                <!-- <div class="top-tesimonials-item-wrap-video-content">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="
"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg>
<p class="">After the itch relief chews, within probably 15 or 20 minutes, no more itching, no more scratching”</p>                
</div> -->
            </div>
            <div class="top-tesimonials-item">
                <!-- <img src="{{ 'CEL_MD_Collab_Photo_9.png' | asset_url }}" alt="" class=""> -->
                <div class="top-tesimonials-item-video-wrap">
                    <div>
                        Angel’s<br><strong>Dental<br>Improvement</strong>
                    </div>
                    <video width="370" height="370"  controls="controls"  poster="{{ 'video2_Moment.jpg' | asset_img_url: '370x370' }}">
                        <source src="{{ 'video2.mp4' | asset_url }}">
                    </video>
                </div>
                <!-- <div class="top-tesimonials-item-wrap-video-content">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="
"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg>

                <p class="">Angel’s teeth were full of dangerous plaque and tartar, a couple of weeks later…”</p>
                </div> -->
            </div>
            <div class="top-tesimonials-item">
                <!-- <img src="{{ 'CEL_MD_Collab_Photo_9.png' | asset_url }}" alt="" class=""> -->
                <div class="top-tesimonials-item-video-wrap">
                    <div>
                        Dozer’s<br><strong>Joint<br>Recovery</strong>
                    </div>
                    <video width="370" height="370" controls="controls"  poster="{{ 'video3_Moment.jpg' | asset_img_url: '370x370' }}">
                        <source src="{{ 'video3.mp4' | asset_url }}">
                    </video>
                </div>
                <!-- <div class="top-tesimonials-item-wrap-video-content">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="
"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg>

                <p class="">Dozer was in serious pain because of his joints, his owner wanted to improve his quality of life”</p>
                </div> -->
            </div>
        </div>
        <button class="testi-arrow-left"><img src="{{ 'black-testi-arrow-left.png' | asset_url }}" alt=""></button>
        <button class="testi-arrow-right"><img src="{{ 'black-testi-arrow-right.png' | asset_url }}" alt=""></button>
        <a href="/collections/bestsellers" class="main-testi-link-to">Shop Best Sellers <span>Now</span></a>
    </div>
</div>
<!-- TrustBox widget - Slider --> <div class="trustpilot-widget" data-locale="en-US" data-template-id="54ad5defc6454f065c28af8b" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="240px" data-style-width="100%" data-theme="light" data-stars="4,5" data-review-languages="en"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
<style>
    .testi-switcher{
        text-align: center;
        
    }
    .testi-switcher .testimonials-container{
        border-bottom: 1px solid #283e4d;
        padding: 55px 0;
    }
    .testi-switcher h5{
        text-transform: none;
        color: #213f4e;
font-size: 30px;
font-weight: 600;
    }
    .testi-switcher ul{
        list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    }
    .testi-switcher ul li{
        margin-bottom: 0;
        border-radius: 25px;
background-color: #213f4e;
text-align: center;
min-width: 176px;
padding: 5px 0;
margin-left: 20px;

    }
    .testi-switcher ul li:first-child{
        margin-left: 0;
    }
    .testi-switcher ul li a{
        text-decoration: none;
        color: #fffdf1;
font-size: 16px;
font-weight: 600;
    }
</style>
<div class="testi-switcher">
    <div class="testimonials-container">
        <h5>Jump to product specific reviews</h5>
        <div class="switch-container-main">
            <ul>
                <li><a href="#joint-care-main">Joint Care</a></li>
                <li><a href="#dental-formula-main">Dental Formula</a></li>
                <li><a href="#itch-relief-main">Itch Relief</a></li>
            </ul>
        </div>
    </div>
</div>
<style>
    .testi-main-container{
        margin-top:92px;
    }
    .preview-testi-block{
        background-color: #e4ac13;
        border-radius: 10px;
        position: relative;
        padding: 30px 70px 30px;
        display: flex;
        justify-content: flex-end;
        margin-bottom:90px;
    }
    .preview-testi-block::after{
        content: '';
        position: absolute;
        left: 95px;
        top: -20px;
        background-repeat:no-repeat;
        width: 190px;
        height: 258px;
        background-image: url('{{ 'testi-joint-care-prod.png' | asset_url }}');
        z-index: 2;
        background-size: 190px;
    }
    .top-tesimonials-item video{
        cursor: pointer;
    }
    #itch-relief-main .preview-testi-block::after{
        background-image: url('{{ 'testi-Itch_relief_chews_mockup.png' | asset_url }}');
    }
    #dental-formula-main .preview-testi-block::after{
        background-image: url('{{ 'testi-Dental_wash_mockup1.png' | asset_url }}');
        transform: translateX(47px);
        width: 76px;
        height: 271px;
        top:-30px;
        background-size: 76px;
    }
    #itch-relief-main .preview-testi-block{
        background-color: #c95f3d;
    }
    #dental-formula-main .preview-testi-block{
        background-color: #aeccb1;
        padding: 40px 70px;
    }
    .preview-testi-block-content{
        text-align: left;
    width: 70%;
    }
    .preview-testi-block-content h3{
        text-align: left;
        color: #ffffff;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
    }
    .preview-testi-block-content p{
        color: #ffffff;
        font-size: 17px;
    
    line-height: 26px;
    margin-top: 25px;
    }
    .preview-testi-wrap-grid{
        max-width: 1040px;
        margin: 0 auto;
        display: flex;
    justify-content: space-between;
    }
    .preview-testi-wrap-grid_column{
        max-width: 48%;
    }
    .preview-testi-wrap-grid_column-item-border{
        border-radius: 10px;
border: 3px solid #dbad3f;
background-color: #ffffff;
    }
    #itch-relief-main .preview-testi-wrap-grid_column-item-border{
        border: 3px solid #bc6546;
    }
    #dental-formula-main .preview-testi-wrap-grid_column-item-border{
        border: 3px solid #b4cbb3;
    }
    .preview-testi-wrap-grid_column-item-border img{
        width: 100%;
        border-radius: 7px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .preview-testi-wrap-grid_column-item-border-content{
        padding: 44px 35px 45px 50px;
        position: relative;
    }
    .preview-testi-wrap-grid_column-item-border,
    .preview-testi-wrap-grid_column-item{
        margin-bottom: 30px;
    }
    .preview-testi-wrap-grid_column-item-content{
        border-radius: 10px;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: row;
        align-items: center;
    padding-right: 20px;
    }
    .preview-testi-wrap-grid_column-item-content img{
        max-width: 176px;
        margin-right: 15px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        
    }
    .preview-testi-wrap-grid_column-item-content p{
        color: #213f4e;
        font-size: 16px;
        
        line-height: 20px;
        margin-bottom:0;
    }
    .preview-testi-wrap-grid_column-item .preview-testi-wrap-grid_column-item-content-name{
        color: #e4ac13;
        font-size: 16px;
        
        line-height: 30px;
    }
    .preview-testi-wrap-grid_column-item-border-content p{
        color: #213f4e;
        font-size: 24px;
        
        line-height: 28px;
    }
    .preview-testi-wrap-grid_column-item-border-content svg{
        position: absolute;
        left: 18px;
        top: 35px;
        width: 34px;
        height: 25px;
        fill: #e4ac13;
    }
    #itch-relief-main .preview-testi-wrap-grid_column-item-border-content svg{
        fill: #c95f3d;
    }
    #dental-formula-main .preview-testi-wrap-grid_column-item-border-content svg{
        fill: #aeccb1;
    }
    #itch-relief-main .preview-testi-wrap-grid_column-item .preview-testi-wrap-grid_column-item-content-name,
    #itch-relief-main .preview-testi-wrap-grid_column-item-border-content .preview-testi-wrap-grid_column-item-border-content-name{
        color: #c95f3d;
    }
    #dental-formula-main .preview-testi-wrap-grid_column-item .preview-testi-wrap-grid_column-item-content-name{
        color: #2d4754;
    }
    #dental-formula-main .preview-testi-wrap-grid_column-item{
        margin-bottom: 37px;
    }
    #dental-formula-main .preview-testi-wrap-grid_column-item-border-content .preview-testi-wrap-grid_column-item-border-content-name{
        color: #aeccb1;
    }
    .preview-testi-wrap-grid_column-item-border-content .preview-testi-wrap-grid_column-item-border-content-name{
        color: #e4ac13;
        font-size: 24px;
        line-height: 30px;
        margin-top: 30px;
    }
    a.main-testi-link-to{
        border-radius: 5px;
        background-color: #c95f3d;
        color: #fffdf1 !important;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin: 40px auto;
        display: block;
        width: 35%;
        padding: 8px 0;
        color:#fff;

        border: none;
        background-color: #d26546;
        text-transform: none;
        color: #fffdf1;
        padding: 0 60px;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        vertical-align: middle;
        transition: all 0.3s ease 0s;
        text-align: center;
    
        line-height: 42px;
    padding-top: 2px;
    }
    a.main-testi-link-to span{
        color: #fffdf1 !important;
    }
    a.main-testi-link-to:hover{
        background-color: #b64726;
    }
    .testi-main-container a.main-testi-link-to{
        margin: 50px auto 80px;
    }
    #dental-formula-main.testi-main-container a.main-testi-link-to{
        margin: 50px auto 50px;
    }
    #dental-formula-main.testi-main-container {
        background-color: rgba(174, 204, 177, 0.44);
        margin-top: 0;
        padding: 92px 0 30px;
    }
    .testi-main-container.copyright-text-testi p{
        color: #21404f;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
    }
    .testi-main-container.copyright-text-testi{
            margin-top: 0px;
        }
      .preview-testi-wrap-grid_column-item-content > div .preview-testi-wrap-grid_column-item-content-name{
          display: none;
      }
      @media screen and (min-width: 700px) and (max-width: 1023px) {
        a.main-testi-link-to{
            width: 60%;
        }
        
        .preview-testi-block::after{
            transform: translateX(-70px);
            top: 10px;
        }
        #dental-formula-main .preview-testi-block::after{
            transform: translateX(-10px);
            top: 10px;
        }
      }
      @media screen and (max-width: 1213px){
        a.main-testi-link-to span{
            display: none;
        }
        
      }
    @media screen and (max-width: 700px){
        a.main-testi-link-to span{
            display: none;
        }
        .preview-testi-wrap-grid_column-item-border-content{
            padding: 15px 20px 24px 30px;
        }
        .preview-testi-wrap-grid_column-item-border-content p{
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0;
            margin-bottom: 0;
        }
        .preview-testi-wrap-grid_column-item-border-content svg{
            left: 10px;
    top: 10px;
    width: 20px;
    height: 15px;
        }
        .preview-testi-wrap-grid_column-item-border-content .preview-testi-wrap-grid_column-item-border-content-name{
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0;
        }
        .preview-testi-wrap-grid_column-item .preview-testi-wrap-grid_column-item-content-name{
            display: none;
        }
        .preview-testi-wrap-grid_column-item-content > div .preview-testi-wrap-grid_column-item-content-name{
          display: block;
          padding-left: 10px;
          font-size: 14px;
    letter-spacing: 0px;
      }
        .testi-switcher .testimonials-container{
            padding-top:0;
            padding-bottom: 0;
            border: none;
        }
        a.main-testi-link-to{
            width: 100%;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0px;
            padding: 12px 0 8px;
        }
        .testi-switcher h5{
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0px;
            width: 80%;
            display: block;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 10px;
        }
        .testi-switcher ul{
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
        }
        #joint-care-main.testi-main-container{
            margin-top: 52px;
        }
        .preview-testi-block::after{
            width: 144px;
            height: 194px;
            background-size: 144px;
        }
        #dental-formula-main .preview-testi-block{
            padding: 15px;
        }
        .testi-switcher ul li{
            margin-left: 0;
            margin-bottom: 13px;
            width: 53%;
             padding: 0px 0;
        }
        .testi-switcher ul li a{
            line-height: 22px;
            letter-spacing: 0px;
        }
        .preview-testi-block-content{
            width: 100%;
            /* margin-top: 220px; */
        }
        .preview-testi-block-content{
            margin-top: 157px;
        }
        .preview-testi-wrap-grid_column{
            max-width: 100%;
        }
        .preview-testi-block-content p{
            font-size: 16px;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 2px;
        }
        .preview-testi-wrap-grid{
            flex-wrap: wrap;
        }
        #dental-formula-main .preview-testi-block::after {
            top: -50px;
            height: 210px;
            left: 50%;
            width: 61px;
            transform: translateX(-50%);
            background-size: 59px;
        }
        .preview-testi-block::after{
            left: 50%;
            transform: translateX(-50%);
        }
        .preview-testi-block{
            padding: 15px;
            margin-bottom: 30px;
        }
        .preview-testi-wrap-grid_column-item-content{
            flex-direction: row;
            padding-right: 0;
            align-items: end;
    padding: 15px 10px;
        }
        .preview-testi-block-content h3{
            font-size: 32px;
            letter-spacing: 0;
            margin-bottom: 0;
        }
        .preview-testi-block-content h3{
            text-align: center;
        }
        .preview-testi-wrap-grid_column-item-content img{
            max-width: 100%;
            margin-right: 0;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
            width: 68px;
            height: 68px;
            border-radius: 50%;
        }
        .preview-testi-wrap-grid_column-item-content p{
            padding: 0 10px 5px 10px;
            font-size: 14px;
    letter-spacing: 0px;
        }
        .preview-testi-wrap-grid_column-item .preview-testi-wrap-grid_column-item-content-name{
            padding-left: 20px; 
        }
        #itch-relief-main .preview-testi-block-content h3,
        #joint-care-main .preview-testi-block-content h3{
            margin-top: 22px;
        }
        
        #dental-formula-main.testi-main-container a.main-testi-link-to{
            margin: 0px auto 10px;
        }
        #itch-relief-main.testi-main-container {
            margin-top: 50px;
        }
        .testi-main-container.copyright-text-testi{
            margin-top: 0px;
        }
        .testi-main-container.copyright-text-testi p{
            margin-bottom: 30px;
        }
        #itch-relief-main.testi-main-container a.main-testi-link-to{
            margin-top: 10px;
            margin-bottom: 40px;
        }
        #joint-care-main.testi-main-container a.main-testi-link-to{
            margin: 0 0 35px;
        }
    }
</style>
<div id="joint-care-main" class="testi-main-container">
    <div class="testimonials-container">
        <div class="preview-testi-block">
            
            <div class="preview-testi-block-content">
                <h3>Joint Care Chews</h3>
                <p>Our joint care chews have been specially formulated with a broad spectrum of powerful ingredients, hear from just a handful of our customers below about their experiences with using our chews.</p>
            </div>
        </div>
        <div class="preview-testi-wrap">
            <div class="preview-testi-wrap-grid">
                <div class="preview-testi-wrap-grid_column">
                    <div class="preview-testi-wrap-grid_column-item-border">
                        <img src="{{ 'JOINTF.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                        <div class="preview-testi-wrap-grid_column-item-border-content">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="&#10;"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"/><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"/></svg>
                            <p>This is Alushe he just turned 13. He was paralyzed from a hernial disc when he was 5. he has been on the joint chews now for almost a year and he looks like a puppy and acts like it.”</p>
                            <span class="preview-testi-wrap-grid_column-item-border-content-name">
                                Brenda A
                            </span>
                        </div>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'JOINTK.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>“WOW what a difference in my baby. Barkley is a 12 year old Chinese Sharpei and starting limping 6 months ago, he is like a 2 yr old puppy now. THANK you Petlab Co. for helping my baby feel better. Customer for life.”</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Heather G
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Heather G
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'JOINTM.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>“This is Tucker. He is 11. He was having trouble in his back ends so I bought the hip and joint chews for him. They have helped him tremendously.
                                    Thank you.”</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Jody G
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Jody G
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item-border">
                        <img src="{{ 'JOINTA.jpg' | asset_img_url: '430x362', crop: 'center' }}" alt="">
                        <div class="preview-testi-wrap-grid_column-item-border-content">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="&#10;"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"/><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"/></svg>
                            <p>My dog Kira has been enjoying her joint care chew for almost a year now and is really doing well with it.”</p>
                            <span class="preview-testi-wrap-grid_column-item-border-content-name">
                                Marissa
                            </span>
                        </div>
                    </div>
                </div>
                <div class="preview-testi-wrap-grid_column">
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'JOINTH.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>“We stopped in our tracks when Bear started to “chase” the two puppies in our backyard. It lasted a full few minutes of pure fun for Bear before he found his spot and rested. We love our senior boy! ❤️”</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Heather B
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Heather B
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'JOINTB.jpg' | asset_img_url: '372x370', crop: 'top' }}" alt="">
                            <div>
                                <p>Boscoe is 11 years old and has been taking the joint support supplements for a little over a month! He is like a puppy again, full of energy!!!”</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Kristi L
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Kristi L
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item-border" style="margin-bottom: 40px;">
                        <img src="{{ 'JOINTJ.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                        <div class="preview-testi-wrap-grid_column-item-border-content">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="&#10;"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"/><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"/></svg>
                            <p>I tried joint chews just to see if it would help her quality of life. 6 months later and she now runs around in the backyard, chases her brother, and chases the kids.”</p>
                            <span class="preview-testi-wrap-grid_column-item-border-content-name">
                                Nicole N
                            </span>
                        </div>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'JOINTN.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>“This is Bear! Doing very well on the chews. She has hip dysplasia at only 3 years old.. loving life ❤️”</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Jackie M
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Jackie M
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'JOINTD.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>“We gave her the joint chews and just 5 min ago she was running up the stairs again! She will be 15 next month! I’m just so amazed how quickly Sally recovered! Back to being a puppy she is! 🐶”</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Jerlie A
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Jerlie A
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'JOINTE.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>“He has been back on the joint chews for about 3.5 weeks. This week he has actually been running and doing some low jumping. Anyone that wonders if these chews work, YES they do.🐾🐾❤🐾🐾”</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Donna C
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Donna C
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <a href="/products/joint-chews-for-dogs" class="main-testi-link-to">Shop Joint Care <span>Now</span></a>
    </div>
</div>
<div id="dental-formula-main" class="testi-main-container">
    <div class="testimonials-container">
        <div class="preview-testi-block">
            
            <div class="preview-testi-block-content">
                <h3>Dental Formula</h3>
                <p>Our dental formula plays a key role in the overall dental hygiene of so many dogs worldwide. It reduces plaque, tartar, and the risk of gum disease. See how it could help your dog below.</p>
            </div>
        </div>
        <div class="preview-testi-wrap">
            <div class="preview-testi-wrap-grid">
                <div class="preview-testi-wrap-grid_column">
                    <div class="preview-testi-wrap-grid_column-item-border">
                        <img src="{{ 'DENTALF.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                        <div class="preview-testi-wrap-grid_column-item-border-content">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="&#10;"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"/><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"/></svg>
                            <p>Good morning everyone! Our 11 month old Samoyed Latte is a consumer of Petlab’s Dental Formula! Her breath surely always smells fresh!</p>
                            <span class="preview-testi-wrap-grid_column-item-border-content-name">
                                Desiree S
                            </span>
                        </div>
                    </div>
                </div>
                <div class="preview-testi-wrap-grid_column">
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'DENTALB.jpg' | asset_img_url: '176x110', crop: 'center' }}" alt="">
                            <div>
                                <p>My 3 fur babies and I have been using the dental formula and it works wonderfully.</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Lori B
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Lori B
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'DENTALC.jpg' | asset_img_url: '372x370', crop: 'top' }}" alt="">
                            <div>
                                <p>So, two bottles later, the black at the top of his teeth is turning brown, and the brown towards the middle of his teeth is clearing up. I’ve been using it ever since. His teeth are in very good condition.</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Dani B
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Dani B
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'DENTALA.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>This is my fur love Chester. He is a Shih Tzu. We have been using the oral liquid in the water for about a year and a half. Friends always comment on how Chester has “ fresh breath”.</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Daphne W
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Daphne W
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'DENTALD.png' | asset_img_url: '176x110'}}" alt="">
                            <div>
                                <p>I love my Shitzus! I use the Dental Formula everyday for them! ❤️</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Julie B
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Julie B
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <a href="/products/dog-dental-formula" class="main-testi-link-to">Shop Dental Formula <span>Now</span></a>
    </div>
</div>
<div id="itch-relief-main" class="testi-main-container">
    <div class="testimonials-container">
        <div class="preview-testi-block">
            
            <div class="preview-testi-block-content">
                <h3>Itch Relief</h3>
                <p>Our itch relief chews are designed to stop your dog from scratching themselves raw, whilst also targeting the causes of allergies and biting. You can learn more about the benefits of this chew here.</p>
            </div>
        </div>
        <div class="preview-testi-wrap">
            <div class="preview-testi-wrap-grid">
                <div class="preview-testi-wrap-grid_column">
                    <div class="preview-testi-wrap-grid_column-item-border">
                        <img src="{{ 'ITCHD.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                        <div class="preview-testi-wrap-grid_column-item-border-content">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 409.294 409.294" height="512" viewBox="0 0 409.294 409.294" width="512" style="&#10;"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"/><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"/></svg>
                            <p>Every spring right through summer, Tally has itching/scratching fits. I bought the anti itch chews from Petlab and so far so good. And they are much less expensive than Apoquel.</p>
                            <span class="preview-testi-wrap-grid_column-item-border-content-name">
                                Carol P
                            </span>
                        </div>
                    </div>
                </div>
                <div class="preview-testi-wrap-grid_column">
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'ITCHB.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>Three days of itch chews and they seem to be working. Itching not completely gone but definitely reduced. 🙂</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Renee O
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Renee O
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'ITCHA.jpg' | asset_img_url: '372x370', crop: 'top' }}" alt="">
                            <div>
                                <p>This is Silas. The itch chews from PetLab seem to be helping already. Only been taking them for a week. He enjoys it as his bedtime treat.</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Karen T
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Karen T
                        </span>
                    </div>
                    <div class="preview-testi-wrap-grid_column-item">
                        <div class="preview-testi-wrap-grid_column-item-content">
                            <img src="{{ 'ITCHC.jpg' | asset_img_url: '372x370', crop: 'center' }}" alt="">
                            <div>
                                <p>We received our chews about 2 weeks ago and they are WORKING. My Sadie is able to sleep through the night, her scabs are healing over and she is no longer shaking from being so uncomfortable ❤️</p>
                                <span class="preview-testi-wrap-grid_column-item-content-name">
                                    Tina B
                                </span>
                            </div>
                        </div>
                        <span class="preview-testi-wrap-grid_column-item-content-name">
                            Tina B
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <a href="/products/dog-itching-treatment" class="main-testi-link-to" style="margin-bottom: 40px;">Shop Itch Relief <span>Now</span></a>
    </div>
</div>
<div class="testi-main-container copyright-text-testi">
    <div class="testimonials-container">
        <p>All of the reviews, imagery and content on this page has been used with the express written consent of the owner of the aforementioned content</p>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<script>
    jQuery(document).ready(function($){
        function playFile() {

            $("video").not(this).each(function () {
                $(this).get(0).pause();
            });
            this[this.get(0).paused ? "play" : "pause"]();

        }

        $('video').on("click touchstart", function() {
            if(!this.paused){
                this.pause();
                return false;
            }else{
                $(this).parents('.top-tesimonials-item').eq(0).find('.top-tesimonials-item-video-wrap div').remove()
                $(this).parents('.top-tesimonials-item').eq(0).find('.top-tesimonials-item-video-wrap').addClass('hide-top-tesimonials-item-video-wrap');
                this.play();
                return false;
            }
            
        });
        $('.top-tesimonials-item-video-wrap').on("click touchstart", function() {
            console.log(2)

            if($(this).parents('.top-tesimonials-item').eq(0).find('video').get(0).paused){
                $(this).parents('.top-tesimonials-item').eq(0).find('.top-tesimonials-item-video-wrap div').remove()
                $(this).parents('.top-tesimonials-item').eq(0).find('.top-tesimonials-item-video-wrap').addClass('hide-top-tesimonials-item-video-wrap');
                $("video").each(function () {
                    $(this).get(0).pause();
                });
                $(this).parents('.top-tesimonials-item').eq(0).find('video').get(0).play();
                return false;
            }
            else{
                $(this).parents('.top-tesimonials-item').eq(0).find('video').get(0).pause();
                return false;
            }
        });
            function topTestiSlider(){
          if ( matchMedia('screen and (max-width: 1100px)').matches ) {
            $.getScript('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js', function () {
            
            $('.top-testimonials').slick({
                speed: 200,
                slidesToShow: 1,
                slidesToScroll: 1,
                variableWidth: true,
                centerMode: true,
                prevArrow: $('#top-banner-title .testi-arrow-left'),
                nextArrow: $('#top-banner-title .testi-arrow-right'),
                infinite: true,
            })
            });
          }
        }
        var topTestiSliderv = 0;
            $( window ).resize(function() {
                if ( matchMedia('screen and (max-width: 1100px)').matches  ) {
                    topTestiSlider();
                    topTestiSliderv = 1;
                }else if( matchMedia('screen and (min-width: 1100px)').matches && topTestiSliderv ){
                    $('.top-testimonials').slick('unslick');
                    topTestiSliderv = 0;
                }
            });
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
            topTestiSlider();
        $.getScript('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js', function () {
            
            $('#first-slider-testi').slick({
                speed: 200,
                slidesToShow: 3,
                slidesToScroll: 1,
                variableWidth: true,
                prevArrow: $('#first-testimonials-slider .testi-arrow-left'),
                nextArrow: $('#first-testimonials-slider .testi-arrow-right'),
                infinite: true,
                responsive: [
                    {
                    breakpoint: 1100,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1,
                        variableWidth: true,
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1,
                        variableWidth: true,
                    }
                    }
                ]
            }).on('setPosition', function (event, slick) {
    slick.$slides.css('height', slick.$slideTrack.height() + 'px');
});;
            $('#video-slider-testi').slick({
                speed: 200,
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                variableWidth: true,
                prevArrow: $('#testimonials-video-slider .testi-arrow-left'),
                nextArrow: $('#testimonials-video-slider .testi-arrow-right'),
                infinite: true,
                responsive: [
                    {
                    breakpoint: 600,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1
                    }
                    }
                ]
            }).on('setPosition', function (event, slick) {
    slick.$slides.css('width', slick.$slideTrack.width() + 'px');
    slick.$slides.css('height', slick.$slideTrack.height() + 'px');
});;
            $('#second-slider-testi').slick({
                speed: 200,
                slidesToShow: 3,
                slidesToScroll: 1,
                variableWidth: true,
                prevArrow: $('#second-testimonials-slider .testi-arrow-left'),
                nextArrow: $('#second-testimonials-slider .testi-arrow-right'),
                infinite: true,
                responsive: [
                    {
                    breakpoint: 1100,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1,
                        variableWidth: true,
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1,
                        variableWidth: true,
                    }
                    }
                ]
            }).on('setPosition', function (event, slick) {
    slick.$slides.css('height', slick.$slideTrack.height() + 'px');
});;
            $('#third-slider-testi').slick({
                speed: 200,
                slidesToShow: 3,
                slidesToScroll: 1,
                variableWidth: true,
                prevArrow: $('#third-testimonials-slider .testi-arrow-left'),
                nextArrow: $('#third-testimonials-slider .testi-arrow-right'),
                infinite: true,
                responsive: [
                    {
                    breakpoint: 1100,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1,
                        variableWidth: true,
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        centerMode: true,
                        slidesToShow: 1,
                        variableWidth: true,
                    }
                    }
                ]
            }).on('setPosition', function (event, slick) {
    slick.$slides.css('height', slick.$slideTrack.height() + 'px');
});;
        });
    })
</script>
<a onclick="topFunction()" class="go-to-top-main" id="go-to-top-main"><img src="{{ 'top.svg' | asset_url }}" alt=""></a>
<script>
    //Get the button
    var mybutton = document.getElementById("go-to-top-main");
    
    // When the user scrolls down 20px from the top of the document, show the button

    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    //   document.body.scrollTop = 0;
    //   document.documentElement.scrollTop = 0;
      $("html, body").animate({ scrollTop: 0 }, "slow");
    }
    </script>
{% comment %} {% section 'page-homepage-banner' %}
{% section 'page-homepage-social-proof' %}
{% section 'page-product-category-list' %}
{% section 'page-best-sellers-products' %}
{% section 'page-reviews-home-page-section' %}
{% section 'page-image-text' %}
{% section 'page-testimonial' %}
{% section 'page-homepage-feature-section' %}
{% section 'page-image-text-second' %} {% endcomment %}

{% endcapture %}
{% include 'password-protect' %}