<a name="pagecontent" id="pagecontent"></a>
<style>
  .first-bn-block-bg-main {
    position: absolute;
    background-image: url('{{ 'about-first-bg.png' | asset_url }}');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 0;
    background-size: auto;
    background-repeat: no-repeat;
  }
</style>
<section class="first-bn-block">

  <div class="container">

    <div class="track-wrap">
      <div class="first-bn-block-bg-main"></div>
      <section class="track">
        <h2 class="section-title">
          TRACK MY ORDER
        </h2>
        <div class="first-screen">
          <div class="content-wrap">
            <p class="form-description">
              Please note the delivery time is usually between 3-5 working days.
            </p>

            <form  id="tracking">
              <ul>
                <li>
                  <input type="email" name="email" id="email" required placeholder="Enter Your Email:"/>
                </li>
                <li>
                  <label>
                    <input type="text" name="order"  id="order" required  placeholder="Enter Your Order Number" name="order">
                  </label>


                </li>
                <li>
                  <button type="submit" id="track">Submit</button>
                </li>
              </ul>


            </form>
          </div>
        </div>

        <div class="result-box">
            <div style="text-align: center;">
              <div class="lds-default" style="display:none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>

            <div class="text-block progress-content" style="display:none;">
              <div class="flex-box">
                  <p >Order:<span class="progress-content-order"></span></p>
                  <p >Status: <span class="progress-content-message"> Arriving Today </span></p>
                <p class="progress-content-traking progress-content-traking-number" style="display:none;"></p>
              </div>
            </div>
            <div class="traking-validation-error" style="display:none;">
              Tracking number or email address is not valid. Please check.
            </div>

            <div class="track-line-wrap">
              <div class="track-line">
                <div class="active-line">
                </div>

              </div>
            <ul class="box-label">
              <li>
                Ordered
                <span class="ordered-date"></span>
              </li>

              <li class="center">
                Dispatched
                <span class="dispatched-date"></span>
              </li>
              <li>
                Arriving
                <span class="arriving-date"></span>
              </li>

            </ul>

            </div>
            <div class="product-wrap">
              <h3 class="product-list-title">
                In this order
              </h3>
              <ul class="product-list">
                <li class="line-item">
                  <div class="img-wrap">  <img></div>
                  <div class="content">
                    <span class="count"></span>
                    <h4 class="name-product"></h4>
                  </div>
                  <p class="product-type">

                  </p>
                </li>
              </ul>
            </div>

            <a class="close" id="close">Track another order</a>
        </div>

      </section>
    </div>
  </div>

</section>

{% assign products = collections['home-page-best-sellers'].products %}
<div class="hp-best-sellers">
  <div class="h-list-product">
    <h2 class="title-section title--md">whilst your order is being delivered, why not browse:</h2>
    <div class="h-list-product-container h-list-product-container-desc">
      {% for product_item in products limit:3 %}
        <div class="best-sellers-bf-product-item">
          <a href="{{ product_item.url }}" class="best-sellers-bf-product-item-link">
            {% assign first_image = product_item.images[0] %}

            {% if product_item.handle == 'joint-chews-for-dogs' %}
              {% assign new_product_image_url = 'hp-joint-care-bs@2x.jpg' | asset_img_url: '500x' %}
              {% assign new_product_image_url_smal = 'hp-joint-care-bs@2x.jpg' | asset_img_url: '200x' %}
              {% elsif product_item.handle == 'dog-dental-formula' %}
              {% assign new_product_image_url = 'hp-dental-formula-bs@2x.jpg' | asset_img_url: '500x' %}
              {% assign new_product_image_url_smal = 'hp-dental-formula-bs@2x.jpg' | asset_img_url: '200x' %}
              {% elsif product_item.handle == 'dog-itching-treatment' %}
              {% assign new_product_image_url = 'hp-itch-bs@2x.jpg' | asset_img_url: '500x' %}
              {% assign new_product_image_url_smal = 'hp-itch-bs@2x.jpg' | asset_img_url: '200x' %}
              {% elsif product_item.handle == 'probiotic-chews-dogs' %}
              {% assign new_product_image_url = 'hp-probiotic-support-bs@2x.jpg' | asset_img_url: '500x' %}
              {% assign new_product_image_url_smal = 'hp-probiotic-support-bs@2x.jpg' | asset_img_url: '200x' %}
            {% else %}
              {% assign new_product_image_url = product_item.images[0] | img_url: '500x' %}
              {% assign new_product_image_url_smal = product_item.images[0] | img_url: '200x' %}
            {% endif %}
            <img data-src="{{ new_product_image_url }}" class="secondary lazyload" alt="{{ product_item.title }}" />
            <div class="best-sellers-bf-product-item-name">

              {% if product_item.handle == 'dental-sticks-weekly' %}
                Prebiotic Dental Sticks - 6
                {% elsif product_item.handle == 'dental-sticks' %}
                Prebiotic Dental Sticks - 24
                {% elsif product_item.handle == 'wild-alaskan-salmon-formula' %}
                Omega Pro
                {% elsif product_item.handle == 'rawhide-dog-chews' %}
                Dog Dental Chews
                {% elsif product_item.handle == 'joint-chews-for-dogs' %}
                Joint Care
                {% elsif product_item.handle == 'dog-itching-treatment' %}
                Itch Relief
                {% elsif product_item.handle == 'dog-dental-formula' %}
                Dental Formula
                {% elsif product_item.handle == 'probiotic-chews-dogs' %}
                Probiotic Support
              {% else %}
                {{ product_item.title }}
              {% endif %}
            </div>
            <div class="best-sellers-bf-product-item-subname">
              {% if product_item.description != '' %}
                {{ product_item.description | strip_html }}
              {% else %}
                {{ product_item.metafields.global.description_tag | strip_html  }}
              {% endif %}
            </div>

            <div class="best-sellers-bf-product-item-review">
              <div class="best-sellers-bf-product-item-price">
                From {% if settings.additionel_custom_discount_percentage != "" %}
                  {{ product_item.compare_at_price_min | times: settings.additionel_custom_discount_percentage_collection | money }}
                {% else %}
                  {% if product_item.handle == 'probiotic-chews-dogs' %}
                    $31.72
                  {% else %}
                    {{ product_item.price_min | times: settings.additionel_custom_discount_percentage_collection | money }}
                  {% endif %}
                {% endif %}</div>
              {% if product_item.title == 'Joint Care Chews' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin-top:0;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light"
                     data-sku="XJCSC1,JCSC1,SUB-JCSC1,JHC1,SUB-JHC1,SUB-JCSC2,JHC2,SUB-JCSC3,JHC3,JCMV1,JCMV2,JHC4,SUB-JCMV1,JCSC4,JCSC3,JCSC2,SUB-JCSC4,PRE-JCSC1,PRE-JCSC4">
                  <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank"
                     rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Itch Relief For Dogs' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light"
                     data-sku="REC-IRC2 ,IRC4,REC-IRC3,IRC1,IRC3,SUB-IRC1"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Dog Dental Formula' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light"
                     data-sku="SUB-MTW1,MTW4,MTW2,MTW1,MTW3,SUB-MTW2,MTW6,SUB-MTW3"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Dog Dental Chews (Rawhide)' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="DHC4,DHC2"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Clear Eye Chews' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="TSC3,TSC4,TSC1,TSC2"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Calming Chews' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light"
                     data-sku="SUB-CHSC1,SUB-CHSC4,CHSC2,CHSC3,CHSC1"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Dog Multivitamin' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="MVC4,SUB-MVC1,MVC1,MVC2">
                  <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank"
                     rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Cat Dental Formula' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light"
                     data-sku="DFC1,DFC2,DFC4,SUB-DFC1,SUB-DFC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com"
                                                                     target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Heart Health Chews' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="HHC1"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Beef Liver Dog Treats' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="BLT2,BLT1"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Chicken Liver Dog Treats' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="CLB1,CLB3"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.handle == 'dental-sticks-weekly' or product_item.handle == 'dental-sticks' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="PDS4"> <a
                          href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a>
                </div> <!-- End TrustBox widget -->
                {% elsif product_item.title == 'Anti-Itch Dog Shampoo' %}
                <!-- TrustBox widget - Product Mini -->
                <div class="trustpilot-widget" style="margin-top:0;" data-locale="en-US"
                     data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05"
                     data-style-height="24px" data-style-width="100%" data-theme="light"
                     data-sku="XJCSC1,JCSC1,SUB-JCSC1,JHC1,SUB-JHC1,SUB-JCSC2,JHC2,SUB-JCSC3,JHC3,JCMV1,JCMV2,JHC4,SUB-JCMV1,JCSC4,JCSC3,JCSC2,SUB-JCSC4,PRE-JCSC1,PRE-JCSC4">
                  <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank"
                     rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
              {% endif %}
            </div>
            <a href="{{ product_item.url }}">
              <div class="best-sellers-bf-product-item-btn">Shop Now</div>
            </a>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>


</div>

