{% capture captured_page %}
<style>
    .page-about-new main div.container {
        max-width: 1256px;
        position: relative;
    }

    .find-us-social {
        background-color: #e7f0e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    .find-us-social h4 {
        color: #213f4e;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .find-us-social ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        padding: 0;
    }

    .find-us-social ul li {
        float: left;
    }

    .find-us-social ul li img {
        max-width: 50px;
    }

    .our-goals-block h2 {
        color: #213f4e;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        margin: 50px 0;
        margin-top: 80px;
    }

    .img-with-bg-main-wrap {
        position: relative;
        width: 100%;
        padding: 100px 0;
    }

    .our-goals-block .img-with-bg-main {
        display: flex;
        max-width: 1040px;
        margin: 0 auto;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-title {
        width: 40%;
        max-width: 400px;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-title h3 {
        color: #213f4e;
        font-size: 34px;
        font-weight: 600;
        line-height: 38px;
        max-width: 260px;
        display: block;
        margin: 0 auto;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        max-width: 608px;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-content img {
        width: 100%;
        margin-bottom: 10px;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-content p {
        color: #213f4e;
        font-size: 18px;
      
        line-height: 24px;
    }

    .img-with-bg-1::after {
        content: '';
        width: 50%;
        height: 100%;
        right: -10%;
        top: -10%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        background-image: url('{{ 'about-goal-bg-1.png' | asset_url }}');
    }

    .img-with-bg-2::after {
        content: '';
        width: 60%;
        height: 100%;
        left: -10%;
        top: -5%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        background-image: url('{{ 'about-goal-bg-2.png' | asset_url }}');
    }

    .img-with-bg-3::after {
        content: '';
        width: 50%;
        height: 100%;
        right: -8%;
        bottom: -20%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        background-image: url('{{ 'about-goal-bg-3.png' | asset_url }}');
    }

    .our-goals-block a {
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 100px;
        border-radius: 10px;
        background-color: #c95f3d;
        color: #fffdf1;
        font-size: 22px;
        font-weight: 600;
        line-height: 50px;
        text-transform: capitalize;
        max-width: 560px;
        padding-top: 4px;
        transition: background-color 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53),color 0.3s linear,border 0.2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    }
    .our-goals-block a:hover{
        color: #fffdf1;
    background-color: #b85232;
    border-color: #b85232;
    }
    .meet-list-story {
        background-color: #fbf3db;
        padding: 40px 0 0 0;
    }

    .meet-list-cont {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .meet-item-main {
        flex: 1 0 25%;
        margin-bottom: 60px;

    }

    .meet-item-main .meet-item-main-container {
        max-width: 265px;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 25px 0;
        cursor: pointer;
    }
    .meet-item-main .meet-item-main-container:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
border-radius: 10px;
background-color: #ffffff;
    }
    .meet-item-main .meet-item-main-container>img {
        max-width: 265px;
        width: 146px;
        height: 146px;
        border-radius: 50%;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .meet-item-main .meet-item-main-container>.meet-list-us-name {
        margin-top: 5px;
        color: #213f4e;
        font-size: 16px;
        font-weight: 600;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 22px;
        font-size: 20px;
        font-weight: 600;
    }

    .meet-item-main .meet-item-main-container>.meet-list-us-role {
        color: #213f4e;
        font-size: 16px;
        line-height: 20px;
    
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .meet-item-main .meet-item-main-container>a {
        color: #d26546;
        font-size: 16px;
        
        /* Text style for "Read more" */
        text-decoration: underline;
        margin-top: 20px;
        color: #c95f3d;
        font-size: 16px;

        line-height: 22px;
        /* Text style for "Read more" */
        text-decoration: underline;
    }

    .meet-list-story h2 {
        color: #213f4e;
        font-size: 50px;
        line-height: 88px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 65px;
        
    }

    .testim-block-about {
        background-color: #fbf3db;
    }

    .white-bg-testi {
        border-radius: 14px;
        background-color: #fffcf3;
        padding: 55px 100px 50px;
        margin: 0;
        margin-bottom: 50px;
    }

    .cont-with-img {
        display: inline-block;
        margin-bottom: 25px;
    }

    .testi-cont-start {
        width: 61%;
        float: left;
        margin-right: 40px;
    }

    .testi-img-main {
        width: 25%;
        float: left;
    }

    .testi-cont-start>img {
        width: 45px;
    }

    .testi-cont-start>span {
        color: #213f4e;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-left: 10px;
    }

    .testi-cont-start>p {
        color: #213f4e;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        position: relative;
        min-height: 240px;
    }

    .testi-cont-start>p>img {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .testi-img-main>img {
        /* max-width: 260px; */
    }

    .testi-img-main>span {
        color: #213f4e;
        font-size: 16px;
        
    }

    .main-test-cont-about {
        display: block;

    }

    .main-test-cont-about p {
        margin-bottom: 20px;
        color: #213f4e;
        font-size: 20px;
      
        line-height: 28px;
    }

    .testi-cont-end {
        margin-top: 40px;
        text-align: center;
    }

    .testi-cont-end-slong {
        color: #213f4e;
        font-size: 30px;
        line-height: 36px;
      
    }

    .testi-cont-end-slong>img {
        margin-left: 20px;
        width: 45px;
    }

    .testi-cont-end-minus,
    .testi-cont-end-name,
    .testi-cont-end-role {
        color: #213f4e;
        font-size: 18px;
      
        line-height: 30px;
        margin: 0;
    }

    .first-bn-block {
        position: relative;
        background-color: #e3ca53;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        min-height: 577px;
    }

    .first-bn-block-bg-main {
        position: absolute;
        background-image: url('{{ 'about-first-bg.png' | asset_url }}');
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 0;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .first-bn-block-l {
        width: 50%;
        float: left;
    }

    .first-bn-block-r {
        position: absolute;
        left: 50%;
        bottom: -80px;
        transform: translateX(10%);
        color: #ffffff;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        max-width: 400px;
    }

    .first-bn-block-l h3 {
        color: #213f4e;
        font-size: 68px;
        font-weight: 800;
        line-height: 92px;
        text-transform: uppercase;
      
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: none;
    }

    .first-bn-block-l h1 {
        color: #213f4e;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        text-transform: none;
    }

    .first-bn-block-l p {
        color: #213f4e;
        font-size: 22px;
      
    }

    .meet-popup-info {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #ffffff;
        width: 100%;
        height: 100vh;
        z-index: 1002;
        max-width: 752px;
    }

    .meet-popup-info-blure {
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    .meet-popup-content {
        min-width: 300px;
        overflow-y: auto;
        max-height: 90vh;
        -webkit-overflow-scrolling: auto;
    }

    .meet-popup-content-row {
        display: block;
    }

    .meet-popup-content-l {
        width: 100%;
        margin-bottom: 30px;
    }

    .meet-popup-content-r {
        width: 100%;
    }
    .meet-popup-content-r > p > p{
        font-size: 16px;
    }
    .meet-popup-content-r > p > p >strong{
        display: block;
        font-size: 18px;
    }
    .meet-popup-content-l-row {
        display: flex;
    }

    .meet-popup-content-l-column-image img {
        max-width: 206px;
        max-height: 206px;
        border-radius: 50%;
    }

    .meet-popup-content h4 {
        margin-bottom: 0;
        text-transform: none;
        color: #213f4e;
        font-size: 28px;
        font-weight: 600;
        padding: 0;
    }

    .meet-popup-content h5 {
        color: #213f4e;
        font-size: 30px;
      
        line-height: 34px;
        text-transform: none;
        color: #2e4b59;
        font-size: 20px;
      
        padding: 0;
        margin-bottom: 0;
    }

    .meet-popup-content-l-column {
        min-width: 360px;
        margin-right: 50px;
    }

    .meet-popup-l-name,
    .meet-popup-l-pet,
    .meet-popup-l-pet-age {
        display: block;
    }

    .meet-popup-l-name strong,
    .meet-popup-l-pet strong,
    .meet-popup-l-pet-age strong {
        margin-right: 2px;
    }

    .meet-popup-content-r {
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: auto;
    }

    .meet-popup-content-l-column>div {
        border-bottom: 1px solid #213f4e;
        padding-bottom: 23px;
        padding-top: 5px;
    }
    .meet-popup-content-l-column>div.meet-popup-l-name-age-block{
        padding-bottom: 5px;
    }

    .meet-popup-l-name,
    .meet-popup-l-pet-age {
        margin: 10px 0;
    }

    .meet-popup-l-name,
    .meet-popup-l-pet,
    .meet-popup-l-pet-age,
    .meet-popup-content-r {
        color: #213f4e;
        font-size: 16px;
        line-height: 18px;
      
        color: #213f4e;
        font-size: 18px;
      
    }

    .btn-close-popup-meet {
        position: absolute;
        display: block;
        width: 59px;
        height: 59px;
        overflow: hidden;
        top: 20px;
        right: 25px;
        cursor: pointer;
        z-index: 1;
        padding: 12px;
    }
    .btn-close-popup-meet:hover{
        border-radius: 6px;
        background-color: #e9eced;
    }
    .btn-close-popup-meet:before,
    .btn-close-popup-meet:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 35px;
        top: 50%;
        left: 12px;
        margin-top: -1px;
        background: #666;
    }
    .btn-close-popup-meet:hover::before,
    .btn-close-popup-meet:hover::after{
        background:#707070;
    }
    .btn-close-popup-meet:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .btn-close-popup-meet:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .meet-popup-info-wrap {
        position: relative;
        padding: 90px 50px 0px;
    }

    .our-goals-block h3.show-md {
        display: none;
    }

    .close-meet-popup {
        display: none;
    }

    .meet-popup-content-r p {
        color: #213f4e;
        font-size: 18px;
      
    }
    @media screen and (max-width:1260px) {
        .testi-img-main>img {
            max-width: 260px;
        }
    }
    @media screen and ( min-width: 1024px) and (max-width:1260px) {
        .first-bn-block-bg-main{
            background-position: 70% 0;
        }
    }

    @media screen and (max-width:768px) {
        .find-us-social h4{
            text-align: center;
        }
        .meet-popup-info {
            width: 92%;
        }

        .meet-popup-content-r>p {
            padding-right: 10px;
        }

        .our-goals-block .img-with-bg-main .img-with-bg-title {
            display: none;
        }

        .our-goals-block .img-with-bg-main .img-with-bg-content {
            width: 100%;
        }

        .our-goals-block .img-with-bg-main .img-with-bg-title h3.hide-md {
            display: none;
        }

        .our-goals-block h3.show-md {
            display: block;
            font-size: 32px;
            font-weight: 600;
            line-height: 38px;
        }

        .img-with-bg-2::after {
            background-position: 100% 0;
        }

        .img-with-bg-main-wrap {
            padding: 30px 0;
        }

        .testi-cont-start {
            width: auto;
            float: none;
            margin-right: 0;
        }

        .testi-cont-end-slong>img,
        .testi-cont-start>img {
            width: 25px;
        }

        .testi-img-main {
            text-align: center;
        }

        .testi-cont-start>p {
            font-size: 22px;
            line-height: 28px;
        }

        .testi-cont-start>p br {
            display: none;
        }

        .testi-img-main>span {
            font-size: 14px;
            text-align: center;
            width: 100%;
            display: block;
        }

        .main-test-cont-about p {
            font-size: 16px;
          
            line-height: 22px;
        }

        .testi-cont-end-slong {
            font-size: 22px;
        
            line-height: 28px;
        }

        .testi-img-main {
            width: auto;
            float: none;
            margin: 0 auto;
        }

        .white-bg-testi {
            padding: 35px 25px;
        }

        .our-goals-block a {
            margin-bottom: 50px;
            font-size: 16px;
        }

        .meet-list-cont {
            justify-content: space-between;
        }

        .meet-item-main .meet-item-main-container>.meet-list-us-role {
            font-size: 12px;
        }

        .meet-item-main .meet-item-main-container>a {
            font-size: 14px;
        }

        .meet-item-main {
            flex: 0 45%;
        }

        .meet-item-main .meet-item-main-container>img {
            max-width: 100%;
        }

        .testi-cont-start>img {
            width: 45px;
            float: left;
        }

        .testi-cont-start>span {
            font-size: 14px;
            line-height: 20px;
            max-width: 170px;
            display: inline-block;
        }

        .testi-cont-end-minus,
        .testi-cont-end-name,
        .testi-cont-end-role {
            font-size: 14px;
        }

        .first-bn-block-bg-main {
            background-image: url('{{ 'about-mobile-bg.png' | asset_url }}');
            height: 508px;
        }

        .first-bn-block {
            align-items: baseline;
        }

        .first-bn-block-l {
            width: auto;
            float: none;
        }

        .first-bn-block-r {
            display: none;
        }

        .first-bn-block {
            align-items: baseline;
            height: auto;
            min-height: 510px;
        }

        .first-bn-block-l h3 {
            font-size: 40px;
            margin-bottom: 0;
        }

        .first-bn-block-l h1 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 10px;
            letter-spacing: 0px;
        }

        .first-bn-block-l p {
            font-size: 14px;
            line-height: 18px;
        }

        .img-with-bg-3::after,
        .img-with-bg-1::after {
            right: -20px;
        }

        .meet-popup-content-l {
            float: none;
            width: auto;
            margin: 0;
            display: flex;

        }

        .meet-popup-content-l>div {
            margin-left: 10px;
        }

        .meet-popup-l-name,
        .meet-popup-l-pet,
        .meet-popup-l-pet-age {
            font-size: 12px;
            
        }

        .meet-popup-content-r {
            float: none;
            width: auto;
            margin-top: 15px;
            font-size: 12px;
            line-height: 16px;
            max-height: 30vh;
        }

        .meet-popup-info {
            height: 81vh;
        }

        .meet-popup-content h5 {
            font-size: 22px;
            letter-spacing: 0;
            line-height: 26px;
            margin-bottom: 15px;
        }

        .meet-popup-info {
            z-index: 9999;
        }

        .meet-popup-info-wrap {
            padding: 15px;
            padding-top: 35px;
        }

        .meet-popup-content-l>img {
            float: left;
            max-width: 165px;
            max-height: 165px;
            border-radius: 10px;
        }

        .close-meet-popup {
            display: block;
            text-align: center;
            color: #d26546;
            font-size: 14px;
            font-weight: 600;
            margin-top: 50px;
        }

        .btn-close-popup-meet {
            top: 10px;
            right: 10px;
            position: fixed;
    top: 82px;
        }
    }

    @media screen and (min-width: 1600px) {
        .first-bn-block-r {
            position: absolute;
            left: 53%;
            bottom: -150px;
        }
    }

    @media screen and (max-width: 1750px) and (min-width: 1920px) {}

    @media screen and (min-width: 2000px) {
        .first-bn-block-r {
            left: 67%;
            bottom: -230px;
        }
    }

    @media screen and (max-height: 740px) and (max-width:700px) {
        .close-meet-popup {
            margin-top: 0;
        }

        .meet-popup-content-r {
            max-height: 26vh;
        }
    }

    @media screen and (max-height: 570px) and (max-width:700px) {
        .meet-popup-content-r {
            max-height: 16vh;
        }
    }

    .my-body-noscroll-class {
        overflow: hidden;
    }

    .our-goals-block-container {
        display: flex;
        margin-bottom: 60px;
    }

    .our-goals-block-container-text {
        width: 75%;
        min-height: 280px;
        padding-right: 5%;
    }

    .our-goals-block-container-text-heading {
        color: #213f4e;
        font-size: 36px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .our-goals-block-container-text-cont {
        color: #375867;
        font-size: 22px;
        
        line-height: 30px;
    }

    .our-goals-block-container-img {
        width: 20%;
        text-align: center;
    }

    .our-goals-block-container-img img {
        max-width: 241px;
        max-height: 241px;
        border-radius: 50%;
    }

    .cofounder-message {
        text-align: center;
        color: #213f4e;
        font-size: 22px;
        font-weight: 600;
        line-height: 54px;
        margin-bottom: 60px;
    }

    @media screen and (max-width:768px) {
        .our-goals-block-container {
            flex-direction: column;
        }

        .our-goals-block-container-text {
            order: 2;
            width: 100%;
            padding: 0;
        }

        .our-goals-block-container-img {
            width: 100%;
            order: 1;
            margin-bottom: 25px;
        }

        .testi-img-main>img {
            max-width: 100%;
        }

        .testim-block-about {
            background-color: #fffcf3;
            padding: 0 15px 10px;

        }

        .white-bg-testi {
            margin: 0;
            padding: 0;
        }

        .meet-popup-content-l-column {
            min-width: 185px;
            margin-right: 0;
        }

        .meet-popup-content-l-row {
            align-items: flex-end;
        }

        .meet-popup-content-l-column-image {
            max-height: 117px;
        }

        .meet-popup-content-l-column-image img {
            max-width: 117px;
            max-height: 117px;
        }

        .meet-popup-info {
            right: 0; 
            width: 100%;
            height: 100%;
            height: calc(100%-72px);
        }

        .meet-popup-content-r {
            max-height: 50vh;
        }

        .meet-popup-l-name,
        .meet-popup-l-pet,
        .meet-popup-l-pet-age,
        .meet-popup-content-r p {
            font-size: 16px;
            
            line-height: 24px;
        }

        .meet-popup-content h4 {
            font-size: 22px;
            font-weight: 600;
        }

        .meet-popup-content h5 {
            font-size: 16px;
            
        }

        .meet-popup-content-l>div {
            margin-left: 0;
        }
        .meet-popup-content-l-column>div:first-child{
            padding-bottom: 0;
        }
        .meet-list-story h2{
            font-size: 32px;
font-weight: 600;
line-height: 38px;
        }
        .meet-list-story{
            padding: 0;
        }
        .our-goals-block h2{
          
            margin: 35px 0;
            font-size: 35px;
font-weight: 800;
line-height: 30px;
        }
        .our-goals-block-container-text-heading{
            font-size: 30px;
font-weight: 600;
line-height: 40px;
        }
        .our-goals-block-container-text-cont{
            font-size: 16px;

        }
        .our-goals-block-container-img img{
            max-width: 184px;
            max-height: 184px;
        }
        .our-goals-block a{
            font-size: 24px;
font-weight: 600;
line-height: 28px;
padding-top: 10px;
    padding-bottom: 5px;
        }
        .testi-cont-end{
            margin-top: 0;
        }
        .cofounder-message{
            text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    max-width: 171px;
margin-bottom: 20px;
        }
        .testi-cont-start>img{
            width: 30px;
            float: none;
        }
        .testi-cont-start>p>img{
            width: 30px;
        }
        .testi-cont-start>p{
            min-height: auto;
    padding-bottom: 25px;
        }
        .first-bn-block-l h3{
            line-height: 48px;
        }
        .meet-item-main .meet-item-main-container>img{
            width: 117px;
height: 117px;
        }
        .meet-item-main .meet-item-main-container>.meet-list-us-name{
            font-size: 14px;
            line-height: 16px;
        }
        .meet-item-main .meet-item-main-container>.meet-list-us-role{
            font-size: 12px;
line-height: 16px;
        }
        .meet-item-main .meet-item-main-container>a{
            font-size: 12px;

line-height: 22px;
        }
        .meet-item-main{
            margin-bottom: 45px;
        }
        .page-about-new main div.container,
        .testim-block-about div.container{
            padding-top: 40px;
        }
    }
    .first-bn-block-r{
        background-image: url({{ 'about-us-bg-text.png' | asset_url }});
    background-repeat: no-repeat;
    bottom: 0px;
    transform: none;
    width: 350px;
    height: 123px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 62%;
    transform: translateX(0%);
    }
    .first-bn-block-r p{
        color: #293f4c;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        width: 259px;
height: 35px;
margin: 0;
    }
    @media screen and (max-width: 768px){
        .first-bn-block-r{
        background-image: url({{ 'about-us-bg-text-mob.png' | asset_url }});
        background-repeat: no-repeat;
        left: 50%;
        transform:translateX(-50%);
        bottom: -10px;
        width: 320px;
        }
        .first-bn-block-r p{
            width: 171px;
height: 30px;
            font-size: 12px;
font-weight: 500;
line-height: 16px;
        }
    }
    .meet-popup-info-product{
        min-height: 182px;
    background-color: #fbf3db;
    padding: 20px 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none!important;
    }
    .meet-popup-info-product-row{
        display: flex;
        align-items: center;
    }
    .meet-popup-info-product-col-img{
        margin-right: 40px;
    }
    .meet-popup-info-product-col-img > img{
        max-width: 144px;
max-height: 145px;
border-radius: 5px;
    }
    .meet-popup-info-product-col-cont strong{
        color: #213f4e;
font-size: 18px;
font-weight: 600;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
    }
    .meet-popup-info-product-col-cont p{
        color: #213f4e;
font-size: 14px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
line-height: 18px;
overflow: hidden;
    display: block;
    max-height: 40px;
    }
    .meet-popup-info-product-col-cont a{
        border-radius: 5px;
background-color: #c95f3d;
color: #fffdf1;
font-size: 16px;
font-weight: 600;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;
/* Text style for "SHOP NOW" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding: 9px 30px 7px;
    }
    @media screen and (max-width: 768px) {
        .meet-popup-info-product{
            min-height: auto;
            padding: 25px 10px 25px 30px;
            position: initial;
        }
        .meet-popup-info-product-col-img{
            margin-right: 15px;
        }
        .meet-popup-info-product-col-img > img{
            max-width: 100px;
            max-height: 100px;
        }
        .meet-popup-info-product-col-cont strong{
            font-size: 16px;
        }
        .meet-popup-info-product-col-cont p{
            font-size: 14px;
max-height: 72px;
        }
        .meet-popup-info-product-col-cont a{
            font-size: 14px;
font-weight: 600;
margin-top: 10px;
        }
        .meet-popup-content{
            max-height: 100%;
            padding-top: 30px;
            overflow-y: unset;
    max-height: none;
        }
        .meet-popup-content-r{
            max-height: none;
        }
        .meet-popup-info-wrap{
            padding-top: 0;
        }
        .meet-popup-l-pet strong{
            /* display: block; */
        }
        .meet-popup-info{
            overflow-y: auto;
        }
        /* .btn-close-popup-meet {
    top: 0px;
        } */
    }
    #chat-widget-container{
        display: none!important;
    }
</style>
<section class="first-bn-block">
    <div class="first-bn-block-bg-main"></div>
    <div class="container">
        <div class="first-bn-block-l">
            <h3>Welcome</h3>
            <h1>We’re Petlab Co. A company built for pet owners, by pet owners.</h1>
            <p>We provide everything from vitamin supplements to grooming products, all aimed at supporting our pets to
                help them live a longer, healthier and happier life.</p>
        </div>
        
    </div>
    <div class="first-bn-block-r">
        <p>Hi, we’re Chris and Damian, the co-founders of Petlab Co.</p>
    </div>
</section>

<section class="meet-list-story">
    <div class="container">
        <h2>Meet The Pets Of Petlab</h2>
        <div class="meet-list-cont">
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'zeeko.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Zeeko</span>
                    <span class="meet-list-us-role">CTO (Chief Tasting Officer)</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'zeeko.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Damian and Alana">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Zeeko">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="11 months">
                    <input type="hidden" class="hidden-content-prod-info" value="joint-chews-for-dogs">
                    <div class="hidden-content-meet" style="display: none!important;">
                       
                        <p><strong>What are your favorite activities to do with each other?</strong> We love to play
                            hide and seek!</p>

                        <p><strong>Why did you get your pet?</strong> We are both massive dog lovers, and we felt ready
                            to take on the responsibility!</p>

                        <p><strong>What’s your pet’s best characteristic?</strong> Zeeko has amazing communication
                            skills (and a wonderful pink nose!)</p>

                        <p><strong><strong>What’s your pet’s most annoying habit?</strong></strong> Zeeko loves other
                            dogs and gets way too excited when he meets one! </p>

                        <p><strong>What’s your pet’s favorite toy?</strong> Zeeko has a very worn down stuffed turkey
                            with rubber legs that he adores.</p>

                        <p><strong>What’s one piece of advice you would give a new pet owner?</strong> Always be
                            patient with your pup. </p>

                            <p><strong>What’s your pet’s favorite Petlab Co. product?</strong> Zeeko loves the <a
                                href="/products/joint-chews-for-dogs">Joint Care Chews</a>! He may only be 11 months
                            old, but prevention is key when it comes to joint care. The fatty acids in them keep his
                            everyday health tip-top, his muscles strong and joints healthy.</p>
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'bertie.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Bertie</span>
                    <span class="meet-list-us-role">Head Of Puplicks Relations</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'bertie.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Chris">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Bertie">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="8 year">
                    <input type="hidden" class="hidden-content-prod-info" value="joint-chews-for-dogs">

                    <div class="hidden-content-meet" style="display: none!important;">
                       


                        <p><strong>What are your favorite activities to do with each other?</strong> Watching Netflix
                            together :)</p>

                        <p><strong>Why did you get your pet?</strong> Bertie was a rescue, and the time was right!</p>

                        <p><strong>What’s your pet’s best characteristic?</strong> Bertie has a very relaxed
                            personality. He will just go with whatever we want to do and he is very warm too.</p>

                        <p><strong><strong>What’s your pet’s most annoying habit?</strong></strong> Honestly... He
                            doesn’t have one.</p>

                        <p><strong>What’s your pet’s favorite toy?</strong> We wrapped up a plastic bottle in a sock,
                            and he loves to play with that! Dogs, huh!?</p>

                        <p><strong>What’s one piece of advice you would give a new pet owner?</strong> Start taking
                            care of their nutrition from day one! For example, off the shelf, dry dog kibble is not
                            enough to ensure they’re getting all the nutrients and minerals they need to live a long,
                            happy and healthy life.</p>

                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Bertie loves the <a
                                href="/products/joint-chews-for-dogs">Joint Care Chews</a>. He’s getting to the age now
                            where he is slowing down a little bit, and we’ve seen a great improvement in his mobility
                            since introducing them daily!</p>
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'arnie.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Arnie</span>
                    <span class="meet-list-us-role">InTerrier Designer</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'arnie_p.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Andrew">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Arnie">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="1 year">
                    <input type="hidden" class="hidden-content-prod-info" value="dog-itching-treatment">

                    <div class="hidden-content-meet" style="display: none!important;">
                        

                        <p><strong>What are your favorite activities to do with each other?</strong> We love to play
                            “fetch” in the park. We also love to go on long countryside walks, which inevitably end in
                            the pub. And, we enjoy watching football together on the couch.</p>

                        <p><strong>Why did you get your pet?</strong> My girlfriend has been begging for a Boston
                            Terrier for the past 3.5 years! So, I eventually had no choice!</p>

                        <p><strong>What’s your pet’s best characteristic?</strong> Arnie always wants to be with us. If
                            we are relaxing then Arnie will want to cuddle up too. If we are being more active, then he
                            will want to play!</p>

                        <p><strong><strong>What’s your pet’s most annoying habit?</strong></strong> Arnie loves to play
                            on the stairs, which means he will always leave a few toys scattered down them...</p>

                        <p><strong>What’s your pet’s favorite toy?</strong> Arnie loves his sloth toy. It was his first
                            ever toy as a pup and has remained his favorite ever since!</p>

                        <p><strong>What’s one piece of advice you would give a new pet owner?</strong> Be 100% sure you
                            have the time for them in your life before adopting. They need more attention than you may
                            think. </p>

                            <p><strong>What’s your pet’s favorite Petlab Co. product?</strong> The <a
                                href="/products/dog-itching-treatment">Itch Relief Chews</a>! These chews make his coat
                            silky smooth!</p>
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'brian.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Brian</span>
                    <span class="meet-list-us-role">Barketing Manager</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'brian.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Sarah">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Brian">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="4½ year">
                    <input type="hidden" class="hidden-content-prod-info" value="rawhide-dog-chews">

                    <div class="hidden-content-meet" style="display: none!important;">
                       

                        <p><strong>What are your favorite activities to do with each other?</strong> We both love the
                            beach! Brian loves nothing more than to plod over pebbles and run through sand! He’s also an
                            avid sunbather, so we spend a lot of time by the sea together.</p>

                        <p><strong>Why did you get your pet?</strong> I am technically Brian’s step-mom! He was adopted
                            as part of my partner’s previous relationship and now we have a really healthy and
                                positive co-parenting set-up! So, Brian is very privileged and technically has 4
                            hoomans who love him to pieces!</p>

                        <p><strong>What’s your pet’s best characteristic?</strong> Brian loves being warm, which means
                            he’s particularly cuddly and just wants to sit on your lap all day!</p>

                        <p><strong><strong>What’s your pet’s most annoying habit?</strong></strong> Barking at the
                            doorbell! </p>

                        <p><strong>What’s your pet’s favorite toy?</strong> His bear “BearBear”!</p>

                        <p><strong>What’s one piece of advice you would give a new pet owner?</strong> Brian is a
                            Miniature Dachshund, so he has a vulnerable spine due to his length. So, really research the
                            breed you’re bringing home, as there can be a lot to consider! We have to be careful with
                            how much he jumps, how we pick him up, how much he exercises, and how much he eats so his
                            spine stays safe, and he stays healthy and happy! </p>

                            <p><strong>What’s your pet’s favorite Petlab Co. product?</strong> Brian loves the <a
                                href="/products/rawhide-dog-chews">Dog Dental Chews (Rawhide)</a>. Not only do they help
                            keep his teeth squeaky clean, but they taste great! The ultimate waggy-tail inducer in our
                            house!</p>
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'bella.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Bella</span>
                    <span class="meet-list-us-role">CFO (Chief Fetch Officer)</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'bella.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Trigg">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Bella">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="8 year">
                    <input type="hidden" class="hidden-content-prod-info" value="joint-chews-for-dogs">

                    <div class="hidden-content-meet" style="display: none!important;">
                        

                        <p> <strong>What are your favorite activities to do with each other?</strong> We enjoy going on
                            long walks by the river, playing fetch in the surf and getting the zoomies on the sand.
                            Tug-O-War is one of Bella’s favorites, especially with her rope ring! </p>

                        <p> <strong>Why did you get your pet?</strong> So, Bella was given to us by a member of the
                            family. They moved home and weren’t able to take her with them, so we adopted her. </p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> I love Bella’s personality and how
                            she always looks like she is smiling. She has a wonderful temperament, amazing with kids,
                            and gets on well with other dogs – she is the best!</p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> Her sneezing! Bella loves a belly
                            rub (what dog doesn’t?), but it means she lays upside down, on her back… which makes her
                            sneeze EVERYWHERE!</p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> She has two favorite toys… A Tug-O-War
                            rope ring and a soft giraffe teddy. Her giraffe teddy is always with her, even when we go on
                            holiday! We bought it for her when she was a puppy, and she has loved it ever since. </p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Make sure you
                            know a dog can fit into your lifestyle and you research the breed. It’s a big commitment!
                        </p>

                        <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Bella absolutely adores the
                            <a href="/products/joint-chews-for-dogs">Joint Care Chews</a>. She is a chocolate Labrador
                            with a few hip and joint issues, so these chews really help her mobility – plus she can’t
                            get enough of them! She thinks they’re delicious. </p>

                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'milo.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Milo</span>
                    <span class="meet-list-us-role">Furnancial Advisor</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'milo_p.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Rach">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Milo">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="2 year">

                    <input type="hidden" class="hidden-content-prod-info" value="cat-dental-formula">

                    <div class="hidden-content-meet" style="display: none!important;">
                        

                        <p> <strong>What are your favorite activities to do with each other?</strong> Chasing lasers
                            and snuggling on the couch for tummy tickles!</p>

                        <p> <strong>Why did you get your pet?</strong> I’ve always had cats growing up, so when I moved
                            into my own place, it just didn’t feel right to be there without a little feline-friend! The
                            moment I brought Milo home at 8 weeks old, my house automatically felt like a home. </p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> Milo thinks he’s a dog! For real.
                            He’s super sociable, loves cuddles and tummy rubs follows me everywhere, and can even “sit”
                            for treats! He’s the first indoor cat I’ve owned, and their personalities are SO different
                            to outdoor cats. Both <a
                                href="/blogs/cats/the-debate-should-your-cat-living-indoors-or-outdoors">have their
                                perks</a>, but I love the fact that he’s so sociable and friendly! </p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> He’s the most talkative cat I’ve
                            ever known! Milo just loves the sound of his own voice. He’s a bit of an attention seeker,
                            and will meow and meow at me if I’m not paying him enough attention! Milo also wakes me up
                            at 7am every morning ready to play...</p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> He has a green cactus full of catnip that
                            he carries around the house with him… Milo also enjoys stealing spatulas from my kitchen and
                            plays with them – particularly a rubber one, which is now full of little bite marks! He’s a
                            strange cat...</p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Make sure you
                            have enough time for them, as they are a big responsibility. But, it’ll be the best decision
                            you’ll ever make!</p>

                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> The <a
                                href="/products/cat-dental-formula">Cat Dental Formula</a>! As an indoor cat, Milo
                            doesn’t get to chew on plants or other natural teeth-cleaners very often. So, I have to keep
                            an eye on his teeth and gums to make sure they stay in tip-top shape!</p>
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'lola.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Lola</span>
                    <span class="meet-list-us-role">Furnancial Intern</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'lola_p.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Emilia">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Lola">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="6 months">

                    <input type="hidden" class="hidden-content-prod-info" value="cat-hairball-remedy">

                    <div class="hidden-content-meet" style="display: none!important;">
                        

                        <p> <strong>What are your favorite activities to do with each other?</strong> Lola and I love
                            cuddles together, giving her tummy rubs, and playing with her toy mouse.</p>

                        <p> <strong>Why did you get your pet?</strong> I’ve always wanted a kitten, so during the
                            COVID19 lock down, we decided to bite the bullet and commit to getting one! This meant we
                            could spend lots of time with her when she was young, and give her plenty of love.</p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> Lola is very independent, which is
                            surprising for a 6 month old kitty! I don’t think I will ever worry about leaving her home
                            alone!</p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> She loves knocking over bins and
                            crawling inside...</p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> Her toy mouse. She loves the way it
                            rattles as she plays with it!</p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Consider a cat!
                            If you can’t commit to the responsibility of a dog, cats are also great companions and need
                            a lot less attention and time.</p>
                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Lola loves the <a
                                href="/products/cat-hairball-remedy">Cat Fur Ball Remedy</a>, especially in the summer
                            months when she sheds more.</p>
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'bambi.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Bambi</span>
                    <span class="meet-list-us-role">Head Of Kenneltitics</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'bambi.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Tiff">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Bambi">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="6 years">
                    <input type="hidden" class="hidden-content-prod-info" value="joint-chews-for-dogs">

                    <div class="hidden-content-meet" style="display: none!important;">
                       

                        <p> <strong>What are your favorite activities to do with each other?</strong> My favorite
                            activity to do with her is cuddle on the couch whilst watching TV... Bambi’s favorite
                            activity is throwing her ball at me, whilst I watch TV! </p>

                        <p> <strong>Why did you get your pet?</strong> We had lost our other dog a few years prior to
                            getting Bambi, and we decided that we were ready to bring another furry friend into our
                            home! </p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> She thinks she’s human! Which just
                            makes her all the more adorable. </p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> Throughout the day, Bambi lays all
                            her toys out next to her and never puts them back! She also loves getting into a screaming
                            match with our resident parrot... But, other than that she’s absolutely perfect! </p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> You’ll never see her without her favorite
                            elephant chew toy that we got her when she was just a little pup. And, of course, said
                            ball... </p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Owning a pet is
                            a commitment, so make sure you have the time and patience to train and care for them! Make
                            sure to give them the love and attention they deserve, and in return, they’ll bring so much
                            joy to your family and home! </p>
                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> The <a
                                href="/products/joint-chews-for-dogs">Joint Care Chews</a> and <a
                                href="/products/dog-itching-treatment">Itch Relief Chews</a>! As a Sheltie, Bambi is
                            prone to canine hip and allergy issues, and she’s particularly bad with licking her paws. The
                            <a href="/products/joint-chews-for-dogs">Joint Care Chews</a> help her get up and down off
                            the couch with ease... (And not leave a wet patch behind!)</p>
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'indie.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Indie</span>
                    <span class="meet-list-us-role">Pawwfice Manager</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'indie.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Liv">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Indie">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="7 years">

                    <input type="hidden" class="hidden-content-prod-info" value="dog-itching-treatment">

                    <div class="hidden-content-meet" style="display: none!important;">
                        
                        <p> <strong>What are your favorite activities to do with each other?</strong> We really enjoy
                            going on lovely long walks together. </p>

                        <p> <strong>Why did you get your pet?</strong> We always wanted a dog, and the time was right.
                        </p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> Indie is excellent at snuggles. We
                            love it when she snuggles with us!</p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> Indie likes to “talk”, and when she
                            does, she’s loud!</p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> She loves her Husky Teddy to bits!</p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Dogs are super
                            smart! Smarter than we give them credit for, and that’s worth remembering as a pet parent.
                        </p>
                        <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Indie loves the <a
                            href="/products/dog-itching-treatment">Itch Relief Chews</a>! They soothe her skin, and
                        give her a wonderful, silky coat!</p>

                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'buddy.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Buddy</span>
                    <span class="meet-list-us-role">Purrrrsonal Assistant</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'buddy_p.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Dan">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Buddy">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="4 years">

                    <input type="hidden" class="hidden-content-prod-info" value="cat-hairball-remedy">

                    <div class="hidden-content-meet" style="display: none!important;">
                        

                        <p> <strong>What are your favorite activities to do with each other?</strong> Weird to admit to
                            but... Sleeping! When I head to bed, Buddy likes to come and curl up in my arm to go to
                            sleep.</p>

                        <p> <strong>Why did you get your pet?</strong> Buddy was an anniversary present!</p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> Buddy is very social, and he is
                            happy to be handled.</p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> Buddy wakes me up by climbing on
                            top of me, wanting me to feed him!</p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> He loves this piece of old string...</p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Put covers on
                            your couch – Buddy is one to scratch the furniture!</p>
                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Buddy is a big fan of the <a href="/products/cat-hairball-remedy">Hairball Remedy</a>. Cats are self-grooming, so this helps prevent horrible hairballs and keeps his tummy happy!</p>
                    </div>
                </div>
            </div>
            <!-- <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'dahlia.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Dahlia</span>
                    <span class="meet-list-us-role">VPP (Vice President Of Petting)</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'dahlia_p.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Kev">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Dahlia, aged 3">
                    <input type="hidden" class="hidden-content-prod-info" value="beef-liver-dog-treats">

                    <div class="hidden-content-meet" style="display: none!important;">
                        

                        <p> <strong>What are your favorite activities to do with each other?</strong> We love to go
                            hiking, and riding motorcycles together!</p>

                        <p> <strong>Why did you get your pet?</strong> I was going through a really tough time in my
                            life, and I thought a companion would help get me through... Dahlia did just that. </p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> Besides her general loving
                            temperament, Dahlia has the ability to feel my emotions and react accordingly. Positive or
                            negative, she is really emotionally intelligent and in tune with me. So much so that I have
                            had her officially registered as an Emotional Support Animal. </p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> When she gets excited, Dahlia
                            excessively whines!</p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> Dahlia loves her Tug-O-War rope and
                            chasing a tennis ball in the yard. </p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> When you’re <a
                                href="/blogs/dogs/potty-training-your-new-puppy">training your dog</a>, constant
                            reinforcement and routine is essential – don’t get complacent! Oh, and be prepared to give
                            lots of love!</p>

                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Dahlia loves the <a
                                href="/products/beef-liver-dog-treats">Beef Liver Bites</a>! They’re her favourite
                            treat. We also use the <a href="/products/dog-dental-formula">Dog Dental Formula</a>. It’s
                            done wonders for her breath and her plaque has pretty much disappeared altogether in the
                            last few months!</p>
                    </div>
                </div>
            </div> -->
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'bruno.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Bruno</span>
                    <span class="meet-list-us-role">Senior Growlth Hacker</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'bruno.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Tea">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Bruno">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="16 years">

                    <input type="hidden" class="hidden-content-prod-info" value="dog-itching-treatment">

                    <div class="hidden-content-meet" style="display: none!important;">
                        
                        <p> <strong>What are your favorite activities to do with each other?</strong> We love to
                            cuddle, and take walks together (shorter and slower ones now he’s a senior pooch!)</p>

                        <p> <strong>Why did you get your pet?</strong> Bruno was abandoned as a puppy, so we took him
                            in and gave him a forever home!</p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> Bruno is really intelligent and
                            incredibly loyal.</p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> Bruno can be rather possessive at times.
                        </p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> He loves his chewing rope and can play
                            with it for hours.</p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Always have
                            patience with your pet, especially once they become seniors, like Bruno. They rely on you
                            far more as they become older. </p>
                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Bruno is super keen on the
                                <a href="/products/dog-itching-treatment">Itch Relief Chews</a>. They’re tasty, but also
                                keep his skin and coat in check!</p>
    
                    </div>
                </div>
            </div>
            <div class="meet-item-main">
                <div class="meet-item-main-container">
                    <img src="{{ 'happy.jpg' | asset_url }}" alt="">
                    <span class="meet-list-us-name">Happy</span>
                    <span class="meet-list-us-role">Head of L&D (Licking & Digging)</span>
                    <a href="">Read more about me</a>
                    <img class="hidden-content-meet-img" style="display: none!important;"
                        src="{{ 'happy_p.jpg' | asset_url }}">
                    <input type="hidden" class="hidden-content-meet-name" value="Cathrine">
                    <input type="hidden" class="hidden-content-meet-petsinfo" value="Happy">
                    <input type="hidden" class="hidden-content-meet-petsinfo-age" value="2 years">

                    <input type="hidden" class="hidden-content-prod-info" value="dental-sticks">

                    <div class="hidden-content-meet" style="display: none!important;">
                        
                        <p> <strong>What are your favorite activities to do with each other?</strong> I love to teach him tricks and we often play Fetch!</p>

                        <p> <strong>Why did you get your pet?</strong> My family had a cocker spaniel before we adopted Happy. We couldn’t live without a dog in our life!</p>

                        <p> <strong>What’s your pet’s best characteristic?</strong> He’s always happy!</p>

                        <p> <strong>What’s your pet’s most annoying habit?</strong> Happy will eat anything, anywhere...
                        </p>

                        <p> <strong>What’s your pet’s favorite toy?</strong> He loves his tennis ball!</p>

                        <p> <strong>What’s one piece of advice you would give a new pet owner?</strong> Sociliazing is just as important to dogs as it is to humans to help with behavior, as well as their mood! Try to ensure your pet makes other doggy friends.</p>
                            <p> <strong>What’s your pet’s favorite Petlab Co. product?</strong> Happy loves the <a href="/products/dental-sticks">Prebiotic Dental Sticks</a>. They keep his teeth clean and his tummy, well… Happy! </p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testim-block-about">
    <div class="container">
        <div class="white-bg-testi">
            <div class="cofounder-message">A message from Chris, Co-founder of Petlab Co.</div>

            <div class="cont-with-img">
                <div class="testi-cont-start">
                    <img src="{{ 'about-comas-first.png' | asset_url }}" alt="">
                    <p>Petlab Co. is an important venture
                        for me, for an unfortunately heartbreaking reason. A few years back, I had to make the difficult
                        decision every owner dreads
                        – to put my pup to sleep.<img src="{{ 'about-comas-second.png' | asset_url }}" alt=""></p>
                </div>
                <div class="testi-img-main">
                    <img src="{{ 'about-image-1.png' | asset_url }}" alt="">
                    <span><strong>Zeeko</strong> - CTO (Chief Tasting Officer)</span>
                </div>
            </div>
            <div class="main-test-cont-about">
                <p>Although she lived a long and happy life, passing away at 17 years old, she experienced arthritic
                    pain for the last 4 years of it and was struggling to walk. I felt a lot of guilt around whether I
                    could have done more in terms of supplementation to support her properly.</p>
                <p>This led me to want to create Petlab Co. with my good friend Damian, who is also a big animal lover
                    (his dog Zeeko is our official CTO – Chief Tasting Officer!) and foster a community of people who
                    all collectively believe that having a pet is a privilege and a joy, and want to ensure thousands of
                    dogs have a healthy, happier and pain-free life.</p>
                <p>We’re so happy you’re here. Welcome to the Petlab Co. family!</p>
            </div>
            <div class="testi-cont-end">
                <p class="testi-cont-end-minus">-</p>
                <p class="testi-cont-end-name">Chris</p>
                <p class="testi-cont-end-role">Cofounder of Petlab Co.</p>
            </div>
        </div>
    </div>
</section>
<script>
    jQuery.fn.slideLeftHide = function (speed, callback) {
        this.animate({
            width: "hide",
            paddingLeft: "hide",
            paddingRight: "hide",
            marginLeft: "hide",
            marginRight: "hide"
        }, speed, callback);
    }

    jQuery.fn.slideLeftShow = function (speed, callback) {
        this.animate({
            width: "show",
            paddingLeft: "show",
            paddingRight: "show",
            marginLeft: "show",
            marginRight: "show"
        }, speed, callback);
    }
    jQuery(document).ready(function ($) {
        if($(window).width() <= 700){
            $('.meet-popup-info').css('height',($(window).height()-72)+'px');
            // $('.meet-popup-info-product').css('height',($('.meet-popup-info-product').height()+80)+'px');
            // $('.meet-popup-info-wrap').css('height',($('.meet-popup-info').height()-$('.meet-popup-info-product').height()) + 'px');
        }

        $('.meet-item-main .meet-item-main-container,.meet-item-main .meet-item-main-container>img,.meet-item-main a').on('click', function (event) {
            event.preventDefault();
            $('body').addClass('my-body-noscroll-class');
            if($(this).hasClass('meet-item-main-container')){
                var item = this;
            }else{
                var item = $(this).parents('.meet-item-main-container')[0];
            }
            $('.meet-popup-info').find('.meet-popup-content-l img').attr("src", $(item).find('.hidden-content-meet-img').attr('src'));
            $('.meet-popup-info').find('h4').text($(item).find('.meet-list-us-name').text());
            $('.meet-popup-info').find('h5').text($(item).find('.meet-list-us-role').text());
            $('.meet-popup-info').find('.meet-popup-l-name > span').text($(item).find('.hidden-content-meet-name').val());
            $('.meet-popup-info').find('.meet-popup-l-pet > span').text($(item).find('.hidden-content-meet-petsinfo').val());
            $('.meet-popup-info').find('.meet-popup-l-pet-age > span').text($(item).find('.hidden-content-meet-petsinfo-age').val());
            $('.meet-popup-info').find('.meet-popup-content-r p').html($(item).find('.hidden-content-meet').html());
            $('.meet-popup-info-product-row').hide();
            $('.meet-popup-info-product-row'+'.'+$(item).find('.hidden-content-prod-info').val()).show();

            $('.meet-popup-info-blure').show();
            $('.meet-popup-info').slideLeftShow();
            if($(window).width() <= 700){
                $('.meet-popup-info').scrollTop(0);
            // $('.meet-popup-info-wrap').css('height',($('.meet-popup-info').height()-$('.meet-popup-info-product').height()) + 'px');
            }
            $('.meet-popup-info').find('.meet-popup-content-r').eq(0).scrollTop(0);
            // if($(window).width() <= 700){
                $('.meet-popup-info').find('.meet-popup-content').eq(0).scrollTop(0);
            // }
            if($(window).width() > 700 && $(window).height() <= 1280){
            $('.meet-popup-content').css('height',($('.meet-popup-info').height()-$('.meet-popup-info-product').height()-130) + 'px');
            }
        });
        $('.meet-popup-info-blure,.btn-close-popup-meet, .close-meet-popup').on('click', function () {
            $('body').removeClass('my-body-noscroll-class');
            $('.meet-popup-info-blure').hide();
            $('.meet-popup-info').slideLeftHide();
        })
    });
</script>
<div class="meet-popup-info-blure"></div>
<div class="meet-popup-info">
    <div class="meet-popup-info-wrap">
        <div class="btn-close-popup-meet"></div>
        <div class="meet-popup-content">

            <div class="meet-popup-content-row">
                <div class="meet-popup-content-l">
                    <div class="meet-popup-content-l-row">
                        <div class="meet-popup-content-l-column">
                            <div>
                                <h4></h4>
                                <h5></h5>
                            </div>
                            <div class="meet-popup-l-name-age-block">
                                <span class="meet-popup-l-name"><strong>Parents Name:</strong> <span></span></span>
                                <span class="meet-popup-l-pet"><strong>Pups Name:</strong> <span></span></span>
                                <span class="meet-popup-l-pet-age"><strong>Pups Age:</strong> <span></span></span>
                            </div>
                        </div>
                        <div class="meet-popup-content-l-column-image">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <div class="meet-popup-content-r">
                    <p>
                        <strong>What’s your pet’s favorite Petlab Co. product?</strong> The <a
                            href="/products/cat-dental-formula">Cat Dental Formula</a>! As an indoor cat, Milo doesn’t
                        get to chew on plants or other natural teeth-cleaners very often. So, I have to keep an eye on
                        his teeth and gums to make sure they stay in tip-top shape!

                        <strong>What are your favorite activities to do with each other?</strong> Chasing lasers and
                        snuggling on the couch for tummy tickles!

                        <strong>Why did you get your pet?</strong> I’ve always had cats growing up, so when I moved
                        into my own place, it just didn’t feel right to be there without a little feline-friend! The
                        moment I brought Milo home at 8 weeks old, my house automatically felt like a home.

                        <strong>What’s your pet’s best characteristic?</strong> Milo thinks he’s a dog! For real. He’s
                        super sociable, loves cuddles and tummy rubs follows me everywhere, and can even “sit” for
                        treats! He’s the first indoor cat I’ve owned, and their personalities are SO different to
                        outdoor cats. Both <a
                            href="/blogs/cats/the-debate-should-your-cat-living-indoors-or-outdoors">have their
                            perks</a>, but I love the fact that he’s so sociable and friendly!

                        <strong>What’s your pet’s most annoying habit?</strong> He’s the most talkative cat I’ve ever
                        known! Milo just loves the sound of his own voice. He’s a bit of an attention seeker, and will
                        meow and meow at me if I’m not paying him enough attention! Milo also wakes me up at 7am every
                        morning ready to play...

                        <strong>What’s your pet’s favorite toy?</strong> He has a green cactus full of catnip that he
                        carries around the house with him… Milo also enjoys stealing spatulas from my kitchen and plays
                        with them – particularly a rubber one, which is now full of little bite marks! He’s a strange
                        cat...

                        <strong>What’s one piece of advice you would give a new pet owner?</strong> Make sure you have
                        enough time for them, as they are a big responsibility. But, it’ll be the best decision you’ll
                        ever make!
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="meet-popup-info-product">
        <div class="meet-popup-info-product-row joint-chews-for-dogs">
            <div class="meet-popup-info-product-col-img">
                <img src="{{ 'meet-popup-pr-img.png' | asset_url }}" alt="">
            </div>
            <div class="meet-popup-info-product-col-cont">
                <strong>Joint Care Chews</strong>
                <p>Joint Our dog joint chews are designed to support the long-term health of connective tissues, especially pertinent for aging dogs.</p>
                <a href="/products/joint-chews-for-dogs">SHOP NOW</a>
            </div>
        </div>

        <div class="meet-popup-info-product-row dog-itching-treatment">
            <div class="meet-popup-info-product-col-img">
                <img src="{{ 'itch-relief-for-dog.meet.jpg' | asset_url }}" alt="">
            </div>
            <div class="meet-popup-info-product-col-cont">
                <strong>Itch Relief Chews</strong>
                <p>Our chews help to support a reduction in overall itchiness and are able to improve the condition of your dog’s skin and coat health.</p>
                <a href="/products/dog-itching-treatment">SHOP NOW</a>
            </div>
        </div>


        <div class="meet-popup-info-product-row rawhide-dog-chews">
            <div class="meet-popup-info-product-col-img">
                <img src="{{ 'dog-dental-chews-rawhide.meet.jpg' | asset_url }}" alt="">
            </div>
            <div class="meet-popup-info-product-col-cont">
                <strong>Dog Dental Chews (Rawhide)</strong>
                <p>Our rawhide chews are a tasty and satisfying way to ensure healthier teeth and gums for your dog.</p>
                <a href="/products/rawhide-dog-chews">SHOP NOW</a>
            </div>
        </div>

        <div class="meet-popup-info-product-row cat-dental-formula">
            <div class="meet-popup-info-product-col-img">
                <img src="{{ 'cat-dental-formula.meet.jpg' | asset_url }}" alt="">
            </div>
            <div class="meet-popup-info-product-col-cont">
                <strong>Cat Dental Formula</strong>
                <p>Dental disease can be extremely common cats, whether they are indoor or outdoor. </p>
                <a href="/products/cat-dental-formula">SHOP NOW</a>
            </div>
        </div>

        <div class="meet-popup-info-product-row cat-hairball-remedy">
            <div class="meet-popup-info-product-col-img">
                <img src="{{ 'cat-hairball-remedy.meet.jpg' | asset_url }}" alt="">
            </div>
            <div class="meet-popup-info-product-col-cont">
                <strong>Cat Hairball Remedy</strong>
                <p>Hairballs can be distressing - in many different ways! Stepping on them in the morning</p>
                <a href="/products/cat-hairball-remedy">SHOP NOW</a>
            </div>
        </div>

        <div class="meet-popup-info-product-row beef-liver-dog-treats">
            <div class="meet-popup-info-product-col-img">
                <img src="{{ 'beef-liver-dog-treats.meet.jpg' | asset_url }}" alt="">
            </div>
            <div class="meet-popup-info-product-col-cont">
                <strong>Beef Liver Dog Treats</strong>
                <p>Unfortunately, there are many dog treats on the market today that are packed with unhealthy, indigestible and even toxic ingredients.</p>
                <a href="/products/beef-liver-dog-treats">SHOP NOW</a>
            </div>
        </div>

        <div class="meet-popup-info-product-row dental-sticks">
            <div class="meet-popup-info-product-col-img">
                <img src="{{ 'prebiotic-dental-steeks.meet.webp' | asset_url }}" alt="">
            </div>
            <div class="meet-popup-info-product-col-cont">
                <strong>Prebiotic Dental Sticks</strong>
                <p>Our prebiotic dental sticks for dogs contain high-quality and anti-inflammatory ingredients</p>
                <a href="/products/dental-sticks">SHOP NOW</a>
            </div>
        </div>

    </div>
</div>
<section class="our-goals-block">
    <div class="container">
        <h2>Our Core Values</h2>
        <div class="our-goals-block-container">
            <div class="our-goals-block-container-text">
                <div class="our-goals-block-container-text-heading">Improving The Lives Of Pets</div>
                <div class="our-goals-block-container-text-cont">Here at Petlab Co., we are driven singularly by one
                    very important goal: to improve the lives of all pets. Period. This comes in many forms; providing a
                    tasty chew that promotes your dog’s joint health, enabling them to run again, a chew that helps to
                    stop your pup from itching, or a treat that simply promotes teeth and gum health.</div>
            </div>
            <div class="our-goals-block-container-img">
                <img src="{{ 'our-goals-1.png' | asset_url }}" />
            </div>
        </div>
        <div class="our-goals-block-container">
            <div class="our-goals-block-container-text">
                <div class="our-goals-block-container-text-heading">Our Commitment To Quality</div>
                <div class="our-goals-block-container-text-cont">If an ingredient, vitamin, or mineral is not top
                    quality, then it will not make it into any of our products! Our commitment to quality is second to
                    none. With a dedicated team, our research is extensive and never-ending, so you can have confidence
                    in all of our products.</div>
            </div>
            <div class="our-goals-block-container-img">
                <img src="{{ 'our-goals-2.png' | asset_url }}" />
            </div>
        </div>
        <div class="our-goals-block-container">
            <div class="our-goals-block-container-text">
                <div class="our-goals-block-container-text-heading">Building Loving Communities</div>
                <div class="our-goals-block-container-text-cont">Building loving, thriving, and active communities
                    around the love of cats, dogs, and all pets no matter their size or shape, is especially important
                    to all of us here at Petlab. We are so proud to have thriving communities on Facebook, Reddit, and
                    around the globe; digitally and physically.</div>
            </div>
            <div class="our-goals-block-container-img">
                <img src="{{ 'our-goals-3.png' | asset_url }}" />
            </div>
        </div>
        <a href="https://petlab.com/pages/testimonials">View our customer success stories</a>
    </div>
</section>
<section class="find-us-social">
    <div class="container">
        <h4>Find Us On Your Socials</h4>
        <ul>
            <li><a href="https://www.facebook.com/The-Pet-Lab-177930899801067/" target="_blank"><img
                        src="{{ 'about-icon-fb.png' | asset_url }}" alt=""></a></li>
            <li><a href="https://www.instagram.com/thepetlabco/" target="_blank"><img
                        src="{{ 'about-icon-ins.png' | asset_url }}" alt=""></a></li>
            <li><a href="https://www.youtube.com/channel/UC6KUjrcA17_7XxOhVDo5pmg" target="_blank"><img
                        src="{{ 'about-icon-yb.png' | asset_url }}" alt=""></a></li>
        </ul>
    </div>
</section>
{% endcapture %}
{% include 'password-protect' %}