{% capture captured_page %}
  {% section 'product' %}

{% unless product.handle != 'poop-bags-1-x-packet' %}
<script>
		window.location.replace( '/products/poo-bags' );
	</script>
{% endunless %}

{% comment %}
  The contents of the product.main.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% comment %}
{% if collection.handle contains 'homepage' %}
  <img class="donate-img" src="{{ 'dogmeat.jpg' | asset_url }}" style="width: 100%;"/>
{% endif %}
{% endcomment %}

{% section 'product-template' %}

{% if product.handle == "joint-health-chews" or product.handle == 'joint-chews-for-dogs' %}
  {% section 'product-joint-health-chews' %}
{% elsif product.handle == 'dental-chews' or product.handle == 'rawhide-dog-chews' %}
  {% section 'product-dental-chews' %}
{% elsif product.handle == 'heart-health-chews' or product.handle == 'heart-supplements-for-dogs' or product.handle == 'heart-health-chews-vip' %}
  {% section 'product-heart-health-chews' %}
{% elsif product.handle == 'multivitamin-chew' or product.handle == 'dog-multivitamin' %}
  {% section 'product-multivitamin-chew' %}
{% elsif product.handle == 'calming-chews' or product.handle == 'calming-chews-for-dogs' %}
  {% section 'product-calming-chews' %}
{% elsif product.handle == 'shedding-formula' or product.handle == 'dog-shedding-supplement' %}
  {% section 'product-shedding-formula' %}
{% elsif product.handle == 'dental-formula' or product.handle == 'dog-dental-formula' %}
  {% section 'product-dental-formula' %}
{% elsif product.handle == 'cat-dental-formula' or product.handle == 'cat-dental-formula-vip' %}
  {% section 'product-cat-dental-formula' %}
{% elsif product.handle == 'fur-ball-remedy' or product.handle == 'cat-hairball-remedy' or product.handle == 'fur-ball-remedy-vip' %}
  {% section 'product-fur-ball-remedy' %}
{% elsif product.handle == 'itch-relief-shampoo' or product.handle == 'anti-itch-dog-shampoo' or product.handle == 'itch-relief-shampoo-vip' or product.handle == 'itch-relief-dog-shampoo' %}
  {% section 'product-itch-relief-shampoo' %}
{% elsif product.handle == 'itch-relief-chews' or product.handle == 'dog-itching-treatment' %}
  {% section 'product-itch-relief-chews' %}
{% elsif product.handle == 'clear-eyes' or product.handle == 'clear-eye-chews' %}
  {% section 'product-clear-eyes' %}
{% elsif product.handle == 'beef-liver-bites' or product.handle == 'beef-liver-dog-treats' or product.handle == 'beef-liver-dog-treats-vip' %}
  {% section 'product-beef-liver-bites' %}
{% elsif product.handle == 'chicken-liver-bites' or product.handle == 'chicken-liver-dog-treats' or product.handle == 'chicken-liver-dog-treats-vip' %}
  {% section 'product-chicken-liver-bites' %}
{% elsif product.handle == 'dental-sticks' or product.handle == 'dental-sticks-weekly' %}
  {% section 'product-dental-sticks' %}
{% elsif product.handle == 'cat-joint-supplement-uti-support' or product.handle == 'joint-uti-support-vip' %}
  {% section 'product-cat-joint-supplement-uti-support' %}
{% elsif product.handle == 'probiotic-chews-dogs' %}
  {% section 'product-prebiotic-chews-dogs' %}
{% elsif product.handle == 'salmon-bites-dogs' %}
  {% section 'product-salmon-bites-dogs' %}
{% elsif product.handle == 'digestive-support-bites' %}
  {% section 'product-digestive-support-bites' %}
{% elsif product.handle == 'puppy-vitamin-chew' or product.handle == 'puppy-all-in-one-vitamin-vip' %}
  {% section 'product-puppy-vitamin-chew' %}
{% elsif product.handle == 'senior-vitamin-vitality' or product.handle == 'senior-vitality-chews-vip' %}
  {% section 'product-senior-vitamin-vitality' %}
{% elsif product.handle == 'cat-dog-ear-cleaner' or product.handle == 'clear-ears-therapy-vip' %}
  {% section 'product-cat-dog-ear-cleaner' %}
{% elsif product.handle == 'wild-alaskan-salmon-formula' %}
  {% section 'product-wild-alaskan-salmon-formula' %}
{% elsif product.handle == 'allergy-treat-for-dogs' or product.handle == 'aller-omega-chew-vip' %}
  {% section 'product-allergy-treat-for-dogs' %}
{% elsif product.handle == 'superfood-training-treats' or product.handle == 'superfood-training-treats-vip' %}
  {% section 'product-superfood-training-treats' %}
{% elsif product.handle == 'poo-bags' %}
  {% section 'product-poo-bags' %} 
{% elsif product.handle == 'brain-support-chews' or product.handle == 'brain-support-chews-vip' %}
  {% section 'product-brain-support-chews' %}
{% elsif product.handle == 'itch-relief-targeted-mousse' %}
  {% section 'product-template-itch-relief-targeted-mousse' %} 
{% elsif product.handle == 'dog-poop-bag-holder' %}
  {% section 'product-template-dog-poop-bag-holder' %}
{% elsif product.handle == 'dog-squeaky-toy' %}
  {% section 'product-template-dog-squeaky-toy' %}
{% else %}
  {% comment %}
  {% section 'product-additional' %}
  {% endcomment %}

  <div class="row">
    <div class="container">
      <div class="yotpo yotpo-main-widget"
        data-product-id="{{ product.id }}"
        data-price="{{ variant.price | money_without_currency }}"
        data-currency="{{ shop.currency }}"
        data-name="{{ product.title | escape }}"
        data-url="{{ shop.url }}{{ product.url }}"
        data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
        data-description="{{ product.description | escape }}">
      </div>
    </div>
  </div>
{% endif %} 
{% endcapture %}
{% include 'password-protect' %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
