<div class="all_icons_mobile">
  <div class="ham"><i class="fa fa-bars"></i><span>BROWSE CATEGORIES</span> </div>
  <ul>
    {% for link in linklists.blogs_redesign.links %}
      <li>
        <a href="{{ link.url }}">
          <div class="text-center">
            <strong>{{ link.title }}</strong>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="blogs_categories_list">
  <div class="all_icons">
    {% for link in linklists.blogs_redesign.links %}
      <div class="blog-icon">
        <a href="{{ link.url }}" {% if link.active and current_tags contains link.title or  link.active and current_tags == blank   %} class="active_category" {% endif %}>
          <div class="text_right">
            <strong>{{ link.title }}</strong>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>