{% if article != blank %}
<div class="sidebar medium-down--one-whole">
  <div class="sidebar_content toggle-all--{{ section.settings.toggle }}">
    {% if article.metafields.rela_blo_products.related_product != blank %}
    <div class="sidebar-block">
      <!--SIDEBAR PROPOSALS: BEGIN-->
      {% assign selected_handles = article.metafields.rela_blo_products.related_product | split: '|' %}
      <div class="sidebar-proposals">
        <h3 class="sidebar-proposals--title">Recommended products</h3>
        {% for selected_handle in selected_handles %}
          {% if all_products[selected_handle].images[1] != blank %}
            {% assign secondary_image = all_products[selected_handle].images[1] %}
          {% else %}
            {% assign secondary_image = all_products[selected_handle].featured_image %}
          {% endif %}
          <div class="sidebar-proposals--item">
              <img src="{{ secondary_image | img_url: '100x' }}" alt="{{ all_products[selected_handle].title }}">
              <h4 class="sidebar-proposals--item_title">{{ all_products[selected_handle].title }}</h4>
              <p class="sidebar-proposals--item_price">{{ all_products[selected_handle].price | money }}</p>
              <a class="sidebar-proposals--item_link" href="{{ all_products[selected_handle].url }}">Shop</a>
          </div>
        {% endfor %}
      </div>
      <!--SIDEBAR PROPOSALS: END-->
    </div>
    {% else %}
    <div class="sidebar-block">
      <!--SIDEBAR PROPOSALS: BEGIN-->
      <div class="sidebar-proposals">
        <h3 class="sidebar-proposals--title">Recommended products</h3>
        {% for selected_handle in collections['dog'].products limit:3%}
          {% if selected_handle.images[0] != blank %}
            {% assign secondary_image = selected_handle.images[1] %}
          {% else %}
            {% assign secondary_image = selected_handle.featured_image %}
          {% endif %}
          <div class="sidebar-proposals--item">
              <img src="{{ secondary_image | img_url: '100x' }}" alt="{{ selected_handle.title }}">
              <h4 class="sidebar-proposals--item_title" style="margin-bottom: 0;">{{ selected_handle.title }}</h4>
              {% if selected_handle.title == 'Joint Care Chews' %}    
                <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin-top:0;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="XJCSC1,JCSC1,SUB-JCSC1,JHC1,SUB-JHC1,SUB-JCSC2,JHC2,SUB-JCSC3,JHC3,JCMV1,JCMV2,JHC4,SUB-JCMV1,JCSC4,JCSC3,JCSC2,SUB-JCSC4,PRE-JCSC1,PRE-JCSC4"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
                {% elsif selected_handle.title == 'Itch Relief For Dogs' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="REC-IRC2 ,IRC4,REC-IRC3,IRC1,IRC3,SUB-IRC1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Dog Dental Formula' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="SUB-MTW1,MTW4,MTW2,MTW1,MTW3,SUB-MTW2,MTW6,SUB-MTW3"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Dog Dental Chews (Rawhide)' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="DHC4,DHC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Clear Eye Chews' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="TSC3,TSC4,TSC1,TSC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Calming Chews' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="SUB-CHSC1,SUB-CHSC4,CHSC2,CHSC3,CHSC1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Dog Multivitamin' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="MVC4,SUB-MVC1,MVC1,MVC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Cat Dental Formula' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="DFC1,DFC2,DFC4,SUB-DFC1,SUB-DFC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Heart Health Chews' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="HHC1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Beef Liver Dog Treats' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="BLT2,BLT1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Chicken Liver Dog Treats' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="CLB1,CLB3"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.handle == 'dental-sticks-weekly' or selected_handle.handle == 'dental-sticks' %}
            <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="PDS4"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% elsif selected_handle.title == 'Anti-Itch Dog Shampoo' %}
                <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin-top:0;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="XJCSC1,JCSC1,SUB-JCSC1,JHC1,SUB-JHC1,SUB-JCSC2,JHC2,SUB-JCSC3,JHC3,JCMV1,JCMV2,JHC4,SUB-JCMV1,JCSC4,JCSC3,JCSC2,SUB-JCSC4,PRE-JCSC1,PRE-JCSC4"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            {% endif %}
            <div class="h-list-product--price-wrap">
              <p class="sidebar-proposals--item_price" ><s>{{ selected_handle.price | money }}</s></p>
              {% for varian in selected_handle.variants %}
                {% assign pr_price = varian.metafields.subscriptions.discount_variant_price %}
                {% assign pr_main_id = varian.metafields.subscriptions.discount_variant_id  %}
                  {% break %}
                {% endfor %} 
                <p class="sidebar-proposals--item_price" >${{ pr_price }}</p>
              </div>
              <a class="sidebar-proposals--item_link" href="{{ selected_handle.url }}">Shop</a>
          </div>
        {% endfor %}
      </div>
      <!--SIDEBAR PROPOSALS: END-->
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% if section.blocks.size > 0 %}
  <div class="sidebar medium-down--one-whole">
    <div class="sidebar_content toggle-all--{{ section.settings.toggle }}">
      
      {% for block in section.blocks %}
        <div class="sidebar-block {% if block.type == 'menu' %}sidebar-block--categories{% endif %}" {{ block.shopify_attributes }}>
          
          {% if block.type == 'menu' %}
            {% assign sidebar_menu = linklists[block.settings.custom_menu_linklist] %}
            {% if sidebar_menu != blank %}
              <h4 class="sidebar_block--header">browse our articles</h4>
              <ul class="sidebar_menu--list">
                {% for link in sidebar_menu.links %}
                  {% if link.active %}
                    {% assign active_link = true %}
                  {% else %}
                    {% assign active_link = false %}
                    {% for sub_link in linklists[link.handle].links %}
                      {% if sub_link.active %}
                        {% assign active_link = true %}
                      {% else %}
                        {% for sub_sub_link in linklists[sub_link.handle].links %}
                          {% if sub_sub_link.active %}
                            {% assign active_link = true %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <li class="col_{{link.handle}}">
                    <a class="{% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <h4 class="sidebar_block--header">Menu title</h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'search' %}
            <form class="blog_search" action="/search">
              <input type="hidden" name="type" value="article" />
              <span class="icon-search search-submit"></span>
              <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.title' | t }} {{ blog.title | escape }}..." autocapitalize="off" autocomplete="off" autocorrect="off" value="{{ search.terms }}" />
            </form>

          {% elsif block.type == 'newsletter' %}
            {% if block.settings.newsletter_title != blank %}
              <h4 class="newsletter-block__title">{{ block.settings.newsletter_title }}</h4>
            {% endif %}
            {% if block.settings.newsletter_text != blank %}
              <div class="newsletter-block__text">{{ block.settings.newsletter_text }}</div>
            {% endif %}
            {% include 'newsletter-form' %}

          {% elsif block.type == 'recent_posts' %}
            <h4 class="sidebar_block--header">{{ 'blogs.sidebar.recent_articles' | t }}</h4>
            <ul class="toggle_list featured-article__block">
              {% for i in (1..6) %}
                {% assign article_id = 'featured_article_' | append: i %}
                {% assign article_handle = block.settings[article_id] %}
                {% assign article_obj = articles[article_handle] %}
                {% if i == 1 %}
                  <li class="featured-article__full">
                    <img src="{{ article_obj.image | img_url: '380x' }}">
                    <h4><a href="{{ article_obj.url }}" title="{{ article_obj.title | escape }}">{{ article_obj.title }}</a></h4>
                  </li>
                {% elsif i<5 %}  
                  <li class="featured-article__flex">
                    <img src="{{ article_obj.image | img_url: '180x' }}">
                    <h4><a href="{{ article_obj.url }}" title="{{ article_obj.title | escape }}">{{ article_obj.title }}</a></h4>
                  </li>
                  {% if i == 4 %}<div class="feature_divider"></div>{% endif %}
                {% elsif i<7 %}  
                  <li class="featured-article__list">
                    <p><a href="{{ article_obj.url }}" title="{{ article_obj.title | escape }}">{{ article_obj.title }}</a></p>
                  </li>  
                  <div class="feature_divider"></div>
                {% endif %}
              {% endfor %}
              <a href="/blogs/petlab" class="btn-green">READ ALL</a>
            </ul>

          {% elsif block.type == 'post_tags'  %}
            <h4 class="toggle">{{ 'blogs.sidebar.categories' | t }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list">
              {% for tag in blogs[blog_handle].all_tags %}
                <li>
                  <a href="{{ shop.url}}/blogs/{{ blogs[blog_handle].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[blog_handle].title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'page' %}
            {% if block.settings.content_page != blank %}
              <h4 class="toggle">{{ pages[block.settings.content_page].title }}<span class="right icon-down-arrow"></h4>
              <ul class="toggle_list content_block">
                <li>{{ pages[block.settings.content_page].content }}</li>
              </ul>
            {% else %}
              <h4 class="toggle">Page title<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'text' %}
            <h4 class="toggle">{{ block.settings.title }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list content_block">
              <li>{{ block.settings.text }}</li>
            </ul>
          {% elsif block.type == 'banner' %}
              <a href="{{ block.settings.button_url }}" target="_blank"><img src="{{ block.settings.banner_image | img_url: '380x' }}"></a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
