<div class="collection__banner">
  {% if section.settings.image != blank %}
    <div class="lazyload bg-image" data-bgset="{% include 'responsive-bg-image', image: section.settings.image %}"></div>
  {% endif %}

  <div class="collection__banner-capture">
    {% if section.settings.subtitle %}
      <h3>{{ section.settings.subtitle }}</h3>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.text %}
      {{ section.settings.text }}
    {% endif %}
  </div>

</div>
