<div class="collection__filter" data-collection-filter>

  <a class="collection__filter-close hide-md hide-lg" data-collection-filter-toggle href="">
    {% include 'icon-close' %}
  </a>
  <div class="collection__filter-inner">
    <h2 class="collection__filter-title hide-md hide-lg">{{ 'collections.general.filter' | t }}</h2>
    <div class="collection__filter-item">
      <h3>{{ 'collections.general.sort' | t }}</h3>
      <ul>
        <li><a data-sort="best-selling" href="#">Best Sellers</a></li>
        <li><a data-sort="created-descending" href="#">What's New</a></li>
      </ul>
    </div>
    {% for block in section.blocks %}
      {% if block.settings.filter_linklist != blank %}
        {%- assign filter_linklist = linklists[block.settings.filter_linklist] -%}
        {%- assign filter_linklist_title = filter_linklist.title | downcase -%}
        <div class="collection__filter-item {% if filter_linklist_title contains 'pet' %}collection__filter-item--pet{% endif %}">
          <h3>{{ filter_linklist.title }}</h3>
          {% if filter_linklist.links.size > 0 %}
            <ul>
              {% for link in filter_linklist.links %}
                <li {% if link.url contains 'dog' %} class="collection__filter-dog" {% elsif link.url contains 'cat' %} class="collection__filter-cat" {% endif %}>
                  <a href="{{ link.url }}" {% if link.active %} class="active" {% endif %}>
                    {% if link.url contains 'dog' %}
                      <img src="{{ 'filter-dog.png'| asset_img_url: 'master' }}" alt="">
                    {% elsif link.url contains 'cat' %}
                      <img src="{{ 'filter-cat.png'| asset_img_url: 'master' }}" alt="">
                    {% else %}
                      {{link.title}}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>