<style>
  {{ settings.font_heading | font_face }}
  {{ settings.font_body | font_face }}

  {%- assign font_body_bold = settings.font_body | font_modify: 'weight', 'bolder' -%}
  {%- assign font_body_bold_italic = font_body_bold | font_modify: 'style', 'italic' -%}

  {{ font_body_bold | font_face }}
  {{ font_body_bold_italic | font_face }}

  @font-face {
    font-family: 'P22';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url({{'P22UndergroundCYPro-Book.otf' | asset_url }}) format('opentype');
  }
  @font-face {
    font-family: 'P22';
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    src: url({{'P22UndergroundCYPro-Demi.otf' | asset_url }}) format('opentype');
  }
  @font-face {
    font-family: 'P22';
    font-display: swap;
    font-weight: 900;
    font-style: normal;
    src: url({{'P22UndergroundCYPro-Heavy.otf' | asset_url }}) format('opentype');
  }
  @font-face {
    font-family: 'P22';
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: url({{'P22UndergroundCYPro-Medium.otf' | asset_url }}) format('opentype');
  }

  :root {
    --color-accent: {{ settings.color_accent }};
    --color-body-text: {{ settings.color_body_text }};
    --color-main-background: {{ settings.color_main_bg }};
    --color-border: {{ settings.color_body_text | color_lighten: 50 }};

    --font-heading: {{ settings.font_heading.family }}, {{ settings.font_heading.fallback_families }};
    --font-body: {{ settings.font_body.family }}, {{ settings.font_body.fallback_families }};
    --font-body-weight: {{ settings.font_body.weight }};
    --font-body-style: {{ settings.font_body.style }};
    --font-body-bold-weight: {{ font_body_bold.weight | default: 'bold' }};
  }
</style>
