<form action="/search" method="get" role="search" >
  <label for="Search-{{ section.id }}" class="label-hidden">
    {{ 'general.search.placeholder' | t }}
  </label>

  <input type="search"
    name="q"
    data-header-search-input
    id="Search-{{ section.id }}"
    value="{{ search.terms | escape }}" 
    placeholder="{{ 'general.search.placeholder' | t }}">

  <button type="submit" class="button">
    {% include 'icon-search' %}
  </button>
  <button class="button button--close" type="button" data-header-search-close>
    {% include 'icon-close' %} 
  </button>
</form>