<svg height="19.934" viewbox="0 0 219 19.934" width="219" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
  <path d="M4,11.476c2.806,1.139,5.268.292,5.268-4.5,0-4.844-3.124-6.141-6.592-5.083a175.99,175.99,0,0,0-.026,18.293H0C.211,16,.211,5.784,0,1.443,5.532.491,11.726.7,11.726,7.109c0,4.077-4.128,5.956-7.863,5.242Z" transform="translate(0 -0.755)"/>
  <path d="M99.836,11.257c-2.038-.105-4.21-.213-6.3-.133,0,4.156.026,7.308.131,9.239a36.445,36.445,0,0,0,8.579-.608l-.318,1.139c-2.886-.028-6.222-.054-11.013-.054a186.737,186.737,0,0,0,0-18.876h3.309c1.006,0,3.52-.026,7.519-.052l.08,1.191a34.55,34.55,0,0,0-8.155-.662c-.08,2.223-.131,5.135-.131,8.1a51.389,51.389,0,0,0,6.512-.265Z" transform="translate(-67.01 -1.41)"/>
  <path d="M177.031,1.611a104.4,104.4,0,0,0,11.542.052l.079,1.112a20,20,0,0,0-4.818-.555c-.133,7.042-.239,11.462.054,18.4h-2.595c.211-6.91.159-11.462.026-18.4a17.366,17.366,0,0,0-4.526.529Z" transform="translate(-130.307 -1.187)"/>
  <path d="M272.2,2.11c-.213,4.554-.238,13.819-.028,18.373a25.712,25.712,0,0,0,7.889-.714l-.316,1.27c-2.885-.079-5.534-.054-10.325-.054a186.737,186.737,0,0,0,0-18.876Z" transform="translate(-198.578 -1.555)"/>
  <path d="M357.262,1.1c1.482,4.659,5.506,14.694,7.624,19.114l-3.124.237c-.557-1.694-1.774-5.294-3.045-8.867-2.092-.079-4.289-.026-6.328,0-1.4,3.574-2.621,6.936-3.044,8.6l-1.4.265c1.191-2.064,5.293-12.52,7.519-18.743Zm-1.72,2.462c-1.907,4.872-2.41,6.168-2.913,7.439,1.879.08,4,.131,5.9.054-1.086-3.045-2.223-5.9-2.991-7.493" transform="translate(-256.457 -0.814)"/>
  <path d="M462.046,9.557a8.465,8.465,0,0,0,1.378.052c2.965,0,3.361-2.09,3.361-3.917,0-3.627-2.647-4.818-5.93-3.892-.316,4.315-.211,14.348,0,18.373h-2.621c.318-4.369.159-14.427-.052-18.876a35.176,35.176,0,0,1,4.182-.29c5.162,0,7.016,1.853,7.016,4.631,0,2.834-2.675,3.971-4.025,4.184,1.563.131,5.455,1.43,5.455,5.612,0,3.07-2.436,5.136-6.009,5.136a9.281,9.281,0,0,1-2.911-.477l.37-.794a3.893,3.893,0,0,0,2.488.847c1.907,0,3.416-1.589,3.416-4.713,0-2.7-.583-5.322-4.924-5.322a8.527,8.527,0,0,0-1.324.054Z"  transform="translate(-337.71 -0.741)"/>
  <path d="M635.917,2.965A5.615,5.615,0,0,0,629.828.609c-3.255.634-5.691,2.965-5.691,9,0,6.407,3.522,9.8,7.465,9.8a5.742,5.742,0,0,0,4.369-1.615l.583,1.058a12.207,12.207,0,0,1-5.4,1.06c-5.586,0-9.768-3.733-9.768-9.663C621.384,2.462,626.942.4,629.8.08A11.515,11.515,0,0,1,636.923,1.4Z" transform="translate(-458 0)"/>
  <path d="M732.917,20.079a9.515,9.515,0,0,1-9.742-9.742c0-8.048,6.035-10.14,9.742-10.14,4.552,0,9.555,3.468,9.555,10.114,0,6.564-4.685,9.768-9.555,9.768m-6.884-10.43c0,4.182,1.43,10.06,7.229,9.953,4.79-.131,6.3-4.552,6.325-8.762C739.615,5.968,737.5.515,732.545.648c-4.395.131-6.513,4.606-6.513,9" transform="translate(-533.027 -0.145)"/>
  <path d="M824.414,65.541a1.3,1.3,0,0,1,1.3,1.3,1.276,1.276,0,0,1-1.3,1.271,1.253,1.253,0,0,1-1.271-1.271,1.276,1.276,0,0,1,1.271-1.3" transform="translate(-606.71 -48.308)"/>
</svg> 