<svg xmlns="http://www.w3.org/2000/svg" width="14.593" height="13.37" viewBox="0 0 14.593 13.37" fill="#213f4e">
  <g transform="translate(-64.267 -80.334)">
    <path  d="M78.289,81.557H69.595a1.793,1.793,0,0,0-3.4,0H64.838a.571.571,0,1,0,0,1.142h1.357a1.793,1.793,0,0,0,3.4,0h8.694a.571.571,0,1,0,0-1.142ZM67.895,82.78a.652.652,0,1,1,.652-.652A.653.653,0,0,1,67.895,82.78Z" />
    <path  d="M78.289,210.09H76.932a1.793,1.793,0,0,0-3.4,0H64.838a.571.571,0,1,0,0,1.142h8.694a1.793,1.793,0,0,0,3.4,0h1.357a.571.571,0,1,0,0-1.142Zm-3.057,1.223a.652.652,0,1,1,.652-.652A.653.653,0,0,1,75.232,211.313Z" transform="translate(0 -123.642)" />
    <path  d="M78.289,338.623H72.041a1.793,1.793,0,0,0-3.4,0h-3.8a.571.571,0,1,0,0,1.142h3.8a1.793,1.793,0,0,0,3.4,0h6.248a.571.571,0,1,0,0-1.142Zm-7.948,1.223a.652.652,0,1,1,.652-.652A.653.653,0,0,1,70.341,339.846Z" transform="translate(0 -247.283)" />
  </g>
</svg>
