<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" width="40" height="40">
  <circle class="cls-1" cx="28.5" cy="28.5" r="4.82"></circle>
  <path
    d="M39.77,20A4.79,4.79,0,0,0,37,17.23a8,8,0,0,0-2.69-.5c-1.52-.07-2-.08-5.84-.08s-4.32,0-5.84.08a8,8,0,0,0-2.69.5A4.79,4.79,0,0,0,17.23,20a8,8,0,0,0-.5,2.69c-.07,1.52-.08,2-.08,5.84s0,4.32.08,5.84a8,8,0,0,0,.5,2.69A4.79,4.79,0,0,0,20,39.77a8,8,0,0,0,2.69.5c1.52.07,2,.08,5.84.08s4.32,0,5.84-.08a8,8,0,0,0,2.69-.5A4.79,4.79,0,0,0,39.77,37a8,8,0,0,0,.5-2.69c.07-1.52.08-2,.08-5.84s0-4.32-.08-5.84A8,8,0,0,0,39.77,20Zm-11.27,16a7.43,7.43,0,1,1,7.43-7.43A7.43,7.43,0,0,1,28.5,35.93Zm7.72-13.41A1.74,1.74,0,1,1,38,20.78,1.74,1.74,0,0,1,36.22,22.52Z"
    transform="translate(0 0)"></path>
  <path
    d="M28.5,0A28.5,28.5,0,1,0,57,28.5,28.5,28.5,0,0,0,28.5,0ZM42.87,34.46A10.62,10.62,0,0,1,42.2,38,7.39,7.39,0,0,1,38,42.2a10.61,10.61,0,0,1-3.51.67c-1.54.07-2,.09-6,.09s-4.42,0-6-.09A10.61,10.61,0,0,1,19,42.2,7.39,7.39,0,0,1,14.8,38a10.61,10.61,0,0,1-.67-3.51c-.07-1.54-.09-2-.09-6s0-4.42.09-6A10.61,10.61,0,0,1,14.8,19,7.39,7.39,0,0,1,19,14.8a10.61,10.61,0,0,1,3.51-.67c1.54-.07,2-.09,6-.09s4.42,0,6,.09A10.61,10.61,0,0,1,38,14.8,7.39,7.39,0,0,1,42.2,19a10.62,10.62,0,0,1,.67,3.51c.07,1.54.09,2,.09,6S42.94,32.92,42.87,34.46Z"
    transform="translate(0 0)"></path>
</svg>