<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" height="40" width="40">
  <path  
    d="M28.5,0A28.5,28.5,0,1,0,57,28.5,28.5,28.5,0,0,0,28.5,0ZM44.79,36.74a4.27,4.27,0,0,1-3,3c-2.65.71-13.28.71-13.28.71s-10.63,0-13.28-.71a4.27,4.27,0,0,1-3-3,44.81,44.81,0,0,1-.71-8.24,44.81,44.81,0,0,1,.71-8.24,4.27,4.27,0,0,1,3-3c2.65-.71,13.28-.71,13.28-.71s10.63,0,13.28.71a4.27,4.27,0,0,1,3,3,44.81,44.81,0,0,1,.71,8.24A44.81,44.81,0,0,1,44.79,36.74Z"
    transform="translate(0 0)"></path>
  <polygon points="25.02 33.55 33.91 28.5 25.02 23.45 25.02 33.55"></polygon>
</svg>