<svg height="27.309" viewbox="0 0 37.592 27.309" width="37.592" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(0.315 0.681)">
    <path d="M3285.414,833.233l6.746,3.123,3.534,13.988h20.4l5.492-13.988h-27.132" fill="none" stroke-width="1.5" stroke="#283e4d" transform="translate(-3285.414 -833.233)"/>
    <path d="M3303.156,869.352l-1.112,3.587H3323.8" fill="none" stroke-width="1.5" stroke="#283e4d" transform="translate(-3291.839 -852.24)"/>
    <g fill="none" stroke-width="1.5" stroke="#283e4d" transform="translate(10.533 20.717)">
      <ellipse cx="2.956" cy="2.956" rx="2.956" ry="2.956" stroke="none"/>
      <ellipse cx="2.956" cy="2.956" fill="none" rx="2.206" ry="2.206"/>
    </g>
    <g fill="none" stroke-width="1.5" stroke="#283e4d" transform="translate(25.734 20.717)">
      <ellipse cx="2.956" cy="2.956" rx="2.956" ry="2.956" stroke="none"/>
      <ellipse cx="2.956" cy="2.956" fill="none" rx="2.206" ry="2.206"/>
    </g>
  </g>
</svg>
