<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" width="40" height="40">
  <path d="M28.5,0A28.5,28.5,0,1,0,57,28.5,28.5,28.5,0,0,0,28.5,0Zm7.78,18.49H33.46c-2.21,0-2.64,1.05-2.64,2.59v3.4H36.1l-.69,5.33H30.82V43.49h-5.5V29.81h-4.6V24.49h4.6V20.56c0-4.56,2.78-7,6.85-7a37.76,37.76,0,0,1,4.11.21Z"></path>
</svg>