<svg xmlns="http://www.w3.org/2000/svg" width="14.584" height="8.706" viewBox="0 0 14.584 8.706">
  <path d="M-45.355,202.336l-6.585,6.585-6.585-6.585" transform="translate(59.232 -201.629)" fill="none" stroke="#283e4d" stroke-miterlimit="10" stroke-width="2"/>
</svg>
