<article class="product-item">
  <a href="{{product.url | within: collection}}" class="product-item__image">
    {% if product.featured_image != blank %}
      <div class="lazyload bg-image" data-bgset="{% include 'responsive-bg-image', image: product.featured_image %}"></div>
    {% else %}
      {{ 'product-1' | placeholder_svg_tag }}
    {% endif %}
  </a>
  <div class="product-item__capture">
    <h3 class="product-item__title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </h3>
    <p class="product-item__description">{{ product.description | strip_html }}</p>
    <div class="product-item__price">
      
        {% if product.compare_at_price > product.price %}
          {% if product.price_varies %}
            {%- assign sale_price = product.price | money -%}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            {{ 'products.product.on_sale' | t }} 
            {{ product.price | money }}
          {% endif %}

        {% else %}

          {% if product.price_varies %}
            {%- assign price = product.price | money -%}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}

        {% endif %}

        {% if product.compare_at_price > product.price %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <s>{{ product.compare_at_price | money }}</s>
        {% endif %} 

        {% unless product.available %}
          {{ 'products.product.sold_out' | t }}
        {% endunless %}
      
    </div>
    <div class="product-item__reviews">
      <div class="qcr-reviews-container">
        <!-- TrustBox widget - Product Mini --> 
        {%- comment -%}
        <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="{% for variant in product.variants %}{{variant.sku}}{% unless forloop.last %},{% endunless %}{% endfor %}"> 
          <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> 
        </div>
        {%- endcomment -%}
         <!-- End TrustBox widget -->
        
        {% if product.title == 'Joint Care Chews' %}    
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="XJCSC1,JCSC1,SUB-JCSC1,JHC1,SUB-JHC1,SUB-JCSC2,JHC2,SUB-JCSC3,JHC3,JCMV1,JCMV2,JHC4,SUB-JCMV1,JCSC4,JCSC3,JCSC2,SUB-JCSC4,PRE-JCSC1,PRE-JCSC4"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Itch Relief For Dogs' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="REC-IRC2 ,IRC4,REC-IRC3,IRC1,IRC3,SUB-IRC1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Dog Dental Formula' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="SUB-MTW1,MTW4,MTW2,MTW1,MTW3,SUB-MTW2,MTW6,SUB-MTW3"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Dog Dental Chews (Rawhide)' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="DHC4,DHC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Clear Eye Chews' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="TSC3,TSC4,TSC1,TSC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Calming Chews' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="SUB-CHSC1,SUB-CHSC4,CHSC2,CHSC3,CHSC1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Dog Multivitamin' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="MVC4,SUB-MVC1,MVC1,MVC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Cat Dental Formula' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="DFC1,DFC2,DFC4,SUB-DFC1,SUB-DFC2"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Heart Health Chews' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="HHC1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Beef Liver Dog Treats' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="BLT2,BLT1"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Chicken Liver Dog Treats' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="CLB1,CLB3"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% elsif product.title == 'Prebiotic Dental Sticks (Monthly)' %}
        <!-- TrustBox widget - Product Mini --> <div class="trustpilot-widget" style="margin:0 auto;" data-locale="en-US" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="PDS4"> <a href="https://www.trustpilot.com/review/thepetlabco.com" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
        {% else %}
        <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
        {% endif %}
        
      </div>
    </div>

  </div>
</article>