.authors {
  padding-top: 30px;

  .authors__list {
    padding-top: 50px;

    .authors__item {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid $color-border;
      &:last-child {
        border-bottom: none;
      }

      .authors__item-image {
        position: relative;
        width: 150px;height: 150px;
        margin-bottom: 20px;
        border: 8px solid #344f5d;
        &.authors__item-image--round {
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .authors__item-capture {
        p {
          margin-top: 0;
        }
        *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}



@media screen and (min-width: $screen-sm) {
  .authors {

    .authors__list {
      .authors__item {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 150px calc(100% - 170px);
        align-items: start;
        .authors__item-capture {
          flex-grow: 1;
        }
      }
    }
  }

}