 .collection {
   padding-bottom: 55px;

   .collection__banner {
     position: relative;
     margin: 0 -20px 35px -20px;

     .collection__banner-capture {
       position: relative;
       z-index: 2;
       padding: 48px 10px;
       max-width: 210px;

       h3 {
         font-size: 18px;
         line-height: 24px;
         font-weight: 600;
         margin-bottom: 5px;
         margin-top: 0;
       }

       h2 {
         font-size: 26px;
         line-height: 32px;
         margin-bottom: 10px;
         margin-top: 0;
         font-weight: 600;
       }

       p {
         font-size: 12px;
         line-height: 18px;

         &:last-of-type {
           margin-bottom: 0;
         }

       }

     }
   }

   .collection__header {
     h1 {
       display: inline-block;
       font-size: 26px;
       line-height: 31px;
       padding: 4px 14px 0 14px;
       border-radius: 25px;
       margin-bottom: 13px;
       margin-top: 0;
       font-weight: 600;
       color: $color-white;
       background-color: #CD8EBE;
     }

     .collection__size {
       display: flex;
       justify-content: space-between;
       font-size: 14px;
       line-height: 20px;
       color: rgba($color-primary, .5);
       margin-top: 0;
       margin-bottom: 20px;
     }

     .collection__description {
       font-size: 14px;
       line-height: 20px;
       letter-spacing: 0;
       margin-bottom: 26px;

       p {
         font-size: 14px;
         line-height: 20px;
         margin-top: 0;

         &:last-of-type {
           margin-bottom: 0;
         }
       }
     }
   }

   .collection__list {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 30px;
     grid-row-gap: 35px;
   }
 }


 @media screen and (min-width: $screen-sm) {
   .collection {
     .collection__list {
       grid-template-columns: repeat(3, 1fr);
     }

   }
 }


 @media screen and (min-width: $screen-md) {
   .collection {
     .collection__inner {
       display: grid;
       grid-template-columns: 212px calc(100% - 212px);
     }

     .collection__list-wrap {
       padding-left: 30px;
     }
     .collection__banner {
       margin-left: 0;

       .collection__banner-capture {
         padding: 56px 82px;
         max-width: 476px;
         ;

         h3 {
           font-size: 26px;
           line-height: 28px;
         }

         h2 {
           font-size: 40px;
           line-height: 42px;
         }

         p {}
       }
     }
   }
 }

 @media screen and (min-width: $screen-lg) {
   .collection {
     .collection__banner {
       margin-right: calc(-100vw/2 + 590px); 
     }
     .collection__list-wrap {
      padding-left: 70px;
    }
   }
 }