.page-faq {

  .covid_section_wrapper {
    display: none;
  }

  main .container {
    max-width: 1100px;
  }

  .caption {
    position: absolute;
    top: 50%;
    padding: 0 5%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  @media only screen and (min-width: 799px) {
    .caption {
      max-width: 90%;
    }
  }

  @media only screen and (max-width: 798px) {
    &.mobile_nav-fixed--false #pagecontent {
      min-height: 72px;
    }

    &.mobile_nav-fixed--true .page_banner,
    &.mobile_nav-fixed--false .page_banner {
      margin-top: 0;
    }

    .caption {
      position: absolute;
      top: 50%;
      padding: 0 5%;
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    .image-element__wrap {
      display: flex;
      justify-content: flex-end;

      img {
        min-height: 240px;
        width: auto;
      }
    }
  }

  .caption .headline {
    width: 100%;
    text-align: center;
    color: #213f4e;
    text-transform: capitalize;
    font-weight: 600;
  }

  .caption-content {
    max-width: 80%;
  }

  .search__container {
    width: auto;

    .search__wrapper {
      border-radius: 24px;
      overflow: hidden;
    }

    .search__faq {
      width: 100%;
      max-width: 650px;
    }

    input[type="text"] {
      padding: 0 10px 0 50px;
      border: none;
      color: #283e4d;
      font-size: 16px;
      font-weight: 400;
    }

    input[type="text"]:focus {
      border: none;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #15323d;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #15323d;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #15323d;
    }

    .search__button {
      background-color: transparent;
      left: 0;
      right: auto;
      color: #283e4d;

      &:hover {
        border: none;

        &:before {
          font-weight: bold;
        }
      }

      &:active {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .main {
    background-color: #fff;
    padding: 40px 0;

    @media only screen and (max-width: 1024px) {
      padding: 20px 0;
    }
  }


  section.track {
    .form-box {
      background-color: #aeccb1;

      .title {
        width: auto;
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-flex;
        margin: 8px 20px 0 0;
        padding: 0;
        margin-bottom: 25px;

        @media only screen and (max-width: 1024px) {
          font-size: 22px;
        }

        @media only screen and (max-width: 767px) {
          margin: 0 0 15px 0;
        }
      }

      form {
        position: relative;
        max-width: 500px;
        width: 100%;
        margin: 0;

        @media only screen and (max-width: 1024px) {
          max-width: 400px;
        }

        ul {
          list-style: none;
          margin: 0;

        }

        li {
          margin-bottom: 20px;

          &:last-of-type {
            margin: 0;
          }
        }
      }

      label.error {
        margin-left: 12px;
        color: #000;
        font-size: 12px;
        text-transform: none;
      }

      label {
        position: relative;
        margin: 0;
      }

      input {
        width: 100%;
        margin: 0;
        padding: 5px 30px 0 20px;
        border: none;
        border-radius: 24px;
        color: #213f4e;
        font-size: 20px;
        font-weight: 700;
        height: 50px;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #15323d;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #15323d;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #15323d;
      }

      button {
        position: absolute;
        top: 7px;
        right: 6px;
        height: 35px;
        min-height: 35px;
        width: 35px;
        margin: 0;
        padding: 3px;
        background: #d26546;
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        transition: all ease 0.5s;

        &:hover,
        &:focus {
          border: none;
          box-shadow: 0 0 0 1.75px #d26546;
        }

        &:before {
          content: "";
          position: absolute;
          right: 3px;
          top: 3px;
          width: 29px;
          height: 29px;
          background: url("{{arrow-right-white.png | asset_url}}") 50% 50% no-repeat;
          background-size: 29px 29px;

          @media only screen and (max-width: 768px) {
            width: 22px;
            height: 22px;
            background-size: 22px 22px;
            right: 7px;
            top: 6px;

          }

        }

      }
    }

    .flex-box {
      display: flex;
      justify-content: center;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .result-box {
      display: none;
      background-color: #aeccb1;
      color: #fff;
    }

    .text-block {
      display: none;
      justify-content: space-between;
      margin: 0 20px 0 0;
      color: #213f4e;
      font-size: 26px;
      font-weight: 600;
      text-align: center;

      p.top {
        margin-bottom: 10px;
      }

      p {
        margin: 0;
      }

      a {
        color: inherit;
        text-decoration: underline;
      }

      @media only screen and (max-width: 798px) {
        font-size: 18px;
      }

      @media only screen and (max-width: 480px) {
        align-items: center
      }
    }

    .progress-content-traking-number {
      margin-right: 20px;
    }

    .track-line-wrap {
      width: 600px;
      max-width: 100%;

      @media only screen and (max-width: 798px) {
        width: 480px;
      }

      .top-label,
      .bottom-label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;

        span {
          display: inline-block;
          min-width: 7em;
          text-align: center;
        }

        @media only screen and (max-width: 480px) {
          font-size: 14px;
          font-weight: 400;
        }
      }

      .bottom-label {
        margin-bottom: 0;
        margin-top: 10px;
      }

      .track-line {
        position: relative;
        width: calc(100% - 6em);
        font-size: 16px;
        padding: 6px 0;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
      }

      .point {
        position: absolute;
        top: calc(50% - 13px);
        right: -6px;
        left: auto;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: #fff solid 6px;
        background-color: #bc5539;

        &.active {
          background-color: #7c9c64;
        }
      }

      #first-point {
        left: -6px;
        right: auto;
      }

      #two-point {
        right: calc(50% - 13px);
        left: auto;
      }

    }

  }


  .welcome-box {
    padding: 60px 0 0;
    background-color: #fffdf1;

    @media only screen and (max-width: 1024px) {
      padding: 30px 0 0;
    }

    @media only screen and (max-width: 480px) {
      display: none;
    }

    .flex-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media only screen and (max-width: 1024px) {
        flex-direction: column;
      }

      .item {
        h4 {
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .faqAccordion {
      margin-bottom: 60px;

      @media only screen and (max-width: 1024px) {
        margin-bottom: 30px;
      }

      &>dt {
        &>button {
          background-color: #fff;

          &[aria-expanded="true"] {
            background-color: #fff;
          }

          &:hover {
            background-color: #fff;
          }

        }
      }
    }
  }

  .faq-list {
    @media only screen and (max-width: 767px) {
      dl {
        display: none;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }
      }

    }

    .btn-more {
      display: none;
      margin: 0 auto;
      padding: 5px 20px;
      background-color: #fff;
      border-radius: 24px;
      color: #283e4d;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 700;

      @media only screen and (max-width: 767px) {
        display: flex;
      }

      svg {
        transform: rotate(90deg);
        height: 18px;
        fill: #283e4d;
      }

      &.btn-more-less-main {
        svg {
          transform: rotate(-90deg);
        }

        &::after {
          display: none;
        }
      }

      &.all {
        svg {
          margin: 0 0 4px 10px;
        }
      }

    }
  }

  .faqAccordion {
    margin-bottom: 100px;
    border-radius: 12px;
    border: 2px solid #283e4d;
    background-color: #283e4d;
    overflow: hidden;

    @media only screen and (max-width: 1024px) {
      margin-bottom: 50px;
    }

    @media only screen and (max-width: 480px) {
      margin-bottom: 30px;
    }

    .faq--heading {
      margin: 0;
      padding: 15px;
      background-color: #213f4e;
      color: #fff;
      font-size: 32px;
      font-weight: 600;

      @media only screen and (max-width: 1024px) {
        font-size: 26px;
      }

      @media only screen and (max-width: 768px) {
        text-align: center;
      }

      @media only screen and (max-width: 480px) {
        font-size: 18px;
      }
    }


    &>dt {
      background-color: #fff;

      @media only screen and (max-width: 767px) {
        display: none;
      }

      &:nth-of-type(-n+3),
      &:last-of-type {
        display: block;
      }

      &>button {
        color: #213f4e;
        font-size: 20px;
        font-weight: 600;
        border-top: 2px solid #283e4d;

        @media only screen and (max-width: 767px) {
          line-height: 1.1;
          font-size: 16px;
          padding: 12px 5px 10px 25px;
        }

        &:after {
          transform: translateY(-42%);
          font-weight: 300;
          font-size: 40px;
          transition: all ease-in 0.2s;

          @media only screen and (max-width: 767px) {
            transform: translateY(-45%);
            left: 5px;
            font-size: 30px;
          }
        }

        &:hover,
        &:focus {
          @media only screen and (min-width: 767px) {
            color: inherit;
            border-bottom: none;
            background-color: #fff;
          }
        }


        &[aria-expanded="true"] {
          border-bottom: none;
          background-color: #fff;

          &:after {

            content: "\002b";
            transform: rotate(45deg) translate(-63%, -18%);
            font-size: 40px;

            @media only screen and (max-width: 767px) {
              transform: rotate(45deg) translate(-82%, -30%);
              font-size: 30px;
            }

          }
        }
      }

      &:first-of-type {
        &>button {
          border-top: none;
        }
      }

    }

    &>dd {
      color: #213f4e;
      font-size: 18px;
      font-weight: 300;
      padding: 20px;
      border: none;
      background-color: #fff;

      @media only screen and (max-width: 798px) {
        margin-left: 0;
      }

      @media only screen and (max-width: 480px) {
        font-size: 14px;
      }

      &:last-of-type {
        border: none;
      }
    }



    .btn-more {
      border-radius: 0;

      @media only screen and (max-width: 767px) {
        display: flex;
      }

      &:after {
        content: "";
      }
    }
  }


  .list-title {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;

    @media only screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  .header-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;

    &>li {
      width: 31.5%;
      margin-bottom: calc(2% + 10px);
      color: #213f4e;
      font-size: 18px;
      font-weight: 300;
      border: 2px solid #283e4d;
      border-radius: 6px;
      background-color: #fff;
      -webkit-box-shadow: 0px 10px 4px 0px rgba(50, 50, 50, 0.3);
      -moz-box-shadow: 0px 10px 4px 0px rgba(50, 50, 50, 0.3);
      box-shadow: 0px 10px 4px 0px rgba(50, 50, 50, 0.3);

      @media only screen and (max-width: 767px) {
        width: 48%;
      }

      &>a {
        cursor: pointer;
        display: block;
      }

      .title-block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 20px 0px;
        flex-wrap: wrap;

        @media only screen and (max-width: 767px) {
          height: 100%;
          flex-direction: column;
          border: none;
          padding: 20px 5px;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          .title {
            color: #79aa6b;
          }

        }
      }

      .title {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        text-transform: capitalize;
        color: #213f4e;
        transition: all ease-in 0.2s;
        width: 100%;
        margin-top: 10px;

        @media only screen and (max-width: 767px) {
          min-height: 2.5em;
          font-size: 18px;
          text-align: center;
        }
      }

      p {
        color: #213f4e;
        margin: 0;
      }

      img {
        max-width: 55px;
        margin-right: 5px;

        @media only screen and (max-width: 767px) {
          margin: 0;
        }
      }

    }

    .content {
      padding: 15px 20px 20px;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    ol {
      margin: 0;
      counter-reset: my-awesome-counter;
      list-style: none;


      a {
        color: inherit;
        transition: all ease-in 0.2s;

        &:hover {
          text-decoration: underline;
        }
      }

      li {
        margin: 0 0 0.5rem 0;
        padding: 0;
        counter-increment: my-awesome-counter;
        position: relative;

      }
    }

  }


  .form-section {
    padding: 100px 20px;
    background-color: #213f4e;
    border-bottom: 1px solid RGBA(255, 255, 255, 0.2);

    @media only screen and (max-width: 798px) {
      padding: 50px 20px;
    }

    @media only screen and (max-width: 480px) {
      padding: 30px 20px;
    }
  }


  .zl-footer-newsletter {
    display: none;
  }

  .search-result {
    display: none;
  }

  .search-error {
    display: none;
  }
}

.page-track-section {

  .first-bn-block {
    padding: 120px 0 10px;
    background-color: #fcd501;

    @media only screen and (max-width: 767px) {
      padding: 50px 0 10px;
    }
  }

  main .container {
    max-width: 1100px;
  }

  .track-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }

    .first-bn-block-bg-main {
      background-image: url("{{ track-order-banner.png | asset_url }}");
      background-position: 0 100%;
      background-size: 1000px 100%;

      @media only screen and (max-width: 767px) {
        background-position: top center;
        background-size: contain;
        position: relative;
        height: 200px;
      }

    }
  }

  section.track {
    display: block;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    z-index: 2;
    margin-bottom: 50px;

    .section-title {
      font-family: "P22-Book";
      color: #ffffff;
      font-size: 23px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      margin: 0;
      letter-spacing: 0.4px;
      background-color: #293f4c;
      padding: 27px 60px 19px;

      &:before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 33px;
        margin: 0 10px 0 0;
        background-image: url("{{ Track-Icon.png | asset_url }}");
        background-repeat: no-repeat;
        background-size: 100%;
      }

      @media only screen and (max-width: 1024px) {
        font-size: 22px;
      }

      @media only screen and (max-width: 767px) {
        margin: 0;
        text-align: center;
        padding: 27px 20px 19px;
        font-size: 20px;
      }
    }

    .first-screen {
      max-width: 370px;

      @media only screen and (max-width: 767px) {
        max-width: 100%;
      }



      .content-wrap {
        padding: 30px 15px;
      }

      .form-description {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 300;
        color: #213f4e;
        text-align: center;

        @media only screen and (max-width: 767px) {
          font-size: 16px;
        }
      }

      form {
        width: 100%;
        margin: 0;

        ul {
          list-style: none;
          margin: 0;

          @media only screen and (max-width: 767px) {
            padding-left: 0;
          }
        }

        li {
          margin-bottom: 15px;

          &:last-of-type {
            margin: 0;
          }
        }
      }

      label.error {
        margin-left: 12px;
        color: #c13d3d;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        text-transform: none;
        text-align: right;
        margin-top: 6px;
      }

      label {
        position: relative;
        margin: 0;
      }

      input {
        width: 100%;
        margin: 0;
        padding: 17px 20px 17px;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: #213f4e;
        font-size: 18px;
        font-weight: 300;
        height: 54px;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #213f4e;
        opacity: 1;
        /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #213f4e;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #213f4e;
      }

      button {
        position: relative;
        width: 100%;
        margin-top: 40px;
        padding: 17px 0 15px;
        background: #d26546;
        box-shadow: 0 4px 0 #b1472d;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
        transition: all ease 0.5s;
        text-transform: inherit;
        height: auto;

        &:hover,
        &:focus {
          border: none;
          background: #b1472d;
          box-shadow: 0 4px 0 #a7a1a1;

          &:after {
            position: absolute;
            content: '';
            border: solid #FFFFFF;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            transform: translateY(-50%) rotate(-45deg);
            -webkit-transform: translateY(-50%) rotate(-45deg);
            top: 50%;
            right: 30px;
            animation: sheen 0.3s forwards;
          }
        }


      }

    }


    .flex-box {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 767px) {
        flex-wrap: wrap;
      }

    }

    .result-box {
      position: relative;
      display: none;
      min-height: 300px;
      width: 70vw;
      max-width: 100%;
      height: auto;
      padding: 35px 40px 30px;
      background-color: #fff;
      color: #213f4e;

      @media only screen and (max-width: 991px) {
        width: 100%;
        padding: 15px 10px 25px;
      }

      a {
        color: #E26447;
        text-decoration: underline;
      }
    }

    .text-block {
      display: none;
      justify-content: space-between;
      margin: 0;
      font-size: 18px;

      @media only screen and (max-width: 767px) {
        font-size: 16px;
      }

      p {
        margin-right: 10px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0;

        @media only screen and (max-width: 767px) {
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 14px;
        }

        &.progress-content-traking {
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }

      a,
      span {
        text-transform: none;
        text-decoration: none;
        font-weight: 400;
      }

      @media only screen and (max-width: 798px) {
        font-size: 16px;
      }
    }

    .progress-content-traking-number {}

    .track-line-wrap {
      display: none;
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
      padding: 50px 0 20px;
      border-bottom: 1px solid #CECECE;

      @media only screen and (max-width: 798px) {
        padding: 45px 0 0;
      }


      .box-label {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 15px;
        font-weight: 600;

        @media only screen and (max-width: 798px) {
          margin-bottom: 0;
        }

        li {
          display: inline-block;
          font-size: 16px;
          line-height: 1.6;

          &.center {
            text-align: center;
          }

          &:last-child {
            text-align: right;
          }

          @media only screen and (max-width: 798px) {
            font-size: 12px;
          }
        }

        span {
          display: block;
          margin-top: 5px;
          text-align: center;
          font-weight: 400;

          @media only screen and (max-width: 798px) {
            margin-top: 0;
          }
        }
      }

      .track-line {
        position: relative;
        width: 100%;
        font-size: 16px;
        padding: 8px 0;
        margin: 0 auto;
        background-color: #bfbfbf;
        border-radius: 20px;
      }


      .active-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background: transparent linear-gradient(90deg, var(--r-210-g-101-b-71) 0%, #E8B74D 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(90deg, #E26447 0%, #E8B74D 100%) 0% 0% no-repeat padding-box;
        border-radius: 20px;
        z-index: 3;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -23px;
          right: 3px;
          width: 36px;
          height: 21px;
          background: url("{{ y-icon.png | asset_url }}") 50% 50% no-repeat;
          background-size: contain;


        }
      }
    }

    .product-list-title {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
      text-transform: none;
      letter-spacing: 0;
      color: #213F4E;
    }

    .product-wrap {
      padding: 0;
      border: none;
      box-shadow: none;
    }

    .product-list {
      padding: 15px 0;

      @media screen and (min-width: 960px) {
        padding: 25px 20px 20px 20px;
      }

      @media screen and (min-width: 1420px) {
        padding: 40px 30px 30px 80px;
      }

      .line-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 20px;
        border-bottom: 1px solid #EAEAEA;

        @media screen and (min-width: 960px) {
          padding: 10px 25px 20px;
        }

        @media screen and (min-width: 1420px) {
          padding: 15px 50px 25px;
        }

        p {
          margin: 0;
          font-size: 16px;

          @media only screen and (max-width: 798px) {
            font-size: 14px;
          }
        }

      }

      .img-wrap {
        width: 70px;
        min-width: 55px;
        margin-right: 30px;

        @media only screen and (max-width: 798px) {
          margin-right: 15px;
        }
      }

      img {
        max-width: 100%;
      }

      .content {
        display: flex;
        align-items: center;
        color: #213F4E;
        font-size: 16px;

        @media only screen and (max-width: 798px) {
          font-size: 14px;
        }

      }


      .quantity {
        margin-right: 30px;

        @media only screen and (max-width: 798px) {
          margin-right: 15px;
        }
      }

      .name-product {
        text-transform: none;
        font-size: 16px;
        margin: 0;
        padding: 0;
        letter-spacing: 0;
        color: #213F4E;

        @media only screen and (max-width: 798px) {
          font-size: 14px;
        }
      }

    }


    a.close {
      position: absolute;
      right: 40px;
      bottom: 30px;
      cursor: pointer;

      @media only screen and (max-width: 960px) {
        right: 10px;
        bottom: 15px;
        font-size: 16px;
      }
    }
  }

  .hp-best-sellers {
    .h-list-product {
      background-color: #fff;
      padding: 99px 0;

      @media screen and (max-width: 960px) {
        padding-top: 40px;
        padding-bottom: 50px;
      }

      .slick-track {
        @media screen and (max-width: 767px) {
          display: flex;
        }
      }

      .after_link {
        margin-top: 15px;
        color: #213f4e;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        text-align: left;
        letter-spacing: 0;
        text-transform: uppercase;

        @media screen and (max-width: 960px) {
          margin-top: 25px;
        }
      }

      .title-section {
        color: #213f4e;
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        position: relative;

        @media screen and (max-width: 767px) {
          font-size: 20px;
        }

        &:after {
          content: '';
          width: 77px;
          height: 2px;
          background: #273e4d;
          position: absolute;
          bottom: -27px;
          left: 50%;
          transform: translateX(-50px);
        }
      }

      .h-list-product-container {
        max-width: 1160px;
        padding: 30px 20px 0;
        justify-content: space-between;

        @media screen and (max-width: 1420px) {
          max-width: 100%;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
        }

        @media screen and (max-width: 767px) {
          padding: 30px 0 0;
        }

        .best-sellers-bf-product-item {
          width: 100%;
          max-width: calc(100% / 3 - 20px);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 15px 18px 18px;

          @media screen and (max-width: 767px) {
            max-width: 100%;
            margin-top: 40px !important;
          }

          img {
            width: 100%;
            max-width: 240px;
            margin: 0 auto;
          }

          @media screen and (max-width: 1420px) {
            //flex: 1 0 50%;
            margin: 0 10px 20px;

            //min-height: 387px;
            img {
              max-width: 100%;
            }
          }

          .best-sellers-bf-product-item-name {
            color: #213f4e;
            font-size: 22px;
            font-weight: 600;
          }

          .best-sellers-bf-product-item-subname {
            color: #213f4e;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 41px;
          }

          @media screen and (max-width: 960px) {
            padding: 15px 7px 15px;
            min-height: auto;

          }

          .best-sellers-bf-product-item-price {
            color: #c95f3d;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            margin-bottom: 10px;

            @media screen and (max-width: 960px) {
              font-size: 14px;
              line-height: 21px;
            }
          }

          .best-sellers-bf-product-item-subname {
            @media screen and (max-width: 960px) {
              font-size: 14px;
              line-height: 20px;
            }
          }

          a {
            margin-top: 7px;

            .best-sellers-bf-product-item-btn {
              border-radius: 5px;
              max-width: 305px;
              margin: 10px auto 0;
              box-shadow: 0 4px 0#B1472D;
              background-color: #d26546;
              color: #ffffff;
              font-size: 20px;
              font-weight: 600;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: center;
              padding: 13px 0 10px;

              @media screen and (max-width: 960px) {
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .hp-best-sellers .h-list-product .h-list-product-container .best-sellers-bf-product-item a .best-sellers-bf-product-item-btn {
      position: relative;

      &:hover {
        background-color: #A2513A !important;

        &::after {
          position: absolute;
          content: '';
          border: solid #FFFFFF;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 4px;
          transform: translateY(-50%) rotate(-45deg);
          -webkit-transform: translateY(-50%) rotate(-45deg);
          top: 50%;
          right: 30px;
          animation: sheen 0.3s forwards;
        }
      }

    }

    @keyframes sheen {
      100% {
        right: 18px;
      }
    }

  }
}

/*spinner*/
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #F1EAD8;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.title-with-button-main {
  text-align: center;
  margin-bottom: 50px;

  .title.list-title {
    color: #213f4e;
    margin-bottom: 20px;
  }

  .btn-link-main {
    color: #fff;
    background-color: #d26546;
    padding: 10px 50px;
    text-transform: uppercase;
    border: 1px solid #bc6546;
    border-radius: 5px;
    display: block;
    max-width: 30%;
    margin: 0 auto;
    min-width: 425px;
    font-weight: 500;


    color: #fffdf1;
    border: none;
    background-color: #d26546;
    text-transform: none;
    padding: 8px 50px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.3s ease 0s;
    font-family: 'P22-Demi';
    line-height: 1.5;
  }

  .btn-link-main:hover {
    background-color: #b64726;
  }
}

.track {
  background-color: #aeccb1;
  padding: 50px 0;

  .main-title {
    text-align: center;
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .form-box {
    background-color: #aeccb1;
  }
}

.page-faq .container .sixteen.columns .faqAccordion>dt>button {
  border-bottom: none;
}

@media screen and (max-width:700px) {
  .title-with-button-main .btn-link-main {
    font-size: 14px;
    max-width: 100%;
    min-width: 200px;
    padding: 8px 20px;
  }
}