.footer {
  background-color: $color-body-text;
  padding-top: 60px;
  padding-bottom: 30px;

  .footer__inner {}

  .footer__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 1.08px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    margin-top: 0;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: 30px;
    color: $color-white;
    text-align: center;
    padding-top: 30px;
    border-top: 2px solid rgba(41, 75, 85, 0.5);

    p {
      margin: 0;
    }

    a {
      position: relative;
      color: $color-white;
      display: inline-block;
      padding-left: 24px;

      &:first-of-type {
        padding-left: 0;

        &::before {
          display: none;
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 12px;
        top: 2px;
        width: 1px;
        height: 12px;
        background-color: $color-white;
      }
    }

  }
  .footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    li {
      margin-right: 20px;
      svg {
        fill: $color-white;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer__column {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer__logo {
    svg {
      display: block;
      margin: 0 auto;
      fill: $color-white;
    }
  }

  .footer__nav {
    ul {
      li {
        margin-bottom: 8px;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $color-white;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 1px;
        }
      }
    }

  }

  .footer__social {
    ul {
      li {
        a {
          svg {
            fill: $color-white;
          }
        }
      }
    }
  }
}


@media screen and (min-width: $screen-sm) {
  .footer {
    padding-top: 100px;

    .footer__copyright {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        &:first-of-type {
          padding-left: 24px;

          &::before {
            display: block;
          }
        }
      }
    }

    .footer__title {
      text-align: left;
      font-size: 18px;
      line-height: 24px;
    }
    .footer__social { 
      justify-content: flex-start;
    }


    .footer__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
    }

    .footer__logo {
      order: -1;

      svg {
        margin: 0;
      }
    }

    .footer__nav {
      ul {
        li {
          text-align: left;

          a {
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
  }
}