.header {
  position: relative;
  z-index: 10;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header__inner {
    display: flex;
    align-items: center;
    padding: 17px 0;
  }

  .header__nav-button {
    position: relative;
    padding: 11px 0;
    width: 26px;
    margin-left: 25px;

    &.active {
      span {
        background-color: transparent;

        &::before {
          transform: rotate(-45deg);
          top: 11px;
        }

        &::after {
          transform: rotate(45deg);
          bottom: 11px;
        }
      }
    }

    span {
      display: block;
      height: 2px;
      background-color: $color-primary;
      transition: background-color $transition-duration $transition-timing;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: $color-primary;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all $transition-duration $transition-timing;
      }

      &::before {
        top: 0;

      }

      &::after {
        bottom: 0;
      }


    }

  }

  .header__main {
    position: relative;
    flex-grow: 1;
  }

  .header__logo {
    margin: 0;

    svg {
      fill: $color-primary;
      @media screen and (max-width: 576px) {
        width: 170px;
        height: 16px;
      }
    }
  }

  .header__collection {
    margin-right: 30px;
  }

  .header__search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 126px;
    transition: width $transition-duration $transition-timing;

    &.active {
      width: 100%;

      form {
        input {
          border-color: $color-primary;
        }

        .button {
          svg {
            fill: $color-primary;
          }

          &.button--close {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    form {
      position: relative;

      input {
        box-shadow: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding: 9px 26px 7px 44px;
        border-radius: 23px;
        border: 1px solid $color-gray;
        color: $color-primary;
        width: 100%;
        outline: none;
        transition: border $transition-duration $transition-timing;

        &::placeholder {
          color: $color-gray;
          font-weight: 500;
        }

      }

      .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        padding: 0;
        transition: opacity $transition-duration $transition-timing;

        &.button--close {
          left: auto;
          right: 18px;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }


  .header__cart {
    position: relative;
    margin-left: 15px;
    padding-right: 1px;

    span {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      text-align: center;
      position: absolute;
      border-radius: 50%;
      position: absolute;
      background-color: $color-primary;
      color: $color-white;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      top: -11px;
      right: -10px;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0;
    }
  }


  .header__navigation {
    &>ul {
      display: flex;
      align-items: center;

      &>li {
        position: relative;
        margin-right: 25px;
        padding: 26px 0;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &>a:not(.button) {
          position: relative;
          font-size: 16px;
          line-height: 19px;
          font-weight: 600;
          color: $color-primary;
          text-transform: uppercase;
          padding-right: 20px;

          svg {
            position: absolute;
            right: 0;
            top: 2px;
            transition: transform $transition-duration $transition-timing;
            backface-visibility: hidden;
          }
        }

        &>ul {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          visibility: hidden;
          min-width: 230px;
          border-radius: 5px;
          opacity: 0;
          transition: opacity $transition-duration $transition-timing;
          box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);

          &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            width: 0;
            height: 0;
            border-style: none solid solid solid;
            border-color: #fff transparent;
            border-width: 12px 14px;
            margin: auto;
          }

          &>li {
            text-align: center;

            &:first-child a {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }

            &:last-child a {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            a {
              display: block;
              font-size: 16px;
              line-height: 24px;
              padding: 23px 10px;
              color: $color-primary;
              background-color: $color-white;



              &:hover {
                background-color: $color-warm;
              }

            }

            &:first-child a {}
          }
        }

        &:hover {
          &>a {
            svg {
              transform: rotate(180deg);
            }
          }

          ul {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

.header__nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-duration $transition-timing;
  z-index: 9;
  padding-top: 67px;
  padding-bottom: 60px;
  overflow-y: auto;
  border-bottom: 1px solid $color-border;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  nav>ul {
    &>li {
      position: relative;

      border-bottom: 1px solid $color-border;


      &>a {
        display: block;
        position: relative;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        color: $color-primary;
        text-transform: uppercase;
        padding-right: 20px;
        padding: 22px $grid-gutter/2 18px;

        svg {
          position: absolute;
          right: 20px;
          top: 25px;
          transition: transform $transition-duration $transition-timing;
        }
      }

      &>ul {
        display: none;

        &>li {
          padding-left: 30px;
          border-top: 1px solid $color-gray;

          a {
            display: block;
            font-size: 16px;
            line-height: 24px;
            padding: 18px 10px 16px;
            color: $color-primary;
            background-color: $color-white;
            color: $color-border;
          }
        }
      }

      &.active {
        &>a {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .header__collection-mobile {
    padding: 20px;
    border-bottom: 1px solid $color-border;
    .button {
      width: 100%;
    }
  }

  .header__search-mobile {
    padding: 20px;

    form {
      position: relative;

      input {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid $color-gray;
        padding: 12px 35px 12px 20px;
        border-radius: 4px;
        outline: none;
        transition: border-color $transition-duration $transition-timing;
        &:focus, &:active {
          border-color: $color-border;
          & + .button svg{
            fill: $color-border;
          }
        }

        &::placeholder {
          font-size: 16px;
          line-height: 20px;
          color: $color-gray;
        }
      }

      .button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        svg {
          transition: fill $transition-duration $transition-timing;
        }

        &.button--close {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .header {
    .heder__logo {
      margin: 0 auto;
    }

    .header__inner {
      padding: 0;
    }

    .header__main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 25px;
    }
    .header__cart { 
      margin-left: 25px;
      padding-right: 11px;
      span {
        right: 0;
      }
    }
  }
}