.hp-reviews-section{
  padding:70px 0 80px;
  @media screen and (max-width: 960px) {
      padding-top: 30px;
  }
  .hp-review-section-container{
      max-width: 950px;
      margin: 0 auto;
      .hp-review-heading{
          max-width: 370px;
          color: #213f4e;
          font-size: 40px;
          font-weight: 600;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: center;
          margin: 0 auto 50px;
          text-transform: none;
          @media screen and (max-width: 960px) {
              margin-bottom: 30px;
          }
      }
      .hp-reviews-list-slider{
          display: none;
          padding: 0 75px;
          @media screen and (max-width: 960px) {
              display: block;
              position: relative;
          }
          @media screen and (max-width: 361px) {
              padding: 0 50px;
          }
          .hp-review-arrow-right, .hp-review-arrow-left{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              outline: none;
              img{
                  width: 29px;
                  height: 29px;
              }
              &.hp-review-arrow-right{
                  right: 20px;
              }
              &.hp-review-arrow-left{
                  left: 20px;
              }
          }
          .hp-review-item{
              min-width: 219px;
              display:flex;
              
              border-radius: 5px;
              border: 1px solid #283e4d;
              background-color: #ffffff;
              flex-direction: column;
              margin: 0 1px;
              &.slick-active{
                  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
                 
              }
              &>img{
                  width: 100%;
                  height: auto;
                  max-height: none;
              }
              .hp-review-item-content{
                  padding:20px 20px 0px 17px;
                  .hp-review-description{
                      text-align: left;
                      font-size: 14px;
                      line-height: 20px;
                      font-weight: normal;
                      letter-spacing: 0px;
                      color: #213F4E;
                  }
                  .hp-review-name{
                      text-align: left;
                      font-size: 14px;
                      line-height: 20px;
                      font-weight: 600;
                      letter-spacing: 0px;
                      color: #213F4E;
                      padding-bottom: 10px;
                      border-bottom: 0.5px solid #283E4D;
                      margin-top: 5px;
                  }
                  
              }
              .hp-review-product{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 10px 20px 5px 17px;
                  position: relative;

                  &::after{
                      position: absolute;
                      content: '';
                      border: solid #C46B4E;
                      border-width: 0 2px 2px 0;
                      display: inline-block;
                      padding: 4px;
                      transform: translateY(-50%) rotate(-45deg);
                      -webkit-transform: translateY(-50%) rotate(-45deg);
                      top: 50%;
                      right: 20px;
                  }
                  
                  .hp-review-product-image-wrap{
                      min-width: 34px;
                      text-align: center;
                      img{
                          height: 46px;
                          width: auto;
                      }
                  }
                  
                  .hp-review-product-name{
                      margin-left: 15px;
                      color: #d26546;
                      font-size: 12px;
                      font-weight: 600;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 16px;
                      text-align: left;
                  }
              }
          }
      }
      .hp-reviews-list{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @media screen and (max-width: 960px) {
              display: none;
          }

          .hp-review-column{
              flex-basis: 25%;
              .hp-review-item{
                  max-width: 219px;
                  display:flex;
                  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
                  border-radius: 5px;
                  border: 1px solid #283e4d;
                  background-color: #ffffff;
                  flex-direction: column;
                  margin: 0 auto 20px;
                  &>img{
                      width: 100%;
                      height: auto;
                      max-height: 188px;
                      border-top-left-radius: 5px;
                      border-top-right-radius: 5px;
                  }
                  .hp-review-item-content{
                      padding:20px 20px 0px 17px;
                      .hp-review-description{
                          text-align: left;
                          font-size: 14px;
                          line-height: 20px;
                          font-weight: normal;
                          letter-spacing: 0px;
                          color: #213F4E;
                      }
                      .hp-review-name{
                          text-align: left;
                          font-size: 14px;
                          line-height: 20px;
                          font-weight: 600;
                          letter-spacing: 0px;
                          color: #213F4E;
                          padding-bottom: 10px;
                          border-bottom: 0.5px solid #283E4D;
                          margin-top: 5px;
                      }
                      
                  }
                  .hp-review-product{
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      padding: 10px 20px 5px 17px;
                      border-bottom-left-radius: 5px;
                      border-bottom-right-radius: 5px;
                      &:hover{
                          background: #F2EAD5;
                          position: relative;
                          &::after{
                              position: absolute;
                              content: '';
                              border: solid #C46B4E;
                              border-width: 0 2px 2px 0;
                              display: inline-block;
                              padding: 4px;
                              transform: translateY(-50%) rotate(-45deg);
                              -webkit-transform: translateY(-50%) rotate(-45deg);
                              top: 50%;
                              right: 35px;
                              animation: sheenr 0.3s forwards;
                          }
                      }

                      .hp-review-product-image-wrap{
                          min-width: 34px;
                          text-align: center;
                          img{
                              height: 46px;
                              width: auto;
                          }
                      }
                      
                      .hp-review-product-name{
                          margin-left: 15px;
                          color: #d26546;
                          font-size: 12px;
                          font-weight: 600;
                          font-style: normal;
                          letter-spacing: normal;
                          line-height: 16px;
                          text-align: left;
                      }
                  }
              }
          }
      }
      .hp-new-link{
          box-shadow: 0 4px 0#B1472D;
          border-radius: 5px;
          background-color: #d26546;
          max-width: 340px;
          margin: 40px auto 0;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          letter-spacing: normal;
          line-height: 56px;
          text-align: center;
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }
}