.hp-new-release {
  display: flex;
  padding: 100px 0 100px;
  align-items: center;
  @media screen and (max-width: 1300px) {
      padding: 100px 10px 100px;
  }
  @media screen and (max-width: 960px) {
      flex-wrap: wrap;
      padding: 70px 10px 60px;
  }
  .hp-new-title-mob {
      color: #c95f3d;
      font-size: 32px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: 44px;
      text-align: center;
      margin: 0 auto 50px;
      display:none;
      @media screen and (max-width: 960px) {
         display:block;
         font-size: 40px;
         font-weight: 600;
      }
  }

  .hp-new-release-image-block {
      position: relative;
      flex-basis: 50%;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 960px) {
          flex-basis: 100%;
      }

      

      img {
          max-width: 100%;
          height: auto;
          align-self: flex-start;
          @media screen and (max-width: 960px) {
              max-height: 315px;
              margin: 0 auto;
          }
      }

      img.nehp-new-badge {
          position: absolute;
          top: -22px;
          right: -20px;
          max-width: 144px;
          @media screen and (max-width: 960px) {
              max-width: 81px;
              right: -5px;
          }
      }
  }

  .hp-new-release-content-block {
      flex-basis: 50%;
      padding-left: 90px;
      @media screen and (max-width: 960px) {
          flex-basis: 100%;
          padding-left: 0;
      }

      .hp-new-release-content-block-wrap {
          max-width: 520px;
          @media screen and (max-width: 960px) {
              max-width: 100%;
          }
          .hp-new-title {
              color: #c95f3d;
              font-size: 40px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: center;
              margin-bottom: 35px;
              @media screen and (max-width: 1600px) {
                  margin-bottom: 15px;
              }
              @media screen and (max-width: 960px) {
                  display:none;
              }
          }

          .hp-new-subtitle {
              color: #213f4e;
              font-size: 60px;
              font-weight: 600;
              font-style: normal;
              letter-spacing: normal;
              line-height: 66px;
              text-align: center;
              text-transform: none;
              margin-bottom: 0;
              @media screen and (max-width: 960px) {
                  font-size: 40px;
                  line-height: 46px;
                  margin-top: 30px;
              }
          }

          .hp-new-table {
              max-width: 460px;
              @media screen and (max-width: 960px) {
                  max-width: 100%;
              }
              margin: 20px auto;
              .hp-new-table-heading {
                  background-color: #213f4e;
                  color: #ffffff;
                  font-size: 20px;
                  font-weight: 300;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 20px;
                  text-align: center;
                  padding: 15px 0;
              }

              .hp-new-table-row {
                  display: flex;
                  .hp-new-table-col {
                      border: 1px solid #213f4e;
                      color: #213f4e;
                      font-size: 20px;
                      font-weight: 300;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 20px;
                      text-align: center;
                      flex: 1 0 50%;
                      padding:16px 0 14px;
                  }
              }
          }

          .hp-new-description {
              color: #213f4e;
              font-size: 16px;
              font-weight: 300;
              font-style: normal;
              letter-spacing: normal;
              line-height: 22px;
              text-align: center;
              max-width: 457px;
              margin: 0 auto;
              @media screen and (max-width: 960px) {
                  max-width: 100%;
              }
          }

          .hp-new-link {

              box-shadow: 0 4px 0#B1472D;
              border-radius: 5px;
              background-color: #d26546;
              max-width: 340px;
              margin: 35px auto 0;
              color: #ffffff;
              font-size: 20px;
              font-weight: 600;
              font-style: normal;
              letter-spacing: normal;
              line-height: 56px;
              text-align: center;
              vertical-align: middle;
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (max-width: 1600px) {
                  margin: 15px auto 0;
              }
              @media screen and (max-width: 960px) {
                  max-width: 340px;
              }
          }
      }
  }
}