.home-slider {
  .home-slider__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $color-main-100;
  }
  .home-slider__caption { 
    position: relative; 
    padding: 100px 38px;
    max-width: 450px;
    background: linear-gradient(180deg, rgba($color-white, 0.8) 1.99%, $color-white 2%, rgba($color-white, 0.46) 100%);
    z-index: 2;
    h2, p{
      margin-bottom: 30px;
      // color: $color-primary;
    }
  }
}