
.hp-truspilot-reviews{
  .h-testimonials{
      padding:100px 0;
      background-color: #fff;
      @media screen and (max-width: 960px) {
          padding: 50px 0; 
      }
      .h-testimonials-inner{
          padding: 0;
          max-width: 1175px;
          margin: 0 auto;
          .title-section{
              margin-bottom: 25px;
              color: #213f4e;
              font-size: 26px;
              font-weight: 600;
              font-style: normal;
              letter-spacing: normal;
              line-height: 50px;
              text-align: center;
              @media screen and (max-width: 960px) {
                  font-size: 22px;
                  line-height: 28px;
              }
          }
          .trustpilot-widget{
              @media screen and (max-width: 960px) {
                  margin-top: 0;
              }
          }
      }
  }
}