.hp-best-ingradients{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 866px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .bg-image {
    z-index: -1;
  }
  @media screen and (max-width: 1600px) {
      max-height: 640px;
  }
  @media screen and (max-width: 960px) {

      height: 796px;
      max-height: none;
  }

  .hp-bi-wrap{
      max-width: 685px;
      @media screen and (max-width: 1600px) {
          max-width: 665px;
      }
      @media screen and (max-width: 960px) {
          padding:0 28px;
      }
      .hp-bi-heading{
          color: #213f4e;
          font-size: 60px;
          font-weight: 600;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: center;
          margin-bottom: 45px;
          text-transform: none;
          @media screen and (max-width: 960px) {
              font-size: 40px;
              line-height: 46px;
              margin-bottom: 30px
          }
      }
      .hp-bi-description{
          color: #213f4e;
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 22px;
          text-align: center;
      }
      .hp-new-link{
          box-shadow: 0 4px 0#B1472D;
          border-radius: 5px;
          background-color: #d26546;
          max-width: 340px;
          margin: 45px auto 0;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          letter-spacing: normal;
          line-height: 56px;
          text-align: center;
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 960px) {
              max-width: 180px;
          }
      }
  }
}
