.hp-our-mission{
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1010px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  background-color: #e5e8f1;
  @media screen and (max-width: 1600px) {
      background-position: right;
      max-height: 780px;
  }
  @media screen and (min-width: 960px) and (max-width: 1280px) {
      background-position: 100px;
  }
  @media screen and (max-width: 960px) {
      flex-wrap: wrap;
      padding: 0 10px;
      background-image:none;
      height: auto;
      max-height: none;
  }
  .hp-om-mobile-image{
      @media screen and (max-width: 960px) {
          position: relative;
          width: 100%;
          height: 345px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          .bg-image {
              background-size: contain;
          }
      }
  }
  .hp-om-content{
      position: relative;
      z-index: 2;
      flex-basis: 50%;
      max-width: 700px;
      @media screen and (max-width: 1600px) {
          max-width: 460px;
      }
      @media screen and (max-width: 960px) {
          flex-basis: 100%;
          max-width: 100%;
          min-height: 600px;
      }
      .hp-om-subtitle{
          color: #213f4e;
          font-size: 18px;
          font-weight: 800;
          font-style: normal;
          letter-spacing: 1.08px;
          line-height: normal;
          text-align: left;
          text-transform: uppercase;
          @media screen and (max-width: 960px) {
              font-size: 16px;
              line-height: 22px;
              margin-top: 50px;
              text-align: center;
          }
      }
      .hp-om-title{
          color: #213f4e;
          font-size: 50px;
          font-weight: 600;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left;
          margin-top:10px;
          margin-bottom: 30px;
          text-transform: none;
          @media screen and (max-width: 960px) {
              font-size: 32px;
              line-height: 38px;
              text-align: center;
          }
          
      }
      .hp-om-description{
          color: #213f4e;
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 22px;
          text-align: left;
          margin-bottom: 40px;
          @media screen and (max-width: 960px) {
              text-align: center;
          }
      }
      .hp-om-badges-list{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 570px;
          @media screen and (max-width: 960px) {
              max-width: 100%;
          }
          .hp-om-badge{
              flex-basis: 50%;
              display: flex;
              align-items: center;
              margin-bottom: 35px;
              @media screen and (max-width: 960px) {
                  flex-basis: 100%;
                  margin-bottom: 15px;
              }
              img{
                  width: 50px;
                  height: 50px;
              }
              .hp-om-name{
                  margin-left: 10px;
                  color: #213f4e;
                  font-size: 18px;
                  font-weight: 600;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: normal;
                  text-align: left;
              }
          }
      }
      .hp-new-link{
          margin-top: 45px;
          box-shadow: 0 4px 0#B1472D;
          border-radius: 5px;
          background-color: #d26546;
          max-width: 340px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          letter-spacing: normal;
          line-height: 56px;
          text-align: center;
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 960px) {
              margin: 0 auto;
          }
      }
  }
}
