.home-featured-collection {
  padding-top: 40px;
  padding-bottom: 50px;

  .home-featured-collection__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 35px;
  }

  .home-featured-collection__title {
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 54px;
  }
}


@media screen and (min-width: $screen-sm) {
  .home-featured-collection {
    padding: 90px 0;
    .home-featured-collection__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 40px;
    }
  }
}