.hp-subscription-benefits{
  display: flex;
  padding: 75px 0;
  align-items: center;
  background-color:#fffdf6;
  @media screen and (max-width: 1300px) {
      padding: 75px 10px;
  }
  @media screen and (max-width: 960px) {
      flex-wrap: wrap;
      padding: 15px 10px 40px;
  }

  .hp-subscription-benefits-content-block{
      flex-basis: 50%;
      @media screen and (max-width: 960px) {
          flex-basis: 100%;
          order: 2;
      }
      .hp-sb-wrap{
          max-width: 585px;
          @media screen and (max-width: 960px) {
              max-width: 100%;
          }
          margin: 0 auto;
          .hb-sb-heading{
              color: #213f4e;
              font-size: 50px;
              font-weight: 600;
              font-style: normal;
              letter-spacing: normal;
              line-height: 56px;
              text-align: left;
              margin-bottom: 50px;
              text-transform: none;
              @media screen and (max-width: 1600px) {
                  margin-bottom: 35px;
              }
              @media screen and (max-width: 960px) {
                  font-size: 32px;
                  line-height: 38px;
                  text-align: center; 
              }
          }
          .hb-sb-list{
              .hb-sb-list-item{
                  display: flex;
                  align-items: center;
                  margin-bottom: 32px;
                  @media screen and (max-width: 1600px) {
                      margin-bottom: 15px;
                  }
                  &:nth-child(2),
                  &:nth-child(4){
                      .hb-sb-item-img-wrap{
                          text-align: right;
                      }
                  }
                  .hb-sb-item-img-wrap{
                      min-width: 68px;
                      text-align: center;
                      .hb-sb-item-img{
                          max-height: 68px;
                          width: auto;
                          
                      }
                  }
                  .hb-sb-list-item-cont{
                      margin-left: 60px;
                      @media screen and (max-width: 960px) {
                          margin-left: 20px;
                      }
                      .hb-sb-list-item-heading{
                          text-align: left;
                          letter-spacing: 0px;
                          font-size: 24px;
                          font-weight: 600;
                          font-style: normal;
                          letter-spacing: normal;
                          line-height: 24px;
                          color: #213F4E;
                          @media screen and (max-width: 960px) {
                              font-size: 22px;
                              line-height: 22px;
                          }
                      }
                      .hb-sb-list-item-subheading{
                          text-align: left;
                          font-size: 16px;
                          letter-spacing: 0px;
                          line-height: 24px;
                          color: #213F4E;
                          a{
                              color: #d26546;
                              &:hover{
                                  color: #A2513A;
                              }
                          }
                          
                          @media screen and (max-width: 960px) {
                              line-height: 22px;
                          }
                      }
                  }
              }
          }
          .hp-new-link{
              box-shadow: 0 4px 0#B1472D;
              border-radius: 5px;
              background-color: #d26546;
              max-width: 340px;
              color: #ffffff;
              font-size: 20px;
              font-weight: 600;
              font-style: normal;
              letter-spacing: normal;
              line-height: 56px;
              text-align: center;
              vertical-align: middle;
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (max-width: 1600px) {
                  margin-top: 20px;
              }
              @media screen and (max-width: 960px) {
                  max-width: 340px;
                  margin: 0 auto;
                  margin-top: 20px;
              }
          }
      }
  }
  .hp-subscription-benefits-image-block{
      flex-basis: 50%;
      display: flex;
      @media screen and (max-width: 960px) {
          flex-basis: 100%;
          order: 1;
          margin-bottom: 40px;
      }
      img{
          max-width: 100%;
          height: auto;
          align-self: flex-start;
          @media screen and (max-width: 960px) {
              max-height: 300px;
              margin: 0 auto;
          }
      }
  }
}