.hp-truspilot-badge {
  .trustpilot-widget{
      iframe{
          margin: 0 auto;
      }
  }
  .hp-trustpilot-bage-content {
      max-width: 1000px;
      margin: 20px auto 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      @media screen and (max-width: 960px) {
          max-width: 100%;
      }

      h1 {
          color: #213f4e;
          font-size: 50px;
          font-weight: 600;
          font-style: normal;
          letter-spacing: normal;
          line-height: 60px;
          margin-bottom: 60px;
          text-transform: none;
          clear: none;
          padding-top: 0;
          @media screen and (max-width: 960px) {
              font-size: 32px;
              line-height: 38px;
          }
      }
      .paw-icon-class{
          width: 240px;
          margin: 0 auto;
          .paw-icon-class-wrap{
              width: 225.59px;
              img {
                  max-width: 50px;
                  margin: 0 auto;
                  @media screen and (max-width: 960px) {
                      max-width: 51px;
                  }
              }
          }
      }
  }
}