// Text colors
$color-body-text: #213F4E;

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-white: #fff;
$color-black: #000;
$color-accent: #D26546;
$color-accent-dark: #B1472D;
$color-info: #EFB62F;
$color-primary: #213F4E; 
$color-warm: #fffdf1;
$color-border: #283E4D;
$color-gray: #BCC5C9;
$color-border: #D1D8DB;
$color-link: #79aa6b;



// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;



// Typography
// $font-heading: var(--font-heading); 
// $font-body: var(--font-body);
// $font-body-weight: var(--font-body-weight);
// $font-body-style: var(--font-body-style);
// $font-body-bold-weight: var(--font-body-bold-weight);

$font-heading: 'P22';
$font-body: 'P22';
$font-body-weight: 400;
$font-body-style: normal;
$font-body-bold-weight: 600;


// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid
$grid-gutter: 40px;
$grid-max-width: 1220px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1220px;
