<div class="form-success hide" data-reset-success>
  {{ 'customer.recover_password.success' | t }}
</div>

<div data-login-form>
  {% form 'customer_login' %}
    <h1>{{ 'customer.login.title' | t }}</h1>

    {{ form.errors | default_errors }}

    <label for="CustomerEmail" class="label-hidden">
      {{ 'customer.login.email' | t }}
    </label>
    <input type="email"
           name="customer[email]"
           id="CustomerEmail"
           class="{% if form.errors contains 'email' %}input-error{% endif %}"
           placeholder="{{ 'customer.login.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off"
           autofocus>

    {% if form.password_needed %}
      <label for="CustomerPassword" class="label-hidden">
        {{ 'customer.login.password' | t }}
      </label>
      <input type="password"
             name="customer[password]"
             id="CustomerPassword"
             class="{% if form.errors contains 'password' %}input-error{% endif %}"
             placeholder="{{ 'customer.login.password' | t }}">
    {% endif %}

    <input type="submit" class="button" value="{{ 'customer.login.sign_in' | t }}">

    <a href="/">{{ 'customer.login.cancel' | t }}</a>

    <a href="/account/register">
      {{ 'layout.customer.create_account' | t }}
    </a>

    {% if form.password_needed %}
      <a href="#recover" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
    {% endif %}
  {% endform %}
<!-- Begin ReCharge code -->
{% render 'subscription-account-login' %}
<!-- End ReCharge code -->


</div>

<div class="hide" data-recover-form>
  <h2>{{ 'customer.recover_password.title' | t }}</h2>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide" data-form-state></span>
    {% endif %}

    <label for="RecoverEmail" class="label-hidden">
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input type="email"
           name="email"
           id="RecoverEmail"
           placeholder="{{ 'customer.recover_password.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off">

    <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">

    <button type="button" data-recover-toggle>
      {{ 'customer.recover_password.cancel' | t }}
    </button>
  {% endform %}

</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}
