<article class="authors">
  <div class="container">
    {% if section.blocks.size > 0 %}
      <div class="authors__list">
        {% for block in section.blocks %}
        {% if block.type == 'header' %}
            <h1>{{block.settings.title}}</h1>
          {% elsif block.type == 'author' %}
          <div class="authors__item">
            <div class="authors__item-image {% if block.settings.shape == 'round' %}authors__item-image--round{% endif %}">
              {% if block.settings.image != blank %}
              <div class="bg-image lazyload" data-bgset="{% include 'responsive-bg-image', image: block.settings.image %}"></div>
              {% endif %}
            </div>
            <div class="authors__item-capture">
              <h3>{{ block.settings.title }}</h3>
              {{ block.settings.text }}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Authors",
  "settings": [
  ],
  "blocks": [
  {
    "type": "header",
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title" 
      }
    ]
  },
    {
      "name": "Author",
      "type": "author",
      "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Author image"
      },
      {
        "type": "select",
        "id": "shape",
        "label": "Image shape",
        "default": "round",
        "options": [
          {
            "value": "round",
            "label": "Round"
          },
          {
            "value": "square",
            "label": "Square"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Author title"
      },
      { 
        "type": "richtext",
        "id": "text",
        "label": "Author text"
      }]
    }
  ]
}
{% endschema %}