<article class="collection">
  <div class="container">
    <div class="collection__inner">
      {% include 'collection-filter' %}
      <div class="collection__main">
        {% include 'collection-banner' %}
        {% paginate collection.products by 36 %}
            <div class="collection__list-wrap">
              <div class="collection__header">
              <h1>{{ collection.title }}</h1>
              <div class="collection__description">
                {{ collection.description }}
              </div>
              {% if collection.products.size > 0 %}
                <p class="collection__size">
                  {{ collection.products.size }} {% if collection.products.size == 1 %} {{ 'collections.general.result' | t }}{% else %}{{ 'collections.general.results' | t }}{% endif %}
                  <a href="#" class="button button--action hide-md hide-lg" data-collection-filter-toggle> 
                    {{ 'collections.general.filter' | t }}
                    {% include 'icon-filter' %}
                  </a>
                </p>
              {% endif %}
            </div>
            <div class="collection__list">
              {% for product in collection.products %}
                {% include 'product-item' with product %}
              {% endfor %}
            </div>
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          </div>
        {% endpaginate %}
      </div>
    </div>
  </div>
</div>
{% schema %}

{
  "name": "collection",
  "settings": [
    {
      "label": "Collection banner",
      "type": "image_picker",
      "id": "image"
    }, { 
      "label": "Title",
      "type": "text",
      "id": "title",
      "default": "Subscribe & Save"
    }, {
      "label": "Subtitle",
      "type": "text",
      "id": "subtitle",
      "default": "UP TO 25% OFF"
    }, {
      "label": "Text",
      "type": "richtext",
      "id": "text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>"
    }
  ],
  "blocks": [
    {
      "type": "filter",
      "name": "Filter",
      "settings": [
        {
          "type": "link_list",
          "id": "filter_linklist",
          "label": "Menu list"
        }
      ]
    }
  ]
}

{% endschema %}
