<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% assign type = block.type %}
          {% case type %}
            {% when 'nav' %}

              <div class="footer__column footer__nav">
                {%- assign footer_linklist = block.settings.footer_linklist -%}
                <h3 class="footer__title">{{ linklists[footer_linklist].title }}</h3>
                {% if linklists[footer_linklist].links.size > 0 %}
                  <ul>
                    {% for link in linklists[footer_linklist].links %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {% if section.settings.show_social and forloop.index == 3 %}
                {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                <ul class="footer__social">
                  {% for social in social_accounts %}
                    {%- assign social_handle = social | handleize -%}
                    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

                    {% if settings[social_link] != blank %}
                      <li>
                        <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" target="_blank">
                          {% include social_icon %}
                          <span class="icon-fallback-text">{{ social }}</span>
                        </a>
                      </li>
                    {% endif %}

                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            {% else %}
          {% endcase %}
        {% endfor %}
      {% endif %}

      {% if section.settings.show_payment_icons %}
        {% unless shop.enabled_payment_types == empty %}
          <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
          <ul class="payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li>
                {{ type | payment_type_svg_tag: class: 'icon' }}
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      {% endif %}

      <div class="footer__column footer__logo">
        {% include 'icon-logo' %}
      </div>
    </div>
    <div class="footer__copyright">
      {%- assign footer_linklist = section.settings.footer_linklist -%}
      <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</p>
      {% if linklists[footer_linklist].links.size > 0 %}
        {% for link in linklists[footer_linklist].links %}
          <a href="{{ link.url }}">
            {{ link.title }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}

{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    }, {
      "type": "link_list",
      "id": "footer_linklist",
      "label": "Copyright menu",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Nav",
      "type": "nav",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu",
          "default": "footer"
        }
      ]
    }
  ]
}

{% endschema %}
