<section data-section-id="{{ section.id }}" data-section-type="header" class="header" data-header>
  <div class="container">
  {% assign navigation = linklists[section.settings.menu] %}
  <header class="header__inner">
    <div class="header__collection hide-xs hide-sm hide-md">
      <a class="button button--main button--small" href="/collections/all">SHOP</a>
    </div>
    {% if navigation.links.size > 0 %}
      <nav class="header__navigation hide-xs hide-sm hide-md" role="navigation">
        <ul>
          {% for link in navigation.links %}
            {% if link.links != blank %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                  {% include 'icon-arrow-down' %}
                </a>
                <ul>
                  {% for childlink in link.links %}
                    <li>
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
            {% if forloop.index == 2 %}
              {% break %}
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    {% endif %}

    <div class="header__main">
      {% if template.name == 'index' %}
        <h1 class="header__logo">
        {% else %}
          <div class="h1 header__logo">
          {% endif %}
          <a class="logo-image" href="/">
            {% include 'icon-logo' %}
          </a>
          {% if template.name == 'index' %}
          </h1>
      {% else %}
        </div>
      {% endif %}
      <div class="header__search hide-xs hide-sm" data-header-search>
        {% include 'header-search-form' %}
      </div>
    </div>


    {% if navigation.links.size > 2 %}
      <nav class="header__navigation hide-xs hide-sm hide-md" role="navigation">
        <ul>
          {% for link in linklists[section.settings.menu].links %}
            {% if forloop.index > 2 %}

              {% if link.links != blank %}
                <li>
                  <a href="{{ link.url }}">
                    {{ link.title }}
                    {% include 'icon-arrow-down' %}
                  </a>
                  <ul>
                    {% for childlink in link.links %}
                      <li>
                        <a href="{{ childlink.url }}">
                          {{ childlink.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    {% endif %}

    <a class="header__cart" href="/cart">
      {% include 'icon-cart' %}
      <span>{{ cart.item_count }}</span>
    </a>

    <button class="header__nav-button button hide-lg" data-nav-button  type="button">
      <span></span> 
    </button>
  </header>
  </div>
</section>
<div class="header__nav-mobile hide-lg" data-header-nav>
  <div class="header__collection-mobile">
    <a class="button button--main button--small" href="/collections/all">SHOP</a>
  </div>
  <nav class="" role="navigation">
    <ul>
      {% for link in linklists[section.settings.menu].links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}" data-header-nav-link>
              {{ link.title }}
              {% include 'icon-arrow-down' %}
            </a>
            <ul>
              {% for childlink in link.links %}
                <li>
                  <a href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <div class="header__search-mobile">
  {% include 'header-search-form' %}
</div>
</div>

{% schema %}

{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    }, {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}

{% endschema %}
