<div class="hp-best-ingradients">
  <div class="lazyload bg-image hide-sm hide-md hide-lg" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_image_mobile %}"></div>
  <div class="lazyload bg-image hide-xs" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_image %}"></div>
  <div class="hp-bi-wrap">
    <h2 class="hp-bi-heading">Best Quality Ingredients</h2>
    <div class="hp-bi-description">Our ingredients are what set us apart. They’re what make our products so special. From green lipped mussels, to turmeric, honey and wild alaskan salmon oil; sourced from around the globe, we truly care about what goes into our products. </div>
    <!-- <a href="/collections/all" class="hp-new-link">Shop now</a> -->
  </div>
</div>



{% schema %}
{
  "name": "Ingradients",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Bg image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Bg image mobile"
    }
  ],
  "presets": [
    {
      "name": "Ingradients", 
      "category": "Image"
    }
  ]
}
{% endschema %}