<div class="hp-reviews-section" data-section-id="{{section.id}}" data-section-type="review">
  <div class="hp-review-section-container">
    <h3 class="hp-review-heading">Our Reviews Speak for Themselves</h3>
    <div class="hp-reviews-list">
      <div class="hp-review-column">

        <div class="hp-review-item">
          <img src="{{ " hp-test-1.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">
              “This is Alushe he just turned 13. He was paralyzed from a hernial disc when he was 5. he has been on the
              joint chews now for almost a year and he looks like a puppy and acts like it.”
            </div>
            <div class="hp-review-name">Brenda A.</div>
          </div>
          <a href="/products/joint-chews-for-dogs" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
            <span class="hp-review-product-name">Joint Care Chews</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-2.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“Every spring right through summer, Tally has itching/scratching fits. I
              bought the anti itch chews from Petlab and so far so good. And they are much less expensive than Apoquel.”
            </div>
            <div class="hp-review-name">Carol P.</div>
          </div>
          <a href="/products/dog-itching-treatment" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Itch Relief Chews</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-3.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“This is Silas. The itch chews from PetLab seem to be helping already.
              Only been taking them for a week. He enjoys it as his bedtime treat.”
            </div>
            <div class="hp-review-name">Karen T.</div>
          </div>
          <a href="/products/dog-itching-treatment" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Itch Relief Chews</span>
          </a>
        </div>

      </div>

      <div class="hp-review-column">

        <div class="hp-review-item">
          <img src="{{ " hp-test-4.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“Good morning everyone! Our 11 month old Samoyed Latte is a consumer of
              Petlab’s Dental Formula! Her breath surely always smells fresh!”
            </div>
            <div class="hp-review-name">Desiree S.</div>
          </div>
          <a href="/products/dog-dental-formula" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Dental Formula</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-5.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“Three days of itch chews and they seem to be working. Itching not
              completely gone but definitely reduced. 🙂”
            </div>
            <div class="hp-review-name">Renee O.</div>
          </div>
          <a href="/products/dog-itching-treatment" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Itch Relief Chews</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-6.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“So, two bottles later, the black at the top of his teeth is turning
              brown, and the brown towards the middle of his teeth is clearing up. I’ve been using it ever since. His
              teeth are in very good condition.”
            </div>
            <div class="hp-review-name">Dani B.</div>
          </div>
          <a href="/products/dog-dental-formula" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Dental Formula</span>
          </a>
        </div>

      </div>

      <div class="hp-review-column">

        <div class="hp-review-item">
          <img src="{{ " hp-test-7.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“Boscoe is 11 years old and has been taking the joint support supplements
              for a little over a month! He is like a puppy again, full of energy!!!”
            </div>
            <div class="hp-review-name">Kristi L.</div>
          </div>
          <a href="/products/joint-chews-for-dogs" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
            <span class="hp-review-product-name">Joint Care Chews</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-8.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“This is my fur love Chester. He is a Shih Tzu. We have been using the
              oral liquid in the water for about a year and a half. Friends always comment on how Chester has “ fresh
              breath”
            </div>
            <div class="hp-review-name">Dahpne W.</div>
          </div>
          <a href="/products/dog-dental-formula" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Dental Formula</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-9.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“My 3 fur babies and I have been using the dental formula and it works
              wonderfully.”
            </div>
            <div class="hp-review-name">Lori B.</div>
          </div>
          <a href="/products/dog-dental-formula" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Dental Formula</span>
          </a>
        </div>

      </div>

      <div class="hp-review-column">

        <div class="hp-review-item">
          <img src="{{ " hp-test-10.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“I tried joint chews just to see if it would help her quality of life. 6
              months later and she now runs around in the backyard, chases her brother, and chases the kids.”
            </div>
            <div class="hp-review-name">Nicole N.</div>
          </div>
          <a href="/products/joint-chews-for-dogs" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
            <span class="hp-review-product-name">Joint Care Chews</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-11.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“We received our chews about 2 weeks ago and they are WORKING. My Sadie
              is able to sleep through the night, her scabs are healing over and she is no longer shaking from being so
              uncomfortable ❤️”
            </div>
            <div class="hp-review-name">Tina B.</div>
          </div>
          <a href="/products/dog-itching-treatment" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                alt=""></span>
            <span class="hp-review-product-name">Itch Relief Chews</span>
          </a>
        </div>

        <div class="hp-review-item">
          <img src="{{ " hp-test-12.jpg" | asset_url }}" alt="">
          <div class="hp-review-item-content">
            <div class="hp-review-description">“WOW what a difference in my baby. Barkley is a 12 year old Chinese
              Sharpei and starting limping 6 months ago, he is like a 2 yr old puppy now. THANK you Petlab Co. for
              helping my baby feel better. Customer for life.”
            </div>
            <div class="hp-review-name">Heather G.</div>
          </div>
          <a href="/products/joint-chews-for-dogs" class="hp-review-product">
            <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
            <span class="hp-review-product-name">Joint Care Chews</span>
          </a>
        </div>

      </div>

    </div>
    <div class="hp-reviews-list-slider">

      <div class="hp-reviews-list-slider-container swiper-container" data-main-review>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-1.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">
                  “This is Alushe he just turned 13. He was paralyzed from a hernial disc when he was 5. he has been on
                  the joint chews now for almost a year and he looks like a puppy and acts like it.”
                </div>
                <div class="hp-review-name">Brenda A.</div>
              </div>
              <a href="/products/joint-chews-for-dogs" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
                <span class="hp-review-product-name">Joint Care Chews</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-2.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“Every spring right through summer, Tally has itching/scratching
                  fits. I bought the anti itch chews from Petlab and so far so good. And they are much less expensive
                  than Apoquel.”
                </div>
                <div class="hp-review-name">Carol P.</div>
              </div>
              <a href="/products/dog-itching-treatment" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                    alt=""></span>
                <span class="hp-review-product-name">Itch Relief Chews</span>
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-3.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“This is Silas. The itch chews from PetLab seem to be helping
                  already. Only been taking them for a week. He enjoys it as his bedtime treat.”
                </div>
                <div class="hp-review-name">Karen T.</div>
              </div>
              <a href="/products/dog-itching-treatment" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                    alt=""></span>
                <span class="hp-review-product-name">Itch Relief Chews</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-4.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“Good morning everyone! Our 11 month old Samoyed Latte is a consumer
                  of Petlab’s Dental Formula! Her breath surely always smells fresh!”
                </div>
                <div class="hp-review-name">Desiree S.</div>
              </div>
              <a href="/products/dog-dental-formula" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url
                    }}" alt=""></span>
                <span class="hp-review-product-name">Dental Formula</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-5.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“Three days of itch chews and they seem to be working. Itching not
                  completely gone but definitely reduced. 🙂”
                </div>
                <div class="hp-review-name">Renee O.</div>
              </div>
              <a href="/products/dog-itching-treatment" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                    alt=""></span>
                <span class="hp-review-product-name">Itch Relief Chews</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-6.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“So, two bottles later, the black at the top of his teeth is turning
                  brown, and the brown towards the middle of his teeth is clearing up. I’ve been using it ever since.
                  His teeth are in very good condition.”
                </div>
                <div class="hp-review-name">Dani B.</div>
              </div>
              <a href="/products/dog-dental-formula" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url
                    }}" alt=""></span>
                <span class="hp-review-product-name">Dental Formula</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-7.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“Boscoe is 11 years old and has been taking the joint support
                  supplements for a little over a month! He is like a puppy again, full of energy!!!”
                </div>
                <div class="hp-review-name">Kristi L.</div>
              </div>
              <a href="/products/joint-chews-for-dogs" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
                <span class="hp-review-product-name">Joint Care Chews</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-8.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“This is my fur love Chester. He is a Shih Tzu. We have been using
                  the
                  oral liquid in the water for about a year and a half. Friends always comment on how Chester has “
                  fresh
                  breath”
                </div>
                <div class="hp-review-name">Dahpne W.</div>
              </div>
              <a href="/products/dog-dental-formula" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url
                    }}" alt=""></span>
                <span class="hp-review-product-name">Dental Formula</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-9.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“My 3 fur babies and I have been using the dental formula and it
                  works
                  wonderfully.”
                </div>
                <div class="hp-review-name">Lori B.</div>
              </div>
              <a href="/products/dog-dental-formula" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " denatal-formepa-homepage@3x.png" | asset_url
                    }}" alt=""></span>
                <span class="hp-review-product-name">Dental Formula</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-10.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“I tried joint chews just to see if it would help her quality of
                  life.
                  6
                  months later and she now runs around in the backyard, chases her brother, and chases the kids.”
                </div>
                <div class="hp-review-name">Nicole N.</div>
              </div>
              <a href="/products/joint-chews-for-dogs" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
                <span class="hp-review-product-name">Joint Care Chews</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-11.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“We received our chews about 2 weeks ago and they are WORKING. My
                  Sadie
                  is able to sleep through the night, her scabs are healing over and she is no longer shaking from being
                  so
                  uncomfortable ❤️”
                </div>
                <div class="hp-review-name">Tina B.</div>
              </div>
              <a href="/products/dog-itching-treatment" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " irc-homepage@3x.png" | asset_url }}"
                    alt=""></span>
                <span class="hp-review-product-name">Itch Relief Chews</span>
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-review-item">
              <img src="{{ " hp-test-12.jpg" | asset_url }}" alt="">
              <div class="hp-review-item-content">
                <div class="hp-review-description">“WOW what a difference in my baby. Barkley is a 12 year old Chinese
                  Sharpei and starting limping 6 months ago, he is like a 2 yr old puppy now. THANK you Petlab Co. for
                  helping my baby feel better. Customer for life.”
                </div>
                <div class="hp-review-name">Heather G.</div>
              </div>
              <a href="/products/joint-chews-for-dogs" class="hp-review-product">
                <span class="hp-review-product-image-wrap"><img src="{{ " jcr-hmp@3x.png" | asset_url }}" alt=""></span>
                <span class="hp-review-product-name">Joint Care Chews</span>
              </a>
            </div>
          </div>
        </div> 
      </div>
      <span class="hp-review-arrow-left">
        <img src="{{ " hp-arrowleft.svg" | asset_url }}">
      </span>
      <span class="hp-review-arrow-right">
        <img src="{{ " hp-arrowright.svg" | asset_url }}"></span>
    </div>
    <a href="/pages/testimonials" class="hp-new-link">Read testimonials</a>
  </div>
</div>



{% schema %}
{
"name": "Reviews",
"settings": [
{
"type": "image_picker",
"id": "bg_image",
"label": "Bg image"
},
{
"type": "image_picker",
"id": "bg_image_mobile",
"label": "Bg image mobile"
}
],
"presets": [
{
"name": "Reviews",
"category": "Social"
}
]
}
{% endschema %}