<div class="hp-subscription-benefits">
  <div class="hp-subscription-benefits-content-block">
    <div class="hp-sb-wrap">
      <h2 class="hb-sb-heading">
        Subscription Benefits
      </h2>
      <div class="hb-sb-list">
        <div class="hb-sb-list-item">
          <div class="hb-sb-item-img-wrap">
            <img src="{{ "sb-icon1.svg" | asset_url }}" alt="" class="hb-sb-item-img">
          </div>
          <div class="hb-sb-list-item-cont">
            <div class="hb-sb-list-item-heading">Save 25% every month</div>
            <div class="hb-sb-list-item-subheading">& avoid the hassle of re-ordering</div>
          </div>
        </div>
        <div class="hb-sb-list-item">
          <div class="hb-sb-item-img-wrap">
            <img src="{{ "hp-new-free.svg" | asset_url }}" alt="" class="hb-sb-item-img">
          </div>
          <div class="hb-sb-list-item-cont">
            <div class="hb-sb-list-item-heading">Free Delivery</div>
            <div class="hb-sb-list-item-subheading">On every subscription order</div>
          </div>
        </div>
        <div class="hb-sb-list-item">
          <div class="hb-sb-item-img-wrap">
            <img src="{{ "sb-icon4.svg" | asset_url }}" alt="" class="hb-sb-item-img">
          </div>
          <div class="hb-sb-list-item-cont">
            <div class="hb-sb-list-item-heading">Cancel, pause or skip orders</div>
            <div class="hb-sb-list-item-subheading">by managing <a href="https://account.petlab.com/">your account</a> </div>
          </div>
        </div>
        <div class="hb-sb-list-item">
          <div class="hb-sb-item-img-wrap">
            <img src="{{ "hp-new-vip.svg" | asset_url }}" alt="" class="hb-sb-item-img">
          </div>
          <div class="hb-sb-list-item-cont">
            <div class="hb-sb-list-item-heading">Early access to VIP promos</div>
            <div class="hb-sb-list-item-subheading">Our VIP pups hear it first!</div>
          </div>
        </div>
      </div>
      <a href="/pages/subscription-benefits" class="hp-new-link">Learn more</a>
    </div>
  </div>
  <div class="hp-subscription-benefits-image-block">
    <img src="{{ "sub-ben-home-new.jpg" | asset_url }}" alt="">
  </div>
</div>

{% schema %}
{
  "name":"Benefits",
  "settings": [
  ],
  "presets": [
  {
    "name": "Benefits",
    "category": "Image"
  }
]
}
{% endschema %}