<div class="hp-truspilot-reviews">
  <div class="h-testimonials">
    <div class="h-testimonials-inner">
      <h2 class="title-section title--md">Trusted by Thousands of Pet Owners Worldwide</h2>
        <!-- TrustBox widget - Carousel -->
        <div  id="trustpilotContent"></div>

<script>
  var tp_box = document.getElementById('trustpilotContent');
  if (window.innerWidth > 991){
      tp_box.innerHTML = '<div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8912dec7e10d38f59f36"            data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="130px" data-style-width="100%"            data-theme="light" data-stars="5"> <a href="https://uk.trustpilot.com/review/thepetlabco.com"              target="_blank" rel="noopener">Trustpilot</a> </div>'
  } else {
    tp_box.innerHTML = '<div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8912dec7e10d38f59f36"            data-businessunit-id="5c9df8263ff4c4000185ea05" data-style-height="240px" data-style-width="100%"            data-theme="light" data-stars="5"> <a href="https://uk.trustpilot.com/review/thepetlabco.com"              target="_blank" rel="noopener">Trustpilot</a> </div>'  
  }
</script>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Trustpilot Review",
  "settings": [],
  "presets": [
    {
      "name": "Trustpilot Review",
      "category": "Reviews"
    }
  ]
}
{% endschema %}
