<section class="home-featured-collection">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 class="home-featured-collection__title">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}
    {% if collection.products.size > 0 %}

      <div class="home-featured-collection__list">
        {% for product in collection.products limit: 4 %}
          {% include 'product-item' with product %}
        {% endfor %}
      </div>
       
    {% endif %}

  </div>
</section>

{% schema %}

{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop Our Best-Sellers"
    }, {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}

{% endschema %}
