<div class="hp-truspilot-badge">
  <div class="truspilot">
    <a href="https://www.trustpilot.com/review/thepetlabco.com" rel="noopener" style="position: absolute;
              height: 150px;
              left: 0;
              display: block;
              z-index: 9999;" target="_blank">
      <!-- TrustBox widget - Mini -->
      <div class="trustpilot-widget" data-businessunit-id="5c9df8263ff4c4000185ea05" data-locale="en-US" data-style-height="150px" data-style-margin="0 auto" data-style-width="100%" data-template-id="53aa8807dec7e10d38f59f32" data-theme="light">
        <a href="https://www.trustpilot.com/review/thepetlabco.com" rel="noopener" target="_blank">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
    </a>
  </div>
  <div class="hp-trustpilot-bage-content">
    {% if section.settings.title != blank %}
      <h1>{{section.settings.title}}</h1>
    {% endif %}
    <div class="paw-icon-class">
      <div class="paw-icon-class-wrap">
        <img src="{{ "Paw.svg" | asset_url }}" alt=""> 
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Trustpilot",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "We’re Petlab Co. A company built for pet owners, by pet owners."
    }
  ],
  "presets": [
    {
      "name": "Review",
      "category": "Reviews"
    }
  ]
}
{% endschema %}