{% if section.blocks.size > 0 %}
  <article class="home-slider" data-section-id="{{section.id}}" data-section-type="slider">
    <div class="swiper-container" data-main-slider>

      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.settings.title != blank %}
            <div class="swiper-slide">
              {% if block.settings.url != blank %}
                <a href="{{block.settings.url}}" class="home-slider__slide">
                {% else %}
                  <div class="home-slider__slide">
                  {% endif %}
                  {% if block.settings.image != blank and block.settings.image_mobile != blank %}
                    {% include 'responsive-image' with
                      image: block.settings.image_mobile,
                      max_width: 2560,
                      max_height: 1920,
                      wrapper_class: 'hide-sm hide-md hide-lg'
                    %}
                    {% include 'responsive-image' with
                      image: block.settings.image,
                      max_width: 2560,
                      max_height: 1920,
                      wrapper_class: 'hide-xs'
                    %}
                  {% endif %}
                  <div class="home-slider__caption text-center hide">
                    <h2 class="text-upper text-medium">{{block.settings.title}}</h2>
                    {% if block.settings.text != blank %}
                      {{block.settings.text}}
                    {% endif %}
                    {% if block.settings.label != blank %}
                      <button class="button button--main button--icon">
                        {% include 'icon-button-arrow' %}
                        {{block.settings.label | escape }}
                      </button>
                    {% endif %}
                  </div>
                  {% if block.settings.url != blank %}
                  </a>
              {% else %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </article>

{% endif %}


{% schema %}

{
  "name": "Slider",
  "max_blocks": 7,
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "label": "Slider image desktop",
          "id": "image",
          "type": "image_picker"
        }, {
          "label": "Slider image mobile",
          "id": "image_mobile",
          "type": "image_picker"
        }, {
          "label": "Title",
          "id": "title",
          "type": "text",
          "default": "Your One Stop Shop for All Your Home Appliance Needs!"
        }, {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Over 60 brands and a brand new beautiful showroom! <br/> Visit Us Today</p>"
        }, {
          "type": "url",
          "id": "url",
          "label": "Button link"
        }, {
          "type": "text",
          "id": "label",
          "label": "Button label",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider",
      "category": "Image"
    }
  ]
}

{% endschema %}
