<div class="hp-new-release">
  <div class="hp-new-title-mob">Our New Release!</div>
  <div class="hp-new-release-image-block">
    <img src="{{ "hp-New-badge.svg" | asset_url }}" alt="" class="nehp-new-badge">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{section.settings.image.alt}}">
  </div>
  <div class="hp-new-release-content-block">
    <div class="hp-new-release-content-block-wrap">
      <div class="hp-new-title">Our New Release!</div>
      <h2 class="hp-new-subtitle">Itch Relief Targeted Mousse</h2>
      <div class="hp-new-table">
        <div class="hp-new-table-heading">To soothe irritated skin</div>
        <div class="hp-new-table-row">
          <div class="hp-new-table-col">Anti-Fungal</div>
          <div class="hp-new-table-col">Deodorizes Odors</div>
        </div>
      </div>
      <div class="hp-new-description">Our gentle Itch Relief Mousse has been formulated to support optimal skin health, combating irritation, dry skin, and foul odors. Perfect for both dogs and cats, helping them to feel comfortable, happy, and healthy.</div>
      <a href="/products/itch-relief-targeted-mousse" class="hp-new-link">Learn more</a>
    </div>
  </div>

</div>


{% schema %}
{
  "name": "New Release",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "New Release",
      "category": "Collection"
    }
  ]
}
{% endschema %}