<div class="hp-our-mission">
  
  <div class="lazyload bg-image hide-xs" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_image %}"></div>
  <div class="hp-om-content"> 
    <div class="hp-om-subtitle">OUR MISSION</div>
    <h3 class="hp-om-title">The Petlab Co. Difference</h3>
    <div class="hp-om-description">We are Petlab. A company built by pet owners, for pet owners. We launched in December 2018, and since then, our loyal customer base has grown rapidly into a thriving global community of over 300,000 people. Every day we continuously learn and research high-quality ingredients, products, and supplements to provide your four-legged friends with the very best care.</div>
    <div class="hp-om-badges-list">
      <div class="hp-om-badge">
        <img src="{{ "mission1.svg" | asset_url }}" alt="">
        <div class="hp-om-name">Formulated in the USA</div>
      </div>
      <div class="hp-om-badge">
        <img src="{{ "mission2.svg" | asset_url }}" alt="">
        <div class="hp-om-name">Free shipping on subscription orders</div>
      </div>
      <div class="hp-om-badge">
        <img src="{{ "mission3.svg" | asset_url }}" alt="">
        <div class="hp-om-name">High quality ingredients</div>
      </div>
      <div class="hp-om-badge">
        <img src="{{ "mission4.svg" | asset_url }}" alt="">
        <div class="hp-om-name">3,500+ 5 star reviews</div>
      </div>
    </div>
    <a href="/pages/about-us-1" class="hp-new-link">Read our story</a>
  </div>
  <div class="hp-om-mobile-image">
    <div class="lazyload bg-image hide-sm hide-md hide-lg" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_image_mobile %}"></div>
  </div>
</div>


{% schema %}
{
  "name": "Mission",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Bg image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Bg image mobile"
    }
  ],
  "presets": [
    {
      "name": "Mission", 
      "category": "Image"
    }
  ]
}
{% endschema %}