
{% include 'product-template-snippet-add' %}

{% schema %}
{
  "name": "Product bottom",
  "class": "product-template product-description-bottom-template",
  "settings": [
  {
    "id": "benefits_section_title_main",
    "type": "text",
    "label": "Benefits Section Title",
    "default": "Benefits"
  },
  {
    "id": "daily_feeding_guide_section_title_main",
    "type": "text",
    "label": "Daily Feeding Guide Section Title",
    "default": "Daily Feeding Guide"
  },
  {
    "id": "description_section_title_main",
    "type": "text",
    "label": "Description Section Title",
    "default": "Description"
  },
  {
    "id": "ingredients_section_title_main",
    "type": "text",
    "label": "Ingredients Section Title",
    "default": "Ingredients"
  },
  {
    "id": "how_to_use_section_title_main",
    "type": "text",
    "label": "How To Use Section Title",
    "default": "How To Use"
  },
  {
    "id": "full_main_benefits",
    "type": "textarea",
    "label": "Benefits",
    "default": "Enter benefits"
  },
  {
    "id": "full_main_daily_feeding",
    "type": "textarea",
    "label": "Daily feeding",
    "default": "Enter Daily feeding"
  },
  {
    "id": "full_main_product_facts",
    "type": "textarea",
    "label": "Product facts",
    "default": "Enter Product Facts"
  },
  {
    "id": "full_main_storage",
    "type": "textarea",
    "label": "Product storage",
    "default": "Enter Storage"
  },
  {
    "id": "full_main_description",
    "type": "textarea",
    "label": "Main description section",
    "default": "Enter description here"
  },
  {
    "type": "image_picker",
    "id": "full_main_description_image",
    "label": "Main description Background"
  },
  {
    "type": "header",
    "content": "What is.. section"
  },
  {
    "type": "image_picker",
    "id": "desc-image1",
    "label": "Image"
  },
  {
    "id": "whatis-pet-product-title",
    "type": "text",
    "label": "Title",
    "default": "What is MCT OIL"
  },
  {
    "id": "desc-collumn1",
    "type": "textarea",
    "label": "Description collumn 1",
    "default": "Enter description here"
  },
  {
    "id": "desc-middle-line",
    "type": "textarea",
    "label": "Middle line",
    "default": "Enter description here"
  },
  {
    "id": "desc-collumn2",
    "type": "textarea",
    "label": "Description collumn 2",
    "default": "Enter description here"
  },
  {
    "type": "image_picker",
    "id": "desc-image2",
    "label": "Description Image 2"
  },
    {
    "type": "header",
    "content": "Health Benefits section"
  },
  {
    "type": "text",
    "id": "health-benefits-title",
    "label": "Health Benefits Title",
    "default": "Health Benefits"
  },
  {
    "type": "image_picker",
    "id": "benefits-image1",
    "label": "Health Benefits Image 1"
  },
  {
    "type": "text",
    "id": "benefits-title1",
    "label": "Health Benefits Text 1",
    "default": "Appetite Support"
  },
  {
    "type": "image_picker",
    "id": "benefits-image2",
    "label": "Health Benefits Image 2"
  },
  {
    "type": "text",
    "id": "benefits-title2",
    "label": "Health Benefits Text 2",
    "default": "High in saturated fat"
  },
  {
    "type": "image_picker",
    "id": "benefits-image3",
    "label": "Health Benefits Image 3"
  },
  {
    "type": "text",
    "id": "benefits-title3",
    "label": "Health Benefits Text 3",
    "default": "No Sugar Or Additives"
  },
  {
    "type": "header",
    "content": "Ingredients section"
  },
  {
    "type": "text",
    "id": "ingredients-title",
    "label": "Title"
  },
  {
    "type": "textarea",
    "id": "subhead-description",
    "label": "Subhead"
  },
  {
    "type": "textarea",
    "id": "ingredients-description",
    "label": "Description"
  },
  {
    "type": "image_picker",
    "id": "ingredients-image",
    "label": "Image"
  },
  {
    "type": "header",
    "content": "How to use section"
  },
  {
    "type": "image_picker",
    "id": "howtouse-image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "howtouse-title",
    "label": "Title"
  },
  {
    "type": "textarea",
    "id": "howtouse-description",
    "label": "Description"
  },
  {
    "type": "textarea",
    "id": "full-ingredients-list",
    "label": "Full List of Ingredients"
  }
  ],
  "blocks": [
    {
      "type": "ingredients",
      "name": "Ingredients",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "how_to_use",
      "name": "How To Use",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
  {
    "type": "filter_by_collection",
    "name": "Collection list",
    "limit": 1
  },
  {
    "type": "menu",
    "name": "Menu",
    "settings": [
    {
      "type": "link_list",
      "id": "custom_menu_linklist",
      "label": "Menu"
    }
    ]
  },
  {
    "type": "faq_section",
    "name": "FAQ",
    "settings": [
    {
      "id": "faq_heading",
      "type": "text",
      "label": "FAQ Heading"
    },
    {
      "id": "faq_desc",
      "type": "textarea",
      "label": "FAQ Desc"
    }
    ]
  },
  {
    "type": "page",
    "name": "Page",
    "settings": [
    {
      "type": "page",
      "id": "content_page",
      "label": "Page"
    }
    ]
  },
  {
    "type": "recently_viewed",
    "name": "Recently viewed products",
    "limit": 1,
    "settings": [
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "text",
      "id": "sidebar_rv_title",
      "label": "Title",
      "default": "Recently Viewed"
    },
    {
      "type": "select",
      "id": "sidebar_rv_per",
      "label": "Products limit",
      "default": "3",
      "options": [
      {
        "value": "1",
        "label": "1"
      },
      {
        "value": "2",
        "label": "2"
      },
      {
        "value": "3",
        "label": "3"
      },
      {
        "value": "4",
        "label": "4"
      }
      ]
    }
    ]
  },
  {
    "type": "filter_by_tag",
    "name": "Tag list",
    "limit": 1
  },
  {
    "type": "text",
    "name": "Text",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Text area can be used for special announcements or general information.</p>"
    }
    ]
  },
  {
    "type": "filter_by_type",
    "name": "Type list",
    "limit": 1
  },
  {
    "type": "filter_by_vendor",
    "name": "Vendor list",
    "limit": 1
  }
  ],
  "default": {
  "settings": {

}
}
}

{% endschema %}
