{% comment %}
** Article (blog post) - default view **
- Template section
- Uses blocks
{% endcomment %}

{% if article.image and section.settings.banner_enabled %}
  <header class="banner center page_banner dark-overlay-{{section.settings.image_darken}}">
    {% include 'image-element', image: article.image, alt: article.image.alt, stretch_width: true %}
    <div class="caption captionOverlay--true">
      <h1 class="headline">{{ article.title }}</h1>
    </div>
  </header>
{% endif %}

<a name="pagecontent" id="pagecontent"></a>

<div class="container main content">
{% paginate article.comments by 100 %}

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  <div class="article_header">
    <p class="blog_label"><a href="{{ blog.url }}">{{ blog.title | escape }}</a></p>
    {% unless article.image and section.settings.banner_enabled %}
      <h1 class="align_left article_title">{{ article.title }}</h1>
    {% endunless %}
    {% if section.settings.blog_author %}
      <div class="article_author-wrapper">
        <div class="article_author-img">
          <img src="{% if article.user.image %}{{ article.user.image | img_url: '76x' }}{% else %}//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=160&r=G{% endif %}" alt="{{ article.author }}" {{ article.user.email }} width="60" />
        </div>
        <div class="article_author-info">
          <p><strong>About <span class="article_author-name">{{ article.author }}</span></strong></p>
          <p class="article_author-desc">{{ article.user.bio | truncatewords: 35, ' '}}
            {% if article.user.homepage %}
              <a href="{{ article.user.homepage }}">[Read more]</a>
            {% endif %}
          </p>
        </div>
      </div>
    {% endif %}
    {% if section.settings.display_social_buttons %}
      <div class="feature_divider"></div>
      <div class="article_social-wrapper">
          <div class="blog_share meta">
            {% include "social-buttons" with "article" %}
          </div>
      </div>
    {% endif %}
  </div>

  <div class="feature_divider"></div>

  <div class="eleven columns">
    <div class="clearfix">
      <p class="blog_meta">

        {% if section.settings.blog_date %}
          <span>{{ article.published_at | date: format: "month_day_year" }}</span>
        {% endif %}

        {% if section.settings.blog_tags %}
          <div class="blog_meta tags">
            {% for tag in article.tags %}
              <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endif %}

        {% if section.settings.blog_comment_count %}
          {% if settings.disqus_enabled %}
            <span>
              <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
            </span>
          {% elsif article.comments_enabled? and article.comments_count > 0 %}
            <span>
              <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
            </span>
          {% endif %}
        {% endif %}
      </p>

      <div class="article_content clearfix">
        {% if article.image and section.settings.banner_enabled == false %}
        {% include 'image-element', image: article.image, alt: article.image.alt %}
        <p></p>
        {% endif %}

        {{ article.content }}
      </div>

      {% if section.settings.display_social_buttons %}
        <div class="article_social-wrapper">
          {% include "social-buttons" with "article" %}
        </div>
      {% endif %}


      

      {% if section.settings.blog_additional_posts and blog.articles_count > 1 %}
        <div class="section clearfix relate_articles--wrapper" style="display: none !important;">
          <h3 class="related_articles--title"><span>
            YOU MIGHT ALSO LIKE...
            <!-- {{ 'blogs.article.additional_articles' | t: title: blog.title }} -->
            {% for prod in collections['all'].products %}
            {% if prod.collections contains 'dog' %}
          {{ prod.title }}
              {% endif %}
          {% endfor %}
          </span><hr></h3>
          {% assign article_found = false %}
          {% for a in blog.articles limit: 4 %}
            {% assign skip_article = false %}
            {% if article_found == false and forloop.last %}
              {% assign skip_article = true %}
            {% endif %}
            {% if article.id == a.id %}
              {% assign article_found = true %}
              {% assign skip_article = true %}
            {% endif %}
            {% unless skip_article %}
              {% comment %} <div class="one-third columns article"> {% endcomment %}
              <div class="{% cycle 'alpha', 'omega' %} related-article--content">
                {% if a.image %}
                  <a href="{{ a.url }}" title="{{ a.title | escape }}">
                    {% include 'image-element', image: a.image, alt: a.image.alt %}
                  </a>
                {% endif %}

                <h5 class="sub_title">
                  <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ a.title }}</a>
                </h5>
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      {% endif %}
          
            <style>
            #meet-the-authors img{
              width:150px;
              margin:0 20px 20px 0;
              border: 8px solid #344f5d;
              border-radius:50%;
              float:left
            }
            #meet-the-authors{
              margin-top:30px;
              margin-bottom:30px;
              padding-top:20px;
              border-top:1px solid #a9a9a9;
              border-bottom:1px solid #a9a9a9;
              color:#344f5d
            }
            #meet-the-authors h3{
              color:#344f5d
            }
            a.meet-authors-link{
              border:3px solid #344f5d;
              color:#344f5d;
              text-decoration:none;
              transition:all .3s;
              padding:10px 20px 10px 20px;
              border-radius:10px;
              font-size:0.8em;
            }
            a.meet-authors-link:hover{
              background:#344f5d;
              color:#fff
            }
            .author-title{
              color:#344f5d
            }
          </style>
          {% if article.author == 'Clara Hallifax' %}
          
          <div id="meet-the-authors">
            <h2 class="author-title">MEET THE AUTHOR</h2>
       
            	<img src="https://cdn.shopify.com/s/files/1/0015/4874/6807/files/clara-new.png?v=1587553253">
            	<h3>Clara Hallifax</h3>
            	<p>A lover of all animals, especially dogs! I love to learn about the way they think, and what we as pet owners can
                  do to better their lives. So what better way, than to write fun, informative content?! When I’m not typing away,
                  you can find me trying to cook a new recipe (and failing), or of course playing with the dog</p>
            <br />
			<div style="margin-left:170px">
            	<a class="meet-authors-link" href="/pages/meet-the-authors/">Meet The Author</a>
            </div>
            <br />
          </div>
          
          {% elsif article.author == 'Becca Trigg' %}
          
          <div id="meet-the-authors">
            <h2 class="author-title">MEET THE AUTHOR</h2>
       
            	<img src="https://cdn.shopify.com/s/files/1/0015/4874/6807/files/becca-author.png?v=1586431116">
            	<h3>Becca Trigg</h3>
            	<p>An all round animal lover, who absolutely adores writing and researching anything puppy!
                  Over the past few years, I have been able to gain ample pet knowledge; specifically joint health
                  and dental hygiene. When I'm not typing away in the office, I can be found sitting in a country pub
                  or growing chillies</p>
            <br />
			<div style="margin-left:170px">
            	<a class="meet-authors-link" href="/pages/meet-the-authors/">Meet The Author</a>
            </div>
            <br />
          </div>
          
          {% elsif article.author == 'Rachel Cleverley'%}
          
          <div id="meet-the-authors">
            <h2 class="author-title">MEET THE AUTHOR</h2>
       
            	<img src="https://cdn.shopify.com/s/files/1/0015/4874/6807/files/rachel-new.png?v=1587553253">
            	<h3>Rachel Cleverley</h3>
            	<p>Writer, blogger and crazy cat lady - I'm at my happiest when writing away with my sidekick, Milo, at my feet.
                  When I'm not researching and writing about the latest pet health tips, you can find me out running with my parent's dog,
                  or curled up with a good book!</p>
            <br />
			<div style="margin-left:170px">
            	<a class="meet-authors-link" href="/pages/meet-the-authors/">Meet The Author</a>
            </div>
            <br />
          </div>
    
          {% elsif article.author == 'Sarah Milton' %}
    
          <div id="meet-the-authors">
            <h2 class="author-title">MEET THE AUTHOR</h2>
       
            	<img src="https://cdn.shopify.com/s/files/1/0015/4874/6807/files/sarah-new.png?v=1587553252">
            	<h3>Sarah Milton</h3>
            	<p>Comes from a family of animal lovers and got to grow up with a menagerie of pets! I believe owning a pet is a privilege
                  and I love researching and creating informative, fun content for fellow pet owners to help their furry friends have the happiest
                  and healthiest lives. When I’m not writing blogs, you can find me sharing a walk with my pet dachshund or at a yoga class!</p>
            <br />
			<div style="margin-left:170px">
            	<a class="meet-authors-link" href="/pages/meet-the-authors/">Meet The Author</a>
            </div>
            <br />
          </div>
          
          
          {% endif %}
            
          
          
          
        <!--ALIKE LISTING: BEGIN-->
        {% if section.settings.blog_additional_posts and blog.articles_count > 1 %}
        <div class="section alike-listing">
          <h3 class="alike-listing--title">You Might Also Like...</h3>
          <div class="alike-listing--articles">
            {% assign article_found = false %}
            {% for a in blog.articles limit: 4 %}
              {% assign skip_article = false %}
              {% if article_found == false and forloop.last %}
                {% assign skip_article = true %}
              {% endif %}
              {% if article.id == a.id %}
                {% assign article_found = true %}
                {% assign skip_article = true %}
              {% endif %}
              {% unless skip_article %}
              <div class="alike-listing--item">
                  {% if a.image %}
                    <a class="alike-listing--item_card"  href="{{ a.url }}" title="{{ a.title | escape }}">
                      <figure>
                        <img src="{{ a.image | img_url: '400x' }}"
                             alt="{{ a.title }}">
                    </figure>
                    </a>
                  {% endif %}
                  <div class="alike-listing--item_data">
                      <div class="alike-listing--item_meta">
                          <span class="alike-listing--item_date">{{ a.created_at | date : "%B %d, %y" }}</span>
                          <a class="alike-listing--item_hash" href="/blogs/dogs">All</a>
                      </div>
                      <h4 class="alike-listing--item_title">
                          <a class="card" href="{{ a.url }}">
                            {{ a.title }}
                          </a>
                      </h4>
                      <div class="alike-listing--item_descr">
                        {{ a.excerpt_or_content | strip_html | truncatewords: 30 }}
                      </div>
                      <div class="alike-listing--item_cta">
                          <a href="{{ a.url }}">
                              + Read More
                          </a>
                      </div>
                  </div>
              </div>
              {% endunless %}
          {% endfor %}
          </div>
      </div>
      <!--ALIKE LISTING: END-->
      {% endif %}
      <div class="clear" id="comments"></div>
      <br class="clear" />

      {% if settings.disqus_enabled %}
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = "{{ canonical_url }}";
                this.page.identifier = "{{ article.id }}";
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% elsif blog.comments_enabled? %}
        {% if article.comments_count > 0 %}
          <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>

          {% for comment in article.comments %}
            <div id="comment-{{ comment.id }}" class="comment clearfix">
              <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=160&r=G" alt="{{ comment.author }}" />
              </div>
              <div class="comment-body eight columns omega">
                <h6>{{ comment.author }}</h6>
                <p class="meta">
                  <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                </p>

                {{ comment.content }}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% if comment and comment.created_at %}
          {% if article.comments_count == 0 %}
            <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>
          {% endif %}
          <div id="comment-{{ comment.id }}" class="comment clearfix">
            <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
              <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=160&r=G" alt="{{ comment.author }}" />
            </div>
            <div class="comment-body eight columns omega">
              <h6>{{ comment.author }}</h6>
              <p class="meta">
                <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
              </p>

              {{ comment.content }}
            </div>
          </div>
        {% endif %}

        {% include 'pagination' with sidebar %}

        <div class="clear" id="new-comment"></div>
        <h4>{{ 'blogs.comments.title' | t }}</h4>

        {% if blog.moderated? %}
          <p><em>{{ 'blogs.comments.moderated' | t }}</em></p>
        {% endif %}

        {% form article %}
          {% if form.posted_successfully? %}
            {% if blog.moderated? %}
              <p class="quote align_left">{{ 'blogs.comments.success_moderated' | t }}</p>
            {% else %}
              <p class="quote align_left">{{ 'blogs.comments.success' | t }}</p>
            {% endif %}
          {% endif %}

          {% if form.errors %}
            <p class="quote align_left">{{ 'general.forms.post_error' | t }}</p>
          {% endif %}

          <div class="six columns alpha">
            <label for="comment_author">{{ 'blogs.comments.name' | t }} <span class="red">*</span></label>
            <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" required="required" />
          </div>

          <div class="six columns omega">
            <label for="comment_email">{{ 'blogs.comments.email' | t }} <span class="red">*</span></label>
            <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" required="required" />
          </div>

          <label for="comment_body">{{ 'blogs.comments.comment' | t }} <span class="red">*</span></label>
          <textarea id="comment_body" name="comment[body]" rows="5" required="required">{{ form.body }}</textarea>

          <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="action_button" />
        {% endform %}
      {% endif %}
    </div>
  </div>
  <div class="blog_sidebar five columns">
    {% include "blog-sidebar", blog_handle: blog.handle %}
  </div>
{% endpaginate %}
</div>
{% schema %}

{
  "name": "Blog post",
  "class": "blog-post-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "banner_enabled",
      "label": "Enable blog post banner image",
      "info": "The blog post's featured image will be used as a full-width banner",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
     "type": "checkbox",
     "id": "blog_breadcrumb",
     "label": "Show breadcrumbs",
     "default": true
    },
    {
     "type": "checkbox",
     "id": "blog_pagination",
     "label": "Show next blog post link",
     "default": true
    },
    {
     "type": "checkbox",
     "id": "blog_tags",
     "label": "Show blog post tags"
    },
    {
     "type": "checkbox",
     "id": "blog_author",
     "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "read_time",
      "label": "Show estimated read time",
      "default": true
    },
    {
     "type": "checkbox",
     "id": "blog_date",
     "label": "Show date",
     "default": true
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
     "type": "checkbox",
     "id": "blog_comment_count",
     "label": "Show comment count",
     "default": true
    },
    {
      "type": "header",
      "content": "Related blog posts"
    },
    {
     "type": "checkbox",
     "id": "blog_additional_posts",
     "label": "Show related blog posts",
     "default": false
    },
    {
     "type": "checkbox",
     "id": "read_more_link",
     "label": "Show continue reading link",
     "default": true
    },
    {
     "type": "header",
     "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "post_tags",
      "name": "Blog post tags",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter sign up form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "newsletter_text",
          "label": "Subheading",
          "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recent_posts",
      "name": "Most Popular blog posts",
      "limit": 1,
      "settings": [
        {
          "type": "article",
          "id": "featured_article_1",
          "label": "Featured Article 1"
        },
        {
          "type": "article",
          "id": "featured_article_2",
          "label": "Featured Article 2"
        },
        {
          "type": "article",
          "id": "featured_article_3",
          "label": "Featured Article 3"
        },
        {
          "type": "article",
          "id": "featured_article_4",
          "label": "Featured Article 4"
        },
        {
          "type": "article",
          "id": "featured_article_5",
          "label": "Featured Article 5"
        },
        {
          "type": "article",
          "id": "featured_article_6",
          "label": "Featured Article 6"
        }
      ]
    },
    {
      "type": "search",
      "name": "Search form",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for details about blog authors or general information.</p>"
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Image Link"
        }
      ]
    }
  ]
}

{% endschema %}