{% comment %}
** Main blog page - default view **
- Template section
- Uses blocks
{% endcomment %}

{% if section.settings.image != nil %}
  <header class="banner center page_banner dark-overlay-{{ section.settings.image_darken }}">
    {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt, stretch_width: true %}
    {% if current_tags %}
      <div class="caption captionOverlay--true">
        <h1 class="headline">{{ current_tags }}</h1>
      </div>
    {% else %}
      <div class="caption captionOverlay--true">
        <h1 class="headline">{{ blog.title }}</h1>
        <p class="subtitle">{{ section.settings.subtitle }}</p>
      </div>
    {% endif %}
  </header>
{% endif %}
<a name="pagecontent" id="pagecontent"></a>

<div class="main content">

  {% include "blog-icons" %}
  {% if section.settings.posts_slider == true %}
</div>
{% endif %}
{% if current_tags %}
<h1 class="blog-page-heading-main">{{ current_tags }}</h1>
{% else %}
{% if blog.title == 'Dogs' %}
<h1 class="blog-page-heading-main">All Blogs And Guides</h1>
{% else %}
<h1 class="blog-page-heading-main">{{ blog.title }}</h1>
{% endif %}
{% endif %}
{% if section.settings.posts_slider %}
<div class="full-slider">
  <div class="full-carousel">
    {% for link in linklists.blogs.links %}
      {% assign blogmain = link.object %}
      {% for article in blogmain.articles limit:3 %}
        <div class="full-slider-item carousel-cell" style="background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url({{ article.image | image_url}}) no-repeat scroll center center; background-size: cover; height: 100%;">
            <h2 class="blog-slider-title">{{ article.title }}</h2>
            <a href="{{ article.url }}" title="{{ article.title | escape }}" class="blog-slider-button">Read More</a>
        </div>
        {% endfor %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% if section.settings.posts_slider == true %}
<div class="container main content">
  {% endif %}
  {% comment %} {% include "feature-blog-header" %} {% endcomment %}
{% paginate blog.articles by section.settings.blog_posts_per_page %}
  {% comment %} <div class="blog-header clearfix" style="display: none !important;">
    {% unless section.settings.image != nil %}
      <div class="eight columns">
          {% if current_tags %}
            <h1 class="blog-title blog-tags--true">
              <a href="/blogs/{{ blog.handle }}/tagged/{{ current_tags | handleize }}" title="{{ blog.title | escape }}">{{ current_tags }}</a>
            </h1>
          {% else %}
            <h1 class="blog-title">
              {{ blog.title }}
            </h1>
            {% if section.settings.subtitle %}
              <p class="subtitle">{{ section.settings.subtitle }}</p>
            {% endif %}
          {% endif %}
        </h1>

      </div>
    {% endunless %}

    <div class="eight columns section_select medium-down--one-whole">
      {% if section.settings.blog_tags %}
          <select name="tag_filter" id="blog_filter" class="blog_filter">
            <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">{{ 'blogs.general.view_all' | t }}</option>
            {% for tag in blog.all_tags %}
              <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
            {% endfor %}
          </select>
      {% endif %}
    </div>
    {% unless section.settings.image != nil %}
      <div class="sixteen columns">
        <div class="feature_divider"></div>
      </div>
    {% endunless %}
  </div> {% endcomment %}

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  {% assign blog_count = 0 %}
  <div class="{% if sidebar %}twelve medium-down--one-whole {% else %}sixteen{% endif %} columns">
    {% for article in blog.articles %}
      {% if section.settings.blog_posts_per_row == 1 %}
        {% if article.image %}
          <div class="nine columns alpha article_image large-down--one-half article_image">
            <a href="{{ article.url }}" title="{{ article.title | escape }}">
              {% include 'image-element', image: article.image, alt: image.alt %}
            </a>
          </div>
          <div class="{% if sidebar %}five{% else %}seven{% endif %} columns omega article medium-down--one-half">
        {% else %}
          <div class="{% if sidebar %}eight{% else %}sixteen{% endif %} columns alpha omega article">
        {% endif %}
      {% else %}
        {% if sidebar %}
          <div class="{% if section.settings.blog_posts_per_row == 2 %}eight columns {% elsif section.settings.blog_posts_per_row == 3 %}one-third column {% else %}four columns{% endif %} article medium-down--one-half small-down--one-whole">
        {% else %}
          {% assign blog_count = blog_count | plus: 1 %}
          {% if blog_count < 3 %}
            <div class="eight columns {% cycle 'alpha', 'omega' %} article medium-down--one-half small-down--one-whole aspect-ratio">
          {% else %}
            <div class="{% if section.settings.blog_posts_per_row == 2 %}eight columns {% elsif section.settings.blog_posts_per_row == 3 %}one-third column {% else %}four columns{% endif %} article medium-down--one-half small-down--one-whole aspect-ratio">
          {% endif %}
        {% endif %}
        <div class="blog-content">
        {% if article.image %}
          <a href="{{ article.url }}" title="{{ article.title | escape }}" class="article_image_wrapper">
            {% include 'image-element', image: article.image, alt: image.alt %}
            <div class="blog-gradient-overlay"></div>
          </a>
        {% endif %}
      {% endif %}

      <div class="blogpage-postdetails-list petlogue-blog-listing">

        <h2 class="bloglisting-posttitle"><a href="{{ article.url }}">{{ article.title }}</a></h2>

        <p class="blog_meta">
          {% if section.settings.blog_author %}
            <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
          {% endif %}

          {% if section.settings.blog_date %}
            <p class="pet-postdate">{{ article.published_at | date: format: "month_day_year" }}</p>
          {% endif %}

          {% if section.settings.read_time %}
            {% include 'include-read-time' %}
          {% endif %}

          {% if section.settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
              </span>
            {% endif %}
          {% endif %}
        </p>
        {% if section.settings.blog_tags %}
          <div class="blog_meta tags">
            {% for tag in article.tags %}
              <span><a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endif %}

        {% if article.excerpt != blank %}
          <div class="excerpt"> {{ article.excerpt }}</div>
        {% endif %}
        {% if section.settings.read_more_link %}
        <p class="bloglisting-postbtn">
          <a href="{{ article.url }}" title="{{ article.title | escape }}" {% if settings.read_more_style == 'button' %}class="action_button continue-button"{% endif %}><i class="fa fa-arrow-right"></i></a>
        </p>
        {% endif %}
        </div>
      </div>
    </div>
      {% if blog_count <3 %}
        {% cycle "article_row": '', '<br class="clear" />' %}
      {% else %}
        {% if section.settings.blog_posts_per_row == 2 %}
          {% cycle "article_row": '', '<br class="clear" />' %}
        {% elsif section.settings.blog_posts_per_row == 3 %}
          {% cycle "article_row": '', '', '<br class="clear" />' %}
        {% elsif section.settings.blog_posts_per_row == 4 %}
          {% cycle "article_row": '', '', '', '<br class="clear" />' %}
        {% else %}
          <br class="clear" />
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  {% include "blog-sidebar", blog_handle: blog.handle %}

  <br class="clear" />
  <div class="sixteen columns">
    {% include 'pagination' %}
  </div>
{% endpaginate %}

</div>
<script>
$( document ).ready(function(){
  $('.full-carousel').flickity({
      wrapAround: true
    });
});
</script>
{% schema %}

{
  "name": "Blog",
  "class": "blog-section",
  "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner image",
        "info": "1800 x 800px recommended"
      },
      {
        "type": "checkbox",
        "id": "image_darken",
        "label": "Darken banner image",
        "default": false
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Subheading"
      },
      {
        "type": "range",
        "id": "blog_posts_per_row",
        "label": "Blog posts per row",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "blog_posts_per_page",
        "label": "Blog posts per page",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 12
      },
      {
        "type": "checkbox",
        "id": "posts_slider",
        "label": "Show Posts Slider"
       },
      {
       "type": "checkbox",
       "id": "blog_tags",
       "label": "Show blog post tags"
      },
      {
       "type": "checkbox",
       "id": "blog_author",
       "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "read_time",
        "label": "Show estimated read time",
        "default": true
      },
      {
       "type": "checkbox",
       "id": "blog_date",
       "label": "Show date",
       "default": true
      },
      {
       "type": "checkbox",
       "id": "blog_comment_count",
       "label": "Show comment count",
       "default": true
      },
      {
       "type": "checkbox",
       "id": "read_more_link",
       "label": "Show continue reading link for blog post excerpts",
       "default": true
      },
      {
       "type": "header",
       "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create a sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
  ],
  "blocks": [
    {
      "type": "post_tags",
      "name": "Blog post tags",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter sign up form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "newsletter_text",
          "label": "Subheading",
          "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recent_posts",
      "name": "Recent blog posts",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "blog_post_count",
          "label": "Display blog posts",
          "options": [
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "10",
              "label": "10"
            }
          ],
          "default": "10"
        }
      ]
    },
    {
      "type": "search",
      "name": "Search form",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for details about blog authors or general information.</p>"
        }
      ]
    }
  ]
}

{% endschema %}
