div.container {
    max-width: 1156px;
}

#team,
#benefits,
#opportunities,
#apply-now,
#all-jobs,
#job-full-description {
    display: none;
}
#apply-now.main-tab.main-tab-active,
#job-full-description.main-tab.main-tab-active{
    display: block!important;
}
.main-career-banner {
    background-image: url("{{"shutterstock_1709718802.png" |asset_url }}");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1924px 577px;
    height: 577px;
    
    h1 {
        color: #213f4e;
        font-size: 68px;
        font-weight: 800;
        font-style: normal;
        letter-spacing: normal;
        line-height: 92px;
        text-align: left;
        text-transform: uppercase;
        margin-top: 150px;
    }

    h2 {
        color: #213f4e;
        font-size: 32px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40px;
        text-align: left;
        text-transform: none;
    }
}

.tabs-row {
    .container {
        padding: 40px 0 30px;
        border-bottom: 1px solid #213f4e;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        max-width: 910px;
        margin: 0 auto;

        li {
            a {
                color: #2e4b59;
                font-size: 22px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
                /* Text style for "Company" */
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-transform: uppercase;
                &.active-main-tab{
                    font-weight: 600;
                }
            }
        }
    }
}

.work-with-us-row {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    .work-with-us-heading-col {
        min-width: 351px;

        h3 {
            color: #213f4e;
            font-size: 50px;
            font-weight: 800;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
            /* Text style for "WORK WITH" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    .work-with-us-text-col {
        max-width: 733px;

        p {
            color: #213f4e;
            font-size: 24px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
        }
    }
}

.content-comp-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .content-comp-col {
        max-width: 561px;

        p {
            color: #375867;
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
        }
    }
}

.core-values {
    max-width: 1010px;
    margin: 0 auto;
    margin-top: 100px;

    h3 {
        color: #213f4e;
        font-size: 50px;
        font-weight: 800;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        /* Text style for "OUR CORE V" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 75px;
    }

    .core-values-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;

        .core-values-cont {
            max-width: 715px;

            h4 {
                color: #213f4e;
                font-size: 36px;
                font-weight: 600;
                font-style: normal;
                letter-spacing: normal;
                line-height: 40px;
                text-align: left;
                /* Text style for "Improving" */
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                margin-bottom: 15px;
                text-transform: none;
            }

            p {
                color: #375867;
                font-size: 24px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
                /* Text style for "If an ingr" */
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
            }
        }

        .core-values-img {
            text-align: center;

            img {
                max-width: 241px;
                max-height: 241px;
            }
        }
    }
}

a.main-career-button {
    color: #fffdf1;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    /* Text style for "SEE JOB OP" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #c95f3d;
    padding: 10px 50px 5px;
    display: block;
    margin: 0 auto;
    max-width: 433px;
    margin-bottom: 100px;
}

h3 {
    color: #213f4e;
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    /* Text style for "Meet the t" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
}

.main-team-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 25%;
    margin-bottom: 50px;

    img {
        max-width: 146px;
        max-height: 146px;
        min-width: 146px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .main-team-item-name {
        color: #375867;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        &.main-team-item-name-bold{
            font-weight: 600;
            font-family: "P22-Demi";
        }
    }
}

#opportunities,
#benefits,
#team {
    h3 {
        margin-top: 30px;
    }
}

.main-team-row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border-bottom: 1px solid #213f4e;
    padding-bottom: 40px;
    margin-top: 35px;

}

.team-members-cont-row {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-bottom: 40px;

    .main-team-item {
        flex: 1 0 25%;
        max-width: 25%;
    }
}

.team-members-cont-heading {
    color: #213f4e;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    /* Text style for "Finance" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-top: 25px;
    padding-bottom: 40px;
    cursor: pointer;
    position: relative;
}

.team-members-cont-heading::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 30px;
    height: 15px;
    background-image: url({{ "arrow-team-main.png" | asset_url }});
    transform: rotate(180deg) translateY(15px);
}

.team-members-cont-heading.active-head-team::after {
    transform: translateY(-15px);
}

#team div.container {
    max-width: 1000px;
}

.team-members-cont-row-hide {
    display: none;
    height: 0;
}

.team-members-cont {
    border-bottom: 1px solid #213f4e;
}

.meet-pets {
    margin: 100px 0;

    .meet-pets-row {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .meet-pets-item {
            img {
                max-width: 299px;
                max-height: 228px;
                margin-bottom: 25px;
            }

            .meet-pets-name {
                display: block;
                color: #375867;
                font-size: 20px;
                font-weight: 600;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
            }

            .meet-pets-role {
                display: block;
                color: #375867;
                font-size: 20px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
            }
        }
    }
}

.benefit-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    .benefit-item {
        display: flex;
        flex-direction: row;
        max-width: 560px;

        img {
            max-width: 136px;
            max-height: 139px;
            margin-right: 25px;
        }

        .benefit-item-heading {
            color: #375867;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            /* Text style for "Bring your" */
            font-family: "P22-Demi";
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
        }

        .benefit-item-cont {
            color: #375867;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
        }
    }
}

#opportunities,
#benefits {
    h3 {
        margin-bottom: 50px;
    }
}

.departments-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

    .department-item {
        display: flex;
        flex-direction: column;
        max-width: 270px;
        cursor: pointer;

        img {
            max-width: 156px;
            max-height: 156px;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        span {
            color: #375867;
            font-size: 30px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
        }
    }
}
a.main-career-button-all,
a.load-more-jobs,
a.all-jobs-see {
    color: #486674;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    /* Text style for "SEE ALL JO" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #213f4e;
    display: block;
    max-width: 180px;
    margin: 0 auto;
}
#opportunities {
    a.all-jobs-see{
        margin-bottom: 150px;
    }
}
.features-jobs-cont{
    h3{
        margin-bottom: 40px;
    }
    h5{
        color: #213f4e;
        font-size: 28px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
        text-transform: none;
    }
    .features-jobs-control{
        display: flex;
        max-width: 750px;
        justify-content: space-between;
        margin: 0 auto 80px;

        .features-jobs-selector{
            min-width: 363px;
            min-height: 60px;
            border-radius: 29px;
            border: 1px solid #707070;
            background-color: #ffffff;
            padding: 20px 0 0 35px;
            position: relative;
            cursor: pointer;

            &.features-jobs-selector-open{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .features-jobs-selector-name{
                color: #375867;
                font-size: 16px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 12px;
                    background-image: url({{ "selector-arrow-down-main.png" | asset_url }});
                }
            }
            .features-jobs-selectors{
                position: absolute;
                top: 100%;
                left: -1px;
                z-index: 2;
                background-color: #ffffff;
                width: 363px;
                border: 1px solid #707070;
                display: none;
                &.features-jobs-selectors-open{
                    display: block;
                }
                .features-jobs-selector-opener{
                    color: #375867;
                    font-size: 16px;
                    font-weight: 300;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    text-align: left;
                    padding: 20px 20px 10px 35px;
                    border-bottom: 1px solid #707070;
                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
.features-jobs-list{
    border-top: 1px solid #213f4e;
    a.load-more-jobs{
        margin-top: 50px;
        margin-bottom: 150px;
    }
    .features-jobs-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        border-bottom: 1px solid #213f4e;
        cursor: pointer;

        .job-main-name{
            width: 50%;
            color: #375867;
            font-size: 28px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
        }
        .job-main-department{
            color: #375867;
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            max-width: 200px;
        }
        .job-main-location{
            color: #375867;
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: right;
            min-width: 200px;
        }

    }
}
.apply-now-heading{
    border-bottom: 1px solid #707070;
    padding-bottom: 10px;
    margin-top: 30px;
    h4{
        color: #2e5060;
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 1.8px;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
    }
}
#apply-now{
    a.main-career-button-all{
        margin-top: 60px;
        margin-bottom: 60px;
        max-width: 382px;
    }
}
.apply-now-row{
    padding-top: 65px;
    display: flex;
    .apply-now-col{
        width: 50%;
        iframe{
            min-height: 868px;
        }
        &.apply-now-col-img-bg{
            background-image: url({{ "apply-now-bg-dog.png" | asset_url }});
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 522px 868px;
            min-height: 868px;
        }
    }
}

.career-description-main{
    max-width: 945px;
    margin: 0 auto;
}

.single-career-heading{
    margin-bottom: 70px;
    margin-top: 70px;
    .single-career-heading-top{
        display: flex;
        align-items: baseline;
        border-bottom: 1px solid #213f4e;
        justify-content: space-between;

        h4{
            width: 50%;
            color: #375867;
            font-size: 35px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-decoration: none;
        }
        .career-work-time{
            color: #213f4e;
            font-size: 28px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: 40px;
            text-align: left;
        }
        .career-work-price{
            color: #213f4e;
            font-size: 28px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: 40px;
            text-align: left;
        }
    }
    .single-career-heading-botoom{
        font-size: 25px;
        padding-top: 30px;
        .career-work-department{
            padding-right: 30px;
            color: #375867;
            font-size: 25px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            border-right: 2px solid #375867;
        }
        .career-work-location{
            margin-left: 30px;
            color: #375867;
            font-size: 25px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
        }
    }
}
a.return-to-all-jibs-main{
    color: #375867;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    img{
        margin-right: 10px;
    }
}

.career-description-main{
    p{
        color: #375867;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        strong,
        b{
            color: #375867;
            font-size: 28px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
        }
    }
}
.mobile-main-img,
.show-on-mobile-main-btn{
    display: none;
}
.career-description-main ul li span{
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #375867;
}
.career-description-main ul{
    padding-left: 15px;
}
.departments-cont{
    .features-jobs-control{
        display: none;
    }
    .features-jobs-list a.load-more-jobs{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:768px) {
    .departments-cont{
        .features-jobs-control{
            display: flex;
        }
        .hide-on-mobile{
            display: none;
        }
    }
    h3{
        font-size: 35px;
        line-height: 30px;
    }
    .career-description-main ul li span{
        font-size: 16px;
    }
    a.show-on-mobile-main-btn{
        display: block;
        margin: 0 auto;
        color: #213f4e;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 40px;
        text-decoration: underline;
    }
    .desct-main-img,
    .content-comp-row .content-comp-col p{
        display: none;
    }
    .mobile-main-img,
    .content-comp-row .content-comp-col p.show-on-mobile-main{
        display: block;
    }
    .main-career-banner{
        background-image: url({{ "career-main-banner-img-mob.png" | asset_url }});
        height: 263px;
        background-size: 376px 263px;
        h1{
            font-size: 30px;
            line-height: 54px;
            margin-top: 70px;
            margin-bottom: 0;
        }
        h2{
            font-size: 20px;
            line-height: 40px;
        }
    }
    .tabs-row ul{
        padding-left: 0;
    }
    .tabs-row ul li a{
        font-size: 12px;
    }
    .tabs-row .container{
        padding: 15px 0 0px;
    }
    .work-with-us-row{
        flex-direction: column;
        padding: 10px 0 30px;
        padding-bottom: 10px;
    }
    .work-with-us-row .work-with-us-heading-col h3{
        font-size: 35px;
        line-height: 30px;
    }
    .work-with-us-row .work-with-us-text-col p{
        font-size: 16px;
        line-height: normal;
        text-align: center;
        &:nth-child(2){
            margin-bottom: 0;
        }
    }
    #company .container > img{
        max-width: 100%;
    }
    .content-comp-row{
        flex-direction: column;
    }
    .content-comp-row .content-comp-col p{
        font-size: 16px;
        line-height: normal;
    }
    .core-values{
        margin-top: 50px;
    }
    .core-values h3{
        font-size: 35px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .core-values .core-values-row{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .core-values .core-values-row .core-values-img{
        order: 1;
    }
    .core-values .core-values-row .core-values-cont{
        order: 2;
    }
    .core-values .core-values-row .core-values-img img{
        max-width: 184px;
        max-height: 184px;
    }
    .core-values .core-values-row .core-values-cont h4{
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0;
    }
    .core-values .core-values-row .core-values-cont p{
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }
    a.main-career-button{
        font-size: 22px;
        padding: 10px 35px 5px;
        margin-bottom: 10px;
    }
    .main-team-item img{
        max-width: 111px;
        max-height: 111px;
    }
    .main-team-item .main-team-item-name{
        font-size: 15px;
        line-height: normal;
    }
    .main-team-item{
        flex: 1 0 50%;
    }
    .team-members-cont-row .main-team-item{
        flex: 1 0 50%;
        max-width:50%;
    }
    .team-members-cont-heading{
        font-size: 22px;
        line-height: normal;
        padding: 20px 0;
    }
    .team-members-cont-heading::after{
        width: 23px;
        height: 12px;
        background-size: 23px 12px;
        transform: rotate(180deg) translateY(6px);
    }
    .team-members-cont-heading.active-head-team::after{
        transform: translateY(-6px);
    }
    #team .meet-pets h3{
        font-size: 35px;
        line-height: 44px;
    }
    .meet-pets .meet-pets-row .meet-pets-item .meet-pets-name,
    .meet-pets .meet-pets-row .meet-pets-item .meet-pets-role{
        text-align: center;
    }
    .meet-pets{
        margin-bottom: 30px;
    }
    #benefits h3{
        line-height: normal;
    }
    .benefit-row{
        flex-direction: column;
    }
    .benefit-row .benefit-item{
        flex-direction: column;
    }
    .benefit-row .benefit-item img{
        margin: 0 auto 20px;
    }
    .benefit-row .benefit-item .benefit-item-heading{
        text-align: center;
        text-decoration: underline;
        position: relative;
        max-width: 320px;
        margin: 0 auto;
    }
    .benefit-row .benefit-item .benefit-item-heading::after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            background-image: url({{ "arrow-team-main.png" | asset_url }});
            width: 20px;
            height: 10px;
            background-size: 20px 10px;
            transform: rotate(180deg) translateY(6px);
        
    }
    .benefit-item-cont > .benefit-item-cont{
        display: none;
    }
    .benefit-row .benefit-item .benefit-item-heading.active-ben-heading::after{
        transform: translateY(-6px);
    }
    .benefit-row{
        margin-bottom: 0;
    }
    .benefit-item{
        margin-bottom: 40px;
    }
    .benefit-row .benefit-item .benefit-item-cont{
        margin-top: 10px;
    }
    .departments-row{
        flex-direction: column;
        margin-bottom: 0;
    }
    .departments-row .department-item{
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        max-width: 100%;
        justify-content: end;
    }
    .departments-row .department-item img{
        max-width: 97px;
        max-height: 97px;
        margin-bottom: 0;
        margin-right: 20px;
        margin-left: 0;
    }
    .departments-row .department-item span{
        font-size: 21px;
        line-height: normal;
        text-align: left;
    }
    #opportunities a.all-jobs-see{
        margin-top: 10px;
        margin-bottom: 120px;
    }
    .features-jobs-cont h5{
        font-size: 18px;
        line-height: 40px;
    }
    a.main-career-button-all, a.load-more-jobs, a.all-jobs-see{
        font-size: 18px;
        line-height: normal;
    }
    #opportunities a.all-jobs-see{
        max-width: 120px;
    }
    #opportunities .features-jobs-cont h3{
        margin-bottom: 30px;
    }
    .features-jobs-cont .features-jobs-control{
        max-width: 100%;
        flex-direction: column;
    }
    .features-jobs-cont .features-jobs-control .features-jobs-selector{
        margin-bottom: 15px;
        min-width: 100%;
    }
    .features-jobs-cont .features-jobs-control .features-jobs-selector .features-jobs-selectors{
        width: 100%;
    }
    .features-jobs-cont .features-jobs-control{
        margin-bottom: 15px;
    }
    .features-jobs-list .features-jobs-row{
        flex-wrap: wrap;
    }
    .features-jobs-list .features-jobs-row .job-main-name{
        width: 100%;
        font-size: 22px;
        line-height: normal;
        margin-bottom: 15px;
    }
    .features-jobs-list .features-jobs-row .job-main-location,
    .features-jobs-list .features-jobs-row .job-main-department{
        width: 50%;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 100px;
    }
    .features-jobs-list .features-jobs-row .job-main-department{
        padding-right: 15px;
        border-right: 1px solid #375867;
    }
    .features-jobs-list .features-jobs-row .job-main-location{
        padding-left: 15px;
    }
    #all-jobs .features-jobs-cont h3{
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .apply-now-heading h4{
        font-size: 25px;
        line-height: normal;
    }
    .apply-now-row .apply-now-col{
        width: 100%;
        min-height: 640px;
    }
    .apply-now-row .apply-now-col.apply-now-col-img-bg{
        display: none;
    }
    .apply-now-row{
        padding-top: 40px;
    }
    #apply-now a.main-career-button-all{
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 266px;
    }
    .apply-now-row .apply-now-col iframe{
        min-height: 700px;
    }
    .single-career-heading .single-career-heading-top{
        flex-wrap: wrap;
        padding-bottom: 15px;
    }
    .single-career-heading .single-career-heading-top h4{
        width: 100%;
        font-size: 30px;

    }
    .single-career-heading .single-career-heading-top .career-work-time{
        font-size: 20px;
        line-height: normal;
    }
    .single-career-heading .single-career-heading-top .career-work-price{
        font-size: 20px;
        line-height: normal;
    }
    .single-career-heading .single-career-heading-botoom .career-work-department,
    .single-career-heading .single-career-heading-botoom .career-work-location{
        font-size: 16px;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .single-career-heading .single-career-heading-botoom{
        padding-top: 15px;
        display: flex;
    }
    .career-description-main p b,
    .career-description-main p strong{
        font-size: 20px;
    }
    .career-description-main p{
        font-size: 16px;
    }
    a.return-to-all-jibs-main{
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    a.return-to-all-jibs-main img{
        width: 25px;
        height: 13px;
    }
    .single-career-heading{
        margin: 20px 0 50px;
    }
    .apply-now-heading{
        margin-top: 20px;
    }
    .meet-pets .meet-pets-row{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        &:first-child{
            margin-top: 40px;
        }
        .meet-pets-item{
            margin-bottom: 40px;
        }
    }
    .meet-pets .meet-pets-row .meet-pets-item img{
        margin-bottom: 5px;
    }
}