.ing-container {
    max-width: 1420px;
    margin: 0 auto;
    &.ing-disable-width-container{
        max-width: 100%;
    }
}

.ingr-banner-top {
    background-image: url({{ "ingr-Hero.jpg" | asset_url }});
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 900px){
        background-image: url({{ "ingr-hero-mob.jpg" | asset_url }});
        background-size: cover;
        height: 556px;
    }
}

.ing-container-banner {
    position: relative;
    height: 100%;
    .ing-container-banner{
        padding: 0 10px;
    }
}

.ingr-banner-top>img {
    width: 100%;
}

.ing-cotainer-titles,
.ing-cotainer-achivments {
    position: absolute;
}

.ing-cotainer-titles {
    max-width: 580px;
    top: 35%;
    transform: translateY(-35%);
    @media screen and (max-width: 900px){
        top: 25%;
        transform: translateY(-25%);
        padding: 0 10px;
    }
}

.ing-cotainer-titles h1 {
    color: #213f4e;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 92px;
    text-align: left;
    text-transform: none;
    margin-bottom: 40px;
    @media screen and (max-width: 900px){
        font-size: 40px;
        margin-bottom: 0;
        line-height: 62px;
    }

}

.ing-cotainer-titles .ing-banner-subtitle {
    color: #213f4e;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    @media screen and (max-width: 900px){
        font-size: 16px;
        line-height: 22px;
    }
}

.ing-cotainer-achivments {
    bottom: 40px;
    transform: translateY(10px);
    @media screen and (max-width: 900px){
        display: none;
    }
}
.ing-cotainer-achivments-mob{
    display: none;
    background-color: #fbc146;
    padding: 25px 20px 30px;
    position: relative;
    transform: none;
    bottom: 0;
    @media screen and (max-width: 900px){
        display: block;
    }
}
.ing-achiwments {
    display: flex;
    flex-direction: row;
}

.ing-achiv-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 230px;
    margin-right: 35px;
}

.ing-achiv-item img {
    margin-right: 15px;
    @media screen and (max-width: 900px){
        width: 51px;
        height: 50px;
        margin-right: 5px;
    }
}

.ing-achiv-item p {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    color: #213F4E;
    margin-bottom: 0;
    @media screen and (max-width: 900px){
        font-size: 16px;
        line-height: 22px;
    }
}

.ingr-map-container {
    background-color: #fde0a2;
}

.ing-list-container h2 {
    text-align: center;
    font-size: 40px;
    line-height: 92px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #213F4E;
    text-transform: capitalize;
    @media screen and (max-width: 900px){
        font-size: 32px;
        line-height: 44px;
    }
}

@keyframes ingscale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.ing-list-container {
    padding: 90px 0 110px;
    @media screen and (max-width: 900px){
        padding: 80px 0 50px;
    }
}

.ing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .ing-single-ingradiente {
        cursor:pointer;
        &:hover {
            transform: scale(1.03);
            box-shadow: 0px 0px 20px #00000029;
            // -webkit-animation: ingscale 0.3s;
            // -moz-animation: ingscale 0.3s;
            // -ms-animation: ingscale 0.3s;
            // -o-animation: ingscale 0.3s;
            // animation: ingscale 0.3s;
            transition: all ease 0.3s;

            .ing-single-ingradiente-img {
                background-size: 135px 135px;
                transition: all ease 0.3s;
            }

            .ing-single-ingradiente-arrow {
                .ing-single-ingradiente-arrow-single {
                    left: 55%;
                    transition: all ease 0.3s;
                }
            }
        }

        position: relative;
        width: calc(33% - 20px);
        margin: 10px;
        border-radius: 5px;
        border: 1px solid #283e4d;
        background-color: #fbf8f2;
        display: flex;
        padding: 35px 20px;
        align-items: center;

        .ing-single-ingradiente-arrow {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;

            @media screen and (max-width: 722px) {
                display: none;
            }

            .ing-single-ingradiente-arrow-single {
                border: solid #213f4e;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 6px;
                transform: translateX(-40%) rotate(-45deg);
                -webkit-transform: translateX(-40%) rotate(-45deg);
                position: absolute;
                left: 40%;
            }
        }

        .ing-single-ingradiente-img {
            min-width: 110px;
            height: 110px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 25px;
            border-radius: 100%;
            background-size: 110px 110px;
            @media screen and (max-width: 722px) {
                margin-right: 0;
                margin-bottom: 10px;
            }

        }

        .ing-single-ingradiente-cont {
            @media screen and (max-width: 722px) {
                margin-top: auto;
            }
            .ing-single-ingradiente-cont-title {
                text-align: left;
                letter-spacing: 0px;
                color: #213F4E;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 10px;
                @media screen and (max-width: 722px) {
                    text-align: center;
                    position: relative;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 0px;
                    .ing-mobile-arrow-title{
                        border: solid #213f4e;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 4px;
                        transform: rotate(-45deg);
                        -webkit-transform:rotate(-45deg);
                    }
                }
            }

            .ing-single-ingradiente-cont-desc {
                color: #213F4E;
                text-align: left;
                letter-spacing: 0px;
                color: #213F4E;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                @media screen and (max-width: 722px) {
                    display: none;
                }
            }
        }
        @media screen and (max-width: 968px) {
            width: calc(50% - 20px);
        }
        @media screen and (max-width: 722px) {
            flex-direction: column;
            padding: 20px 20px;
        }
    }

}

.ingr-map-container {
    padding: 70px 0 0;
    @media screen and (max-width: 968px) {
        padding: 50px 0 0px;
        position: relative;
    }
    h2 {
        text-align: center;
        letter-spacing: 0px;
        font-weight: 600;
        font-size: 40px;
        line-height: 92px;
        color: #213F4E;
        text-transform: capitalize;
        @media screen and (max-width: 968px) {
            font-size: 32px;
            line-height: 38px;
            max-width: 90%;
            margin: 0 auto;
        }
    }
    h4{
        letter-spacing: 0px;
        color: #213F4E;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 53px;
        text-transform: capitalize;
        @media screen and (max-width: 968px) {
            font-size: 16px;
            line-height: 22px;
            max-width: 170px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .ingr-map-wrap{
        display: flex;
        justify-content: center;
        cursor: all-scroll;
        @media screen and (max-width: 968px) {
            min-height: 300px;
            // overflow: scroll;
        }
        svg{
            width: 100%;
            height: 650px;
            // @media screen and (max-width: 968px) {
            //     transform: scale(3);
            // }
        }
    }
}

.meet-popup-info {
    display: none;
    position: fixed;
    top: 88px;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 88px);
    z-index: 1002;
    max-width: 752px;
}

.meet-popup-info-blure {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.meet-popup-content {
    min-width: 300px;
    overflow-y: auto;
    max-height: 90vh;
    -webkit-overflow-scrolling: auto;
}

.meet-popup-content-row {
    display: block;
}

.meet-popup-content-l {
    width: 100%;
    margin-bottom: 30px;
}

.meet-popup-content-r {
    width: 100%;
}
.meet-popup-content-r > p > p{
    font-size: 16px;
}
.meet-popup-content-r > p > p >strong{
    display: block;
    font-size: 18px;
}
.meet-popup-content-l-row {
    display: flex;
}

.meet-popup-content-l-column-image img {
    max-width: 206px;
    max-height: 206px;
    border-radius: 50%;
}

.meet-popup-content h4 {
    margin-bottom: 0;
    text-transform: none;
    color: #213f4e;
    font-size: 28px;
    font-weight: 600;
    padding: 0;
}

.meet-popup-content h5 {
    color: #213f4e;
    font-size: 30px;
    font-weight: 300;
    line-height: 34px;
    text-transform: none;
    color: #2e4b59;
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    margin-bottom: 0;
}

.meet-popup-content-l-column {
    min-width: 360px;
    margin-right: 50px;
}

.meet-popup-l-name,
.meet-popup-l-pet,
.meet-popup-l-pet-age {
    display: block;
}

.meet-popup-l-name strong,
.meet-popup-l-pet strong,
.meet-popup-l-pet-age strong {
    margin-right: 2px;
}

.meet-popup-content-r {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
}

.meet-popup-content-l-column>div {
    border-bottom: 1px solid #213f4e;
    padding-bottom: 23px;
    padding-top: 5px;
}
.meet-popup-content-l-column>div.meet-popup-l-name-age-block{
    padding-bottom: 5px;
}

.meet-popup-l-name,
.meet-popup-l-pet-age {
    margin: 10px 0;
}

.meet-popup-l-name,
.meet-popup-l-pet,
.meet-popup-l-pet-age,
.meet-popup-content-r {
    color: #213f4e;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: #213f4e;
    font-size: 18px;
    font-weight: 300;
}

.btn-close-popup-meet {
    position: absolute;
    display: block;
    width: 59px;
    height: 59px;
    overflow: hidden;
    top: 14px;
    right: 25px;
    cursor: pointer;
    z-index: 1;
    padding: 12px;
}
.btn-close-popup-meet:hover{
    border-radius: 6px;
    background-color: #e9eced;
}
.btn-close-popup-meet:before,
.btn-close-popup-meet:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 35px;
    top: 50%;
    left: 12px;
    margin-top: -1px;
    background: #666;
}
.btn-close-popup-meet:hover::before,
.btn-close-popup-meet:hover::after{
    background:#707070;
}
.btn-close-popup-meet:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-close-popup-meet:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.meet-popup-info-wrap {
    position: relative;
    padding: 90px 50px 0px;
}

.our-goals-block h3.show-md {
    display: none;
}

.close-meet-popup {
    display: none;
}

.meet-popup-content-r p {
    color: #213f4e;
    font-size: 18px;
    font-weight: 300;
}
@media screen and (max-width:1260px) {
    .testi-img-main>img {
        max-width: 260px;
    }
}
@media screen and ( min-width: 1024px) and (max-width:1260px) {
    .first-bn-block-bg-main{
        background-position: 70% 0;
    }
}

@media screen and (max-width:768px) {
    .find-us-social h4{
        text-align: center;
    }
    .meet-popup-info {
        width: 92%;
    }

    .meet-popup-content-r>p {
        padding-right: 10px;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-title {
        display: none;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-content {
        width: 100%;
    }

    .our-goals-block .img-with-bg-main .img-with-bg-title h3.hide-md {
        display: none;
    }

    .our-goals-block h3.show-md {
        display: block;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
    }

    .img-with-bg-2::after {
        background-position: 100% 0;
    }

    .img-with-bg-main-wrap {
        padding: 30px 0;
    }

    .testi-cont-start {
        width: auto;
        float: none;
        margin-right: 0;
    }

    .testi-cont-end-slong>img,
    .testi-cont-start>img {
        width: 25px;
    }

    .testi-img-main {
        text-align: center;
    }

    .testi-cont-start>p {
        font-size: 22px;
        line-height: 28px;
    }

    .testi-cont-start>p br {
        display: none;
    }

    .testi-img-main>span {
        font-size: 14px;
        text-align: center;
        width: 100%;
        display: block;
    }

    .main-test-cont-about p {
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
    }

    .testi-cont-end-slong {
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
    }

    .testi-img-main {
        width: auto;
        float: none;
        margin: 0 auto;
    }

    .white-bg-testi {
        padding: 35px 25px;
    }

    .our-goals-block a {
        margin-bottom: 50px;
        font-size: 16px;
    }

    .meet-list-cont {
        justify-content: space-between;
    }

    .meet-item-main .meet-item-main-container>.meet-list-us-role {
        font-size: 12px;
    }

    .meet-item-main .meet-item-main-container>a {
        font-size: 14px;
    }

    .meet-item-main {
        flex: 0 45%;
    }

    .meet-item-main .meet-item-main-container>img {
        max-width: 100%;
    }

    .testi-cont-start>img {
        width: 45px;
        float: left;
    }

    .testi-cont-start>span {
        font-size: 14px;
        line-height: 20px;
        max-width: 170px;
        display: inline-block;
    }

    .testi-cont-end-minus,
    .testi-cont-end-name,
    .testi-cont-end-role {
        font-size: 14px;
    }

    .first-bn-block-bg-main {
        background-image: url('{{ 'about-mobile-bg.png' | asset_url }}');
        height: 508px;
    }

    .first-bn-block {
        margin-top: 100px;
        align-items: baseline;
    }

    .first-bn-block-l {
        width: auto;
        float: none;
    }

    .first-bn-block-r {
        display: none;
    }

    .first-bn-block {
        margin-top: 72px;
        align-items: baseline;
        height: auto;
        min-height: 510px;
    }

    .first-bn-block-l h3 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .first-bn-block-l h1 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
        letter-spacing: 0px;
    }

    .first-bn-block-l p {
        font-size: 14px;
        line-height: 18px;
    }

    .img-with-bg-3::after,
    .img-with-bg-1::after {
        right: -20px;
    }

    .meet-popup-content-l {
        float: none;
        width: auto;
        margin: 0;
        display: flex;

    }

    .meet-popup-content-l>div {
        margin-left: 10px;
    }

    .meet-popup-l-name,
    .meet-popup-l-pet,
    .meet-popup-l-pet-age {
        font-size: 12px;
        font-weight: 300;
    }

    .meet-popup-content-r {
        float: none;
        width: auto;
        margin-top: 15px;
        font-size: 12px;
        line-height: 16px;
        max-height: 30vh;
    }

    .meet-popup-info {
        height: 81vh;
    }

    .meet-popup-content h5 {
        font-size: 22px;
        letter-spacing: 0;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .meet-popup-info {
        z-index: 9999;
    }

    .meet-popup-info-wrap {
        padding: 15px;
        padding-top: 35px;
    }

    .meet-popup-content-l>img {
        float: left;
        max-width: 165px;
        max-height: 165px;
        border-radius: 10px;
    }

    .close-meet-popup {
        display: block;
        text-align: center;
        color: #d26546;
        font-size: 14px;
        font-weight: 600;
        margin-top: 50px;
    }

    .btn-close-popup-meet {
        top: 10px;
        right: 10px;
        position: fixed;
top: 82px;
    }
}

@media screen and (min-width: 1600px) {
    .first-bn-block-r {
        position: absolute;
        left: 53%;
        bottom: -150px;
    }
}

@media screen and (max-width: 1750px) and (min-width: 1920px) {}

@media screen and (min-width: 2000px) {
    .first-bn-block-r {
        left: 67%;
        bottom: -230px;
    }
}

@media screen and (max-height: 740px) and (max-width:700px) {
    .close-meet-popup {
        margin-top: 0;
    }

    .meet-popup-content-r {
        max-height: 26vh;
    }
}

@media screen and (max-height: 570px) and (max-width:700px) {
    .meet-popup-content-r {
        max-height: 16vh;
    }
}

.my-body-noscroll-class {
    overflow: hidden;
}

.our-goals-block-container {
    display: flex;
    margin-bottom: 60px;
}

.our-goals-block-container-text {
    width: 75%;
    min-height: 280px;
    padding-right: 5%;
}

.our-goals-block-container-text-heading {
    color: #213f4e;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 15px;
}

.our-goals-block-container-text-cont {
    color: #375867;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

.our-goals-block-container-img {
    width: 20%;
    text-align: center;
}

.our-goals-block-container-img img {
    max-width: 241px;
    max-height: 241px;
    border-radius: 50%;
}

.cofounder-message {
    text-align: center;
    color: #213f4e;
    font-size: 22px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 60px;
}

@media screen and (max-width:768px) {
    .our-goals-block-container {
        flex-direction: column;
    }

    .our-goals-block-container-text {
        order: 2;
        width: 100%;
        padding: 0;
    }

    .our-goals-block-container-img {
        width: 100%;
        order: 1;
        margin-bottom: 25px;
    }

    .testi-img-main>img {
        max-width: 100%;
    }

    .testim-block-about {
        background-color: #fffcf3;
        padding: 0 15px 10px;

    }

    .white-bg-testi {
        margin: 0;
        padding: 0;
    }

    .meet-popup-content-l-column {
        min-width: 185px;
        margin-right: 0;
    }

    .meet-popup-content-l-row {
        align-items: flex-end;
    }

    .meet-popup-content-l-column-image {
        max-height: 117px;
    }

    .meet-popup-content-l-column-image img {
        max-width: 117px;
        max-height: 117px;
    }

    .meet-popup-info {
        top: 72px;
        right: 0;
        width: 100%;
        height: 100%;
        height: calc(100%-72px);
    }

    .meet-popup-content-r {
        max-height: 50vh;
    }

    .meet-popup-l-name,
    .meet-popup-l-pet,
    .meet-popup-l-pet-age,
    .meet-popup-content-r p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }

    .meet-popup-content h4 {
        font-size: 22px;
        font-weight: 600;
    }

    .meet-popup-content h5 {
        font-size: 16px;
        font-weight: 300;
    }

    .meet-popup-content-l>div {
        margin-left: 0;
    }
    .meet-popup-content-l-column>div:first-child{
        padding-bottom: 0;
    }
    .meet-list-story h2{
        font-size: 32px;
font-weight: 600;
line-height: 38px;
    }
    .meet-list-story{
        padding: 0;
    }
    .our-goals-block h2{
        font-family: "P22-Demi";
        margin: 35px 0;
        font-size: 35px;
font-weight: 800;
line-height: 30px;
    }
    .our-goals-block-container-text-heading{
        font-size: 30px;
font-weight: 600;
line-height: 40px;
    }
    .our-goals-block-container-text-cont{
        font-size: 16px;
font-weight: 300;
    }
    .our-goals-block-container-img img{
        max-width: 184px;
        max-height: 184px;
    }
    .our-goals-block a{
        font-size: 24px;
font-weight: 600;
line-height: 28px;
padding-top: 10px;
padding-bottom: 5px;
    }
    .testi-cont-end{
        margin-top: 0;
    }
    .cofounder-message{
        text-align: left;
font-size: 14px;
font-weight: 600;
line-height: 18px;
max-width: 171px;
margin-bottom: 20px;
    }
    .testi-cont-start>img{
        width: 30px;
        float: none;
    }
    .testi-cont-start>p>img{
        width: 30px;
    }
    .testi-cont-start>p{
        min-height: auto;
padding-bottom: 25px;
    }
    .first-bn-block-l h3{
        line-height: 48px;
    }
    .meet-item-main .meet-item-main-container>img{
        width: 117px;
height: 117px;
    }
    .meet-item-main .meet-item-main-container>.meet-list-us-name{
        font-size: 14px;
        line-height: 16px;
    }
    .meet-item-main .meet-item-main-container>.meet-list-us-role{
        font-size: 12px;
font-weight: 300;
line-height: 16px;
    }
    .meet-item-main .meet-item-main-container>a{
        font-size: 12px;
font-weight: 300;
line-height: 22px;
    }
    .meet-item-main{
        margin-bottom: 45px;
    }
    .page-about-new div.container,
    .testim-block-about div.container{
        padding-top: 40px;
    }
}
.first-bn-block-r{
    background-image: url({{ 'about-us-bg-text.png' | asset_url }});
background-repeat: no-repeat;
bottom: 0px;
transform: none;
width: 350px;
height: 123px;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
left: 62%;
transform: translateX(0%);
}
.first-bn-block-r p{
    color: #293f4c;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 259px;
height: 35px;
margin: 0;
}
@media screen and (max-width: 768px){
    .first-bn-block-r{
    background-image: url({{ 'about-us-bg-text-mob.png' | asset_url }});
    background-repeat: no-repeat;
    left: 50%;
    transform:translateX(-50%);
    bottom: -10px;
    width: 320px;
    }
    .first-bn-block-r p{
        width: 171px;
height: 30px;
        font-size: 12px;
font-weight: 500;
line-height: 16px;
    }
}
.meet-popup-info-product{
    min-height: 182px;
}
.meet-popup-info-product-row{
    display: flex;
    align-items: center;
}
.meet-popup-info-product-col-img{
    margin-right: 40px;
}
.meet-popup-info-product-col-img > img{
    max-width: 144px;
max-height: 145px;
border-radius: 5px;
}
.meet-popup-info-product-col-cont strong{
    color: #213f4e;
font-size: 18px;
font-weight: 600;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
}
.meet-popup-info-product-col-cont p{
    color: #213f4e;
font-size: 14px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
line-height: 18px;
overflow: hidden;
display: block;
max-height: 40px;
}
@media screen and (max-width: 768px) {
    .meet-popup-info-product{
        min-height: auto;
        padding: 25px 10px 25px 30px;
        position: initial;
    }
    .meet-popup-info-product-col-img{
        margin-right: 15px;
    }
    .meet-popup-info-product-col-img > img{
        max-width: 100px;
        max-height: 100px;
    }
    .meet-popup-info-product-col-cont strong{
        font-size: 16px;
    }
    .meet-popup-info-product-col-cont p{
        font-size: 14px;
font-weight: 300;
max-height: 72px;
    }
    .meet-popup-content{
        max-height: 100%;
        padding-top: 0px;
        overflow-y: unset;
max-height: none;
    }
    .meet-popup-content-r{
        max-height: none;
    }
    .meet-popup-info-wrap{
        padding-top: 0;
    }
    .meet-popup-l-pet strong{
        /* display: block; */
    }
    .meet-popup-info{
        overflow-y: auto;
    }
    /* .btn-close-popup-meet {
top: 0px;
    } */
}
.meet-popup-info{
    h5{
        color: #213f4e;
        font-size: 22px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 75px;
        text-align: left;
        @media screen and (max-width: 768px) {
            margin-top: 25px;
            margin-bottom: 25px;
            line-height: 31px;
        }
    }
    p{
        color: #213f4e;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
    }
    .ing-popup-heading{
        height: 94px;
        display: flex;
        align-items: center;
        padding-left: 35px;
        border-bottom: 1px solid #707070;
        @media screen and (max-width: 768px) {
            height: auto;
        }
        h4{
            text-transform: none;
            color: #213f4e;
            font-size: 28px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            padding:0;
            margin: 0;
            @media screen and (max-width: 768px) {
                font-size: 24px;
                margin: 25px 0;
            }
        }
    }
    .meet-popup-info-wrap{
        padding: 0 70px 0 45px;
        @media screen and (max-width: 768px) {
            padding: 0 35px;
        }
    }
    .ing-popup-content-img-row{
        padding: 30px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding-top: 0;
        }
        .ing-popup-content-col{
            padding-right: 35px;
            @media screen and (max-width: 768px) {
                padding-right: 0px;
                order: 2;
            }
        }
        .ing-popup-img-col{
            .ing-popup-img-mob{
                display: none;
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
            .ing-popup-img-desc{
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            @media screen and (max-width: 768px) {
                order: 1;
            }
        }
    }
    .ing-popup-ingradients-list{
        .ing-popup-ingradients-lists{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .ing-popup-ingradients-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 19px 0;
                max-width: 115px;
                margin-right: 35px;
                img{
                    margin-bottom: 15px;
                }
                span{
                    color: #213f4e;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 21px;
                    text-align: center;
                    max-width: 115px;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}
.meet-popup-info-product{
    border-top: 1px solid #707070;
    padding: 0 50px 33px;
    @media screen and (max-width: 768px) {
        padding: 25px 35px 0;
    }
    h5{
        color: #213f4e;
        font-size: 22px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 75px;
        text-align: left;
        text-transform: none;
        padding: 0;
        margin: 0;
        @media screen and (max-width: 768px) {
            
            margin-bottom: 25px;
            line-height: 31px;
        }
    }
    .ing-popup-products-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .meet-popup-info-product-row{
            flex-basis: 50%;
            @media screen and (max-width: 768px) {
                flex-basis: 100%;
                margin-bottom: 30px;
            }
            .meet-popup-info-product-col-img{
                margin-right: 20px;
                &>img{
                    max-height: 120px;
                }
            }
            .meet-popup-info-product-col-cont{
                strong{
                    color: #2e4b59;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 20px;
                    text-align: left;
                }
                p{
                    color: #2e4b59;
                    font-size: 12px;
                    font-weight: 300;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 16px;
                    text-align: left;
                    max-height: none;
                    margin-bottom: 5px;
                }
                a{
                    color: #d26546;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    text-align: left;
                    /* Text style for "Subscribe" */
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    text-decoration: underline;
                   
                }
            }
        }
    }
}
.pin_main_popup_class {
    display: none;
}
.pin_and_popup_container{
    cursor: pointer;
}
.pin_and_popup_container:hover > .pin_main_popup_class{
    display: block;

}
.ing-map-controll{
    position: absolute;
    bottom: 30px;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #213F4E;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #00000029;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    @media screen and (max-width: 1600px) {
        right: 50px;
    }
    @media screen and (max-width: 768px) {
        bottom: 25px;
        right: 15px;
    }
    .ing-map-controll-btn{
        font-size: 48px;
        padding: 10px 10px 0;
        line-height: 35px;
        cursor: pointer;
        &.ing-map-controll-btn-plus{
            border-bottom: 1px solid #213F4E;
        }
        &.ing-map-controll-btn-minus{
            padding: 5px 10px 5px;
        }
    }
}