var usePageDots = !1,
	imageFunctions = {
		zoom: function (e, a, t) {
			$(e).data("zoom") && $(e + " img").wrap('<span style="display:inline-block"></span>').css("display", "block").parent().zoom({
				touch: a,
				magnify: t || 1
			})
		},
		linkGalleryAndCarousel: function (e, a) {
			a.find(".gallery-cell:nth-child(1)").addClass("is-nav-selected"), a.on("click", ".gallery-cell", function () {
				var t = $(this).index();
				a.find(".is-nav-selected").removeClass("is-nav-selected"), $(this).addClass("is-nav-selected"), e.flickity("select", t)
			}), e.on("select.flickity", function () {
				var e = $(this).data("flickity");
				e && (a.find(".is-nav-selected").removeClass("is-nav-selected"), a.find(".gallery-cell:nth-child(" + (e.selectedIndex + 1) + ")").addClass("is-nav-selected"))
			})
		},
		fullWidth: function (e, a) {
			$(e).each(function () {
				var e = $(this),
					t = e.attr("alt"),
					i = e.attr("src");
				if (t.indexOf("[") >= 0) {
					e.remove();
					var r = t.match(/\[(.*?)\]/gi);
					t = t.replace(/\[(.*?)\]/gi, "");
					var o = $.map(r, function (e, a) {
							return e.replace(/[\[\]']+/g, "")
						}),
						n = ['<div class="position-' + (o.length ? o : "center") + ' caption js-caption">', '<div class="caption-content caption-background-false align-' + (o.length ? o : "center") + '">', '<p class="headline">' + t + "</p>", "</div>", "</div>"].join("");
					e.attr({
						alt: t,
						class: "lazyload blur-up",
						src: i,
						dataSizes: "auto"
					});
					var s = '<div class="banner">' + e.prop("outerHTML") + n + "</div>";
					$(a).append(s)
				}
			})
		},
		showSecondaryImage: function () {
			$(window).width() > 798 && ($("body").on("mouseenter", ".swap-true", function () {
				$(this).toggleClass("toggle-images")
			}), $("body").on("mouseleave", ".swap-true", function () {
				$(this).toggleClass("toggle-images")
			}))
		}
	},
	recentlyViewed = {
		init: function () {
			var e, a, t, i, r;
			if ($(".js-product_section[data-rv-handle]").length ? (e = $(".js-product_section").data("rv-handle").toString(), a = Cookies.get("recentlyViewed"), t = recentlyViewed.getCookieProducts(a, e)) : $(".recently-viewed__section").length ? (a = Cookies.get("recentlyViewed"), t = recentlyViewed.getCookieProducts(a, e)) : $(".js-sidebar-recently-viewed").length && (a = Cookies.get("recentlyViewed"), t = recentlyViewed.getCookieProducts(a, e)), t && (r = unescape(t).split(",")), e ? (-1 !== !$.inArray(e, r) && (i = [], r.unshift(e), $.each(r, function (e, a) {
					-1 === $.inArray(a, i) && i.push(a)
				})), recentlyViewed.setCookieProducts(i)) : i = r, $(".recently-viewed__section").length) {
				var o = ".recently-viewed__section";
				recentlyViewed.getProductInformation(o, i, e)
			} else $(".js-recently-viewed .rv-main").length && (o = ".js-recently-viewed", recentlyViewed.getProductInformation(o, i, e));
			$(".sidebar .js-sidebar-recently-viewed").length && (o = ".sidebar .js-sidebar-recently-viewed", e ? recentlyViewed.getProductInformation(o, i, e) : recentlyViewed.getProductInformation(o, i), $(".js-sidebar-recently-viewed.hidden").parents(".sidebar-block").hide())
		},
		getCookieProducts: function (e, a) {
			return !e && a ? (Cookies.set("recentlyViewed", a, {
				expires: 30,
				path: "/"
			}), e = Cookies.get("recentlyViewed")) : e = Cookies.get("recentlyViewed"), e
		},
		setCookieProducts: function (e) {
			Cookies.set("recentlyViewed", escape(e.join(",")), {
				expires: 30,
				path: "/"
			})
		},
		getProductInformation: function (e, a, t) {
			t && a.splice($.inArray(t, a), 1);
			var i = $(e).data("visible-products");
			i && a && (a = a.slice(0, i)), $.each(a, function (t, r) {
				r && ($(e).removeClass("hidden"), $(e).parents(".sidebar-block").show(), $.ajax({
					type: "GET",
					url: "/products/" + r + "?view=rv",
					success: function (a) {
						var i = $(a).find(".js-recently-viewed-product");
						$(e).find(" .rv-box-" + t).append(i)
					},
					error: function (e, a, t) {
						console.log(e), console.log(a), console.log(t)
					},
					dataType: "html"
				})), $(e).find(".rv-main").hasClass("js-rv-slider") ? (a.length <= i ? $(".js-rv-slider .gallery-cell").eq(a.length).nextAll().addBack().remove() : $(".js-rv-slider .gallery-cell").eq(i).nextAll().addBack().remove(), recentlyViewed.createSlider(e, i)) : $(e).find(".rv-main").hasClass("js-rv-grid") && (a.length <= i ? $(".js-rv-grid .thumbnail").eq(a.length).nextAll().addBack().remove() : $(".js-rv-grid .thumbnail").eq(i).nextAll().addBack().remove())
			})
		},
		createSlider: function (e, a) {
			var t, i, r, o, n, s = $(".js-rv-slider").data("products-per-slide"),
				l = $(".js-rv-slider").data("products-limit"),
				c = a,
				d = $(".js-rv-slider").find(".gallery-cell");
			t = "2" == s && c > s && l > s || "4" == s && c > s && l > s || "6" == s && c > s && l > s ? "left" : "center", c > s && l > s ? (i = !0, r = !0, o = !0) : (i = !1, r = !1, o = !1), "2" == s && c > s || "4" == s && c > s || "6" == s && c > s ? n = 0 : "3" == s && c ? n = 1 : "5" == s && c ? n = 2 : "7" == s && c && (n = 3), $(window).width() <= 798 && (t = "center", n = 1, d.length <= 2 ? (i = !1, r = !1, o = !1) : c > 3 && l > 3 ? (i = !0, r = !0, o = !0) : (i = !1, r = !1, o = !1), $(".js-rv-slider").parents(".even-num-slides").removeClass("even-num-slides")), $(".js-rv-slider").flickity({
				lazyLoad: 2,
				imagesLoaded: !0,
				draggable: i,
				prevNextButtons: r,
				wrapAround: o,
				cellAlign: t,
				pageDots: usePageDots,
				contain: !0,
				freeScroll: !0,
				arrowShape: arrowSize,
				initialIndex: n
			}), $(".js-rv-slider").addClass("slider-initialized")
		}
	},
	enableLoadMoreProducts = function () {
		$("body").on("click", ".js-load-more a", function (e) {
			return enableInfiniteScroll(), e.stopPropagation(), !1
		})
	},
	enableInfiniteScroll = function () {
		$(".collection-matrix").length && new Waypoint.Infinite({
			element: $(".collection-matrix")[0],
			items: ".collection-matrix",
			more: ".load-more__btn",
			loadingClass: "loading-in-progress",
			onBeforePageLoad: function () {
				$(".js-load-more").hide()
			},
			onAfterPageLoad: function (e) {
				$(".collection-matrix > .collection-matrix .thumbnail").unwrap(".collection-matrix"), SPR.$(document).ready(function () {
					return SPR.registerCallbacks(), SPR.initRatingHandler(), SPR.initDomEls(), SPR.loadProducts(), SPR.loadBadges()
				})
			}
		})
	},
	enableLoadMoreSearch = function () {
		$("body").on("click", ".js-load-more a", function (e) {
			return enableInfiniteSearchScroll(), e.stopPropagation(), !1
		})
	},
	enableInfiniteSearchScroll = function () {
		$(".search-matrix").length && new Waypoint.Infinite({
			element: $(".search-matrix")[0],
			items: ".search-matrix",
			more: ".load-more__btn",
			loadingClass: "loading-in-progress",
			onBeforePageLoad: function () {
				$(".js-load-more").hide()
			},
			onAfterPageLoad: function (e) {
				$(".search-matrix > .search-matrix .thumbnail").unwrap(".search-matrix"), SPR.$(document).ready(function () {
					return SPR.registerCallbacks(), SPR.initRatingHandler(), SPR.initDomEls(), SPR.loadProducts(), SPR.loadBadges()
				})
			}
		})
	};
if (Shopify.queryParams = {}, location.search.length)
	for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split("&"); i < aCouples.length; i++)(aKeyValue = aCouples[i].split("=")).length > 1 && (Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]));
var globalQuickShopProduct, quickFilter = {
		init: function () {
			var e = [],
				a = "",
				t = "",
				i = ($.url("hostname"), $.url("1") ? "/" + $.url("1") + "/" : ""),
				r = $.url("2") ? $.url("2") + "/" : "",
				o = ($.url("3"), i + r);
			a = $("#sort-by").length ? $("#sort-by").val() : url("?sort_by"), $("#tag_filter").length && $("#tag_filter").data("default-collection") != $("#tag_filter").val() && (urlTag = $("#tag_filter").val().substr($("#tag_filter").val().lastIndexOf("/") + 1), "all" != urlTag && ($.inArray(urlTag, e) > -1 || e.unshift(urlTag))), $("[data-option-filter] input:checked").each(function () {
				e.push($(this).val())
			}), e = $.makeArray(e), $.each(e, function (a, i) {
				a != e.length - 1 ? t += e[a] + "+" : t += e[a]
			}), Shopify.queryParams.sort_by = a, a = "?" + $.param(Shopify.queryParams), quickFilter.processUrl(o, t, a)
		},
		updateView: function (e) {
			$.ajax({
				type: "GET",
				url: e,
				beforeSend: function () {
					$(".collection-matrix").addClass("fadeOut animated loading-in-progress filter-loading"), Waypoint.destroyAll()
				},
				success: function (a) {
					$(".collection-matrix").removeClass("loading-in-progress"), $(".collection-matrix").removeClass("filter-loading");
					var t = $(a).find(".breadcrumb_text").html();
					$(".breadcrumb_text").html(t);
					var i = $(a).find(".paginate").html();
					$(".paginate").html(i);
					var r = $(a).find(".sidebar").html();
					$(".sidebar").html(r);
					var o = $(a).find(".paginate").html();
					$(".paginate").empty(), $(".paginate").html(o);
					var n = $(a).find(".collection-matrix");
					$(".collection-matrix").remove(), n.insertBefore($(".load-more__icon")), window.history && window.history.pushState && window.history.pushState("", "", e), $(".sidebar__collection-filter").length && collectionSidebarFilter.init();
					for (var s = document.getElementsByClassName("trustpilot-widget"), l = 0; l < s.length; l++) window.Trustpilot.loadFromElement(s[l])
				},
				error: function (a, t, i) {
					console.log(a), console.log(t), console.log(i), location.replace(location.protocol + "//" + location.host + e)
				},
				dataType: "html"
			})
		},
		processUrl: function (e, a, t) {
			var i;
			i = e + a + (t = t.replace(/\page=(\w+)&/, "")), quickFilter.updateView(i)
		}
	},
	searchAutocomplete = {
		init: function () {
			var e = null,
				a = $("body").data("shop-url") + "/search?type=product&q=";
			$(".search_form, .search__form, .header_search_form").on("submit", function (e) {
				var t = $(this).find('input[name="q"]').val(),
					i = encodeURI(t);
				e.preventDefault(), window.location.href = null == i ? "/search" : a + i + "*"
			}), $("form.search_form, form.search, form.header_search_form").each(function () {
				var t = $(this).find('input[name="q"]');
				$('<div class="search__results-wrapper"><ul class="search__results"></ul></div>').appendTo($(this)), t.attr("autocomplete", "off").bind("keyup change", function () {
					"" == t.val() && ($(".search__results").hide(), $(".search__results").empty());
					var r = $(this).val(),
						o = encodeURI(r),
						n = $(this).closest("form"),
						s = a + o,
						l = n.find(".search__results");
					r.length >= 3 && (null != e && e.abort(), e = $.getJSON(s + "*&view=json", function (e) {
            console.log(e)
						l.empty(), 0 == e.results_count ? l.hide() : ($.each(e.results, function (e, a) {
							if (e >= 5) return !1;
							for (var t = $("<a></a>").attr("href", a.url), r = !0, o = 0; o < a.collections.length; o++) "vip" == a.collections[o].handle && (r = !1);
							if ("product" == a.object_type && r) {
								var n = [];
								for (i = 0; i < a.collections.length; i++) n.push(a.collections[i].handle);
								if (-1 != $.inArray("coming-soon", n)) var s = "Coming Soon";
								else s = 1 == a.available ? a.raw_compare > a.raw_price ? 'from ' + a.price +' <span class="was_price">' + a.compare + "</span> "  : a.price_varies && a.price_min > 0 ? "from " + a.price : a.price > 0 || a.raw_price > 0 ? a.price : "Free" : "Sold Out";
								"NULL" != a.thumbnail && t.append('<div class="thumbnail"><img class="lazyload blur-up" src="' + a.thumbnail + '" /></div>'), t.append('<div class="title">' + a.title + '<br><span class="item-pricing">' + s + "</span></div>")
							} else "article" == a.object_type ? ("NULL" != a.thumbnail && t.append('<div class="thumbnail"><img class="lazyload blur-up" src="' + a.thumbnail + '" /></div>'), t.append('<div class="title">' + a.title + '<br><span class="item-pricing">' + a.text_content + "</span></div>")) : "page" == a.object_type && t.append('<div class="title">' + a.title + '<br><span class="item-pricing">' + a.text_content + "</span></div>");
							r && (t.wrap('<li class="item-result result--' + a.object_type + '"></li>'), l.append(t.parent()))
						}), e.results_count >= 5 && l.append('<li class="all-results"><span class="title see-all"><a href="' + s + '*">View all results (' + e.results_count + ")</a></span></li>"), l.fadeIn(200))
					}))
				})
			}), $(document).on("click", function (e) {
				var a = $("[data-autocomplete-true]");
				a.is(e.target) || 0 !== a.has(e.target).length || $("[data-autocomplete-true]").find(".search__results-wrapper").hide()
			}), $("[data-autocomplete-true] input").on("focus", function () {
				$(".search__results-wrapper").hide(), $(this).parents("[data-autocomplete-true]").find(".search__results-wrapper").show()
			})
		},
		unload: function () {
			$("body").off("focus", "[data-autocomplete-true] input")
		}
	},
	collectionSidebarFilter = {
		init: function () {
			$(".filter-active-tag input:checked").parents(".filter-active-tag").siblings(".filter-all-tags").hide(), $(".toggle-all--true .toggle_list .filter-active-tag input:checked").parents("ul.toggle_list").prev().click(), "types" !== $.url(2) && "vendors" !== $.url(2) || $(".sidebar__collection-filter").remove(), $(".sidebar-block:empty").prev().css("border-bottom", "none")
		},
		clearAllFilters: function () {
			$("[data-option-filter] input").attr("checked", !1), $("[data-option-filter] input").trigger("change")
		},
		clearSelectedFilter: function (e) {
			e.find("[data-option-filter] input").attr("checked", !1), e.find("[data-option-filter] input").trigger("change")
		}
	},
	arrowSize = {
		x0: 10,
		x1: 60,
		y1: 50,
		x2: 62,
		y2: 40,
		x3: 22
	},
	svgArrowSizeLeft = '<svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 62,90 L 22,50  L 62,10 L 60,0 Z" class="arrow"></path></svg>',
	svgArrowSizeRight = '<svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 62,90 L 22,50  L 62,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>',
	utils = {
		createAccordion: function (e, a, t) {
			var i = $(e),
				r = $(e).find(a),
				o = $(e).find(t),
				n = e + " " + a;
			if (e.indexOf(".accordion-tabs") >= 0) {
				var s = $.map(r, function (e, a) {
					return [e, o[a]]
				});
				i.empty(), $.each(s, function (e, a) {
					i.append(this)
				}), o.removeClass("active"), i.find(".active").next().slideToggle(), a = e + "> a"
			}
			$(e).children("a").each(function (e, a) {
				var t = (a = $(this)).attr("href");
				a.attr("data-tab-value", t), a.removeAttr("href")
			}), $(e).find(a + ".active").next().slideToggle(), $("body").on("click", n, function (e) {
				e.preventDefault(), $(this).toggleClass("active"), $(this).next().slideToggle()
			})
		},
		mobileAccordion: function (e, a, t) {
			$container = $(e), $tab = $(e).find(a), $content = $(e).find(t), $(a + ".active").next().slideToggle(), $("body").on("click", a, function (e) {
				e.preventDefault(), $(a).not(this).removeClass("active").next().slideUp(), $(this).toggleClass("active"), $(this).next().slideToggle()
			})
		},
		mobileParentActiveAccordion: function (e, a, t) {
			$container = $(e), $tab = $(e).find(a), $content = $(e).find(t), $(a + ".active").parent().next().slideToggle(), $("body").on("click", a, function (e) {
				e.preventDefault(), $(this).toggleClass("active"), $(this).parent().next().slideToggle()
			})
		},
		initializeTabs: function () {
			$("ul.tabs > li > a").attr("data-no-instant", !0), $("body").on("click", "ul.tabs > li > a", function (e) {
				e.preventDefault();
				var a = $(this).attr("href");
				"#" == a.charAt(0) && ($("ul.tabs > li > a.active").removeClass("active"), $(this).addClass("active"), $(this).parents("ul.tabs").next().find(a).show().css({
					display: "block"
				}).addClass("active").siblings().hide().removeClass("active"))
			})
		},
		pageBannerCheck: function () {
			!$(".page_banner").length > 0 || $(".header").hasClass("header-background--solid") ? ($(".feature_image").removeClass("feature_image"), $(".header.is-absolute").removeClass("is-absolute"), $(".secondary_logo--true").find(".secondary_logo").css("display", "none"), $(".secondary_logo--true").find(".primary_logo").css("display", "block")) : ($(".header").parent().addClass("feature_image"), $(".header").addClass("is-absolute"), $("header.feature_image").hasClass("secondary_logo--true") && ($(".secondary_logo--true").find(".secondary_logo").css("display", "block"), $(".secondary_logo--true").find(".primary_logo").css("display", "none"))), $(".index-sections").children().first(".under-menu").find(".full-width--true").length ? ($(".header").hasClass("header-background--solid") || ($(".index .header").parent().addClass("feature_image"), $(".index .header").addClass("is-absolute")), $("header.feature_image").hasClass("secondary_logo--true") && ($(".secondary_logo--true").find(".secondary_logo").show(), $(".secondary_logo--true").find(".primary_logo").hide())) : ($(".index .feature_image").removeClass("feature_image"), $(".index .header.is-absolute").removeClass("is-absolute"), $("header.feature_image").hasClass("secondary_logo--true") || ($(".secondary_logo--true").find(".secondary_logo").hide(), $(".secondary_logo--true").find(".primary_logo").show())), $(".detail-sections").children().first().hasClass("under-menu") ? ($(".header").hasClass("header-background--solid") || ($('[class^="page-details"] .header').parent().addClass("feature_image"), $('[class^="page-details"] .header').addClass("is-absolute")), $("header.feature_image").hasClass("secondary_logo--true") && ($(".secondary_logo--true").find(".secondary_logo").show(), $(".secondary_logo--true").find(".primary_logo").hide())) : ($('[class^="page-details"] .feature_image').removeClass("feature_image"), $('[class^="page-details"] .header.is-absolute').removeClass("is-absolute"), $("header.feature_image").hasClass("secondary_logo--true") || ($(".secondary_logo--true").find(".secondary_logo").hide(), $(".secondary_logo--true").find(".primary_logo").show()))
		},
		resizeActionButtons: function () {
			$(".js-caption:visible").each(function () {
				var e = 0;
				$(this).find(".action_button").each(function () {
					$button = $(this), $(this).width() > e && (e = $(this).width())
				}), $(this).find(".action_button").width(e)
			})
		}
	},
	sliderBlock = {
		select: function (e, a) {
			var t = a.find(".gallery-cell").map(function () {
					return String($(this).data("block-id"))
				}),
				i = a.find("[data-slider-id]"),
				r = (i.data("slideshow-text-animation"), i.data("flickity"));
			i.flickity("pausePlayer");
			for (var o = 0; o < t.length; o++)
				if (t[o] === e) {
					var n = o;
					n !== r.selectedIndex && i.flickity("select", parseInt(n), !1, !0)
				}
		},
		deselect: function (e) {
			var a = e.find(".flexslider").data("flexslider");
			a && a.flickity("unpausePlayer")
		}
	},
	quickShop = {
		init: function () {
			$("body").on("click", ".js-quick-shop-link", function (e) {
				e.preventDefault();
				const a = {
						handle: $(this).data("handle"),
						product_id: $(this).data("id"),
						single_variant: $(this).attr("data-single-variant"),
						product_in_collection_url: $(this).data("url"),
						escaped_title: $(this).data("title"),
						details_text: $(this).data("details-text"),
						full_description: $(this).data("full-description"),
						regular_description: $(this).data("regular-description"),
						image_array: quickShop.createImageObjects($(this).data("images")),
						collection_handles: $(this).data("collection-handles").trim(",").split(","),
						money_format: $("body").data("money-format")
					},
					t = $(this).next(".js-quickshop-forms__container").find(".notify_form"),
					i = $(this).next(".js-quickshop-forms__container").find(".product_form");
				$.fancybox.open($(".js-quick-shop"), {
					baseClass: "quick-shop__lightbox product-" + a.product_id,
					hash: !1,
					infobar: !1,
					toolbar: !1,
					loop: !0,
					smallBtn: !0,
					mobile: {
						preventCaptionOverlap: !1,
						toolbar: !0,
						buttons: ["close"]
					},
					beforeLoad: function () {
						quickShop.beforeOpen(a)
					},
					afterLoad: function () {
						quickShop.afterContent(i, t, a)
					},
					beforeClose: function () {
						quickShop.beforeClose(a)
					}
				})
			})
		},
		createImageObjects: function (e) {
			return e.split("~").map(function (e) {
				let a = e.split("^");
				return {
					path: a[0],
					alt: a[1],
					id: a[2]
				}
			})
		},
		beforeOpen: function (e) {
			quickShop.populateGallery(e.image_array), $(".js-sale-banner, .js-sold-out, .js-current-price, .js-was-price, .js-savings, .js-new-banner, .js-pre-order-banner").empty(), $(".modal_price, .js-notify-form").show(), e.image_array.length > 1 ? ($(".js-gallery-modal").addClass("multi-image"), $(".js-gallery-modal").removeClass("single-image"), $(".js-gallery-modal").addClass("is-draggable")) : ($(".js-gallery-modal").addClass("single-image"), $(".js-gallery-modal").removeClass("multi-image"))
		},
		afterContent: function (e, a, t) {
			quickShop.retrieveProductInfo(t);
			let i = !1,
				r = !1;
			t.image_array.length > 1 ? (i = !0, r = !0) : (i = !1, r = !1), $(".js-gallery-modal").flickity({
				adaptiveHeight: !0,
				wrapAround: "true",
				cellAlign: "left",
				draggable: r,
				contain: !0,
				imagesLoaded: !0,
				lazyLoad: 2,
				pageDots: !1,
				dragThreshold: 10,
				arrowShape: arrowSize
			}), $(".quick-shop__lightbox .js-notify-form").append(a), $(".quick-shop__lightbox .js-product-form").append(e), e.hasClass("product_form_options") && 0 == e.hasClass("viewed") && new Shopify.OptionSelectors(e.data("select-id"), {
				product: e.data("product"),
				onVariantSelected: selectCallback,
				enableHistoryState: e.data("enable-state")
			});
			const o = e.data("product"),
				n = ".product-" + t.section_id + " .js-product_section";
			e.find(".swatch_options .swatch").length > 1 && Shopify.linkOptionSelectors(o, n), $('.js-quick-shop select[name="id"]').trigger("change"), utils.initializeTabs(), $(".js-quick-shop .text-modal-wrap iframe[src*=youtube], .js-quick-shop .text-modal-wrap iframe[src*=vimeo]").mediaWrapper({
				intrinsic: !0
			}), productPage.productSwatches()
		},
		beforeClose: function (e) {
			const a = $(".quick-shop__lightbox .notify_form"),
				t = $(".quick-shop__lightbox .product_form");
			$(".js-quickshop-forms--" + e.product_id).append(t), $(".js-quickshop-forms--" + e.product_id).append(a), $(".js-quickshop-forms--" + e.product_id + " .product_form").addClass("viewed"), $(".js-quickshop-forms--" + e.product_id + " .notify_form").addClass("viewed");
			const i = $(".js-gallery-modal"),
				r = $(".js-gallery-carousel");
			$(".js-gallery-carousel .gallery-cell").off("click"), i.flickity("remove", $(".gallery-cell", i)), i.flickity("destroy"), r.hasClass("flickity-enabled") ? (r.flickity("remove", $(".gallery-cell", r)), r.flickity("destroy")) : r.find(".gallery-cell").remove();
			const o = $(".js-current-price .money").text();
			$(".js-quick-shop-link[data-id=" + e.product_id + "]").attr("data-initial-modal-price", o), $(".js-current-price, .js-was-price, .js-savings").empty()
		},
		retrieveProductInfo: function (e) {
			$.ajax({
				dataType: "json",
				async: !1,
				cache: !1,
				url: "/products/" + e.handle + ".js",
				success: function (a) {
					a = $.extend({}, a, e), globalQuickShopProduct = a, quickShop.updateVariant(a.variants[0].id.toString(), a)
				}
			})
		},
		updateVariant: function (e) {
			if ("undefined" != globalQuickShopProduct) {
				let i = globalQuickShopProduct;
				$(".js-current-price").html(""), $(".js-was-price").html(""), $(".js-savings").html(""), $(".js-product-title").html('<a href="' + i.product_in_collection_url + '" title="' + i.escaped_title + '">' + i.title + "</a>"), $(".js-product-vendor").html('<a href="/collections/vendors?q=' + i.vendor + '">' + i.vendor + "</a>"), $(".js-full-description").html(i.full_description), $(".js-regular-description").html(i.regular_description);
				var a = '<a href="' + i.product_in_collection_url + '" class="secondary_button" title="' + i.escaped_title + ' Details">' + i.details_text + "</a>";
				if ($(".js-product-details").html(a), $.each(i.collection_handles, function (e, a) {
						"new" == this.toString() && $(".js-new-banner").html("New"), "pre-order" == this.toString() && $(".js-pre-order-banner").html("Pre-Order"), "coming-soon" == this.toString() && (i.price = "Coming Soon")
					}), "true" == i.single_variant) i.compare_at_price > i.price && $(".js-sale-banner").html("Sale"), i.compare_at_price > i.price ? $(".js-current-price").addClass("sale") : $(".js-current-price").removeClass("sale"), 0 == i.available ? $(".js-sold-out").html("Sold Out") : $(".js-sold-out").html(""), 1 == i.available && ($(".js-notify-form").hide(), i.compare_at_price > i.price && ($(".js-was-price").html('<span class="money">' + Shopify.formatMoney(i.variants[0].compare_at_price, i.money_format) + "</span>"), $(".js-savings").html("You Save " + parseInt(100 * (i.variants[0].compare_at_price - i.variants[0].price) / i.variants[0].compare_at_price) + '% (<span class="money">' + Shopify.formatMoney(i.variants[0].compare_at_price - i.variants[0].price, i.money_format) + "</span>)")), "Coming Soon" == i.price ? $(".js-current-price").html("Coming Soon") : i.price ? $(".js-current-price").html('<span class="money">' + Shopify.formatMoney(i.variants[0].price, i.money_format) + "</span>") : $(".js-current-price").html("Free"));
				else
					for (var t = 0; t < i.variants.length; t++) e == i.variants[t].id.toString() && (i.variants[t].compare_at_price > i.variants[t].price && $(".js-sale-banner").html("Sale"), i.variants[t].compare_at_price > i.variants[t].price ? $(".js-current-price").addClass("sale") : $(".js-current-price").removeClass("sale"), 0 == i.variants[t].available ? $(".js-sold-out").html("Sold Out") : $(".js-sold-out").html(""), 1 == i.variants[t].available ? ($(".js-notify-form").hide(), i.variants[t].compare_at_price > i.variants[t].price && ($(".js-was-price").html('<span class="money">' + Shopify.formatMoney(i.variants[t].compare_at_price, i.money_format) + "</span>"), $(".js-savings").html("You Save " + parseInt(100 * (i.variants[t].compare_at_price - i.variants[t].price) / i.variants[t].compare_at_price) + '% (<span class="money">' + Shopify.formatMoney(i.variants[t].compare_at_price - i.variants[t].price, i.money_format) + "</span>)")), "Coming Soon" == i.price ? $(".js-current-price").html("Coming Soon") : i.variants[t].price ? $(".js-current-price").html('<span class="money">' + Shopify.formatMoney(i.variants[t].price, i.money_format) + "</span>") : $(".js-current-price").html("Free")) : $(".js-notify-form").show())
			}
		},
		populateGallery: function (e) {
			const a = $(".js-gallery-modal"),
				t = $(".js-gallery-carousel");
			$.each(e, function (e, a) {
				var t, i = a.path.replace(/(\.[^.]*)$/, "_2048x2048$1").replace("http:", ""),
					r = a.alt;
				t = r.indexOf("youtube") >= 0 ? '<div class="video-container youtube"><div>' + r + "</div></div>" : r.indexOf("vimeo") >= 0 ? '<div class="video-container vimeo"><div>' + r + "</div></div>" : '<img src="' + i + '" alt="' + r + '" data-image-id="' + a.id + '" data-index="' + e + '" />';
				var o = $('<div class="gallery-cell">' + t + "</div>");
				$(".js-gallery-modal").append(o)
			}), $.each(e, function (e, a) {
				var i = '<img src="' + a.path.replace(/(\.[^.]*)$/, "_grande$1").replace("http:", "") + '" alt="' + escape(a.alt) + '" />',
					r = $('<div class="gallery-cell">' + i + "</div>");
				t.append(r)
			}), imageFunctions.linkGalleryAndCarousel(a, t), imageFunctions.zoom(".js-gallery-modal", !1)
		}
	},
	newsletter_popup = {
		init: function () {
			if ("open" == Cookies.get("popup")) return !1;
			newsletter_popup.open(), Cookies.set("popup", "open", {
				expires: 14
			})
		},
		open: function () {
			$(window).width() > 798 && setTimeout(function () {
				$.fancybox.open($(".js-newsletter-popup"), {
					baseClass: "newsletter__lightbox",
					hash: !1,
					infobar: !1,
					toolbar: !1,
					loop: !0,
					smallBtn: !0,
					mobile: {
						preventCaptionOverlap: !1,
						toolbar: !0,
						buttons: ["close"]
					}
				})
			}, 0)
		}
	};